<section>
  <h5 class="pl-4 pr-4 pt-3 pb-3 bg-gray">{{"Logo &amp; Favicon" | translate}}</h5>

  <div class="col-12 pl-0 pl-sm-3 pr-0 pr-sm-3">
    <p class="text-grey mb-4">
      {{"No coding knowledge required! Wzholding gives you the ability to build
      virtually any design style with the only limits being your imagination.
      The most Advanced Options Network combined with fast visual designing and
      editing puts everything at your fingertips." | translate}}
    </p>
    <form>
      <!-- Logo -->
      <div class="row border-bottom pt-3 pb-3">
        <div class="col-6">
          <app-form-item-label
            [formItemHeading]="'Logo' | translate"
            [formItemSubHeading]="
              'Select an image file for your logo.' | translate
            "
            [formItemRules]="
              'The eligible logo size is 1000x1000px and formate of .png is required'
            "
          ></app-form-item-label>
        </div>
        <div class="col-6 text-center">
          <app-file-upload
            [fileUrl]="optionObj.site_logo"
            [optionKey]="'site_logo'"
            [max_height] = "1000"
            [max_width] = "1000"
            (selectedFile)="onOptionChanged($event)"
          ></app-file-upload>
        </div>
      </div>

      <!-- Retina Logo -->
      <div class="row border-bottom pt-3 pb-3">
        <div class="col-6">
          <app-form-item-label
            [formItemHeading]="'Retina Logo' | translate"
            [formItemSubHeading]="
              'Select an image for the header background. If left empty,
              the header background color will be used.' | translate
            "
            [formItemRules]="
              'The eligible Retina Logo size is 1200x600px and formate of .png is required'
            "
          ></app-form-item-label>
        </div>
        <div class="col-6">
          <app-file-upload
            [fileUrl]="optionObj.site_logo_retina"
            [optionKey]="'site_logo_retina'"
            (selectedFile)="onOptionChanged($event)"
          ></app-file-upload>
        </div>
      </div>

      <!-- Max Height Logo -->
      <div class="row border-bottom pt-3 pb-3">
        <div class="col-sm-6">
          <app-form-item-label
            [formItemHeading]="'Max Height Logo' | translate"
            [formItemSubHeading]="'Controls the background color for the page.' | translate"
          ></app-form-item-label>
        </div>
        <div class="col-sm-6 mt-2 mt-sm-0">
          <app-range-slider
            [optionKey]="'max_height_logo'"
            [rangeValue]="optionObj.max_height_logo"
            (changedRange)="onOptionChanged($event)"
          ></app-range-slider>
        </div>
      </div>

      <!-- Max Height Logo in Mobile -->
      <div class="row border-bottom pt-3 pb-3">
        <div class="col-sm-6">
          <app-form-item-label
            [formItemHeading]="'Max Height Logo in Mobile' | translate"
            [formItemSubHeading]="'Select an image file for your mobile logo.' | translate"
          ></app-form-item-label>
        </div>
        <div class="col-sm-6 mt-2 mt-sm-0">
          <app-range-slider
            [optionKey]="'max_height_mobile_logo'"
            [rangeValue]="optionObj.max_height_mobile_logo"
            (changedRange)="onOptionChanged($event)"
          ></app-range-slider>
        </div>
      </div>

      <!-- Max Height Logo in Header Sticky -->
      <div class="row border-bottom pt-3 pb-3">
        <div class="col-sm-6">
          <app-form-item-label
            [formItemHeading]="'Max Height Logo in Header Sticky' | translate"
            [formItemSubHeading]="'Select an image file for your sticky header logo.' | translate"
          ></app-form-item-label>
        </div>
        <div class="col-sm-6 mt-2 mt-sm-0">
          <app-range-slider
            [optionKey]="'max_height_sticky_logo'"
            [rangeValue]="optionObj.max_height_sticky_logo"
            (changedRange)="onOptionChanged($event)"
          ></app-range-slider>
        </div>
      </div>

      <!-- Favicon -->
      <div class="row pt-3 pb-3">
        <div class="col-6">
          <app-form-item-label
            [formItemHeading]="'Favicon' | translate"
            [formItemSubHeading]="'Favicon for your website at 32px x 32px or 64px x 64px.' | translate"
            [formItemRules]="
              'The eligible fav icon size is 1200x600px and formate of .png is required'
            "
            ></app-form-item-label>
        </div>
        <div class="col-6">
          <app-file-upload
            [fileUrl]="optionObj.site_favicon"
            [optionKey]="'site_favicon'"
            [max_height] = "600"
            [max_width] = "1200"
            (selectedFile)="onOptionChanged($event)"
          ></app-file-upload>
        </div>
      </div>

    </form>
  </div>
</section>
