<section class="reject-alert">
  <div class="close-part">
    <span>{{ data.head }}</span>
    <i (click)="closeAlert()" style="cursor: pointer" class="fa fa-times" aria-hidden="true"></i>
  </div>
  <div class="alert-body">
    <p style="width: 90%">{{ data.title }}</p>
    <div class="buttons-part mt-4">
      <button class="reject-btn mr-2 mb-2 mb-md-0" (click)="closeAlert()">{{ 'CANCEL' | translate }}</button>
      <button class="alert-button" style="width: auto !important;">{{ 'MANAGE' }}</button>
    </div>
  </div>
</section>
