<div class="global-container-themes-customize">
  <div class="routes-render">
    <svg xmlns="http://www.w3.org/2000/svg" width="25.3" height="22.901" viewBox="0 0 25.3 22.901">
      <path id="Контур_3437" data-name="Контур 3437" d="M25.074,11.533V5.621A1.379,1.379,0,0,0,23.7,4.246H22.324a1.379,1.379,0,0,0-1.375,1.375v2.2L16.37,3.7a1.386,1.386,0,0,0-1.842,0L3.033,14.049a.685.685,0,0,0,.454,1.2H5.824v9.625A1.379,1.379,0,0,0,7.2,26.246h4.125A1.379,1.379,0,0,0,12.7,24.871V18h5.5v6.875a1.379,1.379,0,0,0,1.375,1.375H23.7a1.379,1.379,0,0,0,1.375-1.375V15.246h2.338a.682.682,0,0,0,.454-1.2ZM12.7,12.5a2.75,2.75,0,1,1,5.5,0Z" transform="translate(-2.802 -3.345)" fill="#343e47"/>
    </svg>
    <span class="theme-render">/ &nbsp;Theme</span>
    <span class="customize-render">/ &nbsp;Customize</span>
  </div>
  <div class="heading">
    <span class="heading-text">Customize Layout ({{layoutTitle | titlecase}})</span>
    <br>
    <span class="heading-text-description">Lorem Ipsum Is Simply Dummy Text Of The Printing And Typesetting Industry. Lorem Ipsum Has Been The Industry's Standard</span>
    <br>
    <span class="subheading">{{layoutTitle | titlecase}} Theme</span>
    <br>
    <span class="version-text">Version 1.0</span>
  </div>
  <div>
    <app-theme-customize-sections [currentLayout]="layout"></app-theme-customize-sections>
  </div>


</div>
