.global-container-themes-customize {
  margin-top: 15px;
  margin-left: 30px;
  font-weight: 400;
  background-color: #F5F5F5;

  .routes-render {
    display: flex;
    align-items: center;
    margin-bottom: 19px;
    font-weight: bold;
    font-size: 18px;
    .theme-render {
      margin-left: 15px;
      margin-right: 5px;
    }
    .customize-render {
      opacity: .5;
    }
  }

  .heading {
    margin-bottom: 20px;
    .routes-render {
      margin-top: 15px;
      margin-bottom: 19px;
      font-size: 18px;
      font-weight: bold;
    }
    .heading-text {
      font-size: 26px;
    }

    .heading-text-description {
      font-size: 14px;
      opacity: .7;
    }

    .subheading {
      font-size: 18px;
      opacity: .7;
    }

    .version-text {
      font-size: 11px;
      opacity: .67;
    }
  }
}

