<section>
  <h5 class="pl-4 pr-4 pt-3 pb-3 bg-gray">
    {{ "Breadcrumbs" | translate }}
  </h5>

  <div class="col-12 pl-0 pl-sm-3 pr-0 pr-sm-3">
    <p class="text-grey mb-4">
      {{
        "No coding knowledge required! Wzholding gives you the ability to build
        virtually any design style with the only limits being your imagination.
        The most Advanced Options Network combined with fast visual designing and
        editing puts everything at your fingertips."
          | translate
      }}
    </p>
    <form>
      <!-- Breadcrumbs on Theme -->
      <div class="row border-bottom pt-3 pb-3">
        <div class="col-6">
          <app-form-item-label
            [formItemHeading]="'Breadcrumbs on Theme' | translate"
            [formItemSubHeading]="'Turn on to display breadcrumbs on theme.' | translate"
          ></app-form-item-label>
        </div>
        <div class="col-6">
          <app-toggle-buttons
            [optionKey]="'breadcrumb_show'"
            [toggleState]="optionObj.breadcrumb_show"
            (changedState)="onOptionChanged($event)"
          ></app-toggle-buttons>
        </div>
      </div>

      <!-- Layout -->
      <div class="row border-bottom pt-3 pb-3">
        <div class="col-6">
          <app-form-item-label
            [formItemHeading]="'Layout' | translate"
            [formItemSubHeading]="'Layout Single or Double rows.' | translate"
          ></app-form-item-label>
        </div>
        <div class="col-6">
          <div class="form-group position-relative">
            <app-custom-dropdown
            [settingObj]="optionObj.breadcrumb_row"
            [optionKey]="'breadcrumb_row'"
            (changedOption)="onOptionChanged($event)">
            </app-custom-dropdown>
          </div>
        </div>
      </div>

      <!-- Type -->
      <div class="row border-bottom pt-3 pb-3">
        <div class="col-6">
          <app-form-item-label
            [formItemHeading]="'Type' | translate"
            [formItemSubHeading]="'With or Without Background.' | translate"
          ></app-form-item-label>
        </div>
        <div class="col-6">
          <div class="form-group position-relative">
            <app-custom-dropdown
            [settingObj]="optionObj.breadcrumb_type"
            [optionKey]="'breadcrumb_type'"
            (changedOption)="onOptionChanged($event)">
            </app-custom-dropdown>
          </div>
        </div>
      </div>

      <!-- Background Image -->
      <div class="row border-bottom pt-3 pb-3">
        <div class="col-6">
          <app-form-item-label
            [formItemHeading]="'Background Image' | translate"
            [formItemSubHeading]="
              'Select an image for the breadcrumbs background. If left empty,' | translate
            "
          ></app-form-item-label>
        </div>
        <div class="col-6">
          <app-file-upload
            [fileUrl]="optionObj.breadcrumb_bg"
            [optionKey]="'breadcrumb_bg'"
            (selectedFile)="onOptionChanged($event)"
          ></app-file-upload>
        </div>
      </div>

      <!-- Background Parallax -->
      <div class="row border-bottom pt-3 pb-3">
        <div class="col-6">
          <app-form-item-label
            [formItemHeading]="'Background Parallax' | translate"
            [formItemSubHeading]="
              'Turn on to use a parallax scrolling effect on the background image.' | translate
            "
          ></app-form-item-label>
        </div>
        <div class="col-6">
          <app-toggle-buttons
            [optionKey]="'breadcrumb_bg_lax'"
            [toggleState]="optionObj.breadcrumb_bg_lax"
            (changedState)="onOptionChanged($event)"
          ></app-toggle-buttons>
        </div>
      </div>

      <!-- Site Background Color -->
      <div class="row border-bottom pt-3 pb-3" *ngIf="optionObj.breadcrumb_type.value != 'has-background'">
        <div class="col-6">
          <app-form-item-label
            [formItemHeading]="'Site Background Color' | translate"
            [formItemSubHeading]="
              'Controls the background color for breadcrumbs' | translate
            "
          ></app-form-item-label>
        </div>
        <div class="col-6">
          <app-color-picker
            class="float-right"
            [color]="optionObj.breadcrumb_bg_color"
            [optionKey]="'breadcrumb_bg_color'"
            (pickedColor)="onOptionChanged($event)"
          >
          </app-color-picker>
        </div>
      </div>

      <!-- Text Color -->
      <div class="row border-bottom pt-3 pb-3">
        <div class="col-6">
          <app-form-item-label
            [formItemHeading]="'Text Color' | translate"
            [formItemSubHeading]="
              'Controls the text color of the breadcrumbs font.' | translate
            "
          ></app-form-item-label>
        </div>
        <div class="col-6">
          <app-color-picker
            class="float-right"
            [color]="optionObj.breadcrumb_color"
            [optionKey]="'breadcrumb_color'"
            (pickedColor)="onOptionChanged($event)"
          >
          </app-color-picker>
        </div>
      </div>

      <!-- Text Align -->
      <div class="row border-bottom pt-3 pb-3">
        <div class="col-sm-6">
          <app-form-item-label
            [formItemHeading]="'Text Align' | translate"
            [formItemSubHeading]="
              'Controls the position of Text to be in the top, left or right of the site. ' | translate
            "
          ></app-form-item-label>
        </div>
        <div class="col-sm-6 mt-2 mt-sm-0">
          <app-custom-select
            class="float-right"
            [settingObj]="optionObj.breadcrumb_align"
            [optionKey]="'breadcrumb_align'"
            (changedOption)="onOptionChanged($event)"
          ></app-custom-select>
        </div>
      </div>

      <!-- Breadcrumbs Height -->
      <div class="row pt-3 pb-3">
        <div class="col-sm-6">
          <app-form-item-label
            [formItemHeading]="'Breadcrumbs Height' | translate"
            [formItemSubHeading]="'Breadcrumbs Height' | translate"
          ></app-form-item-label>
        </div>
        <div class="col-sm-6 mt-2 mt-sm-0">
          <app-range-slider
            [optionKey]="'breadcrumb_height'"
            [rangeValue]="optionObj.breadcrumb_height"
            (changedRange)="onOptionChanged($event)"
          ></app-range-slider>
        </div>
      </div>
    </form>
  </div>
</section>
