<section>
  <h5 class="pl-4 pr-4 pt-3 pb-3 bg-gray">
    {{ "Promotion News" | translate }}
  </h5>

  <div class="col-12 pl-0 pl-sm-3 pr-0 pr-sm-3">
    <p class="text-grey mb-4">
      {{
        "No coding knowledge required! Wzholding gives you the ability to build
          virtually any design style with the only limits being your imagination.
          The most Advanced Options Network combined with fast visual designing and
          editing puts everything at your fingertips."
          | translate
      }}
    </p>
    <form>
      <!-- Top Bar -->
      <div class="row border-bottom pt-3 pb-3">
        <div class="col-6">
          <app-form-item-label
            [formItemHeading]="'Top Bar' | translate"
            [formItemSubHeading]="'Controls how the page title bar displays.' | translate"
          ></app-form-item-label>
        </div>
        <div class="col-6">
          <app-toggle-buttons
            [optionKey]="'enable_post_top'"
            [toggleState]="optionObj.enable_post_top"
            (changedState)="onOptionChanged($event)"
          ></app-toggle-buttons>
        </div>
      </div>

      <!-- Type Show -->
      <div class="row border-bottom pt-3 pb-3">
        <div class="col-6">
          <app-form-item-label
            [formItemHeading]="'Type Show' | translate"
            [formItemSubHeading]="'Layout Single or Double rows.' | translate"
          ></app-form-item-label>
        </div>
        <div class="col-6">
          <div class="form-group position-relative">
            <app-custom-dropdown
              [settingObj]="optionObj.type_display"
              [optionKey]="'type_display'"
              (changedOption)="onOptionChanged($event)"
            >
            </app-custom-dropdown>
          </div>
        </div>
      </div>

      <!-- Custom Content -->
      <div class="row border-bottom pt-3 pb-3">
        <div class="col-6">
          <app-form-item-label
            [formItemHeading]="'Custom Content' | translate"
            [formItemSubHeading]="
              'Default value for My content custom.
              Restore text for My content custom.' | translate
            "
          ></app-form-item-label>
        </div>
        <div class="col-6">
          <div class="form-group">
            <textarea
              class="form-control"
              maxlength="300"
              id="textarea"
              name="content_custom"
              placeholder="Coming SoonLorem ipsum dosectetur adipisicing elit, sed do.Lorem ipsum dolor sit amet, consectetur Nulla fringilla purus at leo dignissim congue. "
              [(ngModel)]="optionObj.content_custom"
              (change)="onOptionChanged({optionKey:'content_custom', newValue:optionObj.content_custom})"
            ></textarea>
          </div>
        </div>
      </div>

      <!-- Full Width -->
      <div class="row border-bottom pt-3 pb-3">
        <div class="col-6">
          <app-form-item-label
            [formItemHeading]="'Full Width' | translate"
            [formItemSubHeading]="
              'Turn on to have the page title bar area display at 100% width according to the viewport size.' | translate
            "
          ></app-form-item-label>
        </div>
        <div class="col-6">
          <app-toggle-buttons
            [optionKey]="'enable_fullwidth'"
            [toggleState]="optionObj.enable_fullwidth"
            (changedState)="onOptionChanged($event)"
          ></app-toggle-buttons>
        </div>
      </div>

      <!-- Text Promotion Color -->
      <div class="row border-bottom pt-3 pb-3">
        <div class="col-6">
          <app-form-item-label
            [formItemHeading]="'Text Promotion Color' | translate"
            [formItemSubHeading]="
              'Controls the text color of the page title bar main heading.' | translate
            "
          ></app-form-item-label>
        </div>
        <div class="col-6">
          <app-color-picker
            class="float-right"
            [color]="optionObj.t_promotion_color"
            [optionKey]="'t_promotion_color'"
            (pickedColor)="onOptionChanged($event)"
          >
          </app-color-picker>
        </div>
      </div>

      <!-- Background Image -->
      <div class="row pt-3 pb-3">
        <div class="col-6">
          <app-form-item-label
            [formItemHeading]="'Background Image' | translate"
            [formItemSubHeading]="
              'Select an image for Promotion News background. If left empty,' | translate
            "
          ></app-form-item-label>
        </div>
        <div class="col-6">
          <app-file-upload
            [fileUrl]="optionObj.background_area"
            [optionKey]="'background_area'"
            (selectedFile)="onOptionChanged($event)"
          ></app-file-upload>
        </div>
      </div>
    </form>
  </div>
</section>
