<section class="p-3">
  <div class="container-fluid">

    <div class="wiz-crumb">
      <i class="fa fa-home crumb-icon" aria-hidden="true"></i>
      <span class="back-slash">/</span>
      <span class="crumb-caption">{{ 'Shipping Setup' | translate }}</span>
    </div>
    <div class="card mt-3 mb-3">
      <div class="text-center mb-2" *ngIf="currentStep < totalSteps">
        <span class="text-secondary">{{ 'Steps {current} of {total}' | translate: { current: currentStep, total: totalVisibleSteps } }}</span>
        <span *ngIf="currentStep > 2" class="text-pricing-header"><a href="javascript:void(0);">{{ 'View Pricing' | translate }}&nbsp;<i aria-hidden="true" class="fa fa-chevron-right"></i></a></span>
      </div>
      <form [formGroup]="form" (submit)="formSubmit()">
        <!-- Step 1 -->
        <div class="container-m-50" *ngIf="currentStep === 1">
          <div>
            <h4 class="text-center font-weight-bold">{{ 'Product Selection' | translate }}</h4>
          </div>
          <div>
            <h5 class="text-center">{{ 'Choose the list of products that you sell' | translate }}</h5>
          </div>

          <app-step-products [control]="productsControl" (selectedItems)="displaySelectedItems($event)"></app-step-products>

          <div class="row">
            <div class="text-secondary mb-3 ml-3">
              <span class="mr-2">
                <svg width="30" height="30" xmlns="http://www.w3.org/2000/svg" viewBox="345 610 34 36"><svg width="31" height="36" xmlns="http://www.w3.org/2000/svg" viewBox="345 610 31 36" x="345" y="610"><svg width="31" height="36" xmlns="http://www.w3.org/2000/svg" viewBox="345 610 31 36" x="345" y="610"><svg width="31" height="36" xmlns="http://www.w3.org/2000/svg" viewBox="0 0.103 31 35.795" fill="#707070" x="345" y="610"><svg xmlns="http://www.w3.org/2000/svg" width="31" height="36" viewBox="1 0.722 29.843 34.459"><path paint-order="stroke fill markers" fill-rule="evenodd" d="M15.921.722L1 9.336v17.23l14.921 8.615 2.173-1.254a9.86 9.86 0 0 1-1.18-1.658l-.993.574-1.012-.584V18.535l-11.885-6.86v-1.17l1.013-.584 11.884 6.862 4.93-2.847L8.967 7.074l2.024-1.168 11.885 6.86 4.93-2.845 1.012.584v1.17l-11.884 6.86v4.093a9.792 9.792 0 0 1 8.503-4.947 9.73 9.73 0 0 1 5.406 1.633V9.336L15.921.722z"></path></svg></svg></svg></svg><svg width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="363 629 16 16" x="363" y="629"><svg width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="363 629 16 16" x="363" y="629"><svg width="16" height="16" xmlns="http://www.w3.org/2000/svg" fill="#707070" x="363" y="629"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0.082 0.613 15.05 15.05"><path paint-order="stroke fill markers" fill-rule="evenodd" d="M5.407.944a7.521 7.521 0 0 0-4.994 9.394 7.52 7.52 0 0 0 9.393 4.994A7.52 7.52 0 0 0 14.8 5.939 7.52 7.52 0 0 0 5.407.944zM1.852 9.898a6.016 6.016 0 0 1 3.995-7.515 5.99 5.99 0 0 1 3.896.135L4.14 13.052a5.996 5.996 0 0 1-2.29-3.154zm7.514 3.996a6.003 6.003 0 0 1-3.895-.135l5.6-10.535a5.998 5.998 0 0 1 2.29 3.155 6.017 6.017 0 0 1-3.995 7.515z"></path></svg></svg></svg></svg></svg>
              </span>
              {{ 'Hint: This icon means that the product type is not supported in Wiz shipping services' }}
            </div>
          </div>

        </div>
        <!-- Step 1 ends -->
        <!-- Step 2 -->
        <div class="container-m-50" *ngIf="currentStep === 2">
          <div>
            <h4 class="text-center font-weight-bold">{{ 'Choose Your Delivery Method' | translate }}</h4>
          </div>
          <div>
            <h5 class="text-center">{{ 'Select one of the two below options' | translate }}</h5>
          </div>
          <div class="row step-container">
            <div class="col-12">
              <div class="radio-container" *ngIf="disableWizRadio" [ngStyle]="disableWizRadio ? {'opacity': 0.5}: {opacity: 1}">
                <label class="mb-0" [attr.disabled]="disableWizRadio">
                  <input type="radio" [attr.disabled]="disableWizRadio" [formControl]="deliveryControl" name="delivery" [value]="'wiz'" />
                  <span class="radio-label">{{ 'Wiz Shipping' | translate }}</span>
                  <span class="text-secondary radio-hint mb-2">{{ 'Wiz Shop management team will handle your shipping process without any hassle' }}</span>
                </label>
                <div class="radio-link-container">
                  <a class="link" href="javascript:void(0);"><span class="mr-2">{{ 'View Pricing' | translate }}</span> <i aria-hidden="true" class="fa fa-chevron-right"></i></a>
                </div>
              </div>
              <div class="radio-container" *ngIf="!disableWizRadio">
                <label class="mb-0" >
                  <input type="radio" [formControl]="deliveryControl" name="delivery" [value]="'wiz'" />
                  <span class="radio-label">{{ 'Wiz Shipping' | translate }}</span>
                  <span class="text-secondary radio-hint mb-2">{{ 'Wiz Shop management team will handle your shipping process without any hassle' }}</span>
                </label>
                <div class="radio-link-container">
                  <a class="link" href="javascript:void(0);"><span class="mr-2">{{ 'View Pricing' | translate }}</span> <i aria-hidden="true" class="fa fa-chevron-right"></i></a>
                </div>
              </div>
              <div class="radio-container">
                <label class="mb-2">
                  <input type="radio" [formControl]="deliveryControl" name="delivery" [value]="'own'" />
                  <span class="radio-label">{{ 'Own Shipping' | translate }}</span>
                  <span class="text-secondary radio-hint">Lorem ipsum...</span>
                </label>
              </div>
            </div>
          </div>
        </div>
        <!-- Step 2 ends -->
        <!-- Step 3 -->
        <div class="container-m-50" *ngIf="currentStep === 3">
          <div>
            <h4 class="text-center font-weight-bold">{{ 'Address Setup' | translate }}</h4>
          </div>
          <div>
            <h5 class="text-center">{{ 'Tell us where we can pick up your products from' | translate }}</h5>
          </div>
          <div class="row conditionals-container">
            <div class="col-12 col-sm-6">
              <div class="mb-3 row">
                <div class="col-12 col-sm-6">
                  <div class="mat-custom-select" [class.has-error]="countryControl.invalid && countryControl.touched">
                    <mat-select [formControl]="countryControl" [placeholder]="'Countries' | translate">
                      <mat-option *ngFor="let country of countriesList" [value]="country" class="mat-custom-option">
                        {{ country.name }}
                      </mat-option>
                    </mat-select>
                  </div>
                </div>
                <div class="col-12 col-sm-6">
                  <div class="mat-custom-select" [class.has-error]="areaControl.invalid && areaControl.touched">
                    <mat-select [formControl]="areaControl" [placeholder]="'States' | translate">
                      <mat-option *ngFor="let area of areasList" [value]="area" class="mat-custom-option">
                        {{ area.name }}
                      </mat-option>
                    </mat-select>
                  </div>
                </div>
              </div>
              <div class="mb-3">
                <div class="mat-custom-select" [class.has-error]="cityControl.invalid && cityControl.touched">
                  <mat-select [formControl]="cityControl" [placeholder]="'Cities' | translate">
                    <mat-option *ngFor="let city of citiesList" [value]="city.name" class="mat-custom-option">
                      {{ city.name }}
                    </mat-option>
                  </mat-select>
                </div>
              </div>
              <div class="mb-3">
                <input class="input-text input-text--full-width"
                       [class.has-error]="streetControl.invalid && streetControl.touched"
                       [formControl]="streetControl" type="text"
                       [placeholder]="'Street' | translate" />
              </div>
              <div class="mb-3">
                <input class="input-text input-text--full-width"
                       [class.has-error]="building.invalid && building.touched"
                       [formControl]="building"
                       type="text"
                       [placeholder]="'Building' | translate" />
              </div>
              <div class="mb-3">
                <div class="wiz-input-label wiz-input--left">{{ 'Select location type' | translate }}</div>
                <label>
                  <input type="radio" [formControl]="locationTypeControl" name="location_type" [value]="'home'" />
                  <span class="pl-0">{{ 'Home' | translate }}</span>
                </label>
                <label>
                  <input type="radio" [formControl]="locationTypeControl" name="location_type" [value]="'store_warehouse'" />
                  <span>{{ 'Store/Warehouse' | translate }}</span>
                </label>
                <label>
                  <input type="radio" [formControl]="locationTypeControl" name="location_type" [value]="'others'" />
                  <span>{{ 'Others' | translate }}</span>
                </label>
              </div>
              <div class="mb-3">
                <ngx-intl-tel-input [cssClass]="phone.invalid && phone.touched ? 'phone-input has-error' : 'phone-input'"
                                    [preferredCountries]="preferredCountries"
                                    [onlyCountries]="onlyCountries"
                                    [enableAutoCountrySelect]="true"
                                    [enablePlaceholder]="true"
                                    [searchCountryFlag]="true"
                                    [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
                                    [selectFirstCountry]="false"
                                    [selectedCountryISO]="CountryISO.Egypt"
                                    [maxLength]="'15'"
                                    [tooltipField]="TooltipLabel.Name"
                                    [phoneValidation]="true"
                                    [separateDialCode]="separateDialCode"
                                    [numberFormat]="PhoneNumberFormat.National"
                                    [formControl]="phone"
                >
                </ngx-intl-tel-input>
              </div>
              <div class="mb-3">
                <div class="wiz-input-label wiz-input--left">{{ 'Select Pickup Time Range' | translate }}</div>
                <div class="mat-custom-select mb-3">
                  <mat-select [formControl]="daysControl" multiple [placeholder]="'Select days' | translate">
                    <mat-select-trigger>
                      {{daysControl.value?.length ? daysControl.value[0] : ''}}
                      <span *ngIf="daysControl.value?.length > 1">(+{{daysControl.value.length - 1}} {{daysControl.value?.length === 2 ? 'other' : 'others'}})</span>
                    </mat-select-trigger>
                    <mat-option class="mat-custom-option" *ngFor="let day of daysList" [value]="day">
                      {{ day }}
                    </mat-option>
                  </mat-select>
                </div>
                <div class="mat-custom-chips mb-3">
                  <mat-chip-list *ngIf="daysControl.value?.length">
                    <mat-chip *ngFor="let day of daysControl.value">
                      {{ day }}
                      <span class="ml-3" (click)="removeDay(day)"><i class="close-icon fas fa-times"></i></span>
                    </mat-chip>
                  </mat-chip-list>
                </div>
              </div>
              <div class="mb-3">
                <app-time-rage-input [from]="timeFrom" [to]="timeTo"></app-time-rage-input>
              </div>
            </div>
            <div class="col-12 col-sm-6">
              <div class="mb-3">
                <input class="input-text input-text--full-width"
                       type="text"
                       #autoComplete
                       [placeholder]="'Search' | translate" />
              </div>
              <div class="map-container">
                <div style="height: 400px" #map></div>
              </div>
            </div>
          </div>
        </div>
        <!-- Step 3 ends -->
        <!-- Step 4 -->
        <div class="container-m-50" *ngIf="currentStep === 4">
          <div>
            <h4 class="text-center font-weight-bold">{{ 'Shipping Charges' | translate }}</h4>
          </div>
          <div>
            <h5 class="text-center">{{ 'Choose how will you charge shipping to your customers' | translate }}</h5>
            <h6 class="text-center text-secondary">{{ 'You can always edit them later' | translate }}</h6>
          </div>
          <div class="row step-container">
            <div class="col-8 offset-2">
              <div class="radio-container-btn">
                <label class="mb-0">
                  <input type="radio" [formControl]="shippingControl" name="shipping" [value]="'free'" />
                  <span class="radio-label">{{ 'Free Shipping' | translate }}</span>
                  <span class="text-secondary radio-hint">{{ 'Select this option if you want to provide free shipping on all orders of your customers above a minimum value of order' | translate }}</span>
                </label>
              </div>
              <div class="radio-container-btn">
                <label class="mb-0">
                  <input type="radio" [formControl]="shippingControl" name="shipping" [value]="'conditional_free'" />
                  <span class="radio-label">{{ 'Conditional Free Shipping' | translate }}</span>
                  <span class="text-secondary radio-hint">{{ 'Select this option to manage restrictions on Free shipping and setting up shipping charges for your customers' | translate }}</span>
                </label>
              </div>
              <div class="radio-container-btn">
                <label class="mb-0">
                  <input type="radio" [formControl]="shippingControl" name="shipping" [value]="'flat_rate'" />
                  <span class="radio-label">{{ 'Flat Rate' | translate }}</span>
                  <span class="text-secondary radio-hint">{{ 'Select this option if you want to charge flat rate to your customers. Additional Wiz shipping charges will be borne by the' | translate }}</span>
                </label>
              </div>
            </div>
          </div>
        </div>
        <!-- Step 4 ends -->
        <!-- Step Final -->
        <div class="container-m-50" *ngIf="currentStep === 5">
          <div *ngIf="shippingControl.value === 'free'">
            <div>
              <h4 class="text-center text-secondary">{{ 'Setting up Free Shipping' | translate }}</h4>
            </div>
            <div style="margin-top: 3rem">
              <h5 class="text-center">{{ 'Provide Free shipping fee for all orders' | translate }}</h5>
              <h6 class="text-center text-secondary">{{ 'Your delivery rate is free for all orders above the below minimum value' | translate }}</h6>
            </div>
            <div class="row step-container">
              <div class="col-sm-8 offset-sm-2 col-12">
                <div class="mb-3 text-center">
                  <label class="wiz-input wiz-input-label wiz-input--center" for="min-order-value">{{ 'Minimum order value (MOV)' | translate }}</label>
                  <span class="wiz-input wiz-input-hint wiz-input--center text-secondary">{{ 'All the orders above this value will be eligible for Free Shipping' | translate }}</span>
                  <input class="input-text input-text--range" id="min-order-value" type="text" [formControl]="minOrderControl" [placeholder]="'e.g. EGP 10' | translate">
                </div>
                <div class="mb-3 text-center">
                  <label class="wiz-input wiz-input-label wiz-input--center" for="fixed-flat-rate">{{ 'Insert fixed flat rate for orders subtotal below the minimum value' | translate }}</label>
                  <input class="input-text input-text--range" id="fixed-flat-rate" type="text" [formControl]="flatRateControl" [placeholder]="'e.g. EGP 10' | translate">
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="shippingControl.value === 'conditional_free'">
            <div>
              <h4 class="text-center text-secondary">{{ 'Setting up Conditional Free Shipping' | translate }}</h4>
            </div>
            <div>
              <h5 class="text-center">{{ 'Provide conditional free shipping only for specific orders' | translate }}</h5>
              <h6 class="text-center text-secondary">{{ 'Set your own rates and conditions as pre the order subtotal price' | translate }}</h6>
            </div>
            <app-conditional-free-form [formGroup]="conditionalsGroup"></app-conditional-free-form>
          </div>
          <div *ngIf="shippingControl.value === 'flat_rate'">
            <div>
              <h4 class="text-center text-secondary">{{ 'Setting up Flat Rate Shipping' | translate }}</h4>
            </div>
            <div class="row step-container">
              <div style="margin: auto">
                <h5>{{ 'Provide fixed flat rate shipping fee for all orders without any condition' | translate }}</h5>
                <h6 class="text-center text-secondary">{{ 'You delivery rate will be based on:' | translate }}</h6>
              </div>
              <div class="col-sm-8 offset-sm-2 col-12">
                <div class="mb-3">
                  <div class="wiz-input wiz-input--center">
                    <label class="mb-0">
                      <input type="radio" [formControl]="flatRateBaseControl" name="shipping" [value]="'flat_rate'" />
                      <span>{{ 'Flat Rate' | translate }}</span>
                    </label>
                    <label class="mb-0">
                      <input type="radio" [formControl]="flatRateBaseControl" name="shipping" [value]="'percentage'" />
                      <span>{{ 'Percentage' | translate }}</span>
                    </label>
                  </div>
                  <span *ngIf="flatRateBaseControl.value === 'percentage'" class="wiz-input-hint wiz-input wiz-input--center text-secondary">{{ 'Hint: percentage of total Wiz shipment' | translate }}</span>
                </div>
                <div class="mb-3 text-center">
                  <label class="wiz-input-label wiz-input wiz-input--center" for="fixed-flat-rate">{{ 'Insert fixed Shipping rate' | translate }}</label>
                  <input class="input-text input-text--range" id="fixed-shipping-rate" type="text"
                         [formControl]="shippingRateControl"
                         [placeholder]="flatRateBaseControl.value === 'flat_rate' ? 'e.g. EGP 10' : flatRateBaseControl.value === 'percentage' ? 'e.g. 10%' : ''">
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Step Final ends -->

        <div class="row justify-content-end container-m-50 footer-container">
          <div class="col-6 text-left">
            <button type="button" class="back-step-btn step-btn" *ngIf="currentStep > 1" (click)="backStep()">{{ 'Back' | translate }}</button>
          </div>
          <div class="col-6 text-right">
            <button type="button" class="next-step-btn" *ngIf="currentStep < totalSteps" (click)="nextStep()" [disabled]="isCurrentStepValid()">{{ 'Next' | translate }}</button>
            <button type="submit" class="next-step-btn" *ngIf="currentStep === totalSteps" [disabled]="isCurrentStepValid()">{{ 'Confirm' | translate }}</button>
          </div>
        </div>
      </form>

    </div>
  </div>
</section>
