@import "src/assets/variables";

.footer-container {
  border-top: 1px solid #ced4da;
  padding: 25px 0;
}

.radio-container {
  padding: 20px 0;

  &:not(:last-child) {
    border-bottom: 1px solid #ced4da;
  }
}

.radio-container-btn {
  border: 1px solid #ced4da;
  border-radius: 0.5rem;
  background: #F9F9F9;
  padding: 1rem;
  margin-bottom: 1rem;
}

.radio-container, .radio-container-btn {
  label {
    cursor: pointer;
  }
}

.radio-hint {
  max-width: 545px;
  display: block;
}

.radio-label {
  font-weight: 700;
}

.radio-hint, .radio-link-container {
  padding-left: 45px;
}

.wiz-input-label {
  margin-bottom: 0.2rem;
  font-weight: 600;
}
.wiz-input {
  display: flex;

  &--center {
    align-items: center;
    justify-content: center;
  }
  &--left {
    align-items: flex-start;
    justify-content: flex-start;
  }
}

.map-container {
  height: 300px;
  border-radius: 15px;
  overflow: hidden;
}

.text-pricing-header {
  position: absolute;
  right: 1rem;
  font-weight: 600;

  a {
    text-decoration: none;
    color: #313E48;
  }
}
