<section>
  <h5 class="pl-4 pr-4 pt-3 pb-3 bg-gray">
    {{ "Product Global" | translate }}
  </h5>

  <div class="col-12 pl-0 pl-sm-3 pr-0 pr-sm-3">
    <p class="text-grey mb-4">
      {{
        "No coding knowledge required! Wzholding gives you the ability to build
            virtually any design style with the only limits being your imagination.
            The most Advanced Options Network combined with fast visual designing and
            editing puts everything at your fingertips."
          | translate
      }}
    </p>
    <form>
      <!-- Loop Product Buttons for Desktop -->
      <div class="row border-bottom pt-3 pb-3">
        <div class="col-sm-6">
          <app-form-item-label
            [formItemHeading]="'Loop Product Buttons for Desktop' | translate"
            [formItemSubHeading]="
              'Controls the position of Text to be in the top, left or right of the site. ' | translate
            "
          ></app-form-item-label>
        </div>
        <div class="col-sm-6 mt-2 mt-sm-0">
          <app-custom-select
            class="float-right"
            [settingObj]="optionObj.loop_layout_buttons"
            [optionKey]="'loop_layout_buttons'"
            (changedOption)="onOptionChanged($event)"
          ></app-custom-select>
        </div>
      </div>

      <!-- Hover Product Effect -->
      <div class="row border-bottom pt-3 pb-3">
        <div class="col-6">
          <app-form-item-label
            [formItemHeading]="'Hover Product Effect' | translate"
            [formItemSubHeading]="'Layout Single or Double rows.' | translate"
          ></app-form-item-label>
        </div>
        <div class="col-6">
          <div class="form-group position-relative">
            <app-custom-dropdown
            [settingObj]="optionObj.animated_products"
            [optionKey]="'animated_products'"
            (changedOption)="onOptionChanged($event)"
          >
          </app-custom-dropdown>
          </div>
        </div>
      </div>

      <!-- Back Image in Mobile Layout -->
      <!-- <div class="row border-bottom pt-3 pb-3">
        <div class="col-6">
          <app-form-item-label
            [formItemHeading]="'Back Image in Mobile Layout' | translate"
            [formItemSubHeading]="'Controls how the page title bar displays.' | translate"
          ></app-form-item-label>
        </div>
        <div class="col-6">
          <app-toggle-buttons
            [optionKey]="'mobile_back_image'"
            [toggleState]="optionObj.mobile_back_image"
            (changedState)="onOptionChanged($event)"
          ></app-toggle-buttons>
        </div>
      </div> -->

      <!-- Event After Add to Cart -->
      <div class="row border-bottom pt-3 pb-3">
        <div class="col-6">
          <app-form-item-label
            [formItemHeading]="'Event After Add to Cart' | translate"
            [formItemSubHeading]="
              'Note: With Mobile always Show Notice After Added To Cart' | translate
            "
          ></app-form-item-label>
        </div>
        <div class="col-6">
          <div class="form-group position-relative">
            <app-custom-dropdown
            [settingObj]="optionObj.event_after_add_to_cart"
            [optionKey]="'event-after-add-to-cart'"
            (changedOption)="onOptionChanged($event)"
          >
          </app-custom-dropdown>
          </div>
        </div>
      </div>

      <!-- Icon Mini Cart in Header -->
      <!-- <div class="row border-bottom pt-3 pb-3">
        <div class="col-sm-6">
          <app-form-item-label
            [formItemHeading]="'Icon Mini Cart in Header' | translate"
            [formItemSubHeading]="'Note: With Mobile always Show Notice After Added To Cart' | translate"
          ></app-form-item-label>
        </div>
        <div class="col-sm-6 mt-2 mt-sm-0">
          <app-radio-image
            class="float-right"
            [settingObj]="this.data['mini-cart-icon']"
            [optionKey]="'mini_cart_icon'"
            (selectedImage)="onOptionChanged($event)"
          ></app-radio-image>
        </div>
      </div> -->

      <!-- Icon Add To Cart in Grid -->
      <!-- <div class="row border-bottom pt-3 pb-3">
        <div class="col-sm-6">
          <app-form-item-label
            [formItemHeading]="'Icon Add To Cart in Grid' | translate"
            [formItemSubHeading]="'Note: With Mobile always Show Notice After Added To Cart' | translate"
          ></app-form-item-label>
        </div>
        <div class="col-sm-6 mt-2 mt-sm-0">
          <app-radio-image
            class="float-right"
            [settingObj]="this.data['cart-icon-grid']"
            [optionKey]="'cart_icon_grid'"
            (selectedImage)="onOptionChanged($event)"
          ></app-radio-image>
        </div>
      </div> -->

      <!-- Disable Quick view -->
      <div class="row border-bottom pt-3 pb-3">
        <div class="col-6">
          <app-form-item-label
            [formItemHeading]="'Disable Quick view' | translate"
            [formItemSubHeading]="'Controls how the page title bar displays.' | translate"
          ></app-form-item-label>
        </div>
        <div class="col-6">
          <app-toggle-buttons
            [optionKey]="'disable-quickview'"
            [toggleState]="optionObj.disable_quickview"
            (changedState)="onQuickViewOptionChanged($event)"
          ></app-toggle-buttons>
        </div>
      </div>

      <!-- Quickview Layout -->
      <div class="row border-bottom pt-3 pb-3" *ngIf="optionObj.disable_quickview == '0'">
        <div class="col-6">
          <app-form-item-label
            [formItemHeading]="'Quickview Layout' | translate"
            [formItemSubHeading]="'Note: With Mobile always Show Notice After Added To Cart' | translate
            "
          ></app-form-item-label>
        </div>
        <div class="col-6">
          <div class="form-group position-relative">
            <app-custom-dropdown
            [settingObj]="optionObj.style_quickview"
            [optionKey]="'style_quickview'"
            (changedOption)="onOptionChanged($event)"
          >
          </app-custom-dropdown>
          </div>
        </div>
      </div>

      <!-- Cart Sidebar Layout -->
      <div class="row border-bottom pt-3 pb-3">
        <div class="col-6">
          <app-form-item-label
            [formItemHeading]="'Cart Sidebar Layout' | translate"
            [formItemSubHeading]="'Note: With Mobile always Show Notice After Added To Cart' | translate"
          ></app-form-item-label>
        </div>
        <div class="col-6">
          <div class="form-group position-relative">
            <app-custom-dropdown
            [settingObj]="optionObj.style_cart"
            [optionKey]="'style-cart'"
            (changedOption)="onOptionChanged($event)"
          >
          </app-custom-dropdown>
          </div>
        </div>
      </div>

      <!-- Wishlist Sidebar Layout -->
      <div class="row border-bottom pt-3 pb-3">
        <div class="col-6">
          <app-form-item-label
            [formItemHeading]="'Wishlist Sidebar Layout' | translate"
            [formItemSubHeading]="'Note: With Mobile always Show Notice After Added To Cart' | translate"
          ></app-form-item-label>
        </div>
        <div class="col-6">
          <div class="form-group position-relative">
            <app-custom-dropdown
            [settingObj]="optionObj.style_wishlist"
            [optionKey]="'style-wishlist'"
            (changedOption)="onOptionChanged($event)"
          >
          </app-custom-dropdown>
          </div>
        </div>
      </div>

      <!-- Show Uncategorized -->
      <div class="row pt-3 pb-3">
        <div class="col-6">
          <app-form-item-label
            [formItemHeading]="'Show Uncategorized' | translate"
            [formItemSubHeading]="'Controls how the page title bar displays.' | translate"
          ></app-form-item-label>
        </div>
        <div class="col-6">
          <app-toggle-buttons
            [optionKey]="'show_uncategorized'"
            [toggleState]="optionObj.show_uncategorized"
            (changedState)="onOptionChanged($event)"
          ></app-toggle-buttons>
        </div>
      </div>
    </form>
  </div>
</section>
