<div
  ngbRadioGroup
  [name]="optionKey"
  [(ngModel)]="settingObj.value"
  (change)="changeState()"
>
  <label ngbButtonLabel *ngFor="let item of imgArr">
    <input
      ngbButton
      class="radio-image"
      type="radio"
      [value]="item.optionVal"
    />
    <img [src]="item.imgSrc" />
  </label>
</div>
