@import "../../../../../../../../assets/variables.scss";

/* HIDE RADIO */
.radio-image {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
.radio-image + img {
  cursor: pointer;
  max-width: 100%;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
.radio-image + img:hover {
  // transform: scale(1.5);
  transform: scale(1.3);
  position: relative;
  right: 0;
  z-index: 999;
}

/* CHECKED STYLES */
.radio-image:checked + img {
  outline: 1px solid $main-color;
}
