<section>
  <h5 class="pl-4 pr-4 pt-3 pb-3 bg-gray">
    {{ "Single Product" | translate }}
  </h5>
  <div class="col-12 pl-0 pl-sm-3 pr-0 pr-sm-3">
    <p class="text-grey mb-4">
      {{
        "No coding knowledge required! Wzholding gives you the ability to build
            virtually any design style with the only limits being your imagination.
            The most Advanced Options Network combined with fast visual designing and
            editing puts everything at your fingertips."
          | translate
      }}
    </p>

    <form>
      <!-- Single Product Layout -->
      <div class="row border-bottom pt-3 pb-3">
        <div class="col-6">
          <app-form-item-label
            [formItemHeading]="'Single Product Layout' | translate"
            [formItemSubHeading]="'Layout Single or Double rows.' | translate"
          ></app-form-item-label>
        </div>
        <div class="col-6">
          <div class="form-group position-relative">
            <app-custom-dropdown
              [settingObj]="optionObj.product_detail_layout"
              [optionKey]="'product_detail_layout'"
              (changedOption)="onSingleProductLayoutChange($event)"
            >
            </app-custom-dropdown>
          </div>
        </div>
      </div>

      <!-- conditionally showwing content -->
      <div [ngSwitch]="singleProductLayout">
        <div *ngSwitchCase="'new'">
          <!-- Images Columns -->
          <div class="row border-bottom pt-3 pb-3">
            <div class="col-6">
              <app-form-item-label
                [formItemHeading]="'Images Columns' | translate"
                [formItemSubHeading]="
                  'Note: With Mobile always “Show Notice” After Added To Cart' | translate
                "
              ></app-form-item-label>
            </div>
            <div class="col-6">
              <div class="form-group position-relative">
                <app-custom-dropdown
                  [settingObj]="optionObj.product_image_layout"
                  [optionKey]="'product_image_layout'"
                  (changedOption)="onOptionChanged($event)"
                >
                </app-custom-dropdown>
              </div>
            </div>
          </div>

          <!-- Images Style -->
          <div class="row border-bottom pt-3 pb-3">
            <div class="col-6">
              <app-form-item-label
                [formItemHeading]="'Images Style' | translate"
                [formItemSubHeading]="
                  'Note: With Mobile always “Show Notice” After Added To Cart' | translate
                "
              ></app-form-item-label>
            </div>
            <div class="col-6">
              <div class="form-group position-relative">
                <app-custom-dropdown
                  [settingObj]="optionObj.product_image_style"
                  [optionKey]="'product_image_style'"
                  (changedOption)="onOptionChanged($event)"
                >
                </app-custom-dropdown>
              </div>
            </div>
          </div>
        </div>
        <div *ngSwitchCase="'classic'">
          <!-- Thumbnail Layout -->
          <div class="row border-bottom pt-3 pb-3">
            <div class="col-sm-6">
              <app-form-item-label
                [formItemHeading]="'Thumbnail Layout' | translate"
                [formItemSubHeading]="'Layout Single or Double rows.' | translate"
              ></app-form-item-label>
            </div>
            <div class="col-sm-6 mt-2 mt-sm-0">
              <app-custom-select
                class="float-right"
                [settingObj]="optionObj.product_thumbs_style"
                [optionKey]="'product_thumbs_style'"
                (changedOption)="onOptionChanged($event)"
              ></app-custom-select>
            </div>
          </div>
        </div>
        <div *ngSwitchCase="'full'"></div>
      </div>

      <!-- Dots for Main Slide -->
      <div class="row border-bottom pt-3 pb-3">
        <div class="col-6">
          <app-form-item-label
            [formItemHeading]="'Dots for Main Slide' | translate"
            [formItemSubHeading]="'Controls how the page title bar displays.' | translate"
          ></app-form-item-label>
        </div>
        <div class="col-6">
          <app-toggle-buttons
            [optionKey]="'product_slide_dot'"
            [toggleState]="optionObj.product_slide_dot"
            (changedState)="onOptionChanged($event)"
          ></app-toggle-buttons>
        </div>
      </div>

      <!-- Arrows for Main Slide -->
      <!-- <div class="row border-bottom pt-3 pb-3">
        <div class="col-6">
          <app-form-item-label
            [formItemHeading]="'Arrows for Main Slide' | translate"
            [formItemSubHeading]="'Controls how the page title bar displays.' | translate"
          ></app-form-item-label>
        </div>
        <div class="col-6">
          <app-toggle-buttons
            [optionKey]="'product_slide_arrows'"
            [toggleState]="optionObj.product_slide_arrows"
            (changedState)="onOptionChanged($event)"
          ></app-toggle-buttons>
        </div>
      </div> -->

      <!-- Hover Zoom Image -->
      <div class="row border-bottom pt-3 pb-3">
        <div class="col-6">
          <app-form-item-label
            [formItemHeading]="' Hover Zoom Image' | translate"
            [formItemSubHeading]="'Controls how the page title bar displays.' | translate"
          ></app-form-item-label>
        </div>
        <div class="col-6">
          <app-toggle-buttons
            [optionKey]="'product-zoom'"
            [toggleState]="optionObj.product_zoom"
            (changedState)="onOptionChanged($event)"
          ></app-toggle-buttons>
        </div>
      </div>

      <!-- Lightbox Image When click -->
      <div class="row border-bottom pt-3 pb-3">
        <div class="col-6">
          <app-form-item-label
            [formItemHeading]="'Lightbox Image When click' | translate"
            [formItemSubHeading]="'Controls how the page title bar displays.' | translate"
          ></app-form-item-label>
        </div>
        <div class="col-6">
          <app-toggle-buttons
            [optionKey]="'product-image-lightbox'"
            [toggleState]="optionObj.product_image_lightbox"
            (changedState)="onOptionChanged($event)"
          ></app-toggle-buttons>
        </div>
      </div>

      <!-- Focus Main Image -->
      <!-- <div class="row border-bottom pt-3 pb-3">
        <div class="col-6">
          <app-form-item-label
            [formItemHeading]="'Focus Main Image' | translate"
            [formItemSubHeading]="
              'Focus main image after active variation product' | translate
            "
          ></app-form-item-label>
        </div>
        <div class="col-6">
          <app-toggle-buttons
            [optionKey]="'enable_focus_main_image'"
            [toggleState]="optionObj.enable_focus_main_image"
            (changedState)="onOptionChanged($event)"
          ></app-toggle-buttons>
        </div>
      </div> -->

      <!-- Product Sidebar -->
      <!-- <div class="row border-bottom pt-3 pb-3">
        <div class="col-sm-6">
          <app-form-item-label
            [formItemHeading]="'Product Sidebar' | translate"
            [formItemSubHeading]="
              'Controls the position of Text to be in the top, left or right of the site. ' | translate
            "
          ></app-form-item-label>
        </div>
        <div class="col-sm-6 mt-2 mt-sm-0 text-right">
          <app-custom-select
            class="float-right"
            [settingObj]="optionObj.product_sidebar"
            [optionKey]="'product_sidebar'"
            (changedOption)="onOptionChanged($event)"
          ></app-custom-select>
        </div>
      </div> -->

      <!-- Deal Time in Single or Quick view -->
      <div class="row border-bottom pt-3 pb-3">
        <div class="col-6">
          <app-form-item-label
            [formItemHeading]="'Deal Time in Single or Quick view' | translate"
            [formItemSubHeading]="
              'Focus main image after active variation product' | translate
            "
          ></app-form-item-label>
        </div>
        <div class="col-6">
          <app-toggle-buttons
            [optionKey]="'single-product-deal'"
            [toggleState]="optionObj.single_product_deal"
            (changedState)="onOptionChanged($event)"
          ></app-toggle-buttons>
        </div>
      </div>

      <!-- Buy Now -->
      <div class="row border-bottom pt-3 pb-3">
        <div class="col-6">
          <app-form-item-label
            [formItemHeading]="'Buy Now' | translate"
            [formItemSubHeading]="
              'Focus main image after active variation product' | translate
            "
          ></app-form-item-label>
        </div>
        <div class="col-6">
          <app-toggle-buttons
            [optionKey]="'enable_buy_now'"
            [toggleState]="optionObj.enable_buy_now"
            (changedState)="onOptionChanged($event)"
          ></app-toggle-buttons>
        </div>
      </div>

      <!-- Buy Now Background -->
      <div class="row border-bottom pt-3 pb-3">
        <div class="col-sm-6">
          <app-form-item-label
            [formItemHeading]="'Buy Now Background' | translate"
            [formItemSubHeading]="'Controls the background color for the page.' | translate"
          ></app-form-item-label>
        </div>
        <div class="col-sm-6 d-flex justify-content-end mt-2 mt-sm-0">
          <div class="form-group d-flex-flex-column mr-3">
            <label for="buy_now_bg_color">{{"Color" | translate}}</label>
            <app-color-picker
              [color]="optionObj.buy_now_bg_color"
              [optionKey]="'buy_now_bg_color'"
              (pickedColor)="onOptionChanged($event)"
            >
            </app-color-picker>
          </div>
          <div class="form-group d-flex-flex-column">
            <label for="buy_now_bg_color_hover">{{"Color Hover" | translate}}</label>
            <app-color-picker
              [color]="optionObj.buy_now_bg_color_hover"
              [optionKey]="'buy_now_bg_color_hover'"
              (pickedColor)="onOptionChanged($event)"
            >
            </app-color-picker>
          </div>
        </div>
      </div>

      <!-- Buy Now Shadow Color -->
      <div class="row border-bottom pt-3 pb-3">
        <div class="col-sm-6">
          <app-form-item-label
            [formItemHeading]="'Buy Now Shadow Color' | translate"
            [formItemSubHeading]="
              'Controls the text color of the page title bar main heading.' | translate
            "
          ></app-form-item-label>
        </div>
        <div class="col-sm-6 d-flex justify-content-end mt-2 mt-sm-0">
          <div class="form-group d-flex-flex-column mr-3">
            <app-color-picker
              [color]="optionObj.buy_now_color_shadow"
              [optionKey]="'buy_now_color_shadow'"
              (pickedColor)="onOptionChanged($event)"
            >
            </app-color-picker>
          </div>
        </div>
      </div>

      <!--Sticky Add To Cart -->
      <div class="row border-bottom pt-3 pb-3">
        <div class="col-6">
          <app-form-item-label
            [formItemHeading]="'Sticky Add To Cart' | translate"
            [formItemSubHeading]="
              'Focus main image after active variation product' | translate
            "
          ></app-form-item-label>
        </div>
        <div class="col-6">
          <app-toggle-buttons
            [optionKey]="'enable_fixed_add_to_cart'"
            [toggleState]="optionObj.enable_fixed_add_to_cart"
            (changedState)="onOptionChanged($event)"
          ></app-toggle-buttons>
        </div>
      </div>

      <!-- Sticky Buy Now - Desktop -->
      <div class="row border-bottom pt-3 pb-3">
        <div class="col-6">
          <app-form-item-label
            [formItemHeading]="'Sticky Buy Now - Desktop' | translate"
            [formItemSubHeading]="
              'Focus main image after active variation product' | translate
            "
          ></app-form-item-label>
        </div>
        <div class="col-6">
          <app-toggle-buttons
            [optionKey]="'enable_fixed_buy_now_desktop'"
            [toggleState]="optionObj.enable_fixed_buy_now_desktop"
            (changedState)="onOptionChanged($event)"
          ></app-toggle-buttons>
        </div>
      </div>

      <!-- Sticky Add To Cart In Mobile -->
      <div class="row border-bottom pt-3 pb-3">
        <div class="col-6">
          <app-form-item-label
            [formItemHeading]="'Sticky Add To Cart In Mobile' | translate"
            [formItemSubHeading]="'Layout Single or Double rows.' | translate"
          ></app-form-item-label>
        </div>
        <div class="col-6">
          <div class="form-group position-relative">
            <app-custom-dropdown
              [settingObj]="optionObj.mobile_fixed_add_to_cart"
              [optionKey]="'mobile_fixed_add_to_cart'"
              (changedOption)="onOptionChanged($event)"
            >
            </app-custom-dropdown>
          </div>
        </div>
      </div>

      <!-- Stock Progress Bar -->
      <div class="row border-bottom pt-3 pb-3">
        <div class="col-6">
          <app-form-item-label
            [formItemHeading]="'Stock Progress Bar' | translate"
            [formItemSubHeading]="
              'Focus main image after active variation product' | translate
            "
          ></app-form-item-label>
        </div>
        <div class="col-6">
          <app-toggle-buttons
            [optionKey]="'enable_progess_stock'"
            [toggleState]="optionObj.enable_progess_stock"
            (changedState)="onOptionChanged($event)"
          ></app-toggle-buttons>
        </div>
      </div>

      <!-- Tabs Layout -->
      <div class="row border-bottom pt-3 pb-3">
        <div class="col-6">
          <app-form-item-label
            [formItemHeading]="'Sticky Add To Cart In Mobile' | translate"
            [formItemSubHeading]="'Layout Single or Double rows.' | translate"
          ></app-form-item-label>
        </div>
        <div class="col-6">
          <div class="form-group position-relative">
            <app-custom-dropdown
              [settingObj]="optionObj.tab_style_info"
              [optionKey]="'tab_style_info'"
              (changedOption)="onOptionChanged($event)"
            >
            </app-custom-dropdown>
          </div>
        </div>
      </div>

      <!-- Tabs Align -->
      <div class="row border-bottom pt-3 pb-3">
        <div class="col-sm-6">
          <app-form-item-label
            [formItemHeading]="'Tabs Align' | translate"
            [formItemSubHeading]="
              'Controls the position of Text to be in the top, left or right of the site. ' | translate
            "
          ></app-form-item-label>
        </div>
        <div class="col-sm-6 mt-2 mt-sm-0 text-right">
          <app-custom-select
            class="float-right"
            [settingObj]="optionObj.tab_align_info"
            [optionKey]="'tab_align_info'"
            (changedOption)="onOptionChanged($event)"
          ></app-custom-select>
        </div>
      </div>

      <!-- Additional Information Tab -->
      <div class="row border-bottom pt-3 pb-3">
        <div class="col-6">
          <app-form-item-label
            [formItemHeading]="'Hide Additional Information Tab' | translate"
            [formItemSubHeading]="
              'Focus main image after active variation product' | translate
            "
          ></app-form-item-label>
        </div>
        <div class="col-6">
          <app-toggle-buttons
            [optionKey]="'hide_additional_tab'"
            [toggleState]="optionObj.hide_additional_tab"
            (changedState)="onOptionChanged($event)"
          ></app-toggle-buttons>
        </div>
      </div>

      <!-- Relate Products -->
      <div class="row border-bottom pt-3 pb-3">
        <div class="col-6">
          <app-form-item-label
            [formItemHeading]="'Relate Products' | translate"
            [formItemSubHeading]="
              'Focus main image after active variation product' | translate
            "
          ></app-form-item-label>
        </div>
        <div class="col-6">
          <app-toggle-buttons
            [optionKey]="'relate_product'"
            [toggleState]="optionObj.relate_product"
            (changedState)="onRelateProductChange($event)"
          ></app-toggle-buttons>
        </div>
      </div>

      <!-- conditionally showing relteproductoptions -->
      <div *ngIf='showRelateProducts'>
      <!-- Number for relate products -->
      <div class="row border-bottom pt-3 pb-3">
        <div class="col-sm-6">
          <app-form-item-label
            [formItemHeading]="'Number for relate products' | translate"
            [formItemSubHeading]="
              'Select an image file for your sticky header logo.' | translate
            "
          ></app-form-item-label>
        </div>
        <div class="col-sm-6 mt-2 mt-sm-0">
          <app-range-slider
            [optionKey]="'relate_product_number'"
            [rangeValue]="optionObj.relate_product_number"
            (changedRange)="onOptionChanged($event)"
          ></app-range-slider>
        </div>
      </div>

      <!-- Columns Relate | Upsell Products -->
      <div class="row border-bottom pt-3 pb-3">
        <div class="col-6">
          <app-form-item-label
            [formItemHeading]="'Columns Relate | Upsell Products' | translate"
            [formItemSubHeading]="'Layout Single or Double rows.' | translate"
          ></app-form-item-label>
        </div>
        <div class="col-6">
          <div class="form-group position-relative">
            <app-custom-dropdown
              [settingObj]="optionObj.relate_columns_desk"
              [optionKey]="'relate_columns_desk'"
              (changedOption)="onOptionChanged($event)"
            >
            </app-custom-dropdown>
          </div>
        </div>
      </div>

      <!-- Columns Relate | Upsell Products for Mobile-->
      <div class="row border-bottom pt-3 pb-3">
        <div class="col-6">
          <app-form-item-label
            [formItemHeading]="'Columns Relate | Upsell Products for Mobile' | translate"
            [formItemSubHeading]="'Layout Single or Double rows.' | translate"
          ></app-form-item-label>
        </div>
        <div class="col-6">
          <div class="form-group position-relative">
            <app-custom-dropdown
              [settingObj]="optionObj.relate_columns_small"
              [optionKey]="'relate_columns_small'"
              (changedOption)="onOptionChanged($event)"
            >
            </app-custom-dropdown>
          </div>
        </div>
      </div>

      <!-- Columns Relate | Upsell Products for Tablet -->
      <div class="row pt-3 pb-3">
        <div class="col-6">
          <app-form-item-label
            [formItemHeading]="'Columns Relate | Upsell Products for Tablet' | translate"
            [formItemSubHeading]="'Layout Single or Double rows.' | translate"
          ></app-form-item-label>
        </div>
        <div class="col-6">
          <div class="form-group position-relative">
            <app-custom-dropdown
              [settingObj]="optionObj.relate_columns_tablet"
              [optionKey]="'relate_columns_tablet'"
              (changedOption)="onOptionChanged($event)"
            >
            </app-custom-dropdown>
          </div>
        </div>
      </div>
    </div> 
    </form>
  </div>
</section>
