<main class="card p-3">
  <header class="d-flex align-items-center justify-content-sm-center position-relative mb-5">
    <p class="steps mb-0">{{ 'Setting up Flat Rate Shipping' | translate }}</p>
    <button mat-button class="view-pricing">
      <span>{{ 'View Pricing' | translate }}</span>
      <mat-icon>chevron_right</mat-icon>
    </button>
  </header>
  <form [formGroup]="form" (ngSubmit)="setShippingCharges()">
    <section class="body">
      <div class="heading text-center">
        <h3 class="heading-title text-center">{{ 'Provide fixed flat rate shipping fee for all orders without any condition' | translate }}</h3>
        <p class="hint text-center mb-1">{{ 'Your delivery rate will be based on:' | translate }}</p>
      </div>
      <div class="inputs">
        <div class="form-group text-center d-flex align-items-center justify-content-center mb-0">
          <label class="mb-0">
            <input type="radio" name="shipping" [formControl]="calculationMethod" [value]="'fixed'" />
            <span>{{ 'Flat Rate' | translate }}</span>
          </label>
          <label class="mb-0">
            <input type="radio" name="shipping" [formControl]="calculationMethod" [value]="'percentage'" />
            <span>{{ 'Percentage' | translate }}</span>
          </label>
        </div>
        <p class="npt-desc mb-4">{{ 'Hint: percentage of total Wiz shipment Expenses' | translate }}</p>
        <div *ngIf="calculationMethod.value" class="form-group text-center d-flex align-items-center flex-column mb-5" [class.has-error]="rate.touched && rate.invalid">
          <label for="fixed_rate">{{ 'Insert fixed Shipping rate' | translate }}</label>
          <input type="text"
                 name="fixed_rate"
                 id="fixed_rate"
                 [formControl]="rate"
                 onkeypress="validateN(event)"
                 [placeholder]="calculationMethod.value === 'fixed' ? 'eg. ' + currency + ' 10' : calculationMethod.value === 'percentage' ? 'eg. 10%' : ''"
                 class="form-control-lg form-control">
          <div *ngIf="rate.errors">
            <span class="error-text" *ngIf="rate.errors['required']">{{ 'This field is required' | translate  }}</span>
            <span class="error-text" *ngIf="rate.errors['max']">{{ 'This field can not be more than {max}' | translate: { max: rate.errors['max'].max }  }}</span>
          </div>
        </div>
      </div>
    </section>
    <div class="action-bnts d-flex align-items-center justify-content-between">
      <button mat-button type="button" class="back-btn" [routerLink]="['../', 'shipping-charges']">{{ 'Back' | translate }}</button>
      <button mat-raised-button class="next-btn" [disabled]="form.invalid || loading">
        <i class="fa fa-spinner fa-spin mr-2" *ngIf="loading" aria-hidden="true"></i>
        <span>{{ 'Finish' | translate }}</span>
      </button>
    </div>
  </form>
</main>
