<header class="d-flex align-items-center justify-content-sm-center position-relative mb-3">
  <p class="steps mb-0">{{headerData?.step}}</p>
  <button *ngIf="headerData?.viewPricing" mat-button class="view-pricing" [routerLink]="['/pricing']">
    <span>{{ 'View Pricing' | translate }}</span>
    <mat-icon>chevron_right</mat-icon>
  </button>
</header>
<div class="shipping-content-head">
  <h5 class="section-title">{{headerData?.head}}</h5>
  <p class="section-paragraph">{{headerData?.bigParagraph}}</p>
  <p class="section-paragraph-small">{{headerData?.smallParagraph}}</p>
</div>
