
@import "../../../../../../../assets/variables";
.current-step {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .step {
    color: $semi-gray;
    margin-bottom: 0.6rem;
  }
}

.shipping-content-head {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2.5rem;

  .section-title {
  }

  .section-paragraph {
    font-size: 20px;
    color: $dark-gray;
    text-align: center;
    margin-bottom: 0.3rem;
  }

  .section-paragraph-small {
    font-size: 14px;
    color: $semi-gray;
  }
}


.steps {
  color: rgba(#313E48, 0.4);
  font-size: 1em;
}

.view-pricing {
  color: #313E48;
  position: absolute;
  right: 0;
}
