<!--<div class="d-flex align-items-stretch   pl-3">-->



<!--  <iframe [src]="trustedDashboardUrl" allowfullscreen frameborder="0" style="height: auto; width: 100%"></iframe>-->


<!--</div>-->

<router-outlet></router-outlet>
