<section>
  <h5 class="pl-4 pr-4 pt-3 pb-3 bg-gray">{{ "General" | translate }}</h5>

  <div class="col-12 pl-0 pl-sm-3 pr-0 pr-sm-3">
    <p class="text-grey mb-4">
      {{
        "No coding knowledge required! Wzholding gives you the ability to build
      virtually any design style with the only limits being your imagination.
      The most Advanced Options Network combined with fast visual designing and
      editing puts everything at your fingertips."
          | translate
      }}
    </p>
    <form>

      <!-- Site Layout -->
      <div class="row border-bottom pt-3 pb-3">
        <div class="col-6">
          <app-form-item-label
            [formItemHeading]="'Site Layout' | translate"
            [formItemSubHeading]="
              'These settings control the typography for all body text.' | translate
            "
          ></app-form-item-label>
        </div>
        <div class="col-6">
          <div class="form-group position-relative">
            <app-custom-dropdown
            [settingObj]="optionObj.site_layout"
            [optionKey]="'site_layout'"
            (changedOption)="onSiteLayoutChanged($event)">
            </app-custom-dropdown>
          </div>
        </div>
      </div>

      <!-- Site background color -->
      <div class="row border-bottom pt-3 pb-3" *ngIf="siteLayoutSelected == 'boxed'">
        <div class="col-6">
          <app-form-item-label
            [formItemHeading]="'Site Background Color' | translate"
            [formItemSubHeading]="
              'Controls the background color for the page.' | translate
            "
          ></app-form-item-label>
        </div>
        <div class="col-6 text-right">
          <app-color-picker
            class="float-right"
            [color]="optionObj.site_bg_color"
            [optionKey]="'site_bg_color'"
            (pickedColor)="onOptionChanged($event)"
          >
          </app-color-picker>
        </div>
      </div>

      <!-- Site background image -->
      <div class="row border-bottom pt-3 pb-3" *ngIf="siteLayoutSelected == 'boxed'">
        <div class="col-6">
          <app-form-item-label
            [formItemHeading]="'Site Background Image' | translate"
            [formItemSubHeading]="
              'Select an image for the header background. If left empty,
            the header background color will be used.'
                | translate
            "
            [formItemRules]="
              'The eligible background image size is 1200x600px and formate of .png is required'
            "
          ></app-form-item-label>
        </div>
        <div class="col-6">
          <app-file-upload
            [fileUrl]="optionObj.site_bg_image"
            [optionKey]="'site_bg_image'"
            [max_height]="600"
            [max_width]="1200"
            (selectedFile)="onOptionChanged($event)"
          ></app-file-upload>
        </div>
      </div>

      <!-- Login/Register Menu in Topbar -->
      <div class="row border-bottom pt-3 pb-3">
        <div class="col-6">
          <app-form-item-label
            [formItemHeading]="'Disable Login/Register Menu in Topbar' | translate"
            [formItemSubHeading]="
              'Controls the background color for the page.' | translate
            "
          ></app-form-item-label>
        </div>
        <div class="col-6">
          <app-toggle-buttons
            [optionKey]="'hide_tini_menu_acc'"
            [toggleState]="optionObj.hide_tini_menu_acc"
            (changedState)="onOptionChanged($event)"
          ></app-toggle-buttons>
        </div>
      </div>

      <!-- Login/Register by Ajax form -->
      <div class="row border-bottom pt-3 pb-3">
        <div class="col-6">
          <app-form-item-label
            [formItemHeading]="'Login/Register by Ajax form' | translate"
            [formItemSubHeading]="
              'Controls the background color for the page.' | translate
            "
          ></app-form-item-label>
        </div>
        <div class="col-6">
          <app-toggle-buttons
            [optionKey]="'login_ajax'"
            [toggleState]="optionObj.login_ajax"
            (changedState)="onOptionChanged($event)"
          ></app-toggle-buttons>
        </div>
      </div>

      <!-- Account on main screen - mobile layout -->
      <!-- <div class="row border-bottom pt-3 pb-3">
        <div class="col-6">
          <app-form-item-label
            [formItemHeading]="
              'Account On Main Screen - Mobile Layout' | translate
            "
            [formItemSubHeading]="
              'Controls the background color for the page.' | translate
            "
          ></app-form-item-label>
        </div>
        <div class="col-6">
          <app-toggle-buttons
            [optionKey]="'main_screen_acc_mobile'"
            [toggleState]="optionObj.main_screen_acc_mobile"
            (changedState)="onOptionChanged($event)"
          ></app-toggle-buttons>
        </div>
      </div> -->

      <!-- Captcha for register form -->
      <div class="row border-bottom pt-3 pb-3">
        <div class="col-6">
          <app-form-item-label
            [formItemHeading]="'Captcha For Register Form' | translate"
            [formItemSubHeading]="
              'Controls the background color for the page.' | translate
            "
          ></app-form-item-label>
        </div>
        <div class="col-6">
          <app-toggle-buttons
            [optionKey]="'register_captcha'"
            [toggleState]="optionObj.register_captcha"
            (changedState)="onOptionChanged($event)"
          ></app-toggle-buttons>
        </div>
      </div>

      <!-- Effect before load site -->
      <div class="row border-bottom pt-3 pb-3">
        <div class="col-6">
          <app-form-item-label
            [formItemHeading]="'Effect Before Load Site' | translate"
            [formItemSubHeading]="
              'Controls the background color for the page.' | translate
            "
          ></app-form-item-label>
        </div>
        <div class="col-6">
          <app-toggle-buttons
            [optionKey]="'effect_before_load'"
            [toggleState]="optionObj.effect_before_load"
            (changedState)="onOptionChanged($event)"
          ></app-toggle-buttons>
        </div>
      </div>

      <!-- GDPR Notice -->
      <div class="row border-bottom pt-3 pb-3">
        <div class="col-6">
          <app-form-item-label
            [formItemHeading]="'GDPR Notice' | translate"
            [formItemSubHeading]="
              'Controls the background color for the page.' | translate
            "
          ></app-form-item-label>
        </div>
        <div class="col-6">
          <app-toggle-buttons
            [optionKey]="'nasa_gdpr_notice'"
            [toggleState]="optionObj.nasa_gdpr_notice"
            (changedState)="onOptionChanged($event)"
          ></app-toggle-buttons>
        </div>
      </div>

      <!-- GDPR Policies Link -->
      <div class="row border-bottom pt-3 pb-3">
        <div class="col-sm-6">
          <app-form-item-label
            [formItemHeading]="'GDPR Policies Link' | translate"
            [formItemSubHeading]="
              'Controls the background color for the page.' | translate
            "
          ></app-form-item-label>
        </div>
        <div class="col-sm-6 pt-3 pt-sm-0">
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              maxlength="100"
              id="inputLink"
              name="nasa_gdpr_policies"
              placeholder="https://policies.google.com"
              [(ngModel)]="optionObj.nasa_gdpr_policies"
              autocomplete="off"
              (change)="
                onOptionChanged({
                  optionKey: 'nasa_gdpr_policies',
                  newValue: optionObj.nasa_gdpr_policies
                })
              "
            />
          </div>
        </div>
      </div>

      <!-- Site Offline -->
      <div class="row border-bottom pt-3 pb-3">
        <div class="col-6">
          <app-form-item-label
            [formItemHeading]="'Site Offline' | translate"
            [formItemSubHeading]="
              'Controls the background color for the page.' | translate
            "
          ></app-form-item-label>
        </div>
        <div class="col-6">
          <app-toggle-buttons
            [forceOfflineStatus]="optionObj.site_offline_forced"
            [optionKey]="'site_offline'"
            [toggleState]="optionObj.site_offline"
            (changedState)="onOfflineStatusChanged($event)"
          ></app-toggle-buttons>
          <div class="text-right text-danger text-notice pt-2" *ngIf="optionObj.site_offline_forced != 0">Site offline is forced by the system.</div>
        </div>
      </div>
      <div *ngIf="optionObj.site_offline == '1'">
        <!-- Coming Soon Tittle -->
        <div class="row border-bottom pt-3 pb-3">
          <div class="col-sm-6">
            <app-form-item-label
              [formItemHeading]="'Coming Soon Tittle' | translate"
              [formItemSubHeading]="
                'Controls the background color for the page.' | translate
              "
            ></app-form-item-label>
          </div>
          <div class="col-sm-6 pt-3 pt-sm-0">
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                maxlength="100"
                id="inputLink"
                name="coming_soon_title"
                placeholder="Coming Soon"
                [(ngModel)]="optionObj.coming_soon_title"
                (change)="
                  onOptionChanged({
                    optionKey: 'coming_soon_title',
                    newValue: optionObj.coming_soon_title
                  })
                "
                autocomplete="off"
              />
            </div>
          </div>
        </div>

        <!-- Coming Soon Info -->
        <div class="row border-bottom pt-3 pb-3">
          <div class="col-sm-6">
            <app-form-item-label
              [formItemHeading]="'Coming Soon Info' | translate"
              [formItemSubHeading]="
                'Controls the background color for the page.' | translate
              "
            ></app-form-item-label>
          </div>
          <div class="col-sm-6 pt-3 pt-sm-0">
            <div class="form-group">
              <textarea
                class="form-control"
                maxlength="300"
                id="textarea"
                name="coming_soon_info"
                placeholder="Coming Soon"
                [(ngModel)]="optionObj.coming_soon_info"
                (change)="
                  onOptionChanged({
                    optionKey: 'coming_soon_info',
                    newValue: optionObj.coming_soon_info
                  })
                "
              ></textarea>
            </div>
          </div>
        </div>

        <!-- Coming Soon Image -->
        <div class="row border-bottom pt-3 pb-3">
          <div class="col-6">
            <app-form-item-label
              [formItemHeading]="'Coming Soon Image' | translate"
              [formItemSubHeading]="
                'Controls the background color for the page.' | translate
              "
            ></app-form-item-label>
          </div>
          <div class="col-6">
            <app-file-upload
              [fileUrl]="optionObj.coming_soon_img"
              [optionKey]="'coming_soon_img'"
              (selectedFile)="onOptionChanged($event)"
            ></app-file-upload>
          </div>
        </div>

        <!-- Coming Soon Time -->
        <div class="row pt-3 pb-3">
          <div class="col-sm-6">
            <app-form-item-label
              [formItemHeading]="'Coming Soon Time' | translate"
              [formItemSubHeading]="
                'Please enter a time to return the site to Online (YYYY/mm/dd | YYYY-mm-dd).'
                  | translate
              "
            ></app-form-item-label>
          </div>
          <div class="col-sm-6">
            <app-date-dropdown
              [selectedDate]="optionObj.coming_soon_time"
              [optionKey]="'coming_soon_time'"
              (changedDate)="onOptionChanged($event)"
            ></app-date-dropdown>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>
