<div
  class="d-flex flex-end align-items-center justify-content-sm-end date-dropdown pt-3 pt-sm-0"
>
  <!-- date -->
  <div class="form-group position-relative">
    <select
      class="form-control"
      name="selectedDay"
      [(ngModel)]="selectedDay"
      (change)="dateChangeHandler()"
    >
      <option *ngFor="let day of days" [value]="day">{{ day }}</option>
    </select>
  </div>

  <!-- month -->
  <div class="form-group position-relative">
    <select
      class="form-control"
      name="selectedMonth"
      [(ngModel)]="selectedMonth"
      (change)="dateChangeHandler()"
    >
      <option *ngFor="let month of months; let i = index" [value]="i + 1">
        {{ month }}
      </option>
    </select>
  </div>

  <!-- year -->
  <div class="form-group position-relative m-0">
    <select
      class="form-control"
      name="selectedYear"
      [(ngModel)]="selectedYear"
      (change)="dateChangeHandler()"
      
    >
      <option *ngFor="let year of years; let i = index"  [value]="year">
        {{ year }}
      </option>
    </select>
  </div>
</div>
