.date-dropdown{
    .form-group:not(:last-of-type){
        margin: 0 20px 0 0;
        &::after{
            content: '/';
            position: absolute;
            right: -12px;
            top: 50%;
            margin: -12px 0 0;
        }
    }
}