<main class="card p-3">
  <header class="d-flex align-items-center justify-content-sm-center position-relative mb-3">
    <p class="steps mb-0">{{ 'Setting up Conditional Free Shipping' | translate }}</p>
    <button mat-button class="view-pricing">
      <span>{{ 'View Pricing' | translate }}</span>
      <mat-icon>chevron_right</mat-icon>
    </button>
  </header>

  <app-setting-conditional-free-form [formGroup]="form" [currency]="currency" [data]="shippingCharges"></app-setting-conditional-free-form>

  <div class="action-bnts d-flex align-items-center justify-content-between ">
    <button mat-button type="button" class="back-btn" routerLink="/user/shipping-setup/shipping-charges">{{ 'Back' | translate }}</button>
    <button mat-raised-button class="next-btn" [disabled]="form.invalid || loading" (click)="setShippingCharges()">
      <i class="fa fa-spinner fa-spin mr-2" *ngIf="loading" aria-hidden="true"></i>
      <span>{{ 'Finish' | translate }}</span>
    </button>
  </div>

</main>
