<div class="subheading-container">
  <div
    class="subheading-title"
    *ngIf="subheadings && subheadings[indexOfSubheading].title">
    {{subheadings[indexOfSubheading].title}}
  </div>
  <div class="form-container">
    <form [formGroup]="subheadingForm">
      <div *ngIf="subheadings">
        <div *ngFor="let item of subheadings[indexOfSubheading]?.subheading; let i = index">
          <div class="form-field-wrapper">
            <div class="label">{{item.topCategories | titlecase}}</div>
            <mat-form-field
              *ngIf="item.input !== 'checkbox'"
              [ngClass]="!item.image ? 'remove-hint' : ''"
              appearance="outline"
            >
              <input
                matInput
                [placeholder]="item.inputPlaceholder"
                [formControl]="subheadingFormControls[this.themeCustomization.toCamelCaseString(item.topCategories)]">
              <input
                *ngIf="item.image"
                type="file"
                #UploadFileInput
                id="fileUpload"
                (change)="fileChangeEvent($event, imgElement, item.topCategories, i)"
                name="fileUpload"
                multiple="multiple"
                accept="image/*"
              />
              <svg
                *ngIf="item.image && !fileNames[i]"
                matSuffix
                class="img-suffix"
                xmlns="http://www.w3.org/2000/svg"
                width="29.67"
                height="21.758"
                viewBox="0 0 29.67 21.758"
              >
                <path
                  d="M28.38,85.229a5.849,5.849,0,0,0-3.3-2.094,3.949,3.949,0,0,0-3.322-6.088,3.777,3.777,0,0,0-2.565.958,7.921,7.921,0,0,0-7.325-4.914,7.623,7.623,0,0,0-5.594,2.318A7.621,7.621,0,0,0,3.956,81q0,.2.031.664A6.911,6.911,0,0,0,0,87.926a6.667,6.667,0,0,0,2.032,4.891,6.666,6.666,0,0,0,4.891,2.032H23.736a5.927,5.927,0,0,0,4.643-9.62Zm-8.747-.417a.476.476,0,0,1-.347.147H15.824V90.4a.5.5,0,0,1-.494.494H12.362a.5.5,0,0,1-.494-.494v-5.44H8.406a.475.475,0,0,1-.494-.494.581.581,0,0,1,.154-.371l5.424-5.424a.524.524,0,0,1,.711,0l5.44,5.439a.481.481,0,0,1,.139.356A.475.475,0,0,1,19.633,84.812Z"
                  transform="translate(0 -73.091)" fill="#313e48"/>
              </svg>
              <svg *ngIf="fileNames[i] && item.image" matSuffix class="img-uploaded-suffix"
                   xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
                <g id="39893" data-name="39893">
                  <g id="Component_13" data-name="Component 13">
                    <circle id="393" data-name="393" cx="10" cy="10" r="10" fill="#e5e5e5"/>
                  </g>
                </g>
                <g transform="translate(5.5 5.5)">
                  <path d="M4.5,5.318.818,9,0,8.181,3.682,4.5,0,.818.818,0,4.5,3.682,8.181,0,9,.818,5.318,4.5,9,8.181,8.181,9Z"
                        fill="#313e48"/>
                </g>
              </svg>
              <svg
                *ngIf="fileNames[i] && item.image"
                matPrefix
                class="img-uploaded-prefix"
                xmlns="http://www.w3.org/2000/svg"
                width="21.367"
                height="24.419"
                viewBox="0 0 21.367 24.419"
              >
                <g id="jpg" transform="translate(0)">
                  <path d="M97.526,0A1.531,1.531,0,0,0,96,1.526V22.893a1.531,1.531,0,0,0,1.526,1.526h15.262a1.531,1.531,0,0,0,1.526-1.526V6.1L108.21,0Z"
                        transform="translate(-92.948)" fill="#e2e5e7"/>
                  <path d="M353.526,6.1H358.1L352,0V4.579A1.531,1.531,0,0,0,353.526,6.1Z"
                        transform="translate(-336.738)" fill="#b0b7bd"/>
                  <path d="M388.579,132.579,384,128h4.579Z"
                        transform="translate(-367.212 -121.895)" fill="#cad1d8"/>
                  <path d="M50.315,248.394a.765.765,0,0,1-.763.763H32.763a.765.765,0,0,1-.763-.763v-7.631a.765.765,0,0,1,.763-.763H49.551a.765.765,0,0,1,.763.763Z"
                        transform="translate(-32 -228.553)" fill="#50bee8"/>
                  <g transform="translate(3.119 13.984)">
                    <path d="M99.519,295.473a.4.4,0,0,1,.806,0v2.41a1.356,1.356,0,0,1-1.513,1.538,1.532,1.532,0,0,1-1.33-.629c-.311-.372.275-.909.592-.519a.908.908,0,0,0,.8.378c.341-.012.641-.166.647-.769v-2.41Z"
                          transform="translate(-97.394 -294.998)" fill="#fff"/>
                    <path d="M181.344,294.741a.42.42,0,0,1,.415-.421h1.409a1.526,1.526,0,0,1,0,3.051H182.15v.806a.383.383,0,0,1-.391.42.412.412,0,0,1-.415-.42v-3.436Zm.806.347v1.52h1.019a.761.761,0,0,0,0-1.52Z"
                          transform="translate(-177.34 -294.267)" fill="#fff"/>
                    <path d="M268.86,297.061a2.312,2.312,0,0,1-1.5.513,2.012,2.012,0,0,1-2.191-2.185,2.175,2.175,0,0,1,2.245-2.189,2,2,0,0,1,1.391.536.4.4,0,0,1-.53.586,1.289,1.289,0,0,0-.861-.385,1.454,1.454,0,0,0-1.451,1.451,1.351,1.351,0,0,0,1.4,1.453,1.558,1.558,0,0,0,.915-.275v-.75h-.915a.373.373,0,1,1,0-.745h1.22a.417.417,0,0,1,.433.36v1.3A.491.491,0,0,1,268.86,297.061Z"
                          transform="translate(-257.166 -293.2)" fill="#fff"/>
                  </g>
                  <path d="M110.5,416.763H96v.763h14.5a.765.765,0,0,0,.763-.763V416A.765.765,0,0,1,110.5,416.763Z"
                        transform="translate(-92.948 -396.159)" fill="#cad1d8"/>
                </g>
              </svg>

              <mat-hint *ngIf="item.image" align="end">Image size: {{item.image}}</mat-hint>
            </mat-form-field>
            <div
              [class.visible]="item.image && fileNames[i]"
              class="preview-img-container"
            >
              <img
                class="preview-img"
                src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
                alt="preview"
                #imgElement
              >
            </div>
          </div>
          <div class="checkbox-container" *ngIf="item.input === 'checkbox'">
            <div class="checkbox-label">{{item.topCategories}}</div>
            <label class="custom-checkbox">
              <input
                type="checkbox"
                [formControl]="subheadingFormControls[this.themeCustomization.toCamelCaseString(item.topCategories)]"
              >
              <span>Uncategorized</span>
            </label>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
