<section>
  <h5 class="pl-4 pr-4 pt-3 pb-3 bg-gray">{{ "Header Layout" | translate }}</h5>

  <div class="col-12 pl-0 pl-sm-3 pr-0 pr-sm-3">
    <p class="text-grey mb-4">
      {{
        "No coding knowledge required! Wzholding gives you the ability to build
        virtually any design style with the only limits being your imagination.
        The most Advanced Options Network combined with fast visual designing and
        editing puts everything at your fingertips."
          | translate
      }}
    </p>
    <form>
      <!-- Select a Header Layout -->
      <div class="row border-bottom pt-3 pb-3">
        <div class="col-sm-6">
          <app-form-item-label
            [formItemHeading]="'Select a Header Layout'  | translate"
            [formItemSubHeading]="
              'Controls the general layout of the header. Headers 2-5 allow additional content areas via the header content options 1-3. Header 6 only allows parent level menu items, no child levels will display. The main menu height, header padding and logo margin options will auto adjust based off your selection for ideal aesthetics.' | translate
            "
          ></app-form-item-label>
        </div>
        <div class="col-sm-6 mt-2 mt-sm-0 text-right">
          <app-radio-image
            class="float-right"
            [settingObj]="optionObj.header_type"
            [optionKey]="'header-type'"
            (selectedImage)="onOptionChanged($event)"
          ></app-radio-image>
        </div>
      </div>

      <!-- Fullwidth Main Menu -->
      <div class="row border-bottom pt-3 pb-3">
        <div class="col-6">
          <app-form-item-label
            [formItemHeading]="'Fullwidth Main Menu' | translate"
            [formItemSubHeading]="'Controls the background color for the page.' | translate"
          ></app-form-item-label>
        </div>
        <div class="col-6">
          <app-toggle-buttons
            [optionKey]="'fullwidth_main_menu'"
            [toggleState]="optionObj.fullwidth_main_menu"
            (changedState)="onOptionChanged($event)"
          ></app-toggle-buttons>
        </div>
      </div>

      <!-- Transparent Header -->
      <div class="row border-bottom pt-3 pb-3">
        <div class="col-6">
          <app-form-item-label
            [formItemHeading]="'Transparent Header' | translate"
            [formItemSubHeading]="'Controls the background color for the page.' | translate"
          ></app-form-item-label>
        </div>
        <div class="col-6">
          <app-toggle-buttons
            [optionKey]="'header_transparent'"
            [toggleState]="optionObj.header_transparent"
            (changedState)="onOptionChanged($event)"
          ></app-toggle-buttons>
        </div>
      </div>

      <!-- Sticky -->
      <div class="row border-bottom pt-3 pb-3">
        <div class="col-6">
          <app-form-item-label
            [formItemHeading]="'Sticky' | translate"
            [formItemSubHeading]="'Controls the background color for the page.' | translate"
          ></app-form-item-label>
        </div>
        <div class="col-6">
          <app-toggle-buttons
            [optionKey]="'fixed_nav'"
            [toggleState]="optionObj.fixed_nav"
            (changedState)="onOptionChanged($event)"
          ></app-toggle-buttons>
        </div>
      </div>

      <!-- Search Bar Effect -->
      <div class="row border-bottom pt-3 pb-3">
        <div class="col-6">
          <app-form-item-label
            [formItemHeading]="'Search Bar Effect' | translate"
            [formItemSubHeading]="
              'These settings control the typography for all body text.' | translate
            "
          ></app-form-item-label>
        </div>
        <div class="col-6">
          <div class="form-group position-relative">
            <app-custom-dropdown
            [settingObj]="optionObj.search_effect"
            [optionKey]="'search_effect'"
            (changedOption)="onOptionChanged($event)">
            </app-custom-dropdown>
          </div>
        </div>
      </div>

      <!-- Toggle Header Icons - Responsive mode -->
      <div class="row border-bottom pt-3 pb-3">
        <div class="col-6">
          <app-form-item-label
            [formItemHeading]="'Toggle Header Icons - Responsive mode' | translate"
            [formItemSubHeading]="'Controls the background color for the page.' | translate"
          ></app-form-item-label>
        </div>
        <div class="col-6">
          <app-toggle-buttons
            [optionKey]="'topbar_mobile_icons_toggle'"
            [toggleState]="optionObj.topbar_mobile_icons_toggle"
            (changedState)="onOptionChanged($event)"
          ></app-toggle-buttons>
        </div>
      </div>

      <!-- Topbar Background -->
      <div class="row border-bottom pt-3 pb-3">
        <div class="col-6">
          <app-form-item-label
            [formItemHeading]="'Topbar Background' | translate"
            [formItemSubHeading]="'Controls the background color for the page.' | translate"
          ></app-form-item-label>
        </div>
        <div class="col-6">
          <app-color-picker
            class="float-right"
            [color]="optionObj.bg_color_topbar"
            [optionKey]="'bg_color_topbar'"
            (pickedColor)="onOptionChanged($event)"
          >
          </app-color-picker>
        </div>
      </div>

      <!-- Topbar Text color -->
      <div class="row border-bottom pt-3 pb-3">
        <div class="col-sm-6">
          <app-form-item-label
            [formItemHeading]="'Topbar Text color' | translate"
            [formItemSubHeading]="'Controls the background color for the page.' | translate"
          ></app-form-item-label>
        </div>
        <div class="col-sm-6 d-flex justify-content-end mt-2 mt-sm-0">
          <div class="form-group d-flex-flex-column mr-3">
            <label for="text_color_topbar">{{"Color" | translate}}</label>
            <app-color-picker
              [color]="optionObj.text_color_topbar"
              [optionKey]="'text_color_topbar'"
              (pickedColor)="onOptionChanged($event)"
            >
            </app-color-picker>
          </div>
          <div class="form-group d-flex-flex-column">
            <label for="text_color_hover_topbar">{{"Color Hover" | translate}}</label>
            <app-color-picker
              [color]="optionObj.text_color_hover_topbar"
              [optionKey]="'text_color_hover_topbar'"
              (pickedColor)="onOptionChanged($event)"
            >
            </app-color-picker>
          </div>
        </div>
      </div>

      <!-- Background Color Header -->
      <div class="row border-bottom pt-3 pb-3">
        <div class="col-6">
          <app-form-item-label
            [formItemHeading]="'Background Color Header' | translate"
            [formItemSubHeading]="'Controls the background color for the page.' | translate"
          ></app-form-item-label>
        </div>
        <div class="col-6">
          <app-color-picker
            class="float-right"
            [color]="optionObj.bg_color_header"
            [optionKey]="'bg_color_header'"
            (pickedColor)="onOptionChanged($event)"
          >
          </app-color-picker>
        </div>
      </div>

      <!-- Header Icons -->
      <div class="row border-bottom pt-3 pb-3">
        <div class="col-sm-6">
          <app-form-item-label
            [formItemHeading]="'Header Icons' | translate"
            [formItemSubHeading]="'Controls the background color for the page.' | translate"
          ></app-form-item-label>
        </div>
        <div class="col-sm-6 d-flex justify-content-end mt-2 mt-sm-0">
          <div class="form-group d-flex-flex-column mr-3">
            <label for="text_color_header">{{"Color" | translate}}</label>
            <app-color-picker
              [color]="optionObj.text_color_header"
              [optionKey]="'text_color_header'"
              (pickedColor)="onOptionChanged($event)"
            >
            </app-color-picker>
          </div>
          <div class="form-group d-flex-flex-column">
            <label for="text_color_hover_header">{{"Color Hover" | translate}}</label>
            <app-color-picker
              [color]="optionObj.text_color_hover_header"
              [optionKey]="'text_color_hover_header'"
              (pickedColor)="onOptionChanged($event)"
            >
            </app-color-picker>
          </div>
        </div>
      </div>

      <!-- Main Menu Background Color -->
      <div class="row border-bottom pt-3 pb-3">
        <div class="col-6">
          <app-form-item-label
            [formItemHeading]="'Main Menu Background Color' | translate"
            [formItemSubHeading]="'Controls the background color for the page.' | translate"
          ></app-form-item-label>
        </div>
        <div class="col-6">
          <app-color-picker
            class="float-right"
            [color]="optionObj.bg_color_main_menu"
            [optionKey]="'bg_color_main_menu'"
            (pickedColor)="onOptionChanged($event)"
          >
          </app-color-picker>
        </div>
      </div>

      <!-- Main Menu Text Color -->
      <div class="row pt-3 pb-3">
        <div class="col-6">
          <app-form-item-label
            [formItemHeading]="'Main Menu Text Color' | translate"
            [formItemSubHeading]="'Controls the background color for the page.' | translate"
          ></app-form-item-label>
        </div>
        <div class="col-6">
          <app-color-picker
            class="float-right"
            [color]="optionObj.text_color_main_menu"
            [optionKey]="'text_color_main_menu'"
            (pickedColor)="onOptionChanged($event)"
          >
          </app-color-picker>
        </div>
      </div>
    </form>
  </div>
</section>
