<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon class="mr-2">access_time</mat-icon>
        <span>{{ timeFromLiteral }}</span>
        <span class="ml-1 mr-1">{{ from.valid || to.valid ? '-' : 'Time range' | translate}}</span>
        <span>{{ timeToLiteral }}</span>
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="time-range-container">
      <div>
        <div class="text-secondary">{{ 'From' | translate }}</div>
        <timepicker [formControl]="from" [showMeridian]="true"></timepicker>
      </div>
      <div class="time-range-delimiter">-</div>
      <div>
        <div class="text-secondary">{{ 'To' | translate }}</div>
        <timepicker [formControl]="to" [showMeridian]="true"></timepicker>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
