@import "../../../../../../assets/variables.scss";
.page-heading {
  font-size: 1.625em;
}
.page-sub-heading {
  font-size: 1.125em;
  color: $semi-gray;
}
.text-small {
  font-size: 0.6875em;
  color: $semi-gray;
}

.nav {
  .nav-item {
    flex: 0 1 calc(20%);
    cursor: pointer;
  }
  .nav-icon {
    margin: 0 5px 0 0;
  }
  .nav-link {
    background: #fff;
    border: 1px solid transparent;
    color: $dark-blue;
    margin: 0 10px 10px 0;
    padding: 8px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.16);
    &.active {
      border-color: $main-color;
      color: $main-color;
    }
  }
}



@media only screen and (max-width: 767px) {
  .nav {
    .nav-item {
      flex: 0 1 calc(50%);
    }
    .nav-icon {
      margin: 0 4px 0 0;
    }
  }

  .btn-save{
    width: 100%;
  }
}
