<section class="pl-0 pr-0 pb-3 p-sm-3">
  <div class="container-fluid">
    <!-- Component Bread-Crumb -->
    <div class="wiz-crumb">
      <a class="crumb-icon text-decoration-none" routerLink="/user">
        <i class="fa fa-home crumb-icon" aria-hidden="true"></i>
      </a>
      <span class="back-slash">/</span>
      <a routerLink="/user/orders" class="crumb-caption text-decoration-none">{{
        "Theme" | translate
      }}</a>
      <span class="back-slash">/</span>
      <span class="crumb-caption">{{ "Theme Options" | translate }}</span>
    </div>

    <!-- Page Heading -->
    <div *ngIf="activeLayout">
      <h2 class="page-heading">
        {{ "Customize Layout " + "(" + (activeLayout.title) + ")" | translate }}
      </h2>
      <h6 class="page-sub-heading mb-0">
        {{ activeLayout.title + " Theme" | translate }}
      </h6>
      <p class="text-small">{{ activeLayout.version | translate }}</p>
    </div>

    <div>
      <!-- Tabs -->
      <ul class="nav nav-pills flex-row flex-wrap" *ngIf="tabLabels">
        <li class="nav-item" *ngFor="let tab of tabLabels; index as i">
          <a
            class="nav-link d-flex justify-content-center align-items-center"
            [ngClass]="{ active: selectedIndex === i }"
            (click)="getTabsContentContainer(tab, i)"
          >
            <span class="nav-icon"
              ><img src="{{ 'assets/' + tab.icon + '.svg' }}"
            /></span>
            {{ tab.label | translate }}
          </a>
        </li>
      </ul>
      <!-- TabsContent -->
      <div class="card" *ngIf="themeObj">
        <div class="card-body p-0">
          <app-card-settings
            [saveLoader]="saveLoader"
            [resetLoader]="resetLoader"
            (clicked)="onActionBtnClicked($event)"
          ></app-card-settings>
          <ng-container [ngSwitch]="tabContent">
            <app-general
              *ngSwitchCase="'tab-general'"
              [data]="themeObj"
              (changedData)="onDataChange($event)"
            ></app-general>
            <app-logo-favicon
              *ngSwitchCase="'tab-logo'"
              [data]="themeObj"
              (changedData)="onDataChange($event)"
            ></app-logo-favicon>
            <app-header-footer
              *ngSwitchCase="'tab-header'"
              [data]="themeObj"
              (changedData)="onDataChange($event)"
            ></app-header-footer>
            <app-styles-colors
              *ngSwitchCase="'tab-styles'"
              [data]="themeObj"
              (changedData)="onDataChange($event)"
            ></app-styles-colors>
            <app-fonts
              *ngSwitchCase="'tab-fonts'"
              [data]="themeObj"
              (changedData)="onDataChange($event)"
            ></app-fonts>
            <app-breadcrumb
              *ngSwitchCase="'tab-breadcrumb'"
              [data]="themeObj"
              (changedData)="onDataChange($event)"
            ></app-breadcrumb>
            <app-promotions-news
              *ngSwitchCase="'tab-promotions'"
              [data]="themeObj"
              (changedData)="onDataChange($event)"
            ></app-promotions-news>
            <app-product-global
              *ngSwitchCase="'tab-product'"
              [data]="themeObj"
              (changedData)="onDataChange($event)"
            ></app-product-global>
            <app-single-product
              *ngSwitchCase="'tab-single-product'"
              [data]="themeObj"
              (changedData)="onDataChange($event)"
            ></app-single-product>
            <app-share-follow
              *ngSwitchCase="'tab-share'"
              [data]="themeObj"
              (changedData)="onDataChange($event)"
            ></app-share-follow>
            <app-general
              *ngSwitchDefault
              [data]="themeObj"
              (changedData)="onDataChange($event)"
            ></app-general>
          </ng-container>
        </div>
      </div>

      <!-- save button -->
      <div class="text-right mt-3">
        <a
          class="btn btn-primary btn-save"
          (click)="onActionBtnClicked('save')"
          >{{ "Save Changes" | translate }}
          <i *ngIf="saveLoader" class="ml-2 fa fa-spinner fa-spin" aria-hidden="true"></i>
          </a
        >
      </div>
    </div>
  </div>
</section>
