<div class="d-flex flex-column align-items-end">
  <div
    class="btn-upload rounded position-relative"
    style="width: 110px; height: 110px"
    (click)="openDialog(imageModal)"
    *ngIf="url"
  >
    <img [src]="url" />
    <!-- remove icon -->
    <i
      class="far fa-times-circle position-absolute"
      (click)="removeImage()"
    ></i>
  </div>
  

  <!-- upload button -->
  <button
    *ngIf="!url"
    type="button"
    class="btn-upload rounded"
    (click)="fileInput.click()"
  >
    <div><img [src]="defaultImage" width="42" /></div>
    <span class="mt-3 text-upload">{{ "Upload Image" | translate }}</span>
    <input
      #fileInput
      type="file"
      (change)="onSelectFile($event)"
      style="display: none"
    />
  </button>

  <div class="errorMessage text-right mt-2">{{ imageError }}</div>
</div>

<!-- Modal -->

<ng-template #imageModal>
  <!-- <div
  class="modal fade"
  id="imageModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <h1>hello</h1>
          <img src="url" alt="">
      </div>
    </div>
  </div>
</div> -->
  <div class="position-relative">
    <div style="text-align: right">
      <i
        class="far fa-times-circle position-absolute icon-close"
        (click)="closeDialog()"
      >
      </i>
    </div>
    <div mat-dialog-content class="modal-style">
      <img
        class="image-style"
        [height]="468"
        [width]="706"
        [src]="url"
        alt=""
      />
    </div>
  </div>

  <ng-template> </ng-template
></ng-template>
