@import "../../../../../../../../assets/variables.scss";

.btn-upload {
  cursor: pointer;
  border: none;
  outline: none;
  padding: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  color:$dark-blue-opacity-50;
  img {
    width: 100%;
  }
  i {
    top: 5px;
    right: 5px;
  }
}

.text-upload {
  font-size: 0.75em;
}

.errorMessage{
  color: red;
  font-size: small;
}

.modal-style{
  height: 567px;
  width: 844px;
  border-color: #E4E4E4;
  border-width: 1px;
  border-radius: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-style{
  border-color: #E4E4E4;
  border-width: 1px;
  border-radius: 2;
}
.icon-close{
  top: 10px;
  right: 10px;
}