<div>
  <select
    class="form-control"
    name="optionKey"
    [(ngModel)]="defaultSelected"
    (change)="changeState()"
  >
    <option *ngFor="let item of optionslabels; index as i" [value]="item.optionVal">
      {{ item.label | translate }}
    </option>
  </select>
</div>
