<main class="d-flex align-items-center p-5 justify-content-center flex-column">
  <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 60 60">
    <g id="Group_46588" data-name="Group 46588" transform="translate(-373 -171)">
      <g id="Group_39893" data-name="Group 39893" transform="translate(373 171.001)">
        <g id="Component_13" data-name="Component 13" transform="translate(0 -0.001)">
          <g id="Ellipse_393" data-name="Ellipse 393" fill="none" stroke="#ea5b29" stroke-width="2">
            <circle cx="30" cy="30" r="30" stroke="none"/>
            <circle cx="30" cy="30" r="29" fill="none"/>
          </g>
        </g>
      </g>
      <path id="Path_60292" data-name="Path 60292" d="M1013.731,401.289l-8.948-10.772a2.457,2.457,0,0,1-.568-1.5,1.87,1.87,0,0,1,1.855-1.886,2.061,2.061,0,0,1,1.735.928l7.839,9.636,14.455-22.862a1.989,1.989,0,0,1,1.646-1.047,1.828,1.828,0,0,1,1.945,1.766,2.809,2.809,0,0,1-.568,1.465l-15.5,24.269a2.212,2.212,0,0,1-1.883,1.078A2.451,2.451,0,0,1,1013.731,401.289Z" transform="translate(-616.095 -187.81)" fill="#ea5b29"/>
    </g>
  </svg>

  <h5 class="title text-center mt-3 mb-5" style="white-space: pre-wrap">{{data}}</h5>
  <button mat-raised-button class="ok-btn" mat-dialog-close="">OK</button>
</main>
