<div class="modal-content" *ngIf="data.template === 'alert'">
  <div class="modal-header no-border pb-0">
    <button type="button" class="close" aria-label="Close" (click)="onCancel()">
      <mat-icon aria-hidden="true">close</mat-icon>
    </button>
  </div>
  <div class="modal-body">
    <div class="alert-container">
      <div class="justify-content mb-3">
        <svg width="62" height="75" xmlns="http://www.w3.org/2000/svg" viewBox="0.383 0 61.233 75" fill="#313e48"><svg xmlns="http://www.w3.org/2000/svg" width="62" height="75" viewBox="1 0.43 60.843 74.521"><path paint-order="stroke fill markers" fill-rule="evenodd" d="M28.93 74.163C8.012 61.903 1 57.445 1 44.55V16.062c0-4.013 1.5-5.36 4.947-6.71 5.322-2.101 17.169-6.637 22.49-8.36C29.414.69 30.43.43 31.438.43c.974 0 1.99.226 2.963.562 5.356 1.838 17.168 6.224 22.493 8.36 3.448 1.386 4.948 2.697 4.948 6.71v28.489c0 12.894-6.94 17.468-27.93 29.612-.858.488-1.8.788-2.474.788-.708 0-1.65-.3-2.509-.788zm4.682-5.249c17.319-10.908 23.614-13.944 23.614-25.34V16.886c0-1.873-.332-2.624-1.759-3.147-5.063-1.84-17.242-6.337-22.232-8.323-.75-.261-1.347-.45-1.797-.45-.485 0-1.127.15-1.8.45-5.022 1.986-17.277 6.333-22.267 8.323-1.424.562-1.759 1.274-1.759 3.147v26.688c0 11.396 6.222 14.51 23.617 25.34.9.527 1.574.828 2.21.828.6 0 1.273-.301 2.173-.828zm-5.656-17.28c0-1.873 1.574-3.374 3.482-3.374 1.874 0 3.448 1.5 3.448 3.374s-1.574 3.375-3.448 3.375c-1.908 0-3.482-1.54-3.482-3.375zm1.123-10.68l-.415-20.059c0-1.573 1.089-2.659 2.74-2.659 1.608 0 2.774 1.124 2.732 2.698l-.409 20.02c-.041 1.573-.9 2.434-2.289 2.434-1.458 0-2.324-.9-2.359-2.435z"/></svg></svg>
      </div>
      <h3 class="modal-title alert-header justify-content mb-3">{{ 'Alert' | translate }}</h3>
      <div class="text-secondary mb-3">{{ 'Your selection of few categories not served by Wiz will restrict you from using Wiz' | translate }}</div>
      <div class="alert-message">{{ 'You can remove those categories, or Continue' | translate }}</div>
    </div>
  </div>
  <div class="modal-footer justify-content no-border">
    <button type="button" class="btn btn-secondary btn-alert mr-2" (click)="onCancel()">{{ 'Review selection' | translate }}</button>
    <button type="button" class="btn btn-primary" (click)="onContinue()">{{ 'Continue' | translate }}</button>
  </div>
</div>
<div class="modal-content" *ngIf="data.template === 'free'">
  <div class="modal-header no-border pb-0">
    <button type="button" class="close" aria-label="Close" (click)="onCancel()">
      <mat-icon aria-hidden="true">close</mat-icon>
    </button>
  </div>
  <div class="modal-body">
    <div class="alert-container">
      <div class="justify-content mb-3">
        <svg width="60" height="61" xmlns="http://www.w3.org/2000/svg" viewBox="653 307 60 61"><svg width="60" height="61" xmlns="http://www.w3.org/2000/svg" viewBox="0 0.5 60 60" fill="none" stroke-miterlimit="100" stroke="#ea5b29" stroke-width="2" x="653" y="307"><svg xmlns="http://www.w3.org/2000/svg" width="60" height="61" viewBox="0 1 60 60"><path paint-order="stroke fill markers" d="M30 61C13.41 61 0 47.59 0 30.998c0-16.59 13.41-30 30-30s30 13.41 30 30-13.41 30-30 30z"/></svg></svg><svg width="30" height="30" xmlns="http://www.w3.org/2000/svg" viewBox="0 0.456 30 29.087" fill="#ea5b29" x="668" y="322"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0.119 0.978 29.475 28.578"><path paint-order="stroke fill markers" fill-rule="evenodd" d="M9.636 28.478L.688 17.706c-.36-.448-.569-.989-.569-1.496a1.87 1.87 0 0 1 1.856-1.886c.657 0 1.195.24 1.735.928l7.84 9.636L26.003 2.026c.418-.689 1.048-1.048 1.646-1.048.986 0 1.945.657 1.945 1.766 0 .507-.27 1.017-.568 1.466L13.524 28.478c-.479.719-1.136 1.079-1.883 1.079-.78 0-1.348-.301-2.005-1.079z"/></svg></svg></svg>
      </div>
      <div class="alert-message">{{ 'Free shipping has been setup on all your orders.' | translate }}</div>
      <div class="alert-message">{{ 'All the Wiz expenses will be borne by the' | translate }}</div>
    </div>
  </div>
  <div class="modal-footer justify-content no-border">
    <button type="button" class="btn btn-primary" (click)="onContinue()">{{ 'Ok' | translate }}</button>
  </div>
</div>
