@import "src/assets/variables";

.alert {
  &-container {
    max-width: 380px;
    padding: 0 35px;
  }

  &-header, &-message {
    font-weight: 600;
  }

}

.btn {
  min-width: 6rem;

  &-alert {
    border: 1px solid $main-color;
    color: $main-color;
  }
}
