@import "../../../../../assets/variables";

section {
  .theme-parent {
    width: 100%;
    box-shadow: 3px 4px 3px rgba(black,0.1);
    height: 480px;
    background-color: #f8f8f8;
    border-radius: 10px;
    border: 0.5px solid rgba(black,0.06);
    .theme-image {
      width: inherit;
      height: 335px;
      background-position: top;
      background-size: cover;
      background-repeat: no-repeat;
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;
      transition: 2s ease-out 0s;
      &:hover {
        background-position: bottom;
      }
    }
    .theme-content {
      padding: 1rem;
      .buttons-section {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
