<section class="container mt-3">
  <div class="row">
    <div class="col-md-4 mb-3" *ngFor="let themeObj of themesContainer;trackBy: trackByFn">
      <div class="theme-parent">
        <div class="theme-image" [ngStyle]="{'background-image': 'url(assets/'+ themeObj?.themeName +'.jpg)'}"></div>
        <div class="theme-content">
          <h5 style="color:#6b6666;">{{themeObj?.data?.title}}</h5>
          <hr>
          <div class="buttons-section">
            <button class="alert-button mx-2" style="width: auto !important;" [disabled]="themeObj?.data?.status === 'active' || themeObj?.data?.activeRequest" (click)="themeActivation(themeObj)">{{themeObj?.data?.status === 'active'? 'Activated' : 'Active'}}
              <i *ngIf="themeObj?.data?.activeRequest" class="fa fa-spinner fa-spin text-white mx-2" aria-hidden="true"></i></button>
            <button class="gray-button" *ngIf="themeObj?.data?.status === 'active'" routerLink="/user/themes/customize/{{themeObj?.themeName}}">Customize</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



