@import "../../../../../../../../assets/variables.scss";

.toggle-container {
  .btn-toggle {
    background: $bg-color;
    padding: 0.375rem 1.5rem;
    color:$dark-blue-opacity-50;
    font-weight: bold;
    text-transform: uppercase;
  }
  .btn-toggle:nth-of-type(1) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .btn-toggle:nth-of-type(2) {
    border-radius: none;
  }
  .btn-toggle:nth-of-type(3) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .btn-on {
    &:not(:last-of-type){
      border-right: 2px solid #E4E4E4;
    }
    &.active {
      background-color: $main-color;
      color: #fff;
      &:hover {
        background-color: $main-color;
        color: #fff;
      }
    }
  }

  
}

@media only screen and (max-width: 767px){
  .toggle-container {
    .btn-toggle {
      padding: 0.375rem 1rem;
    }
  }
}
