<div class="toggle-container text-right">
  <div
    class="btn-group btn-group-toggle"
    ngbRadioGroup
    [name]="optionKey"
    [(ngModel)]="this.selectedOption"
    (change)="changeState(this.selectedOption)"
  >
    <label
      ngbButtonLabel
      class="btn-toggle btn-on"
      *ngFor="let item of radioArr"
    >
      <input ngbButton type="radio" value="{{ item.optionVal }}" />{{
        item.label | translate
      }}
    </label>
  </div>
</div>
