.next-step-btn {
  background: $main-color;
  border: none;
  padding: 10px 40px;
  color: #fff;
  font-weight: 700;
  border-radius: 0.2rem;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.1);

  &[disabled] {
    background: $semi-gray;
  }

  &:focus {

  }
}

.step-btn {
  border: none;
  background: none;
  font-weight: 700;
  color: #46515A;
}

.back-step-btn {
  padding: 10px 40px;
}
