.mat-custom-chips {
  .mat-chip.mat-standard-chip {
    border-radius: 4px;
    background-color: #F0F0F0;
  }

  .close-icon {
    cursor: pointer;
    line-height: inherit;
    opacity: 0.6;
    font-size: 1rem;
  }
}
