.remove {
  float: right;
  color: #707070;
  line-height: 2.5rem;
}

.text-above {
  display: inline-block;
  margin-left: 4px;
}

.input-text {
  border: 1px solid #E5E5E5;
  border-radius: 3px;
  min-height: 42px;
  padding: 0.5rem 0.6rem;
  background: #FCFCFC;

  &--full-width {
    width: 100%;
  }

  &--range {
    text-align: center;
  }

  &:focus {
    outline: none;
  }
}
