.step-container {
  margin-top: 80px;
  margin-bottom: 80px;
}

.container-m-50 {
  margin: 0 50px;

  @media only screen and (max-width: 720px) {
    margin: 0;
  }
}

.justify-content {
  display: flex;
  justify-content: center;
}

.no-border {
  border: none;
}
