@import "../assets/variables";

.phone-input {
  border: 1px solid #ced4da;
  border-radius: 0.2rem;
  height: 42px;
  width: 100%;

  &.has-error {
    border-color: $error-color;
    color: $error-color;
  }

  &:focus {
    outline: none;
  }
}

.iti--allow-dropdown {
  width: 100%;
}

.iti__selected-flag {
  border-right: 1px solid #ced4da;
}

.iti__flag-container {
  #country-search-box {
    height: 42px;
    &:focus {
      outline: none;
    }
  }
}
