@import "../assets/variables";

/* Radio group */
label > input[type="radio"] {
  display: none;
}
label > input[type="radio"] + *::before {
  content: "";
  display: inline-block;
  vertical-align: bottom;
  width: 1.4rem;
  height: 1.4rem;
  margin: 0 0.5rem;
  border-radius: 50%;
  border-style: solid;
  border-width: 2px;
  border-color: $dark-gray;
}
//label > input[type="radio"]:checked + * {
//  color: $main-color;
//}
label > input[type="radio"]:checked + *::before {
  background: radial-gradient($main-color 0%, $main-color 40%, transparent 50%, transparent);
}

label > input[type="radio"] + * {
  display: inline-block;
  padding: 0.5rem 1rem;
}
