@import "../assets/variables";

.mat-custom-select {
  display: flex;
  border: 1px solid #ced4da;
  border-radius: 0.2rem;
  background-color: #FCFCFC;
  padding: 0.5rem 0.8rem;

  &.has-error {
    border-color: $error-color;
  }
}

.mat-custom-option {
  border-bottom: 1px solid #ced4da;

  .mat-pseudo-checkbox {
    border: 0.1rem solid #adb5bd;
    width: 19px;
    height: 19px;

    &.mat-pseudo-checkbox-checked {
      background: $bg-color;
      border: 1px solid #adb5bd;

      &::after {
        top: 4px;
        left: 3px;
        width: 9px;
        height: 4px;
      }
    }

    &::after {
      color: $main-color;
    }
  }
}
