.time-range {

  &-container {
    display: flex;

    .btn-link {
      color: #707070;
    }

    td {
      text-align: center;
    }

    .btn-default {
      height: calc(1.5em + 0.75rem + 2px);
      padding: 0.375rem 0.75rem;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #495057;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #ced4da;
      border-radius: 0.25rem;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

  }

  &-delimiter {
    padding: 50px 8px 0 8px;
  }

}

.mat-expansion-panel-content {
  border-top: 1px solid #ced4da;

  .mat-expansion-panel-body {
    padding: 12px 15px 10px;
  }
}
