<section class="confirm-alert">
  <div class="close-part d-flex justify-content-end">
    <i style="cursor: pointer" (click)="closeSuccessAlert()" class="fa fa-times" aria-hidden="true"></i>
  </div>
  <div class="alert-body">
    <div class="img-part mb-3">
      <img src="assets/success-img.png" alt="big-shield">
    </div>
    <h6>{{ 'Congratulations!' | translate }}</h6>
    <p class="text-muted mb-5">{{ '"The order is confirmed,\n' +
    'and pickup request is sent to the logistics partner' | translate }}</p>
    <p>{{ 'Print the AWB number here.' | translate }}</p>
    <button (click)="closeSuccessAlert()" class="alert-button d-flex align-items-center justify-content-center" style="width: auto !important;">
      <svg id="printer" xmlns="http://www.w3.org/2000/svg" width="16.571" height="15.284" viewBox="0 0 16.571 15.284">
        <path id="Path_89807" data-name="Path 89807" d="M15.4,13.164H13.546v-3.03a.5.5,0,0,0-.5-.5H3.526a.5.5,0,0,0-.5.5v3.03H1.169A1.17,1.17,0,0,0,0,14.334v6.428a1.17,1.17,0,0,0,1.169,1.169H3.025v2.485a.5.5,0,0,0,.5.5h9.519a.5.5,0,0,0,.5-.5V21.931H15.4a1.17,1.17,0,0,0,1.169-1.169V14.334A1.17,1.17,0,0,0,15.4,13.164ZM4.027,10.635h8.516v2.529H4.027Zm8.516,13.28H4.027v-4.97h8.516Zm3.025-3.153a.169.169,0,0,1-.167.167H13.546V18.443a.5.5,0,0,0-.5-.5H3.526a.5.5,0,0,0-.5.5v2.485H1.169A.169.169,0,0,1,1,20.762V14.334a.169.169,0,0,1,.167-.167H15.4a.169.169,0,0,1,.167.167v6.428Z" transform="translate(0 -9.633)" fill="#fff"/>
        <circle id="Ellipse_2295" data-name="Ellipse 2295" cx="0.713" cy="0.713" r="0.713" transform="translate(12.332 5.709)" fill="#fff"/>
        <path id="Path_89808" data-name="Path 89808" d="M87.467,163.822H82.908a.5.5,0,1,0,0,1h4.559a.5.5,0,1,0,0-1Z" transform="translate(-76.902 -153.522)" fill="#fff"/>
        <path id="Path_89809" data-name="Path 89809" d="M87.467,193.623H82.908a.5.5,0,0,0,0,1h4.559a.5.5,0,0,0,0-1Z" transform="translate(-76.902 -181.332)" fill="#fff"/>
      </svg>
      <span [routerLink]="['/user/invoice', data.orderId]" class="ml-2">{{ 'Print AWB' | translate }}</span>
    </button>
  </div>
</section>
