<section class="shipping-card delivery-methods">
  <app-shipping-header [headerData]="deliveryMethodsHead"></app-shipping-header>
  <form #form="ngForm" (ngSubmit)="next()">
    <!--  Wiz Shipping  -->
    <div class="radio-container my-5">
      <label class="mb-0">
        <input type="radio" [value]="'wiz'" [(ngModel)]="sectionStatus" required name="delivery"/>
        <span class="radio-label">{{ 'Wiz Shipping' | translate }}</span>
        <span
          class="text-secondary radio-hint mb-2">{{ 'Wiz Shop management team will handle your shipping process without any hassle' | translate }}</span>
      </label>
      <div class="radio-link-container" style="margin-left: 54px">
        <a class="link" href="javascript:void(0);"><span class="mr-2" [routerLink]="['/pricing']">{{ 'View Pricing' | translate }}</span> <i
          aria-hidden="true" class="fa fa-chevron-right"></i></a>
      </div>
    </div>
    <hr>
    <!--  Own Shipping  -->
    <div class="radio-container my-5" [ngStyle]="!ownShippingSupported || checkIfEgypt()? {'opacity': 0.5} : {'opacity': 1}">
      <label class="mb-0">
        <input type="radio" [value]="'own'" [(ngModel)]="sectionStatus" name="delivery" [disabled]="!ownShippingSupported" />
        <span class="radio-label">{{ 'Own Shipping' | translate }}</span>
        <span *ngIf="ownShippingSupported" class="text-secondary radio-hint mb-2">{{ 'Wiz Shop management team will handle your shipping process without any hassle' | translate }}</span>
        <span *ngIf="!ownShippingSupported" class="text-secondary radio-hint mb-2">{{ 'Coming soon' | translate }}</span>
      </label>
    </div>
    <div class=" d-flex action-bnts px-0 align-items-center m-0 justify-content-between ">
      <button mat-button type="button" class="back-btn" routerLink="/user/shipping-setup/product-selection">Back</button>
      <button mat-raised-button class="next-btn" type="submit" [disabled]="form?.invalid">Next</button>
    </div>
  </form>
</section>

