
@import "../../../../../assets/variables";


.reject-alert {
  .close-part {
    background-color: #F3F3F3;
    padding: 1rem;
    //width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .alert-body {
    background-color: #fff;
    padding: 1rem;
    p {
      text-align: start;
      color: $dark-gray;
    }

    .buttons-part {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }
}

.reject-btn {
  outline: none;
  border: none;
  background-color: transparent;
  padding: 0.3rem 0.8rem;
  color: $blue-black;
  font-weight: 600;
  box-shadow: 1px 2px 3px rgba(black,0.1);
  width: 100px;
  border-radius: 4px;
  text-align: center;
  transition: 0.1s;
  &:active {
    transform: scale(0.9);
  }
}



@media only screen and (max-width: 767px) {

  .reject-alert {
    .close-part {
      width: auto;
    }

    .alert-body {
      .buttons-part {
        flex-direction: column;
      }
    }
  }

}
