<section class="reject-alert">
  <div class="close-part">
    <span>{{ 'Generate Another Pickup Request' | translate }}</span>
    <i style="cursor: pointer" class="fa fa-times" (click)="closePickUpAlert()" aria-hidden="true"></i>
  </div>
  <div class="alert-body">
    <p>{{ 'Are you sure you want to generate another pickup request?' | translate }}</p>
    <div class="buttons-part mt-4">
      <button class="reject-btn mr-2 mb-2 mb-md-0" (click)="closePickUpAlert()">{{ 'CANCEL' | translate }}</button>
      <button class="alert-button" style="width: auto !important;">{{ 'YES, GENERATE' | translate }}</button>
    </div>
  </div>
</section>
