<section class="orders-section p-3">
  <div class="container-fluid">
    <!-- Component Bread-Crumb -->
    <div class="wiz-crumb">
      <a class="crumb-icon text-decoration-none" routerLink="/user">
        <i class="fa fa-home crumb-icon" aria-hidden="true"></i>
      </a>
      <span class="back-slash">/</span>
      <a routerLink="/user/orders" class="crumb-caption text-decoration-none">{{ 'Orders' | translate }}</a>
      <span class="back-slash">/</span>
      <span class="crumb-caption">{{orderId}}</span>
    </div>
    <div style="position: relative">
      <!-- Order Status Wizard -->
      <div class="order-status-header">
        <div class="order-status-caption mr-lg-5 mr-0">
          <span>{{ 'Order status' | translate }}</span>
        </div>
        <div
          class="stepper d-flex align-items-lg-center align-items-start justify-content-between flex-lg-row flex-column flex-wrap">
          <!--  steps  -->
          <div
            class="step text-center d-flex align-items-center flex-lg-column justify-content-start flex-row mb-lg-0 mb-4"
            [ngClass]="{'step-pending': orders?.orderDetailsObj?.status === 'pending' || orders?.orderDetailsObj?.status === 'processing' || orders?.orderDetailsObj?.status === 'on-hold', 'step-confirmed': orders?.orderDetailsObj?.status === 'confirmed' || orders?.orderDetailsObj?.status === 'completed', 'step-rejected': orders?.orderDetailsObj?.status === 'rejected' || orders?.orderDetailsObj?.status === 'cancelled' || orders?.orderDetailsObj?.status === 'failed'}">
            <div class="circle text-center d-flex align-items-center justify-content-center mb-0 mb-lg-2">
              <span hidden>1</span>
              <img
                *ngIf="orders?.orderDetailsObj?.status === 'confirmed' || orders?.orderDetailsObj?.status === 'completed'"
                src="assets/valid-white.svg" alt="status-img">
              <img
                *ngIf="orders?.orderDetailsObj?.status === 'pending' || orders?.orderDetailsObj?.status === 'processing' || orders?.orderDetailsObj?.status === 'on-hold'"
                src="assets/valid.svg" alt="status-img">
              <!--                    <img *ngIf="step.status === 'default'" src="assets/default.svg" alt="status-img">-->
              <img
                *ngIf="orders?.orderDetailsObj?.status === 'rejected' || orders?.orderDetailsObj?.status === 'cancelled'"
                src="assets/rejected.svg" alt="status-img">
            </div>
            <div class="description mx-lg-0 mx-4">
              <p class="estimate mb-1 text-lg-center" hidden>{{ 'Done' | translate }}</p>
              <h5
                class="description-text text-lg-center mx-lg-1 mx-0">{{ orders?.orderDetailsObj?.status === 'pending' || orders?.orderDetailsObj?.status === 'processing' || orders?.orderDetailsObj?.status === 'on-hold' ? 'Pending' : orders?.orderDetailsObj?.status === 'confirmed' || orders?.orderDetailsObj?.status === 'completed' ? 'Confirmed' : orders?.orderDetailsObj?.status === 'rejected' || orders?.orderDetailsObj?.status === 'cancelled' ? 'Rejected' : null }}</h5>
            </div>
          </div>
          <!-- rest of steps -->
          <div
            *ngFor="let wizardStatus of wizardCurrentStatus === 'pending'? wizardPendingContainer: wizardCurrentStatus === 'delivered'? deliveredContainer : wizardCurrentStatus === 'out for delivery'? outOfDeliveryContainer: wizardCurrentStatus === 'dispatched'? dispatchedContainer: wizardCurrentStatus === 'ready to ship'? readyToShipContainer : []"
            [ngClass]="{'step-confirmed': wizardStatus.status === 'confirmed', 'step-default': wizardStatus.status === 'default'}"
            class="step text-center d-flex align-items-center flex-lg-column justify-content-start flex-row mb-lg-0 mb-4 step">
            <div class="circle text-center d-flex align-items-center justify-content-center mb-0 mb-lg-2">
              <span hidden>1</span>
              <img *ngIf="wizardStatus.status === 'confirmed'" src="assets/valid-white.svg" alt="status-img">
              <img *ngIf="wizardStatus.status === 'default'" src="assets/default.svg" alt="status-img">
            </div>
            <div class="description mx-lg-0 mx-4">
              <p class="estimate mb-1 text-lg-center" hidden>{{ 'Done' | translate }}</p>
              <h5 class="description-text text-lg-center mx-lg-1 mx-0" [class.muted-text]="wizardStatus?.status !== 'pending'">{{wizardStatus.caption}}</h5>
            </div>
          </div>
        </div>
      </div>
      <!-- Customer Details -->
      <div class="customer-details">
        <div class="customer-caption">
          <span>{{ 'Customer' | translate }}</span>
        </div>
        <div class="c-details">
          <div class="user-name">
            <div class="colored-name">
              <span class="text-uppercase">{{orders?.orderDetailsObj?.billing?.first_name | slice:0:1}}{{orders?.orderDetailsObj?.billing?.last_name | slice:0:1}}</span>
            </div>
            <span
              class="name-caption">{{orders?.orderDetailsObj?.billing?.first_name}} {{orders?.orderDetailsObj?.billing?.last_name}}</span>
          </div>
          <div class="user-data">
            <i class="fas fa-mobile u-icon"></i>
            <span class="u-caption">{{orders?.orderDetailsObj?.billing?.phone}}</span>
          </div>
          <div class="user-data">
            <i class="fas fa-envelope u-icon"></i>
            <span class="u-caption">{{orders?.orderDetailsObj?.billing?.email}}</span>
          </div>
          <div class="user-data">
            <i class="fas fa-map-marker-alt u-icon"></i>
            <span class="u-caption">{{orders?.orderDetailsObj?.billing?.address_1}}</span>
          </div>
        </div>
      </div>

      <!-- Items Selections and Order Details -->
      <div class="selected-section">
        <div class="row">
          <div class="col-lg-7 mb-3">
            <div class="table-left">
              <div class="select-items-caption">
                <span>{{ 'Select the Items you want to confirm' | translate }}</span>
              </div>
              <div class="selection-table table-responsive">
                <table class="table">
                  <thead>
                  <tr>
                    <th *ngIf="orders?.orderDetailsObj?.status !== 'cancelled'">
                      <div class="custom-control custom-checkbox">
                        <input style="cursor:pointer;" type="checkbox" (click)="selectAllItems();"
                               class="custom-control-input" id="customCheck1">
                        <label style="cursor:pointer;" class="custom-control-label" for="customCheck1"></label>
                      </div>
                    </th>
                    <th>Items</th>
                    <th class="text-center">{{ 'QTY' | translate }}</th>
                    <th class="text-center">{{ 'Price' | translate }}</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let line of orders?.orderDetailsObj?.line_items;let iA = index">
                    <td *ngIf="orders?.orderDetailsObj?.status !== 'cancelled'" scope="row"
                        style="border-right: 1px solid #ccc;width: 50px;">
                      <div class="custom-control custom-checkbox">
                        <input style="cursor:pointer;" [checked]="line?.selected" type="checkbox"
                               class="custom-control-input" [id]="iA" (click)="toggleSelection(line, iA)">
                        <label style="cursor:pointer;" class="custom-control-label" [for]="iA"></label>
                      </div>
                    </td>
                    <td class="items-img">
                      <ng-container *ngFor="let img of imagesContainer">
                        <img *ngIf="line?.product_id === img?.id"
                             [src]="img?.images[0]?.src || 'assets/placeholder.png'" style="width: 40px;"
                             alt="item-img">
                      </ng-container>
                      <span class="item-title">{{line?.name}}</span>
                    </td>
                    <td class="qty" style="border-right: 1px solid #ccc;">
                      <select class="form-control custom-select w-100">
                        <option *ngFor="let qty of quantityArr[iA];let i = index" [value]="qty"
                                [selected]="qty">{{qty}}</option>
                      </select>
                    </td>
                    <td class="text-center m-auto"><span
                      style="width: 60px;text-align: center">{{ 'AED' | translate }} {{line?.total}}</span></td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <div class="items-counter" *ngIf="orders?.orderDetailsObj?.status !== 'cancelled'">
                <img src="assets/shield.png" alt="shield-img">
                <span>{{ '{items} Items are selected' | translate:{items: selectedItems} }}</span>
              </div>
            </div>
          </div>
          <div class="col-lg-5 mb-3">
            <div class="wizard-right">
              <!-- Mini Wizard -->
              <div
                class="stepper d-flex align-items-lg-center align-items-start justify-content-between flex-lg-row flex-column flex-wrap">
                <!-- rest of steps -->
                <div
                  *ngFor="let wizardStatus of bellowWizardStatus()"
                  [ngClass]="{'step-confirmed': wizardStatus.status === 'confirmed', 'step-default': wizardStatus.status === 'default'}"
                  class="step text-center d-flex align-items-center flex-lg-column justify-content-start flex-row mb-lg-0 mb-4 step">
                  <div class="circle text-center d-flex align-items-center justify-content-center mb-0 mb-lg-2">
                    <span hidden>1</span>
                    <img *ngIf="wizardStatus.status === 'confirmed'" src="assets/valid-white.svg" alt="status-img">
                    <img *ngIf="wizardStatus.status === 'default'" src="assets/default.svg" alt="status-img">
                  </div>
                  <div class="description mx-lg-0 mx-4">
                    <p class="estimate mb-1 text-lg-center" hidden>{{ 'Done' | translate }}</p>
                    <h5 class="description-text text-lg-center mx-lg-1 mx-0" style="white-space: pre !important;">{{wizardStatus.caption}}</h5>
                  </div>
                </div>
              </div>


              <!-- Order Checkout -->
              <div class="order-checkout">
                <div class="checkout-header">
                  <div class="header-data">
                    <div class="order-head"><span>{{ 'Order Date' | translate }}</span></div>
                    <div class="head-caption"><span>{{orders?.orderDetailsObj?.date_created | date:'shortDate'}}</span>
                    </div>
                  </div>
                  <div class="header-data">
                    <div class="order-head"><span>{{ 'Order Items' | translate }}</span></div>
                    <div class="head-caption"><span>{{orders?.orderDetailsObj?.line_items?.length}}</span></div>
                  </div>
                  <div class="header-data">
                    <div class="order-head"><span>{{ 'Accepted Items' | translate }}</span></div>
                    <div class="head-caption"><span>0</span></div>
                  </div>
                </div>
              </div>
              <div class="order-details-awb">
                <div class="awb-details">
                  <div class="awb-left"><span>{{ 'Order ID' | translate }}</span></div>
                  <div class="awb-right"><span>{{orders?.orderDetailsObj?.id}}</span></div>
                </div>
                <div class="awb-details">
                  <div class="awb-left"><span>{{ 'Order Amount' | translate }}</span></div>
                  <div class="awb-right"><span>{{orders?.orderDetailsObj?.currency}} {{subTotal}}</span></div>
                </div>
                <div class="awb-details">
                  <div class="awb-left"><span>{{ 'Coupon' | translate }}</span></div>
                  <div class="awb-right">
                    <span>{{orders?.orderDetailsObj?.currency}} {{orders?.orderDetailsObj?.discount_total}}</span>
                  </div>
                </div>
                <div class="awb-details">
                  <div class="awb-left"><span>{{ 'Shipping Amount' | translate }}</span></div>
                  <div class="awb-right"><span>{{orders?.orderDetailsObj?.currency}} {{shippingAmount}}</span></div>
                </div>
                <div class="awb-details mb-1">
                  <div class="awb-left"><span>{{ 'Total Amount' | translate }}</span></div>
                  <div class="awb-right"><span
                    class="text-muted">{{orders?.orderDetailsObj?.currency}} {{orders?.orderDetailsObj?.total}}</span>
                  </div>
                </div>
                <div class="awb-details">
                  <div class="awb-left"><span>{{ 'VAT' | translate }}</span></div>
                </div>
              </div>
              <ng-container *ngIf="orders?.orderDetailsObj?.status === 'completed' || orders?.orderDetailsObj?.status === 'confirmed'">
                <div class="awb-buttons">
                  <button class="pick-up"><i class="fa fa-check" aria-hidden="true"></i>
                    <span>{{ 'Pickup Requested' | translate }}</span>
                  </button>
                  <button [routerLink]="['/user/invoice/', orderId]" class="print-awb" (click)="printAWBData()"><img src="assets/printer.svg" alt="print">
                    <span>{{ 'Reprint AWB' | translate }}</span></button>
                </div>
<!--                <div class="generate-pickup">-->
<!--              <span style="cursor: pointer"-->
<!--                    (click)="openPickUpAlert()">{{ 'Generate Another Pickup Request' | translate }} <i-->
<!--                class="fa fa-angle-right mx-2" aria-hidden="true"></i></span>-->
<!--                </div>-->
              </ng-container>
              <!-- Confirm or reject order-->
              <ng-container
                *ngIf="orders?.orderDetailsObj?.status === 'pending' || orders?.orderDetailsObj?.status === 'processing' || orders?.orderDetailsObj?.status === 'on-hold'">
                <div class="awb-buttons">
                  <button (click)="openRejectionAlertDialog()" class="pick-up"><i class="fa fa-times"
                                                                                  aria-hidden="true"></i>
                    <span>{{ 'REJECT ORDER' | translate }}</span>
                  </button>
                  <button class="print-awb" [disabled]="sendRequest" (click)="confirmThisOrder()"><span>{{ 'CONFIRM ORDER' | translate }}
                    <i *ngIf="sendRequest" class="fa fa-spinner fa-spin mx-1" style="color: #ea5b29" aria-hidden="true"></i></span>
                  </button>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
      <!--      <app-error-layer [errorMsg]="'Something Went Wrong!'"></app-error-layer>-->
    </div>
  </div>
</section>

