@import "../../../../../assets/variables";

.orders-section {

  .order-status-header {
    display: flex;
    align-items: center;
    justify-content: space-between !important;

    .order-status-caption {
      flex: 1;

      span {
        color: $blue-black;
      }
    }

    .stepper {
      position: relative;
      flex: 3;

      .step {
        z-index: 2;
        background-color: $bg-color;

        .circle {
          background-color: #fff;
          height: 30px;
          width: 30px;
          border-radius: 50%;
          box-shadow: 0 2px 6px rgba(black, 0.1);
          border: 2px solid rgba(black, 0.1);

          span {
            font-weight: 600;
            font-size: 1.3em;
            color: rgba(#313E48, 0.5);
          }
        }

        .description {

          .estimate {
            color: rgba(#313E48, 0.5);
            font-size: 14px;
          }

          .description-text {
            font-size: 14px;
            white-space: pre-wrap !important;
          }
        }

        &.step-pending {
          .circle {
            background-color: #fff;
            border: 1px solid $semi-gray;
            animation: pulse 1000ms infinite;
          }
        }

        &.step-rejected {
          .circle {
            background-color: $blue-black;
            border: 1px solid $blue-black;
          }
        }

        &.step-defualt {
          .circle {
            background-color: $bg-color;
            border: 1px solid $semi-gray;
          }
        }

        &.step-confirmed {
          .circle {
            background-color: #EA5B29;
            box-shadow: none;
            border: none;
          }

          .description {
            .estimate {
              color: #EA5B29;
            }
          }
        }
      }

      &:before {
        content: '';
        height: 2px;
        background-color: rgba(#313E48, 0.1);
        width: 100%;
        position: absolute;
        top: 20%;
        z-index: 1;
        left: 0;
        right: 0;
      }
    }
  }

  .customer-details {
    margin: 1rem 0rem 0.7rem 0rem;
    padding: 1rem;
    background-color: $light-gray;
    border: 1px solid rgba(black, 0.1);

    .customer-caption {
      span {
        color: $semi-gray;
      }

      margin-bottom: 0.7rem;
    }

    .c-details {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .user-name {
        display: flex;
        align-items: center;

        .colored-name {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          color: #229FFF;
          background-color: #BAE0FD;
        }

        .name-caption {
          margin: 0rem 0.5rem;
          color: $blue-black;
          font-weight: normal;
        }
      }

      .user-data {
        display: flex;
        align-items: center;

        .u-icon {
          color: $semi-gray;
        }

        .u-caption {
          color: $blue-black;
          margin: 0rem 0.7rem;
        }
      }
    }
  }

  .selected-section {
    .table-left {
      background-color: $light-gray;
      padding: 1rem;
      border: 1px solid rgba(black, 0.1);

      .select-items-caption {
        span {
          color: $blue-black;
        }
      }

      .selection-table {
        overflow-x: auto;
        height: 50vh;
        overflow-y: auto;

        .table {
          overflow-x: scroll;

          thead {

            tr {
              th {
                border-top: none;
                color: $semi-gray;
                font-weight: normal;
              }
            }
          }

          tbody {
            tr {
              td {
                border-top: none;

                .item-title {
                  margin: 0rem 0.5rem;
                  color: $blue-black;
                }
              }

              .qty {
                width: 90px;
              }

              .items-img {
                border-right: 1px solid #ccc;
              }
            }
          }
        }
      }

      .items-counter {
        margin-top: 0.7rem;
        display: flex;
        align-items: center;

        span {
          margin: 0rem 0.5rem;
          color: $dark-gray;
        }
      }
    }

    .wizard-right {
      background-color: $light-gray;
      border: 1px solid rgba(black, 0.1);
      height: 100%;

      .stepper {
        position: relative;
        flex: 3;
        margin: 1rem;

        .step {
          z-index: 2;
          background-color: $light-gray;

          .circle {
            background-color: #FCFCFC;
            height: 30px;
            width: 30px;
            border-radius: 50%;
            box-shadow: 0 2px 6px rgba(black, 0.1);
            border: 2px solid rgba(black, 0.1);

            span {
              font-weight: 600;
              font-size: 1.3em;
              color: rgba(#313E48, 0.5);
            }
          }

          .description {

            .estimate {
              color: rgba(#313E48, 0.5);
              font-size: 14px;
            }

            .description-text {
              font-size: 14px;
              color: $semi-gray;
            }
          }

          &.step-pending {
            .circle {
              background-color: #fff;
              border: 1px solid $semi-gray;
              animation: pulse 1000ms infinite;
            }
          }

          &.step-rejected {
            .circle {
              background-color: $blue-black;
              border: 1px solid $blue-black;
            }
          }

          &.step-default {
            .circle {
              background-color: #FCFCFC;
              border: 1px solid $semi-gray;
            }
          }

          &.step-confirmed {
            .circle {
              background-color: #EA5B29;
              box-shadow: none;
              border: none;
            }

            .description {
              .estimate {
                color: #EA5B29;
              }
            }
          }
        }

        &:before {
          content: '';
          height: 2px;
          background-color: rgba(#313E48, 0.1);
          width: 100%;
          position: absolute;
          top: 20%;
          z-index: 1;
          left: 0;
          right: 0;
        }
      }

      .order-checkout {

        .checkout-header {
          background-color: #EFEFEF;
          padding: 1rem;
          display: flex;
          align-items: center;
          justify-content: space-between;

          .header-data {
            .order-head {
              text-align: center;
              margin-bottom: 0.2rem;

              span {
                color: $semi-gray;
              }
            }

            .head-caption {
              text-align: center;

              span {
                color: $blue-black;
              }
            }
          }
        }
      }

      .order-details-awb {
        padding: 1rem;

        .awb-details {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 0.3rem;
          .awb-left {
            span {
              color: $semi-gray;
            }
          }

          .awb-right {
            span {
              color: $blue-black;
            }
          }
        }
      }

      .awb-buttons {
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .generate-pickup {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 1rem;
        span {
          margin: 0rem 0.5rem;
          color: $blue-black;
        }
      }
    }
  }
}

// blue-black btn
.pick-up {
  outline: none;
  border: 1px solid rgba(black, 0.1);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  padding: 0.3rem 1rem;
  color: $blue-black;
  font-weight: bold;
  width: 45%;
  transition: 0.1s;
  span {
      margin: 0rem 0.5rem;
  }
  &:hover {
    box-shadow: 1px 2px 6px rgba(black,0.1);
  }
  &:active {
    transform: scale(0.91);
  }
}

// orange btn
.print-awb {
  outline: none;
  border-radius: 4px;
  background-color: transparent;
  color: $main-color;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $main-color;
  padding: 0.3rem 1rem;
  width: 45%;
  font-weight: 600;
  transition: 0.1s;
  span {
    margin: 0rem 0.5rem;
  }
  &:hover {
    box-shadow: 1px 2px 6px rgba(black,0.1);
  }
  &:active {
    transform: scale(0.91);
  }
  &:disabled {
    color: rgba($main-color, 0.6);
    border: 1px solid rgba($main-color, 0.6);
    cursor: not-allowed;
    transform: scale(1);
  }
}

@media screen and (max-width: 1350px) {
  .awb-buttons {
    flex-direction: column;
    button {
      margin-bottom: 0.5rem;
      width: 100%;
    }
  }
}

@media screen and (max-width: 992px) {

  .order-status-header {
    flex-direction: column;
    //justify-content: flex-start !important;
    align-items: flex-start !important;

    .stepper {
      &:before {
        width: 2px !important;
        height: 100% !important;
        top: 0 !important;
        left: 14px !important;
      }

      .step {

      }
    }
  }

  .customer-details {
    .c-details {
      flex-direction: column;

      .user-name {
        margin: 0.5rem 0rem;
        flex-direction: column;
      }

      .user-data {
        margin: 0.5rem 0rem;
        flex-direction: column;

        .u-caption {
          text-align: center;
        }
      }
    }
  }

  .order-checkout {
    .checkout-header {
      flex-direction: column;

      .header-data {
        margin-bottom: 0.5rem;
      }
    }
  }

  .selected-section {
    .wizard-right {
      .stepper {
        &:before {
          width: 2px !important;
          height: 100% !important;
          top: 0 !important;
          left: 14px !important;
        }

        .step {

        }
      }
    }
  }
}
.muted-text {
  color: #B2B2B2;
}
@media only screen and (max-width: 767px) {
  .items-img {
    width: 200px !important;
    display: block;
  }
  .qty {
    select {
      width: 60px !important;
    }
  }
}

@keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(#EA5B29, 0.9);
  }
  90% {
    -webkit-box-shadow: 0 0 0 20px rgba(#EA5B29, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(#EA5B29, 0);
  }
}

