<section class="global p-3 container-fluid">
  <!--  Breadcrumb -->
  <div class="wiz-crumb">
    <a class="crumb-icon text-decoration-none" routerLink="/user">
      <i class="fa fa-home crumb-icon" aria-hidden="true"></i>
    </a>
    <span class="back-slash">/</span>
    <a routerLink="/user/payment-methods" class="crumb-caption text-decoration-none">Payment Setup</a>
    <span class="back-slash">/</span>
    <span class="crumb-caption">Wiz Pay</span>
  </div>
  <form class="wizpay-form">
    <section class="card p-3">
      <header class="d-flex align-items-center justify-content-between mb-3 flex-wrap">
        <div class="header-with-desc">
          <h5 class="header">Wiz Pay</h5>
          <p class="description">Take payments in person via checks. This gateway can also be useful to test
            purchases. </p>
        </div>
        <div class="mx-2 d-none d-md-block"></div>
        <div class="charges">Charges- 2.99% of Transaction + 1 AED</div>
      </header>
      <!-- Bank Payment Information     -->
      <div class="d-flex flex-lg-row flex-column mb-3">
        <div class="numbered mb-2 mb-lg-0 d-flex align-items-center justify-content-center">
          <span>1</span>
        </div>
        <div class="mx-3 d-none d-md-block"></div>
        <div class="form p-5">
          <header class="mb-4">
            <h4 class="header">Bank Payment Information</h4>
          </header>
          <!--          first name-->
          <div class="form-group row">
            <label for="first_name" class="col-lg-3 npt-label col-form-label col-form-label-lg">First Name</label>
            <div class="col-lg-9 d-flex align-items-center position-relative">
              <div class="status-before">
                <svg xmlns="http://www.w3.org/2000/svg" width="19.419" height="22.661" viewBox="0 0 14.419 17.661">
                  <g id="Group_55475" data-name="Group 55475" transform="translate(-636.999 -337)">
                    <g id="Group_46463" data-name="Group 46463" transform="translate(636.999 337)">
                      <path id="Path_60331" data-name="Path 60331"
                            d="M744.308,442.633c-4.957-2.905-6.619-3.962-6.619-7.018v-6.751c0-.951.356-1.27,1.173-1.59,1.261-.5,4.069-1.573,5.33-1.981a2.46,2.46,0,0,1,.711-.133,2.2,2.2,0,0,1,.7.133c1.269.436,4.069,1.475,5.331,1.981.817.328,1.173.639,1.173,1.59v6.751c0,3.056-1.645,4.14-6.619,7.018a1.026,1.026,0,0,1-1.181,0Zm1.11-1.244c4.1-2.585,5.6-3.3,5.6-6.006v-6.325c0-.444-.078-.622-.417-.746-1.2-.436-4.086-1.5-5.269-1.972a1.476,1.476,0,0,0-.426-.107,1.109,1.109,0,0,0-.427.107c-1.19.471-4.094,1.5-5.277,1.972-.337.133-.417.3-.417.746v6.325c0,2.7,1.475,3.439,5.6,6.006a.786.786,0,0,0,1.039,0Zm-1.341-4.1a.822.822,0,1,1,.825.8A.814.814,0,0,1,744.077,437.294Zm.266-2.531-.1-4.753a.649.649,0,0,1,1.3.009l-.1,4.744a.519.519,0,0,1-.543.577A.527.527,0,0,1,744.344,434.763Z"
                            transform="translate(-737.689 -425.159)" fill="#313e48"/>
                    </g>
                  </g>
                </svg>
              </div>
              <input type="text"
                     class="form-control form-control-lg"
                     name="first_name"
                     id="first_name"
                     placeholder="Insert First Name">
              <div class=" status-after">
                <svg [class.invisible]="false" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                     viewBox="0 0 24 24">
                  <g id="Group_56161" data-name="Group 56161" transform="translate(-1214 -383)">
                    <g id="Ellipse_2311" data-name="Ellipse 2311" transform="translate(1214 383)" fill="#fff"
                       stroke="#0cca6a" stroke-width="1">
                      <circle cx="12" cy="12" r="12" stroke="none"/>
                      <circle cx="12" cy="12" r="11.5" fill="none"/>
                    </g>
                    <path id="Path_90516" data-name="Path 90516"
                          d="M1008.735,387.265l-4.25-5.279a1.228,1.228,0,0,1-.27-.733.9.9,0,0,1,.881-.924.971.971,0,0,1,.824.455l3.723,4.722,6.866-11.2a.942.942,0,0,1,.782-.513.879.879,0,0,1,.924.865,1.4,1.4,0,0,1-.27.718l-7.363,11.893a1.044,1.044,0,0,1-.894.528A1.154,1.154,0,0,1,1008.735,387.265Z"
                          transform="translate(214.785 14.28)" fill="#0cca6a"/>
                  </g>
                </svg>
              </div>
            </div>
          </div>

          <!--          last name-->
          <div class="form-group row">
            <label for="last_name" class="col-lg-3 npt-label col-form-label col-form-label-lg">Last Name</label>
            <div class="col-lg-9 d-flex align-items-center">
              <div class="status-before">
                <svg [class.invisible]="false" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                     viewBox="0 0 24 24">
                  <g id="Group_56161" data-name="Group 56161" transform="translate(-1214 -383)">
                    <g id="Ellipse_2311" data-name="Ellipse 2311" transform="translate(1214 383)" fill="#fff"
                       stroke="#0cca6a" stroke-width="1">
                      <circle cx="12" cy="12" r="12" stroke="none"/>
                      <circle cx="12" cy="12" r="11.5" fill="none"/>
                    </g>
                    <path id="Path_90516" data-name="Path 90516"
                          d="M1008.735,387.265l-4.25-5.279a1.228,1.228,0,0,1-.27-.733.9.9,0,0,1,.881-.924.971.971,0,0,1,.824.455l3.723,4.722,6.866-11.2a.942.942,0,0,1,.782-.513.879.879,0,0,1,.924.865,1.4,1.4,0,0,1-.27.718l-7.363,11.893a1.044,1.044,0,0,1-.894.528A1.154,1.154,0,0,1,1008.735,387.265Z"
                          transform="translate(214.785 14.28)" fill="#0cca6a"/>
                  </g>
                </svg>
              </div>
              <input type="text"
                     class="form-control form-control-lg"
                     name="last_name"
                     id="last_name"
                     placeholder="Insert Last Name">
              <div class="status-after">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                  <g id="Group_56161" data-name="Group 56161" transform="translate(-1214 -383)">
                    <g id="Ellipse_2311" data-name="Ellipse 2311" transform="translate(1214 383)" fill="#fff"
                       stroke="#0cca6a" stroke-width="1">
                      <circle cx="12" cy="12" r="12" stroke="none"/>
                      <circle cx="12" cy="12" r="11.5" fill="none"/>
                    </g>
                    <path id="Path_90516" data-name="Path 90516"
                          d="M1008.735,387.265l-4.25-5.279a1.228,1.228,0,0,1-.27-.733.9.9,0,0,1,.881-.924.971.971,0,0,1,.824.455l3.723,4.722,6.866-11.2a.942.942,0,0,1,.782-.513.879.879,0,0,1,.924.865,1.4,1.4,0,0,1-.27.718l-7.363,11.893a1.044,1.044,0,0,1-.894.528A1.154,1.154,0,0,1,1008.735,387.265Z"
                          transform="translate(214.785 14.28)" fill="#0cca6a"/>
                  </g>
                </svg>
              </div>
            </div>
          </div>

          <!--          bank name-->
          <div class="form-group row">
            <label for="bank_name" class="col-lg-3 npt-label col-form-label col-form-label-lg">Bank Name</label>
            <div class="col-lg-9 d-flex align-items-center">
              <div class="status-before">
                <svg [class.invisible]="false" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                     viewBox="0 0 24 24">
                  <g id="Group_56161" data-name="Group 56161" transform="translate(-1214 -383)">
                    <g id="Ellipse_2311" data-name="Ellipse 2311" transform="translate(1214 383)" fill="#fff"
                       stroke="#0cca6a" stroke-width="1">
                      <circle cx="12" cy="12" r="12" stroke="none"/>
                      <circle cx="12" cy="12" r="11.5" fill="none"/>
                    </g>
                    <path id="Path_90516" data-name="Path 90516"
                          d="M1008.735,387.265l-4.25-5.279a1.228,1.228,0,0,1-.27-.733.9.9,0,0,1,.881-.924.971.971,0,0,1,.824.455l3.723,4.722,6.866-11.2a.942.942,0,0,1,.782-.513.879.879,0,0,1,.924.865,1.4,1.4,0,0,1-.27.718l-7.363,11.893a1.044,1.044,0,0,1-.894.528A1.154,1.154,0,0,1,1008.735,387.265Z"
                          transform="translate(214.785 14.28)" fill="#0cca6a"/>
                  </g>
                </svg>
              </div>
              <input type="text"
                     class="form-control form-control-lg"
                     id="bank_name"
                     name="bank_name"
                     placeholder="Insert Bank Name">
              <div class="status-after">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                  <g id="Group_56161" data-name="Group 56161" transform="translate(-1214 -383)">
                    <g id="Ellipse_2311" data-name="Ellipse 2311" transform="translate(1214 383)" fill="#fff"
                       stroke="#0cca6a" stroke-width="1">
                      <circle cx="12" cy="12" r="12" stroke="none"/>
                      <circle cx="12" cy="12" r="11.5" fill="none"/>
                    </g>
                    <path id="Path_90516" data-name="Path 90516"
                          d="M1008.735,387.265l-4.25-5.279a1.228,1.228,0,0,1-.27-.733.9.9,0,0,1,.881-.924.971.971,0,0,1,.824.455l3.723,4.722,6.866-11.2a.942.942,0,0,1,.782-.513.879.879,0,0,1,.924.865,1.4,1.4,0,0,1-.27.718l-7.363,11.893a1.044,1.044,0,0,1-.894.528A1.154,1.154,0,0,1,1008.735,387.265Z"
                          transform="translate(214.785 14.28)" fill="#0cca6a"/>
                  </g>
                </svg>
              </div>
            </div>
          </div>

          <!--          account number-->
          <div class="form-group row">
            <label for="account_number" class="col-lg-3 npt-label col-form-label col-form-label-lg">Account
              Number</label>
            <div class="col-lg-9 d-flex align-items-center">
              <div class="status-before">
                <svg [class.invisible]="false" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                     viewBox="0 0 24 24">
                  <g id="Group_56161" data-name="Group 56161" transform="translate(-1214 -383)">
                    <g id="Ellipse_2311" data-name="Ellipse 2311" transform="translate(1214 383)" fill="#fff"
                       stroke="#0cca6a" stroke-width="1">
                      <circle cx="12" cy="12" r="12" stroke="none"/>
                      <circle cx="12" cy="12" r="11.5" fill="none"/>
                    </g>
                    <path id="Path_90516" data-name="Path 90516"
                          d="M1008.735,387.265l-4.25-5.279a1.228,1.228,0,0,1-.27-.733.9.9,0,0,1,.881-.924.971.971,0,0,1,.824.455l3.723,4.722,6.866-11.2a.942.942,0,0,1,.782-.513.879.879,0,0,1,.924.865,1.4,1.4,0,0,1-.27.718l-7.363,11.893a1.044,1.044,0,0,1-.894.528A1.154,1.154,0,0,1,1008.735,387.265Z"
                          transform="translate(214.785 14.28)" fill="#0cca6a"/>
                  </g>
                </svg>
              </div>
              <input type="text"
                     class="form-control form-control-lg"
                     id="account_number"
                     name="account_number"
                     placeholder="Insert Account Number">
              <div class="status-after">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                  <g id="Group_56161" data-name="Group 56161" transform="translate(-1214 -383)">
                    <g id="Ellipse_2311" data-name="Ellipse 2311" transform="translate(1214 383)" fill="#fff"
                       stroke="#0cca6a" stroke-width="1">
                      <circle cx="12" cy="12" r="12" stroke="none"/>
                      <circle cx="12" cy="12" r="11.5" fill="none"/>
                    </g>
                    <path id="Path_90516" data-name="Path 90516"
                          d="M1008.735,387.265l-4.25-5.279a1.228,1.228,0,0,1-.27-.733.9.9,0,0,1,.881-.924.971.971,0,0,1,.824.455l3.723,4.722,6.866-11.2a.942.942,0,0,1,.782-.513.879.879,0,0,1,.924.865,1.4,1.4,0,0,1-.27.718l-7.363,11.893a1.044,1.044,0,0,1-.894.528A1.154,1.154,0,0,1,1008.735,387.265Z"
                          transform="translate(214.785 14.28)" fill="#0cca6a"/>
                  </g>
                </svg>
              </div>
            </div>
          </div>

          <!--          IBAN-->
          <div class="form-group row">
            <label for="iban" class="col-lg-3 npt-label col-form-label col-form-label-lg">IBAN</label>
            <div class="col-lg-9 d-flex align-items-center">
              <div class="status-before">
                <svg [class.invisible]="false" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                     viewBox="0 0 24 24">
                  <g id="Group_56161" data-name="Group 56161" transform="translate(-1214 -383)">
                    <g id="Ellipse_2311" data-name="Ellipse 2311" transform="translate(1214 383)" fill="#fff"
                       stroke="#0cca6a" stroke-width="1">
                      <circle cx="12" cy="12" r="12" stroke="none"/>
                      <circle cx="12" cy="12" r="11.5" fill="none"/>
                    </g>
                    <path id="Path_90516" data-name="Path 90516"
                          d="M1008.735,387.265l-4.25-5.279a1.228,1.228,0,0,1-.27-.733.9.9,0,0,1,.881-.924.971.971,0,0,1,.824.455l3.723,4.722,6.866-11.2a.942.942,0,0,1,.782-.513.879.879,0,0,1,.924.865,1.4,1.4,0,0,1-.27.718l-7.363,11.893a1.044,1.044,0,0,1-.894.528A1.154,1.154,0,0,1,1008.735,387.265Z"
                          transform="translate(214.785 14.28)" fill="#0cca6a"/>
                  </g>
                </svg>
              </div>
              <input type="text"
                     class="form-control form-control-lg"
                     id="iban"
                     name="iban"
                     placeholder="Insert IBAN">
              <div class="status-after">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                  <g id="Group_56161" data-name="Group 56161" transform="translate(-1214 -383)">
                    <g id="Ellipse_2311" data-name="Ellipse 2311" transform="translate(1214 383)" fill="#fff"
                       stroke="#0cca6a" stroke-width="1">
                      <circle cx="12" cy="12" r="12" stroke="none"/>
                      <circle cx="12" cy="12" r="11.5" fill="none"/>
                    </g>
                    <path id="Path_90516" data-name="Path 90516"
                          d="M1008.735,387.265l-4.25-5.279a1.228,1.228,0,0,1-.27-.733.9.9,0,0,1,.881-.924.971.971,0,0,1,.824.455l3.723,4.722,6.866-11.2a.942.942,0,0,1,.782-.513.879.879,0,0,1,.924.865,1.4,1.4,0,0,1-.27.718l-7.363,11.893a1.044,1.044,0,0,1-.894.528A1.154,1.154,0,0,1,1008.735,387.265Z"
                          transform="translate(214.785 14.28)" fill="#0cca6a"/>
                  </g>
                </svg>
              </div>
            </div>
          </div>

          <!--       swift code   -->
          <div class="form-group row">
            <label for="swift_code" class="col-lg-3 npt-label col-form-label col-form-label-lg">Swift Code</label>
            <div class="col-lg-9 d-flex align-items-center">
              <div class="status-before">
                <svg [class.invisible]="false" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                     viewBox="0 0 24 24">
                  <g id="Group_56161" data-name="Group 56161" transform="translate(-1214 -383)">
                    <g id="Ellipse_2311" data-name="Ellipse 2311" transform="translate(1214 383)" fill="#fff"
                       stroke="#0cca6a" stroke-width="1">
                      <circle cx="12" cy="12" r="12" stroke="none"/>
                      <circle cx="12" cy="12" r="11.5" fill="none"/>
                    </g>
                    <path id="Path_90516" data-name="Path 90516"
                          d="M1008.735,387.265l-4.25-5.279a1.228,1.228,0,0,1-.27-.733.9.9,0,0,1,.881-.924.971.971,0,0,1,.824.455l3.723,4.722,6.866-11.2a.942.942,0,0,1,.782-.513.879.879,0,0,1,.924.865,1.4,1.4,0,0,1-.27.718l-7.363,11.893a1.044,1.044,0,0,1-.894.528A1.154,1.154,0,0,1,1008.735,387.265Z"
                          transform="translate(214.785 14.28)" fill="#0cca6a"/>
                  </g>
                </svg>
              </div>
              <input type="email"
                     class="form-control form-control-lg"
                     id="swift_code"
                     name="swift_code"
                     placeholder="Insert Swift Code">
              <div class="status-after">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                  <g id="Group_56161" data-name="Group 56161" transform="translate(-1214 -383)">
                    <g id="Ellipse_2311" data-name="Ellipse 2311" transform="translate(1214 383)" fill="#fff"
                       stroke="#0cca6a" stroke-width="1">
                      <circle cx="12" cy="12" r="12" stroke="none"/>
                      <circle cx="12" cy="12" r="11.5" fill="none"/>
                    </g>
                    <path id="Path_90516" data-name="Path 90516"
                          d="M1008.735,387.265l-4.25-5.279a1.228,1.228,0,0,1-.27-.733.9.9,0,0,1,.881-.924.971.971,0,0,1,.824.455l3.723,4.722,6.866-11.2a.942.942,0,0,1,.782-.513.879.879,0,0,1,.924.865,1.4,1.4,0,0,1-.27.718l-7.363,11.893a1.044,1.044,0,0,1-.894.528A1.154,1.154,0,0,1,1008.735,387.265Z"
                          transform="translate(214.785 14.28)" fill="#0cca6a"/>
                  </g>
                </svg>
              </div>
            </div>
          </div>

        </div>
      </div>

      <!-- Identity/KYC Documents  -->
      <div class="d-flex flex-lg-row flex-column mb-3">
        <div class="numbered mb-2 mb-lg-0 d-flex align-items-center justify-content-center">
          <span>1</span>
        </div>
        <div class="mx-3 d-none d-md-block"></div>
        <div class="form p-5">
          <header class="mb-4 d-flex align-items-center flex-wrap justify-content-between form-group">
            <div class="mr-3">
              <h4 class="header mb-0">Identity/KYC Documents</h4>
            </div>
            <div class="identity-select">
              <div class="row">
                <label for="identity" class="col-lg-4 npt-label col-form-label col-form-label-lg">Owner Identity
                  Document</label>
                <div class="col-lg-8">
                  <select class="custom-select custom-select-lg" id="identity">
                    <option selected>Identity</option>
                    <option value="1">National Id</option>
                    <option value="2">PassPort & Visa Copy</option>
                  </select>
                </div>
              </div>
            </div>
          </header>
          <!--          national Id Number-->
          <div class="form-group row">
            <label for="nat_id_number" class="col-lg-3 npt-label col-form-label col-form-label-lg">National Id
              Number</label>
            <div class="col-lg-9 d-flex align-items-center position-relative">
              <div class="status-before">
                <svg xmlns="http://www.w3.org/2000/svg" width="19.419" height="22.661" viewBox="0 0 14.419 17.661">
                  <g id="Group_55475" data-name="Group 55475" transform="translate(-636.999 -337)">
                    <g id="Group_46463" data-name="Group 46463" transform="translate(636.999 337)">
                      <path id="Path_60331" data-name="Path 60331"
                            d="M744.308,442.633c-4.957-2.905-6.619-3.962-6.619-7.018v-6.751c0-.951.356-1.27,1.173-1.59,1.261-.5,4.069-1.573,5.33-1.981a2.46,2.46,0,0,1,.711-.133,2.2,2.2,0,0,1,.7.133c1.269.436,4.069,1.475,5.331,1.981.817.328,1.173.639,1.173,1.59v6.751c0,3.056-1.645,4.14-6.619,7.018a1.026,1.026,0,0,1-1.181,0Zm1.11-1.244c4.1-2.585,5.6-3.3,5.6-6.006v-6.325c0-.444-.078-.622-.417-.746-1.2-.436-4.086-1.5-5.269-1.972a1.476,1.476,0,0,0-.426-.107,1.109,1.109,0,0,0-.427.107c-1.19.471-4.094,1.5-5.277,1.972-.337.133-.417.3-.417.746v6.325c0,2.7,1.475,3.439,5.6,6.006a.786.786,0,0,0,1.039,0Zm-1.341-4.1a.822.822,0,1,1,.825.8A.814.814,0,0,1,744.077,437.294Zm.266-2.531-.1-4.753a.649.649,0,0,1,1.3.009l-.1,4.744a.519.519,0,0,1-.543.577A.527.527,0,0,1,744.344,434.763Z"
                            transform="translate(-737.689 -425.159)" fill="#313e48"/>
                    </g>
                  </g>
                </svg>
              </div>
              <input type="text"
                     class="form-control form-control-lg"
                     name="nat_id_number"
                     id="nat_id_number"
                     placeholder="Insert your national ID number">
              <div class=" status-after">
                <svg [class.invisible]="false" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                     viewBox="0 0 24 24">
                  <g id="Group_56161" data-name="Group 56161" transform="translate(-1214 -383)">
                    <g id="Ellipse_2311" data-name="Ellipse 2311" transform="translate(1214 383)" fill="#fff"
                       stroke="#0cca6a" stroke-width="1">
                      <circle cx="12" cy="12" r="12" stroke="none"/>
                      <circle cx="12" cy="12" r="11.5" fill="none"/>
                    </g>
                    <path id="Path_90516" data-name="Path 90516"
                          d="M1008.735,387.265l-4.25-5.279a1.228,1.228,0,0,1-.27-.733.9.9,0,0,1,.881-.924.971.971,0,0,1,.824.455l3.723,4.722,6.866-11.2a.942.942,0,0,1,.782-.513.879.879,0,0,1,.924.865,1.4,1.4,0,0,1-.27.718l-7.363,11.893a1.044,1.044,0,0,1-.894.528A1.154,1.154,0,0,1,1008.735,387.265Z"
                          transform="translate(214.785 14.28)" fill="#0cca6a"/>
                  </g>
                </svg>
              </div>
            </div>
          </div>

          <!--          Expiry Date-->
          <div class="form-group row">
            <label for="nat_id_expire_date" class="col-lg-3 npt-label col-form-label col-form-label-lg">Expiry Date
              (dd/mm/yyyy)</label>
            <div class="col-lg-9">
              <div class="row">
                <div class="col-sm-4 mb-2">
                  <select class="custom-select custom-select-lg" name="nat_expire_day" id="nat_id_expire_date">
                    <option selected>Select day</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                </div>
                <div class="col-sm-4 mb-2">
                  <select class="custom-select custom-select-lg" name="nat_expire_month">
                    <option selected>Select month</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                </div>
                <div class="col-sm-4 mb-2">
                  <select class="custom-select custom-select-lg" name="nat_expire_year">
                    <option selected>Select year</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                </div>
              </div>
            </div>
          </div>

          <!--          Front Side National Id -->
          <div class="form-group row">
            <label for="nat_front_side" class="col-lg-3 npt-label col-form-label col-form-label-lg">Front Side National Id</label>
            <div class="col-lg-9 d-flex align-items-center position-relative">
              <div class="status-before">
                <svg xmlns="http://www.w3.org/2000/svg" width="19.419" height="22.661" viewBox="0 0 14.419 17.661">
                  <g id="Group_55475" data-name="Group 55475" transform="translate(-636.999 -337)">
                    <g id="Group_46463" data-name="Group 46463" transform="translate(636.999 337)">
                      <path id="Path_60331" data-name="Path 60331"
                            d="M744.308,442.633c-4.957-2.905-6.619-3.962-6.619-7.018v-6.751c0-.951.356-1.27,1.173-1.59,1.261-.5,4.069-1.573,5.33-1.981a2.46,2.46,0,0,1,.711-.133,2.2,2.2,0,0,1,.7.133c1.269.436,4.069,1.475,5.331,1.981.817.328,1.173.639,1.173,1.59v6.751c0,3.056-1.645,4.14-6.619,7.018a1.026,1.026,0,0,1-1.181,0Zm1.11-1.244c4.1-2.585,5.6-3.3,5.6-6.006v-6.325c0-.444-.078-.622-.417-.746-1.2-.436-4.086-1.5-5.269-1.972a1.476,1.476,0,0,0-.426-.107,1.109,1.109,0,0,0-.427.107c-1.19.471-4.094,1.5-5.277,1.972-.337.133-.417.3-.417.746v6.325c0,2.7,1.475,3.439,5.6,6.006a.786.786,0,0,0,1.039,0Zm-1.341-4.1a.822.822,0,1,1,.825.8A.814.814,0,0,1,744.077,437.294Zm.266-2.531-.1-4.753a.649.649,0,0,1,1.3.009l-.1,4.744a.519.519,0,0,1-.543.577A.527.527,0,0,1,744.344,434.763Z"
                            transform="translate(-737.689 -425.159)" fill="#313e48"/>
                    </g>
                  </g>
                </svg>
              </div>

<!--              <div class="custom-file form-control-lg">-->
<!--                <input type="file" class="custom-file-input" id="validatedCustomFile" required>-->
<!--                <label class="custom-file-label" for="validatedCustomFile">Choose file...</label>-->
<!--                <div class="invalid-feedback">Example invalid custom file feedback</div>-->
<!--              </div>-->

              <div class="npt-with-upload">
                <a class="upload-icon">
                  <svg xmlns="http://www.w3.org/2000/svg" width="29.67" height="21.758" viewBox="0 0 29.67 21.758">
                    <g id="upload_1_" data-name="upload (1)" opacity="0.5">
                      <path id="Path_12711" data-name="Path 12711" d="M28.38,85.229a5.849,5.849,0,0,0-3.3-2.094,3.949,3.949,0,0,0-3.322-6.088,3.777,3.777,0,0,0-2.565.958,7.921,7.921,0,0,0-7.325-4.914,7.623,7.623,0,0,0-5.594,2.318A7.621,7.621,0,0,0,3.956,81q0,.2.031.664A6.911,6.911,0,0,0,0,87.926a6.667,6.667,0,0,0,2.032,4.891,6.666,6.666,0,0,0,4.891,2.032H23.736a5.927,5.927,0,0,0,4.643-9.62Zm-8.747-.417a.476.476,0,0,1-.347.147H15.824V90.4a.5.5,0,0,1-.494.494H12.362a.5.5,0,0,1-.494-.494v-5.44H8.406a.475.475,0,0,1-.494-.494.581.581,0,0,1,.154-.371l5.424-5.424a.524.524,0,0,1,.711,0l5.44,5.439a.481.481,0,0,1,.139.356A.475.475,0,0,1,19.633,84.812Z" transform="translate(0 -73.091)" fill="#313e48"/>
                    </g>
                  </svg>
                </a>
                <input type="text"
                       class="form-control form-control-lg"
                       name="nat_front_side"
                       id="nat_front_side"
                       disabled
                       placeholder="Upload the front of your national ID">
              </div>
              <div class=" status-after">
                <svg [class.invisible]="false" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                     viewBox="0 0 24 24">
                  <g id="Group_56161" data-name="Group 56161" transform="translate(-1214 -383)">
                    <g id="Ellipse_2311" data-name="Ellipse 2311" transform="translate(1214 383)" fill="#fff"
                       stroke="#0cca6a" stroke-width="1">
                      <circle cx="12" cy="12" r="12" stroke="none"/>
                      <circle cx="12" cy="12" r="11.5" fill="none"/>
                    </g>
                    <path id="Path_90516" data-name="Path 90516"
                          d="M1008.735,387.265l-4.25-5.279a1.228,1.228,0,0,1-.27-.733.9.9,0,0,1,.881-.924.971.971,0,0,1,.824.455l3.723,4.722,6.866-11.2a.942.942,0,0,1,.782-.513.879.879,0,0,1,.924.865,1.4,1.4,0,0,1-.27.718l-7.363,11.893a1.044,1.044,0,0,1-.894.528A1.154,1.154,0,0,1,1008.735,387.265Z"
                          transform="translate(214.785 14.28)" fill="#0cca6a"/>
                  </g>
                </svg>
              </div>
            </div>
          </div>

          <!--          Back Side National Id -->
          <div class="form-group row">
            <label for="nat_back_side" class="col-lg-3 npt-label col-form-label col-form-label-lg">Back Side National Id</label>
            <div class="col-lg-9 d-flex align-items-center position-relative">
              <div class="status-before">
                <svg xmlns="http://www.w3.org/2000/svg" width="19.419" height="22.661" viewBox="0 0 14.419 17.661">
                  <g id="Group_55475" data-name="Group 55475" transform="translate(-636.999 -337)">
                    <g id="Group_46463" data-name="Group 46463" transform="translate(636.999 337)">
                      <path id="Path_60331" data-name="Path 60331"
                            d="M744.308,442.633c-4.957-2.905-6.619-3.962-6.619-7.018v-6.751c0-.951.356-1.27,1.173-1.59,1.261-.5,4.069-1.573,5.33-1.981a2.46,2.46,0,0,1,.711-.133,2.2,2.2,0,0,1,.7.133c1.269.436,4.069,1.475,5.331,1.981.817.328,1.173.639,1.173,1.59v6.751c0,3.056-1.645,4.14-6.619,7.018a1.026,1.026,0,0,1-1.181,0Zm1.11-1.244c4.1-2.585,5.6-3.3,5.6-6.006v-6.325c0-.444-.078-.622-.417-.746-1.2-.436-4.086-1.5-5.269-1.972a1.476,1.476,0,0,0-.426-.107,1.109,1.109,0,0,0-.427.107c-1.19.471-4.094,1.5-5.277,1.972-.337.133-.417.3-.417.746v6.325c0,2.7,1.475,3.439,5.6,6.006a.786.786,0,0,0,1.039,0Zm-1.341-4.1a.822.822,0,1,1,.825.8A.814.814,0,0,1,744.077,437.294Zm.266-2.531-.1-4.753a.649.649,0,0,1,1.3.009l-.1,4.744a.519.519,0,0,1-.543.577A.527.527,0,0,1,744.344,434.763Z"
                            transform="translate(-737.689 -425.159)" fill="#313e48"/>
                    </g>
                  </g>
                </svg>
              </div>

              <!--              <div class="custom-file form-control-lg">-->
              <!--                <input type="file" class="custom-file-input" id="validatedCustomFile" required>-->
              <!--                <label class="custom-file-label" for="validatedCustomFile">Choose file...</label>-->
              <!--                <div class="invalid-feedback">Example invalid custom file feedback</div>-->
              <!--              </div>-->

              <div class="npt-with-upload">
                <a class="upload-icon">
                  <svg xmlns="http://www.w3.org/2000/svg" width="29.67" height="21.758" viewBox="0 0 29.67 21.758">
                    <g id="upload_1_" data-name="upload (1)" opacity="0.5">
                      <path id="Path_12711" data-name="Path 12711" d="M28.38,85.229a5.849,5.849,0,0,0-3.3-2.094,3.949,3.949,0,0,0-3.322-6.088,3.777,3.777,0,0,0-2.565.958,7.921,7.921,0,0,0-7.325-4.914,7.623,7.623,0,0,0-5.594,2.318A7.621,7.621,0,0,0,3.956,81q0,.2.031.664A6.911,6.911,0,0,0,0,87.926a6.667,6.667,0,0,0,2.032,4.891,6.666,6.666,0,0,0,4.891,2.032H23.736a5.927,5.927,0,0,0,4.643-9.62Zm-8.747-.417a.476.476,0,0,1-.347.147H15.824V90.4a.5.5,0,0,1-.494.494H12.362a.5.5,0,0,1-.494-.494v-5.44H8.406a.475.475,0,0,1-.494-.494.581.581,0,0,1,.154-.371l5.424-5.424a.524.524,0,0,1,.711,0l5.44,5.439a.481.481,0,0,1,.139.356A.475.475,0,0,1,19.633,84.812Z" transform="translate(0 -73.091)" fill="#313e48"/>
                    </g>
                  </svg>
                </a>
                <input type="text"
                       class="form-control form-control-lg"
                       name="nat_back_side"
                       id="nat_back_side"
                       disabled
                       placeholder="Upload the front of your national ID">
              </div>
              <div class=" status-after">
                <svg [class.invisible]="false" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                     viewBox="0 0 24 24">
                  <g id="Group_56161" data-name="Group 56161" transform="translate(-1214 -383)">
                    <g id="Ellipse_2311" data-name="Ellipse 2311" transform="translate(1214 383)" fill="#fff"
                       stroke="#0cca6a" stroke-width="1">
                      <circle cx="12" cy="12" r="12" stroke="none"/>
                      <circle cx="12" cy="12" r="11.5" fill="none"/>
                    </g>
                    <path id="Path_90516" data-name="Path 90516"
                          d="M1008.735,387.265l-4.25-5.279a1.228,1.228,0,0,1-.27-.733.9.9,0,0,1,.881-.924.971.971,0,0,1,.824.455l3.723,4.722,6.866-11.2a.942.942,0,0,1,.782-.513.879.879,0,0,1,.924.865,1.4,1.4,0,0,1-.27.718l-7.363,11.893a1.044,1.044,0,0,1-.894.528A1.154,1.154,0,0,1,1008.735,387.265Z"
                          transform="translate(214.785 14.28)" fill="#0cca6a"/>
                  </g>
                </svg>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>
  </form>
</section>
