.wizpay-form {
  .header-with-desc {
    .header {
      color: #313E48;
      font-weight: 600;
    }
    .description {
      color: rgba(#313E48, 0.7);
    }
  }
  .charges {
    padding: 0.4rem 1.5rem;
    border: 2px solid #EA5B29;
    background-color: rgba(#EA5B29, 0.05);
    border-radius: 20px;
    color: #EA5B29;
  }

  .numbered {
    height: 40px;
    width: 40px;
    background-color: white;
    border: 2px solid #E0E0E0;
    color: #E0E0E0;
    border-radius: 50%;
    font-weight: bold;
    font-size: 1.3em;
  }
  .form {
    flex: 1;
    border: 2px solid #E4E4E4;
    border-radius: 8px;
    header {
      .header {
        color: #313E48;
      }
    }
    .form-group {
      .npt-label {
        color: #707070;
      }
      .status-before {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -20px;
      }
      .status-after {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: -20px;
      }

      .custom-file-label {
        background-color: #FCFCFC;
      }
      input, select {
        background-color: #FCFCFC !important;
        border: 2px solid #E5E5E5;
        width: 100%;
        color: black;
        &::placeholder {
          color: rgba(black, 0.4);
        }
      }
      .npt-with-upload {
        position: relative;
        width: 100%;
        .upload-icon {
          position: absolute;
          cursor: pointer;
          top: 50%;
          transform: translateY(-50%);
          right: 20px;
        }

      }
    }
    .identity-select {
      ::ng-deep .mat-focused .mat-form-field-label {
        /*change color of label*/
        color: #EA5B29 !important;
      }
    }
  }
}
