.main {
  min-height: 70vh;
  .page-title {
    font-size: 2.3em;
    color: #313E48;
    font-weight: 600;
    margin-bottom: 2.5rem;
  }
  .desc {
    font-size: 1.5em;
    color: #313E48;
  }
  .hint {
    font-size: 1.2em;
    color: rgba(#313E48, 0.5);
  }
}
