<div class="card p-3 main d-flex align-items-center justify-content-center mb-4">
  <svg xmlns="http://www.w3.org/2000/svg" class="mb-3" width="111.298" height="104.749" viewBox="0 0 111.298 104.749">
    <g id="Group_40037" data-name="Group 40037" transform="translate(-733.263 -389.198)">
      <path id="Path_26848" data-name="Path 26848"
            d="M283.68,1286.839a193.248,193.248,0,0,1,15.862-20.27c8.938-9.964,14.275-13.79,15.7-14.795a76.084,76.084,0,0,1,14.062-7.708,1.98,1.98,0,0,1,.578-.135,2.871,2.871,0,0,1,2.1.956c-.443.444-1.035,1.032-1.752,1.731-1.346,1.313-2.354,2.261-2.5,2.4-7.955,7.512-14.672,15.365-14.672,15.365a203.385,203.385,0,0,0-13.892,18.569c-.76,1.166-1.454,2.293-1.454,2.293-1.461,2.4-2.29,4.053-8.447,14.176-2.468,4.055-4.524,7.42-5.911,9.568h-1.423a87.025,87.025,0,0,1-6.362-12.548s-3.488-8.638-6.783-12.82a5.366,5.366,0,0,0-1.712-1.48,6.151,6.151,0,0,0-4.194-.441,6.044,6.044,0,0,1,.5-1.783c1.284-2.82,4.78-4.507,7.718-4.491,5.5.028,9.354,6.026,11.092,8.733A24.531,24.531,0,0,1,283.68,1286.839Z"
            transform="translate(512.578 -848.429)" fill="#ea5b29"/>
      <g id="Group_30328" data-name="Group 30328" transform="translate(733.763 389.698)">
        <g id="checkmark" transform="translate(0)">
          <path id="Path_3483" data-name="Path 3483"
                d="M51.353,103.757C23.039,103.757,0,80.485,0,51.883S23.039.008,51.353.008a50.808,50.808,0,0,1,27.7,8.2A3.563,3.563,0,0,1,80.109,13.1a3.482,3.482,0,0,1-4.841,1.066A43.832,43.832,0,0,0,51.353,7.082C26.9,7.082,7,27.181,7,51.883s19.9,44.8,44.35,44.8S95.7,76.585,95.7,51.883c0-1.477-.07-2.939-.205-4.376a3.5,3.5,0,1,1,6.97-.684q.237,2.5.238,5.06c0,28.6-23.038,51.874-51.352,51.874Zm0,0"
                transform="translate(0 -0.008)" fill="#ea5b29" stroke="#fd4d00" stroke-width="1"/>
        </g>
      </g>
    </g>

  </svg>
  <h2 class="page-title text-center">Congratulations!</h2>
  <p class="desc text-center">{{data?.desc}}</p>
  <p class="hint text-center" style="white-space: pre-wrap">{{data?.hint}}</p>
</div>



