<section>
  <h5 class="pl-4 pr-4 pt-3 pb-3 bg-gray">{{ "Fonts" | translate }}</h5>

  <div class="col-12 pl-0 pl-sm-3 pr-0 pr-sm-3">
    <p class="text-grey mb-4">
      {{
        "No coding knowledge required! Wzholding gives you the ability to build
          virtually any design style with the only limits being your imagination.
          The most Advanced Options Network combined with fast visual designing and
          editing puts everything at your fingertips."
          | translate
      }}
    </p>
    <form>
      <!-- Type Font -->
      <div class="row border-bottom pt-3 pb-3">
        <div class="col-sm-6">
          <app-form-item-label
            [formItemHeading]="'Type Font' | translate"
            [formItemSubHeading]="
              'These settings control the typography for all body text.'
                | translate
            "
          ></app-form-item-label>
        </div>
        <div class="col-sm-6 mt-2 mt-sm-0 text-right">
          <app-custom-select
            class="float-right"
            [settingObj]="optionObj.type_font_select"
            [optionKey]="'type_font_select'"
            (changedOption)="onFontTypeChanged($event)"
          ></app-custom-select>
        </div>
      </div>

      <!-- conditionally showing content -->

      <div [ngSwitch]="fontType">
        <div *ngSwitchCase="'google'">
          <!-- Heading fonts -->
          <div class="row border-bottom pt-3 pb-3">
            <div class="col-sm-6">
              <app-form-item-label
                [formItemHeading]="'Heading fonts' | translate"
                [formItemSubHeading]="
                  'These settings control the typography for all headings, 
            H1, H2, H3, H4, H5, H6.'
                    | translate
                "
              ></app-form-item-label>
            </div>
            <div class="col-6 col-sm-3 mt-2 mt-sm-0">
              <div class="form-group position-relative">
                <app-custom-dropdown
                  [settingObj]="optionObj.type_headings"
                  [optionKey]="'type_headings'"
                  (changedOption)="onFontChanged($event)"
                >
                </app-custom-dropdown>
              </div>
            </div>
            <div class="col-6 col-sm-3 mt-2 mt-sm-0" id="type_headings">
              <h2 class="border p-1">{{ "wizshops" | translate }}</h2>
            </div>
          </div>

          <!-- Text fonts (paragraphs, etc..) -->
          <div class="row border-bottom pt-3 pb-3">
            <div class="col-sm-6">
              <app-form-item-label
                [formItemHeading]="'Text fonts (paragraphs, etc..)' | translate"
                [formItemSubHeading]="
                  'These settings control the typography for all body text.'
                    | translate
                "
              ></app-form-item-label>
            </div>
            <div class="col-6 col-sm-3 mt-2 mt-sm-0">
              <div class="form-group position-relative">
                <app-custom-dropdown
                  [settingObj]="optionObj.type_texts"
                  [optionKey]="'type_texts'"
                  (changedOption)="onFontChanged($event)"
                >
                </app-custom-dropdown>
              </div>
            </div>
            <div class="col-6 col-sm-3 mt-2 mt-sm-0" id="type_texts">
              <p class="border p-1">
                Lorem ipsum dosectetur adipisicing elit, sed do.Lorem ipsum
                dolor sit amet, consectetur Nulla fringilla purus at leo
                dignissim congue. | translate
              </p>
            </div>
          </div>

          <!-- Main navigation -->
          <div class="row border-bottom pt-3 pb-3">
            <div class="col-sm-6">
              <app-form-item-label
                [formItemHeading]="'Main navigation' | translate"
                [formItemSubHeading]="
                  'These settings control the typography for all body text.'
                    | translate
                "
              ></app-form-item-label>
            </div>

            <div class="col-6 col-sm-3 mt-2 mt-sm-0">
              <div class="form-group position-relative">
                <app-custom-dropdown
                  [settingObj]="optionObj.type_nav"
                  [optionKey]="'type_nav'"
                  (changedOption)="onFontChanged($event)"
                >
                </app-custom-dropdown>
              </div>
            </div>
            <div class="col-6 col-sm-3 mt-2 mt-sm-0" id="type_nav">
              <h2 class="border p-1">{{ "THIS IS THE TEXT." | translate }}</h2>
            </div>
          </div>

          <!-- Banner font -->
          <div class="row border-bottom pt-3 pb-3">
            <div class="col-sm-6">
              <app-form-item-label
                [formItemHeading]="'Banner font' | translate"
                [formItemSubHeading]="
                  'These settings control the typography for all body text.'
                    | translate
                "
              ></app-form-item-label>
            </div>

            <div class="col-6 col-sm-3 mt-2 mt-sm-0">
              <div class="form-group position-relative">
                <app-custom-dropdown
                  [settingObj]="optionObj.type_banner"
                  [optionKey]="'type_banner'"
                  (changedOption)="onFontChanged($event)"
                >
                </app-custom-dropdown>
              </div>
            </div>
            <div class="col-6 col-sm-3 mt-2 mt-sm-0" id="type_banner">
              <h2 class="border p-1">{{ "THIS IS THE TEXT." | translate }}</h2>
            </div>
          </div>

          <!-- Price font -->
          <div class="row pt-3 pb-3">
            <div class="col-sm-6">
              <app-form-item-label
                [formItemHeading]="'Price font' | translate"
                [formItemSubHeading]="
                  'These settings control the typography for all body text.'
                    | translate
                "
              ></app-form-item-label>
            </div>
            <div class="col-6 col-sm-3 mt-2 mt-sm-0">
              <div class="form-group position-relative">
                <app-custom-dropdown
                  [settingObj]="optionObj.type_price"
                  [optionKey]="'type_price'"
                  (changedOption)="onFontChanged($event)"
                >
                </app-custom-dropdown>
              </div>
            </div>
            <div class="col-6 col-sm-3 mt-2 mt-sm-0" id="type_price">
              <h2 class="border p-1">$999.</h2>
            </div>
          </div>

          <!-- Character Sub-sets -->
          <!-- <div class="row pt-3 pb-3">
        <div class="col-sm-5">
          <app-form-item-label
            [formItemHeading]="'Character Sub-sets' | translate"
            [formItemSubHeading]="
              'These settings control the typography for all body text.' | translate
            "
          ></app-form-item-label>
        </div>
        <div class="col-sm-7">
          <app-custom-checkbox
            [settingObj]="optionObj.type_subset"
            [optionKey]="'type_subset'"
            (changedOption)="onOptionChanged($event)"
          ></app-custom-checkbox>
        </div>
      </div> -->
        </div>
        <div *ngSwitchCase="'custom'">
          <!-- Upload Custom Font -->
          <div class="row border-bottom pt-3 pb-3">
            <div class="col-6">
              <app-form-item-label
                [formItemHeading]="'Upload Custom Font' | translate"
                [formItemSubHeading]="''"
              ></app-form-item-label>
            </div>
            <div class="col-6 d-flex flex-column align-items-end">
              <input type="file" />
            </div>
          </div>

          <!-- Select Custom Font -->
          <div class="row border-bottom pt-3 pb-3">
            <div class="col-6">
              <app-form-item-label
                [formItemHeading]="'Select Custom Font' | translate"
                [formItemSubHeading]="''"
              ></app-form-item-label>
            </div>
            <div class="col-6">
              <div class="form-group position-relative">
                <app-custom-dropdown
                  [settingObj]="optionObj.type_subset"
                  [optionKey]="'type_subset'"
                  (changedOption)="onFontChanged($event)"
                >
                </app-custom-dropdown>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>
