<section>
  <h5 class="pl-4 pr-4 pt-3 pb-3 bg-gray">{{ "Style & Colors" | translate }}</h5>

  <div class="col-12 pl-0 pl-sm-3 pr-0 pr-sm-3">
    <p class="text-grey mb-4">
      {{
        "No coding knowledge required! Wzholding gives you the ability to build
          virtually any design style with the only limits being your imagination.
          The most Advanced Options Network combined with fast visual designing and
          editing puts everything at your fingertips."
          | translate
      }}
    </p>
    <form>
    <!-- Primary Color -->
    <!-- <div class="row border-bottom pt-3 pb-3">
        <div class="col-6">
          <app-form-item-label
            [formItemHeading]="'Primary Color' | translate"
            [formItemSubHeading]="'Controls the background color for the page.' | translate"
          ></app-form-item-label>
        </div>
        <div class="col-6">
          <app-color-picker
            class="float-right"
            [color]="optionObj.color_primary"
            [optionKey]="'color_primary'"
            (pickedColor)="onOptionChanged($event)"
          >
          </app-color-picker>
        </div>
      </div> -->

      <!-- Success Color -->
      <!-- <div class="row border-bottom pt-3 pb-3">
        <div class="col-6">
          <app-form-item-label
            [formItemHeading]="'Success Color' | translate"
            [formItemSubHeading]="'Controls the background color for the page.' | translate"
          ></app-form-item-label>
        </div>
        <div class="col-6">
          <app-color-picker
            class="float-right"
            [color]="optionObj.color_success"
            [optionKey]="'color_success'"
            (pickedColor)="onOptionChanged($event)"
          >
          </app-color-picker>
        </div>
      </div> -->


      <!-- Badge Color -->
      <div class="row border-bottom pt-3 pb-3">
        <div class="col-sm-4">
          <app-form-item-label
            [formItemHeading]="'Badge Color' | translate"
            [formItemSubHeading]="'Controls the background color for the page.' | translate"
          ></app-form-item-label>
        </div>
        <div class="col-sm-8 d-flex justify-content-sm-end flex-wrap mt-2 mt-sm-0">
            <div class="form-group d-flex flex-column mr-3 mb-0">
              <label for="color_hot_label">{{"Custom Color" | translate}}</label>
              <app-color-picker
                [color]="optionObj.color_hot_label"
                [optionKey]="'color_hot_label'"
                (pickedColor)="onOptionChanged($event)"
              >
              </app-color-picker>
            </div>
            <div class="form-group d-flex flex-column mr-3 mb-0">
              <label for="color_sale_label">{{"Sale Color" | translate}}</label>
              <app-color-picker
                [color]="optionObj.color_sale_label"
                [optionKey]="'color_sale_label'"
                (pickedColor)="onOptionChanged($event)"
              >
              </app-color-picker>
            </div>
            <div class="form-group d-flex flex-column mr-3 mb-0">
                <label for="color_deal_label">{{"Deal Color" | translate}}</label>
                <app-color-picker
                  [color]="optionObj.color_deal_label"
                  [optionKey]="'color_deal_label'"
                  (pickedColor)="onOptionChanged($event)"
                >
                </app-color-picker>
              </div>
              <div class="form-group d-flex flex-column mr-3 mb-0">
                <label for="color_variants_label">{{"Variants Color" | translate}}</label>
                <app-color-picker
                  [color]="optionObj.color_variants_label"
                  [optionKey]="'color_variants_label'"
                  (pickedColor)="onOptionChanged($event)"
                >
                </app-color-picker>
              </div>
          </div>
      </div>

      <!-- Price Color -->
      <div class="row border-bottom pt-3 pb-3">
        <div class="col-6">
          <app-form-item-label
            [formItemHeading]="'Price Color' | translate"
            [formItemSubHeading]="'Controls the background color for the page.' | translate"
          ></app-form-item-label>
        </div>
        <div class="col-6">
          <app-color-picker
            class="float-right"
            [color]="optionObj.color_price_label"
            [optionKey]="'color_price_label'"
            (pickedColor)="onOptionChanged($event)"
          >
          </app-color-picker>
        </div>
      </div>

      <!-- Buttons Background -->
      <div class="row border-bottom pt-3 pb-3">
        <div class="col-sm-6">
          <app-form-item-label
            [formItemHeading]="'Buttons Background' | translate"
            [formItemSubHeading]="'Controls the background color for the page.' | translate"
          ></app-form-item-label>
        </div>
        <div class="col-sm-6 d-flex justify-content-sm-end mt-2 mt-sm-0">
          <div class="form-group d-flex flex-column mr-3 mb-0">
            <label for="color_button">{{"Color" | translate}}</label>
            <app-color-picker
              [color]="optionObj.color_button"
              [optionKey]="'color_button'"
              (pickedColor)="onOptionChanged($event)"
            >
            </app-color-picker>
          </div>
          <div class="form-group d-flex flex-column mb-0">
            <label for="color_hover">{{"Color Hover" | translate}}</label>
            <app-color-picker
              [color]="optionObj.color_hover"
              [optionKey]="'color_hover'"
              (pickedColor)="onOptionChanged($event)"
            >
            </app-color-picker>
          </div>
        </div>
      </div>

      <!-- Buttons Border -->
      <div class="row border-bottom pt-3 pb-3">
        <div class="col-sm-6">
          <app-form-item-label
            [formItemHeading]="'Buttons Border' | translate"
            [formItemSubHeading]="'Controls the background color for the page.' | translate"
          ></app-form-item-label>
        </div>
        <div class="col-sm-6 d-flex justify-content-sm-end mt-2 mt-sm-0">
          <div class="form-group d-flex flex-column mr-3 mb-0">
            <label for="button_border_color">{{"Color" | translate}}</label>
            <app-color-picker
              [color]="optionObj.button_border_color"
              [optionKey]="'button_border_color'"
              (pickedColor)="onOptionChanged($event)"
            >
            </app-color-picker>
          </div>
          <div class="form-group d-flex flex-column mb-0">
            <label for="button_border_color_hover">{{"Color Hover" | translate}}</label>
            <app-color-picker
              [color]="optionObj.button_border_color_hover"
              [optionKey]="'button_border_color_hover'"
              (pickedColor)="onOptionChanged($event)"
            >
            </app-color-picker>
          </div>
        </div>
      </div>

      <!-- Buttons Text -->
      <div class="row border-bottom pt-3 pb-3">
        <div class="col-sm-6">
          <app-form-item-label
            [formItemHeading]="'Buttons Text' | translate"
            [formItemSubHeading]="'Controls the background color for the page.'  | translate"
          ></app-form-item-label>
        </div>
        <div class="col-sm-6 d-flex justify-content-sm-end mt-2 mt-sm-0">
          <div class="form-group d-flex-flex-column mr-3 mb-0">
            <label for="button_text_color">{{"Color" | translate}}</label>
            <app-color-picker
              [color]="optionObj.button_text_color"
              [optionKey]="'button_text_color'"
              (pickedColor)="onOptionChanged($event)"
            >
            </app-color-picker>
          </div>
          <div class="form-group d-flex-flex-column mb-0">
            <label for="button_text_color_hover">{{"Color Hover" | translate}}</label>
            <app-color-picker
              [color]="optionObj.button_text_color_hover"
              [optionKey]="'button_text_color_hover'"
              (pickedColor)="onOptionChanged($event)"
            >
            </app-color-picker>
          </div>
        </div>
      </div>

      <!-- Buttons Radius -->
      <div class="row border-bottom pt-3 pb-3">
        <div class="col-sm-6">
          <app-form-item-label
            [formItemHeading]="'Buttons Radius' | translate"
            [formItemSubHeading]="'Select an image file for your sticky header logo.' | translate"
          ></app-form-item-label>
        </div>
        <div class="col-sm-6 mt-2 mt-sm-0">
          <app-range-slider
            [optionKey]="'button_radius'"
            [rangeValue]="optionObj.button_radius"
            (changedRange)="onOptionChanged($event)"
          ></app-range-slider>
        </div>
      </div>

      <!-- Buttons Border Width -->
      <div class="row border-bottom pt-3 pb-3">
        <div class="col-sm-6">
          <app-form-item-label
            [formItemHeading]="'Buttons Border Width' | translate"
            [formItemSubHeading]="'Select an image file for your sticky header logo.' | translate"
          ></app-form-item-label>
        </div>
        <div class="col-sm-6 mt-2 mt-sm-0">
          <app-range-slider
            [optionKey]="'button_border'"
            [rangeValue]="optionObj.button_border"
            (changedRange)="onOptionChanged($event)"
          ></app-range-slider>
        </div>
      </div>

      <!-- Inputs Radius -->
      <div class="row pt-3 pb-3">
        <div class="col-sm-6">
          <app-form-item-label
            [formItemHeading]="'Inputs Radius' | translate"
            [formItemSubHeading]="'Select an image file for your sticky header logo.' | translate"
          ></app-form-item-label>
        </div>
        <div class="col-sm-6 mt-2 mt-sm-0">
          <app-range-slider
            [optionKey]="'input_radius'"
            [rangeValue]="optionObj.input_radius"
            (changedRange)="onOptionChanged($event)"
          ></app-range-slider>
        </div>
      </div>
      
    </form>
  </div>
</section>
