<main class="card p-3">
  <header class="d-flex align-items-center justify-content-center mb-3 position-relative">
    <p class="steps mb-0">Step 4 of 6</p>
  </header>
  <form #form="ngForm" (ngSubmit)="setDeliveryRegion()">
    <section class="body">
      <div class="heading text-center">
        <h3 class="heading-title text-center">Delivery Region</h3>
        <p class="heading-description text-center mb-1">Choose the areas you can deliver your orders</p>
      </div>
      <div class="inputs" [ngStyle]="deliveryRegion.delivery_region_rule !== 'specific regions' ? {'margin-bottom': '20rem'} : {}">
        <div class="form-group text-center d-flex align-items-center justify-content-center mb-3">
          <label class="mb-0">
            <input type="radio" name="rule" [(ngModel)]="deliveryRegion.delivery_region_rule" required [value]="'throughout country'" />
            <span>{{ 'Throughout Country' | translate }}</span>
          </label>
          <label class="mb-0">
            <input type="radio" name="rule" [(ngModel)]="deliveryRegion.delivery_region_rule"  required [value]="'specific regions'" />
            <span>{{ 'Specific Regions/Zones' | translate }}</span>
          </label>
        </div>
        <div class="regions" *ngIf="deliveryRegion.delivery_region_rule === 'specific regions'">
          <header class="row align-items-center mb-3">
            <h5 class="hint col-lg-6  mb-lg-0 mb-2">Select the specific regions from the below list:</h5>
            <div class="form-group col-lg-6 mb-0">
              <input type="search" class="form-control-lg form-control" name="search" (input)="searchStates(npt.value)" #npt placeholder="Search">
              <i class="fa fa-search icon" aria-hidden="true"></i>
            </div>
          </header>
          <div class="row">
            <div class="col-lg-6">
              <div class="region-list">
                <ng-container *ngFor="let state of stateSearch ? filteredStates : countries[currentCountry]?.states; index as i">
                  <form class="d-flex align-items-center mb-3">
                    <div class="select">
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" required [checked]="state?.selected" (click)="selectState(state)" [name]="'state' + i" [(ngModel)]="state.selected" class="custom-control-input" [id]="'id' + i">
                        <label class="custom-control-label" [for]="'id' + i"></label>
                      </div>
                    </div>
                    <div class="text flex-grow-1 d-flex align-items-center justify-content-between" [class.selected]="state?.selected" matRipple [matMenuTriggerFor]="menu">
                      <h5 class="mb-0 state">{{state?.name}}</h5>
                      <i class="fa fa-chevron-right" aria-hidden="true"></i>
                    </div>
                    <mat-menu class=" menu country-menu" #menu="matMenu" xPosition="before" yPosition="below">
                      <div class="menu-content" (click)="$event.stopPropagation()">
                        <div class="form-group position-relative">
                          <input type="search" [name]="'city_' + i"  (input)="searchCity($event, state)" class="form-control-lg form-control" placeholder="Search">
                          <i class="fa fa-search icon" aria-hidden="true"></i>
                        </div>
                        <div class="list-cities">
                          <div class="city" matRipple *ngFor="let city of citySearch ? filteredCity : state?.cities; index as y">
                            <div class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input" [checked]="city?.selected" [(ngModel)]="city.selected" [name]="'city' + y" [id]="'city' + y">
                              <label class="custom-control-label" [for]="'city' + y">{{city?.name}}</label>
                            </div>
                          </div>
                          <!--                        <p class="text-muted" *ngIf="state?.cities?.length <= 0">there is no cities in this state.</p>-->
                        </div>
                      </div>
                    </mat-menu>
                  </form>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="action-bnts d-flex align-items-center justify-content-between ">
      <button mat-button type="button" class="back-btn" [routerLink]="['../', 'pickup-address']">{{ 'Back' | translate }}</button>
      <button mat-raised-button class="next-btn" [disabled]="form?.invalid || loading" (click)="checkCountries()">
        <i class="fa fa-spinner fa-spin mr-2" *ngIf="loading" aria-hidden="true"></i>
        <span *ngIf="loading">{{ 'Loading...' | translate }}</span>
        <span *ngIf="!loading">{{ 'Next' | translate }}</span>
      </button>
    </div>
  </form>
</main>
