.steps {
  color: rgba(#313E48, 0.4);
  font-size: 1.3em;
}

form {
  position: relative;

  .body {
    width: 90%;
    margin: auto;
    text-align: center;
    position: relative;

    .heading-description {
      color: rgba(#313E48, 0.8);
      font-size: 1.5em;
    }

    .heading {
      margin-bottom: 2rem;

      .heading-title {
        color: #313E48;
      }
    }

    .hint {
      color: rgba(#313E48, 0.7);
    }

    .inputs {
      .regions {
        border: 2px solid #E5E5E5;
        padding: 2rem;
        margin-bottom: 1rem;
        border-radius: 4px;

        .region-list {
          .select {

          }

          .text {
            cursor: pointer;
            padding: 0.7rem 1.2rem;
            background-color: #FCFCFC !important;
            border: 2px solid #FCFCFC;

            .state {
            }

            &.selected {
              border: 2px solid #E4E4E4;
            }
          }

          .menu {
           min-width: 600px !important;
          }
        }
      }
    }

    .npt-desc {
      color: rgba(#343E47, 0.5);
      text-align: center;
    }
  }

  .custom-control {
    margin-right: 1rem;

    input:checked ~ label {
      &:before {
        background-color: #EA5B29;
        border-color: #EA5B29;
      }
    }

    .custom-control-label {
      cursor: pointer;

      &:after, &:before {
        top: 0;
        width: 1.5rem;
        height: 1.5rem;
      }

      &:before {
        box-shadow: none;
        border: 2px solid #EA5B29;
        background-color: #F5F5F5;
      }
    }
  }

  .form-group {
    position: relative;

    label {
      color: #343E47;
    }

    .icon {
      position: absolute;
      top: 50%;
      right: 30px;
      color: #313E48;
      transform: translateY(-50%);
    }

    input {
      padding-right: 3rem;
      //width: 350px;
      background-color: #FCFCFC;
      border: 1px solid #E5E5E5;
      width: 100%;
    }
  }
}


@media screen and (max-width: 768px) {
  form {
    .body {
      width: 100%;

      .form-group {
        input {
          width: 100%;
        }
      }
    }
  }
}

