<section class="form">
  <section class="body">
    <div class="heading text-center">
      <h2 class="heading-title text-center">Provide conditional free shipping only for specific orders</h2>
      <span class="hint">Set your own rates and conditions as per the order subtotal price</span>
    </div>
    <div class="table-responsive-lg">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th scope="col">
            <div class="table-header">
              <div class="d-flex align-items-center justify-content-between mb-2">
                <h5 class="mb-0 table-header-text">Order Subtotal Price Range </h5>
                <a matTooltip="{{ 'Info about the icon' | translate }}">
                  <svg xmlns="http://www.w3.org/2000/svg" width="14.419" height="17.661" viewBox="0 0 14.419 17.661">
                    <g id="Group_46464" data-name="Group 46464" transform="translate(-636.999 -337)">
                      <g id="Group_46463" data-name="Group 46463" transform="translate(636.999 337)">
                        <path id="Path_60331" data-name="Path 60331"
                              d="M744.308,442.633c-4.957-2.905-6.619-3.962-6.619-7.018v-6.751c0-.951.356-1.27,1.173-1.59,1.261-.5,4.069-1.573,5.33-1.981a2.46,2.46,0,0,1,.711-.133,2.2,2.2,0,0,1,.7.133c1.269.436,4.069,1.475,5.331,1.981.817.328,1.173.639,1.173,1.59v6.751c0,3.056-1.645,4.14-6.619,7.018a1.026,1.026,0,0,1-1.181,0Zm1.11-1.244c4.1-2.585,5.6-3.3,5.6-6.006v-6.325c0-.444-.078-.622-.417-.746-1.2-.436-4.086-1.5-5.269-1.972a1.476,1.476,0,0,0-.426-.107,1.109,1.109,0,0,0-.427.107c-1.19.471-4.094,1.5-5.277,1.972-.337.133-.417.3-.417.746v6.325c0,2.7,1.475,3.439,5.6,6.006a.786.786,0,0,0,1.039,0Zm-1.341-4.1a.822.822,0,1,1,.825.8A.814.814,0,0,1,744.077,437.294Zm.266-2.531-.1-4.753a.649.649,0,0,1,1.3.009l-.1,4.744a.519.519,0,0,1-.543.577A.527.527,0,0,1,744.344,434.763Z"
                              transform="translate(-737.689 -425.159)" fill="#313e48"/>
                      </g>
                    </g>
                  </svg>
                </a>

              </div>
              <div class="table-description">
                <p class="mb-0 text font-weight-normal">Hint: order subtotal price after discounts</p>
              </div>
            </div>
          </th>
          <th scope="col">
            <div class="table-header">
              <div class="d-flex align-items-center justify-content-between mb-2">
                <h5 class="mb-0 table-header-text">Order Subtotal Price Range </h5>
                <a matTooltip="{{ 'Info about the icon' | translate }}">
                  <svg xmlns="http://www.w3.org/2000/svg" width="14.419" height="17.661" viewBox="0 0 14.419 17.661">
                    <g id="Group_46464" data-name="Group 46464" transform="translate(-636.999 -337)">
                      <g id="Group_46463" data-name="Group 46463" transform="translate(636.999 337)">
                        <path id="Path_60331" data-name="Path 60331"
                              d="M744.308,442.633c-4.957-2.905-6.619-3.962-6.619-7.018v-6.751c0-.951.356-1.27,1.173-1.59,1.261-.5,4.069-1.573,5.33-1.981a2.46,2.46,0,0,1,.711-.133,2.2,2.2,0,0,1,.7.133c1.269.436,4.069,1.475,5.331,1.981.817.328,1.173.639,1.173,1.59v6.751c0,3.056-1.645,4.14-6.619,7.018a1.026,1.026,0,0,1-1.181,0Zm1.11-1.244c4.1-2.585,5.6-3.3,5.6-6.006v-6.325c0-.444-.078-.622-.417-.746-1.2-.436-4.086-1.5-5.269-1.972a1.476,1.476,0,0,0-.426-.107,1.109,1.109,0,0,0-.427.107c-1.19.471-4.094,1.5-5.277,1.972-.337.133-.417.3-.417.746v6.325c0,2.7,1.475,3.439,5.6,6.006a.786.786,0,0,0,1.039,0Zm-1.341-4.1a.822.822,0,1,1,.825.8A.814.814,0,0,1,744.077,437.294Zm.266-2.531-.1-4.753a.649.649,0,0,1,1.3.009l-.1,4.744a.519.519,0,0,1-.543.577A.527.527,0,0,1,744.344,434.763Z"
                              transform="translate(-737.689 -425.159)" fill="#313e48"/>
                      </g>
                    </g>
                  </svg>
                </a>

              </div>
              <div class="table-description">
                <p class="mb-0 text font-weight-normal">Hint: order subtotal price after discounts</p>
              </div>
            </div>
          </th>
        </tr>
        </thead>
        <tbody>
        <!--  normal condition -->
        <ng-container [formGroup]="formGroup">
          <ng-container [formArrayName]="'conditions'">
            <ng-container [formGroupName]="i" *ngFor="let group of conditionsArray.controls; let i = index;">
              <tr>
                <td>
                  <div class="row range">
                    <div class="col">
                      <div class="input-group" [class.has-error]="group.get('from_order_value')?.touched && group.get('from_order_value')?.invalid">
                        <div class="input-group-prepend">
                          <span class="input-group-text">{{ currency }}</span>
                        </div>
                        <input type="text" class="form-control form-control-lg" onkeypress="validateN(event)" aria-describedby="from"
                               formControlName="from_order_value"
                        />
                        <div class="error-absolute" *ngIf="group.get('from_order_value')?.errors">
                          <span class="error-text" *ngIf="group.get('from_order_value')?.errors?.required">{{ 'This field is required' | translate  }}</span>
                          <span class="error-text" *ngIf="group.get('from_order_value')?.errors?.min">{{ 'This field can not be less than {min}' | translate: { min: group.get('from_order_value')?.errors?.min.min } }}</span>
                          <span class="error-text" *ngIf="group.get('from_order_value')?.errors?.max">{{ 'This field can not be more than {max}' | translate: { max: group.get('from_order_value')?.errors?.max.max } }}</span>
                        </div>
                      </div>
                    </div>
                    <ng-container *ngIf="i < conditionsArray.controls.length - 1">
                      <div class="col">
                        <div class="input-group" [class.has-error]="group.get('to_order_value')?.touched && group.get('to_order_value')?.invalid">
                          <div class="input-group-prepend">
                            <span class="input-group-text">{{ currency }}</span>
                          </div>
                          <input type="text" class="form-control form-control-lg" onkeypress="validateN(event)" aria-describedby="to"
                                 formControlName="to_order_value"
                          />
                          <div class="error-absolute" *ngIf="group.get('to_order_value')?.errors">
                            <span class="error-text" *ngIf="group.get('to_order_value')?.errors?.required">{{ 'This field is required' | translate  }}</span>
                            <span class="error-text" *ngIf="group.get('to_order_value')?.errors?.min">{{ 'This field can not be less than {min}' | translate: { min: group.get('to_order_value')?.errors?.min.min } }}</span>
                          </div>
                        </div>
                      </div>
                    </ng-container>
                    <ng-container *ngIf="i === conditionsArray.controls.length - 1">
                      <div class="col-6">
                        <p class="mb-0 bg-white d-block above">{{ 'and above' | translate }}</p>
                        <input type="hidden" onkeypress="validateN(event)" class="d-none" name="custom_to"
                               formControlName="to_order_value"
                        />
                      </div>
                    </ng-container>
                  </div>
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <div class="flex-grow-1">
                      <div class="input-group" [class.has-error]="group.get('percentage_rate')?.touched && group.get('percentage_rate')?.invalid">
                        <input type="text" onkeypress="validateN(event)" class="form-control form-control-lg" aria-describedby="rate"
                               formControlName="percentage_rate"
                        />
                        <div class="input-group-append">
                          <span class="input-group-text">%</span>
                        </div>
                        <div class="error-absolute" *ngIf="group.get('percentage_rate')?.errors">
                          <span class="error-text" *ngIf="group.get('percentage_rate')?.errors?.required">{{ 'This field is required' | translate  }}</span>
                        </div>
                      </div>
                    </div>
                    <div class="delete px-3" [class.invisible]="i === conditionsArray.controls.length - 1">
                      <button mat-button type="button" (click)="removeConditional(i)"><i class="fa fa-trash" aria-hidden="true"></i></button>
                    </div>
                  </div>
                </td>
              </tr>
            </ng-container>
          </ng-container>
        </ng-container>
        </tbody>
      </table>
    </div>
    <div class="add-new-row">
      <button mat-button type="button" (click)="addConditional()">
        <i class="fa fa-plus mr-3 icon" aria-hidden="true"></i>
        <span>{{ 'Add row' | translate }}</span>
      </button>
    </div>
  </section>
</section>
