@import "../../../assets/variables";

.example-container {
  height: 100%;

  mat-drawer {
    user-select: none;
    padding: 20px 0 20px 0;
    height: 100%;
    width: 300px !important;
    background-color: #313E48;
    //box-shadow: 0 16px 38px -12px rgba(0,0,0,.56),
    //            0 4px 25px 0 rgba(0,0,0,.12),
    //              0 8px 10px -5px rgba(0,0,0,.2);
    .logo {
      //padding-left: 20px;
      margin-bottom: 20px;
    }

    .side-links {
      .side-item {
        padding: 0.8rem 1.7rem;
        color: white;
        font-size: 1.2em;
        cursor: pointer;
        transition: 0.2s;

        &.heading {
          font-size: 1.4em;
          border-bottom: 1.9px solid rgba(white, 0.4);
          margin-bottom: 0.5rem;
        }

        .side-link {
          color: white;
          text-decoration: none;
        }

        .icon {
          fill: white
        }

        &.side-active {
          background-color: #E4E6E7;
          color: #EA5B29;
          position: relative;

          .side-link {
            color: #EA5B29;
          }

          .icon {
            fill: #EA5B29;
          }

          &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 7px;
            background-color: #EA5B29;
          }
        }

        &:not(.side-active) {
          &:hover {
            background-color: rgba(black, 0.1);
          }
        }
      }
    }
  }

  mat-drawer-content {
    background-color: $bg-color !important;

    nav {
      padding: 10px 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: white;
      box-shadow: 0 2px 6px rgba(black, 0.1);

      .collapse-btn {
        //-webkit-border-radius: 50%;
        //-moz-border-radius: 50%;
        border-radius: 8px;
        padding: 0 !important;
        height: 50px;
        width: 50px;
        transition: 0.2s;
        margin-right: 0.7rem;

        &:hover {
          background-color: rgba(#ccc, 0.3);
        }
      }

      .user-options {

        .user-avatar {
          cursor: pointer;
          border-radius: 4px;
          .img {
            height: 35px;
            width: 35px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #229FFF;
            background-color: #EBF6FF;
            //border: 2px solid rgba(black, 0.2);
            overflow: hidden;
            border-radius: 50%;
          }
        }

        button {
          //margin: 0 10px;
        }

        i {
          font-size: 1.2em;
        }
      }
    }
  }

}

.slide-menu {
  background-color: #3E4B54;
  overflow: hidden;
  white-space: nowrap;
  .side-item {
    a, i {
      color: $semi-gray !important;
    }
    &.menu-active {
      a, i {
        color: white !important;
      }
    }
  }
}
