<mat-drawer-container class="example-container" [dir]="langDirection">

  <mat-drawer #drawer [mode]="window.innerWidth > 1200 ? 'side' : 'push'" [opened]="window.innerWidth > 1200">
    <div class="logo text-center">
      <img src="assets/Logo.png" alt="logo" width="60">
    </div>
    <div class="side-links">
      <ul class="list-unstyled p-0">
        <li class="side-item d-flex align-items-center justify-content-between heading" (click)="drawer.toggle()">
          <a class="side-link">{{ 'Menu' | translate }}</a>
          <svg xmlns="http://www.w3.org/2000/svg" width="22" height="11.242" viewBox="0 0 22 11.242">
            <path id="Path_60290" data-name="Path 60290"
                  d="M898.243,430.728a.641.641,0,0,1,.649-.638h20.7a.644.644,0,1,1,0,1.287h-20.7A.644.644,0,0,1,898.243,430.728Zm0,4.983a.644.644,0,0,1,.649-.649h20.7a.649.649,0,0,1,0,1.3h-20.7A.643.643,0,0,1,898.243,435.711Zm0,4.973a.643.643,0,0,1,.649-.649h20.7a.649.649,0,1,1,0,1.3h-20.7A.643.643,0,0,1,898.243,440.683Z"
                  transform="translate(-898.243 -430.09)" fill="#fff"/>
          </svg>
        </li>

        <li class="side-item d-flex align-items-center justify-content-between" matRipple routerLink="/user"
            routerLinkActive="side-active" [routerLinkActiveOptions]="{exact: true}"
            (click)="closeProductMenu(); closeThemes(); closeAnalytics(); closeSettings()">
          <a class="side-link">{{ 'Home' | translate }}</a>
          <!--          <i class="fa fa-home icon" aria-hidden="true"></i>-->
          <svg xmlns="http://www.w3.org/2000/svg" width="22" height="19.987" viewBox="0 0 22 19.987" class="icon">
            <path id="Path_60265" data-name="Path 60265"
                  d="M511.17,317.572v-9.195l-1.452,1.326a.733.733,0,0,1-.533.251.571.571,0,0,1-.619-.561.614.614,0,0,1,.223-.494l9.737-8.895a1.534,1.534,0,0,1,1.045-.435,1.511,1.511,0,0,1,1.035.435l4.472,4.085v-3.949a.541.541,0,0,1,.581-.571h.978a.541.541,0,0,1,.58.571v5.9l3.136,2.855a.638.638,0,0,1,.213.494.568.568,0,0,1-.61.561.773.773,0,0,1-.542-.251l-1.452-1.326v9.195a1.806,1.806,0,0,1-2,1.985H513.173A1.806,1.806,0,0,1,511.17,317.572Zm11.13.785h3.407a.947.947,0,0,0,1.065-1.075v-10l-6.813-6.213a.592.592,0,0,0-.387-.174.573.573,0,0,0-.388.174l-6.813,6.223v9.989a.94.94,0,0,0,1.055,1.075h3.407v-6.6a.622.622,0,0,1,.668-.658h4.133a.622.622,0,0,1,.668.658Z"
                  transform="translate(-508.566 -299.57)"/>
          </svg>
        </li>

        <li class="side-item d-flex align-items-center justify-content-between" matRipple routerLink="/user/orders"
            routerLinkActive="side-active"
            (click)="closeProductMenu(); closeThemes(); closeAnalytics(); closeSettings()">
          <a class="side-link">{{ 'Orders' | translate }}</a>
          <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="19.121" height="22" viewBox="0 0 19.121 22">
            <path id="Path_60273" data-name="Path 60273"
                  d="M426.349,442.566v-11.5c0-2.131,1.1-3.206,3.239-3.206h1.967a4.358,4.358,0,0,1,8.7,0h1.976c2.141,0,3.239,1.087,3.239,3.206v11.5c0,2.109-1.1,3.207-3.019,3.207H429.588C427.447,445.773,426.349,444.686,426.349,442.566Zm16.068,1.846c1,0,1.691-.648,1.691-1.922V431.133a1.723,1.723,0,0,0-1.911-1.922H429.611a1.711,1.711,0,0,0-1.9,1.922v11.356a1.707,1.707,0,0,0,1.9,1.922Zm-9.5-16.551H438.9a3,3,0,0,0-5.985,0Z"
                  transform="translate(-426.349 -423.773)"/>
          </svg>
        </li>

        <li class="side-item d-flex align-items-center justify-content-between" routerLink="/user/products/all-products"
            matRipple (click)="closeAnalytics(); closeThemes() ;toggleProductsMenu(); closeSettings()">
          <a class="side-link">{{ 'Products' | translate }}</a>
          <!--          <i class="fa fa-box-open icon" aria-hidden="true"></i>-->
          <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="21.562" height="22" viewBox="0 0 21.562 22">
            <g id="Group_24" data-name="Group 24" transform="translate(-865.92 -513.494)">
              <path id="Path_24" data-name="Path 24"
                    d="M875.273,534.791a.395.395,0,0,1-.279-.674l.061-.065a1.433,1.433,0,0,1,1.163-.523h6.609a26.528,26.528,0,0,0,3.481-3.172,27.037,27.037,0,0,0,2.178-3.424,1.723,1.723,0,0,0-1.322-.176c-.637.149-1.063.589-1.626,1.684a.391.391,0,0,1-.169.171l-2.164,1.123a.4.4,0,0,1-.364-.7l2.052-1.066a3.251,3.251,0,0,1,2.093-1.98,2.275,2.275,0,0,1,2.295.622.394.394,0,0,1,.047.391,25.466,25.466,0,0,1-2.429,3.885c-.031.034-3.25,3.436-4.072,3.436h-6.609a.659.659,0,0,0-.583.271l-.081.085A.4.4,0,0,1,875.273,534.791Z"
                    transform="translate(-1.877 -2.601)"/>
              <path id="Path_25" data-name="Path 25"
                    d="M880.913,531.879h-3.777a.4.4,0,0,1,0-.791h3.777c.705,0,1.021-.394,1.021-.785s-.316-.785-1.021-.785h-2.494a1.7,1.7,0,0,1-.926-.473,2.02,2.02,0,0,0-.829-.471H874.3a2.959,2.959,0,0,0-1.618.838l-1.878,1.878-.559-.559,1.888-1.888a3.666,3.666,0,0,1,2.168-1.06h2.36a2.347,2.347,0,0,1,1.31.634,2.363,2.363,0,0,0,.465.311l2.474,0a1.591,1.591,0,1,1,0,3.151Z"
                    transform="translate(-0.907 -2.994)"/>
              <path id="Path_26" data-name="Path 26"
                    d="M871.98,538.988a.4.4,0,0,1-.279-.115l-5.665-5.665a.394.394,0,0,1,0-.559l2.36-2.36a.4.4,0,0,1,.559,0l5.665,5.665a.394.394,0,0,1,0,.559l-2.36,2.36A.4.4,0,0,1,871.98,538.988Zm-5.106-6.06,5.106,5.106,1.8-1.8-5.106-5.106Z"
                    transform="translate(0 -3.494)"/>
              <path id="Path_27" data-name="Path 27"
                    d="M870.246,534.893a.392.392,0,0,1-.279-.116l-.945-.944a.4.4,0,0,1,.559-.559l.945.944a.4.4,0,0,1-.28.675Z"
                    transform="translate(-0.626 -4.119)"/>
              <path id="Path_28" data-name="Path 28"
                    d="M881.022,524.485a.872.872,0,0,1-.541-.236l-3.632-2.911a.934.934,0,0,1-.3-.89l.671-4.526a.877.877,0,0,1,.7-.727c3.12-1.22,3.968-1.551,4.227-1.641l0-.009a.912.912,0,0,1,.856.136l3.632,2.912a.928.928,0,0,1,.32.811l-.684,4.606a.868.868,0,0,1-.615.72l-4.4,1.707A.633.633,0,0,1,881.022,524.485Zm1.421-10.2a.08.08,0,0,0-.028,0l-4.274,1.665c-.1.024-.13.046-.136.086l-.67,4.523a.292.292,0,0,0,.012.164l3.629,2.908.058.044L885.367,522a.385.385,0,0,0,.112-.057l.691-4.649a.192.192,0,0,0-.033-.08l-3.632-2.911A.122.122,0,0,0,882.444,514.284Zm3.692,2.925Z"
                    transform="translate(-2.225)"/>
              <path id="Path_29" data-name="Path 29"
                    d="M878.856,520.82a.395.395,0,0,1-.134-.766l2.911-1.062.571-3.421a.4.4,0,0,1,.779.13l-.608,3.648a.4.4,0,0,1-.255.306l-3.128,1.141A.381.381,0,0,1,878.856,520.82Z"
                    transform="translate(-2.627 -0.366)"/>
              <path id="Path_30" data-name="Path 30"
                    d="M885.823,523.03a.39.39,0,0,1-.245-.085l-3.009-2.383a.4.4,0,0,1,.491-.621l3.01,2.383a.4.4,0,0,1-.246.705Z"
                    transform="translate(-3.456 -1.333)"/>
            </g>
          </svg>

        </li>
        <div class="slide-menu" *ngIf="productsMenu" [@slideInOut]>
          <li class="side-item d-flex align-items-center justify-content-between" matRipple
              routerLink="/user/products/all-products" routerLinkActive="menu-active">
            <a class="side-link">{{ 'All Products' | translate }}</a>
            <i class="fa fa-angle-right" aria-hidden="true"></i>
          </li>
          <li class="side-item d-flex align-items-center justify-content-between" matRipple
              routerLink="/user/products/new-product" routerLinkActive="menu-active">
            <a class="side-link">{{ 'Add New' | translate }}</a>
            <i class="fa fa-angle-right" aria-hidden="true"></i>
          </li>
          <li class="side-item d-flex align-items-center justify-content-between" matRipple
              routerLink="/user/products/categories" routerLinkActive="menu-active"
              (click)="closeSettings(); closeAnalytics(); closeThemes();">
            <a class="side-link">{{ 'Categories' | translate }}</a>
            <i class="fa fa-angle-right" aria-hidden="true"></i>
          </li>
          <li class="side-item d-flex align-items-center justify-content-between" matRipple
              routerLink="/user/products/tags" routerLinkActive="menu-active"
              (click)="closeSettings(); closeAnalytics(); closeThemes();">
            <a class="side-link">{{ 'Tags' | translate }}</a>
            <i class="fa fa-angle-right" aria-hidden="true"></i>
          </li>
          <li class="side-item d-flex align-items-center justify-content-between" matRipple
              routerLink="/user/products/attributes" routerLinkActive="menu-active">
            <a class="side-link">{{ 'Attributes' | translate }}</a>
            <i class="fa fa-angle-right" aria-hidden="true"></i>
          </li>
        </div>

        <li class="side-item d-flex align-items-center justify-content-between" routerLink="/user/customers"
            routerLinkActive="side-active" matRipple
            (click)="closeProductMenu(); closeSettings(); closeThemes(); closeAnalytics()">
          <a class="side-link">{{ 'Customers' | translate }}</a>
          <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="22" height="14.61" viewBox="0 0 22 14.61">
            <g id="Group_39887" data-name="Group 39887" transform="translate(-674.851 -300.561)">
              <path id="Path_60285" data-name="Path 60285"
                    d="M694.115,307.8a3.505,3.505,0,0,0,3.352-3.662,3.356,3.356,0,1,0-6.7.008A3.507,3.507,0,0,0,694.115,307.8Zm0-6.306a2.5,2.5,0,0,1,2.364,2.644,2.385,2.385,0,1,1-4.721.008A2.5,2.5,0,0,1,694.115,301.492Z"
                    transform="translate(-4.12)"/>
              <path id="Path_60286" data-name="Path 60286"
                    d="M681.893,308.349a3.181,3.181,0,1,0-2.906-3.2A3.051,3.051,0,0,0,681.893,308.349Zm0-5.415a2.1,2.1,0,0,1,2,2.205,2.009,2.009,0,1,1-3.981.008A2.113,2.113,0,0,1,681.893,302.935Z"
                    transform="translate(-1.07 -0.375)"/>
              <path id="Path_60287" data-name="Path 60287"
                    d="M692.878,311.894c-4.244,0-6.855,2.954-6.855,5.032,0,.8.549,1.178,1.72,1.178h10.279c1.163,0,1.72-.374,1.72-1.178C699.742,314.848,697.13,311.894,692.878,311.894Zm5.39,5.271h-10.78c-.359,0-.486-.087-.486-.342,0-1.5,2.134-4,5.876-4s5.876,2.493,5.876,4C698.755,317.077,698.635,317.165,698.269,317.165Z"
                    transform="translate(-2.891 -2.933)"/>
              <path id="Path_60288" data-name="Path 60288"
                    d="M682.319,317.18h-6.147c-.286,0-.4-.1-.4-.366,0-2.126,2.317-4.037,5.04-4.037a5.286,5.286,0,0,1,3.057.9,3.919,3.919,0,0,1,.7-.653,6.352,6.352,0,0,0-3.758-1.163c-3.415,0-5.964,2.476-5.964,5,0,.829.478,1.234,1.449,1.234h6.561A1.072,1.072,0,0,1,682.319,317.18Z"
                    transform="translate(0 -2.924)"/>
            </g>
          </svg>


        </li>

        <li class="side-item d-flex align-items-center justify-content-between" routerLink="/user/analytics/overview"
            matRipple (click)="closeProductMenu(); toggleAnalyticsMenu(); closeThemes(); closeSettings()">
          <a class="side-link">{{ 'Analytics' | translate }}</a>
          <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="22" height="16.427" viewBox="0 0 22 16.427">
            <g id="Group_39886" data-name="Group 39886" transform="translate(-710.01 -300.399)">
              <path id="Path_60282" data-name="Path 60282"
                    d="M714.378,306.6h-2.508a1.629,1.629,0,0,0-1.861,1.807v7.7a1.629,1.629,0,0,0,1.861,1.807h2.508a1.629,1.629,0,0,0,1.861-1.807v-7.7A1.629,1.629,0,0,0,714.378,306.6Zm.78,9.338c0,.665-.266.939-.93.939h-2.2c-.674,0-.939-.275-.939-.939v-7.363c0-.664.266-.93.939-.93h2.2c.664,0,.93.266.93.93Z"
                    transform="translate(0 -1.086)"/>
              <path id="Path_60283" data-name="Path 60283"
                    d="M733.489,300.4h-2.507a1.623,1.623,0,0,0-1.861,1.8v12.821a1.628,1.628,0,0,0,1.861,1.807h2.507a1.635,1.635,0,0,0,1.869-1.807V302.2A1.629,1.629,0,0,0,733.489,300.4Zm.779,14.451c0,.665-.266.939-.93.939h-2.2c-.674,0-.93-.275-.93-.939V302.366c0-.664.256-.93.93-.93h2.2c.665,0,.93.266.93.93Z"
                    transform="translate(-3.348 0)"/>
              <path id="Path_60284" data-name="Path 60284"
                    d="M723.939,303.515h-2.516a1.618,1.618,0,0,0-1.852,1.807v10.242a1.622,1.622,0,0,0,1.852,1.807h2.516a1.632,1.632,0,0,0,1.861-1.807V305.322A1.629,1.629,0,0,0,723.939,303.515Zm.779,11.881c0,.665-.266.939-.939.939h-2.2c-.664,0-.93-.275-.93-.939V305.49c0-.673.266-.939.93-.939h2.2c.674,0,.939.266.939.939Z"
                    transform="translate(-1.675 -0.546)"/>
            </g>
          </svg>

        </li>

        <div class="slide-menu" *ngIf="analyticsMenu" [@slideInOut]>
          <li class="side-item d-flex align-items-center justify-content-between" matRipple
              routerLink="/user/analytics/overview" routerLinkActive="menu-active">
            <a class="side-link">{{ 'Overview' | translate }}</a>
            <i class="fa fa-angle-right" aria-hidden="true"></i>
          </li>
          <li class="side-item d-flex align-items-center justify-content-between" matRipple
              routerLink="/user/analytics/revenue" routerLinkActive="menu-active">
            <a class="side-link">{{ 'Revenue' | translate }}</a>
            <i class="fa fa-angle-right" aria-hidden="true"></i>
          </li>
          <li class="side-item d-flex align-items-center justify-content-between" matRipple
              routerLink="/user/analytics/orders" routerLinkActive="menu-active">
            <a class="side-link">{{ 'Orders' | translate }}</a>
            <i class="fa fa-angle-right" aria-hidden="true"></i>
          </li>
          <li class="side-item d-flex align-items-center justify-content-between" matRipple
              routerLink="/user/analytics/products" routerLinkActive="menu-active">
            <a class="side-link">{{ 'Products' | translate }}</a>
            <i class="fa fa-angle-right" aria-hidden="true"></i>
          </li>
          <li class="side-item d-flex align-items-center justify-content-between" matRipple
              routerLink="/user/analytics/categories" routerLinkActive="menu-active">
            <a class="side-link">{{ 'Categories' | translate }}</a>
            <i class="fa fa-angle-right" aria-hidden="true"></i>
          </li>
          <li class="side-item d-flex align-items-center justify-content-between" matRipple
              routerLink="/user/analytics/coupons" routerLinkActive="menu-active">
            <a class="side-link">{{ 'Coupons' | translate }}</a>
            <i class="fa fa-angle-right" aria-hidden="true"></i>
          </li>
          <li class="side-item d-flex align-items-center justify-content-between" matRipple
              routerLink="/user/analytics/taxes" routerLinkActive="menu-active">
            <a class="side-link">{{ 'Taxes' | translate }}</a>
            <i class="fa fa-angle-right" aria-hidden="true"></i>
          </li>
          <li class="side-item d-flex align-items-center justify-content-between" matRipple
              routerLink="/user/analytics/downloads" routerLinkActive="menu-active">
            <a class="side-link">{{ 'Downloads' | translate }}</a>
            <i class="fa fa-angle-right" aria-hidden="true"></i>
          </li>
          <li class="side-item d-flex align-items-center justify-content-between" matRipple
              routerLink="/user/analytics/stock" routerLinkActive="menu-active">
            <a class="side-link">{{ 'Stock' | translate }}</a>
            <i class="fa fa-angle-right" aria-hidden="true"></i>
          </li>
        </div>

        <!--        <li class="side-item d-flex align-items-center justify-content-between" routerLink="/user/marketing" routerLinkActive="side-active" matRipple (click)="closeProductMenu(); closeAnalytics(); closeSettings(); closeThemes()">-->
        <!--          <a  class="side-link">Marketing</a>-->
        <!--          <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="22" height="16.611" viewBox="0 0 22 16.611">-->
        <!--            <g id="Group_39885" data-name="Group 39885" transform="translate(-770.111 -301.013)">-->
        <!--              <path id="Path_60278" data-name="Path 60278" d="M788.368,304.182H785.49l-6.884-1.678v-.05a1.368,1.368,0,1,0-2.733,0v3.8a1.885,1.885,0,0,0-1.107.908,2.073,2.073,0,0,0,0,1.962,1.887,1.887,0,0,0,1.107.909v3.8a1.368,1.368,0,1,0,2.733,0v-.05l6.318-1.54v3.782a1.513,1.513,0,1,0,3.021,0v-3.919h.423a3.971,3.971,0,0,0,0-7.929ZM775.644,308.6a.966.966,0,0,1,0-.914.88.88,0,0,1,.229-.263v1.44A.88.88,0,0,1,775.644,308.6Zm1.95,5.235a.366.366,0,0,1-.355.383.37.37,0,0,1-.355-.383V302.455a.37.37,0,0,1,.355-.383.366.366,0,0,1,.355.383Zm1.012-10.247,6.318,1.54v6.03l-6.318,1.541Zm8.327,12.439a.5.5,0,1,1-1,0v-3.919h1Zm1.435-4.977h-2.432V305.24h2.432a2.912,2.912,0,0,1,0,5.813Z" transform="translate(0 0)"  />-->
        <!--              <path id="Path_60279" data-name="Path 60279" d="M773.847,309.776a.651.651,0,0,0-.65-.65h-2.436a.65.65,0,0,0,0,1.3H773.2A.65.65,0,0,0,773.847,309.776Z" transform="translate(0 -1.612)"  />-->
        <!--              <path id="Path_60280" data-name="Path 60280" d="M774.023,307.334l-2.109-1.235a.65.65,0,0,0-.657,1.122l2.11,1.235a.65.65,0,0,0,.656-1.122Z" transform="translate(0 -1.061)"  />-->
        <!--              <path id="Path_60281" data-name="Path 60281" d="M773.367,311.1l-2.11,1.234a.65.65,0,0,0,.329,1.211.64.64,0,0,0,.328-.089l2.109-1.234a.65.65,0,0,0-.656-1.122Z" transform="translate(0 -2.123)"  />-->
        <!--            </g>-->
        <!--          </svg>-->

        <!--        </li>-->

        <!--        <li class="side-item d-flex align-items-center justify-content-between" routerLink="/user/discount" routerLinkActive="side-active" matRipple (click)="closeProductMenu(); closeSettings(); closeThemes(); closeAnalytics()">-->
        <!--          <a  class="side-link">Discount</a>-->
        <!--          <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="22" height="21.992" viewBox="0 0 22 21.992">-->
        <!--            <g id="Group_39884" data-name="Group 39884" transform="translate(-745.639 -301.733)">-->
        <!--              <path id="Path_60274" data-name="Path 60274" d="M756.627,301.733a11,11,0,1,0,11.012,11A11.061,11.061,0,0,0,756.627,301.733Zm.008,20.421a9.425,9.425,0,1,1,9.425-9.426A9.4,9.4,0,0,1,756.635,322.154Z" transform="translate(0 0)"  />-->
        <!--              <path id="Path_60275" data-name="Path 60275" d="M754.352,308.958a1.8,1.8,0,1,0-1.786,2A1.8,1.8,0,0,0,754.352,308.958Zm-2.812,0c0-.778.413-1.3,1.026-1.3s1.02.52,1.02,1.3-.406,1.3-1.02,1.3S751.54,309.736,751.54,308.958Z" transform="translate(0.94 0.983)"  />-->
        <!--              <path id="Path_60276" data-name="Path 60276" d="M757.867,311.652a2.015,2.015,0,1,0,1.786,2.006A1.8,1.8,0,0,0,757.867,311.652Zm0,3.3c-.613,0-1.026-.518-1.026-1.3s.413-1.3,1.026-1.3,1.02.518,1.02,1.3S758.48,314.954,757.867,314.954Z" transform="translate(1.911 1.867)"  />-->
        <!--              <path id="Path_60277" data-name="Path 60277" d="M757.7,307.054l-5.931,8.507h.967l5.92-8.507Z" transform="translate(1.426 1.426)"  />-->
        <!--            </g>-->
        <!--          </svg>-->

        <!--        </li>-->

        <li class="side-item d-flex align-items-center justify-content-between" routerLink="/user/themes/layouts"
            matRipple (click)="closeProductMenu(); closeAnalytics(); toggleThemes(); closeSettings()">
          <a class="side-link">{{ 'Themes' | translate }}</a>
          <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="22" height="19" viewBox="0 0 22 19">
            <g id="Group_27" data-name="Group 27" transform="translate(-1087.632 -563.99)">
              <path id="Path_38" data-name="Path 38"
                    d="M1098.632,563.99c-6.066,0-11,4.262-11,9.5a8.216,8.216,0,0,0,.051.918,1.523,1.523,0,0,0,.725,1.142,1.455,1.455,0,0,0,1.289.118.5.5,0,1,0-.359-.933.459.459,0,0,1-.411-.039.528.528,0,0,1-.25-.4,7.221,7.221,0,0,1-.045-.807c0-4.687,4.486-8.5,10-8.5s10,3.813,10,8.5-4.486,8.5-10,8.5a11.754,11.754,0,0,1-1.744-.129.54.54,0,0,1-.377-.242.447.447,0,0,1-.054-.372,5.287,5.287,0,0,0,.224-1.525,5.383,5.383,0,0,0-5.015-5.333.5.5,0,0,0-.069,1,4.38,4.38,0,0,1,4.084,4.335,4.259,4.259,0,0,1-.182,1.236,1.453,1.453,0,0,0,.167,1.2,1.535,1.535,0,0,0,1.073.7,12.769,12.769,0,0,0,1.893.141c6.065,0,11-4.262,11-9.5S1104.7,563.99,1098.632,563.99Z"/>
              <path id="Path_39" data-name="Path 39"
                    d="M1099.587,567.065a1.5,1.5,0,1,0,1.5,1.5A1.5,1.5,0,0,0,1099.587,567.065Zm0,2a.5.5,0,1,1,.5-.5A.5.5,0,0,1,1099.587,569.065Z"
                    transform="translate(-1.955 -0.575)"/>
              <path id="Path_40" data-name="Path 40"
                    d="M1106.352,568.3a1.5,1.5,0,1,0,1.5,1.5A1.5,1.5,0,0,0,1106.352,568.3Zm0,2a.5.5,0,1,1,.5-.5A.5.5,0,0,1,1106.352,570.3Z"
                    transform="translate(-3.22 -0.805)"/>
              <path id="Path_41" data-name="Path 41"
                    d="M1109.427,576.83a1.5,1.5,0,1,0-1.5-1.5A1.5,1.5,0,0,0,1109.427,576.83Zm0-2a.5.5,0,1,1-.5.5A.5.5,0,0,1,1109.427,574.83Z"
                    transform="translate(-3.795 -1.84)"/>
              <path id="Path_42" data-name="Path 42"
                    d="M1101.162,580.75a2,2,0,1,0,2-2A2,2,0,0,0,1101.162,580.75Zm3,0a1,1,0,1,1-1-1A1,1,0,0,1,1104.162,580.75Z"
                    transform="translate(-2.53 -2.76)"/>
              <path id="Path_43" data-name="Path 43"
                    d="M1094.052,573.14a1.5,1.5,0,1,0-1.5-1.5A1.5,1.5,0,0,0,1094.052,573.14Zm0-2a.5.5,0,1,1-.5.5A.5.5,0,0,1,1094.052,571.14Z"
                    transform="translate(-0.92 -1.15)"/>
            </g>
          </svg>

        </li>

        <div class="slide-menu" *ngIf="themes" [@slideInOut]>
          <li class="side-item d-flex align-items-center justify-content-between" matRipple
              routerLink="/user/themes/layouts" routerLinkActive="menu-active">
            <a class="side-link">{{ 'Layouts' | translate }}</a>
            <i class="fa fa-angle-right" aria-hidden="true"></i>
          </li>
          <li class="side-item d-flex align-items-center justify-content-between" *ngIf="!isProduction"  matRipple
              routerLink="/user/themes/themes-options-old" routerLinkActive="menu-active">
            <a class="side-link">{{ '(Old) Theme Options' | translate }}</a>
            <i class="fa fa-angle-right" aria-hidden="true"></i>
          </li>
          <li class="side-item d-flex align-items-center justify-content-between" matRipple
              routerLink="/user/themes/themes-options" routerLinkActive="menu-active">
            <a class="side-link">{{ 'Theme Options' | translate }}</a>
            <i class="fa fa-angle-right" aria-hidden="true"></i>
          </li>
          <li class="side-item d-flex align-items-center justify-content-between" matRipple
              routerLink="/user/themes/static-pages" routerLinkActive="menu-active">
            <a class="side-link">{{ 'Static Pages' | translate }}</a>
            <i class="fa fa-angle-right" aria-hidden="true"></i>
          </li>
          <li class="side-item d-flex align-items-center justify-content-between" matRipple
              routerLink="/user/themes/faqs" routerLinkActive="menu-active">
            <a class="side-link">{{ 'FAQs' | translate }}</a>
            <i class="fa fa-angle-right" aria-hidden="true"></i>
          </li>
          <li class="side-item d-flex align-items-center justify-content-between" matRipple
              routerLink="/user/themes/customize" routerLinkActive="menu-active">
            <a class="side-link">{{ 'Customize' | translate }}</a>
            <i class="fa fa-angle-right" aria-hidden="true"></i>
          </li>
          <li class="side-item d-flex align-items-center justify-content-between" *ngIf="!isProduction" matRipple>
            <a class="side-link" [href]="auth?.GetIframeURL('/wp-admin/customize.php')" target="_blank">Native Customization</a>
            <i class="fa fa-angle-right" aria-hidden="true"></i>
          </li>
        </div>

        <li class="side-item d-flex align-items-center justify-content-between"
            routerLink="/user/settings/general-settings" matRipple routerLinkActive="side-active"
            (click)="closeProductMenu();closeThemes(); closeAnalytics(); toggleSettings()">
          <a class="side-link">{{ 'Settings' | translate }}</a>
          <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="22" height="21.686" viewBox="0 0 22 21.686">
            <path id="Path_60289" data-name="Path 60289"
                  d="M510.7,444.136l-.543,1.024a.471.471,0,0,1-.532.267.459.459,0,0,1-.414-.444l-.167-1.122a10.546,10.546,0,0,1-1.576-.581l-.838.758a.5.5,0,0,1-.836-.482l.237-1.113a8.9,8.9,0,0,1-1.291-1.073l-1.033.433a.458.458,0,0,1-.6-.157.421.421,0,0,1-.039-.591l.6-.965a8.727,8.727,0,0,1-.828-1.458l-1.152.06a.454.454,0,0,1-.493-.335.459.459,0,0,1,.178-.571l.887-.72a8.9,8.9,0,0,1-.276-1.645l-1.084-.354a.459.459,0,0,1-.363-.483.477.477,0,0,1,.363-.492l1.084-.345a8.909,8.909,0,0,1,.276-1.645l-.887-.719a.431.431,0,0,1-.178-.561.454.454,0,0,1,.493-.335l1.152.049a9.568,9.568,0,0,1,.828-1.457l-.611-.975a.426.426,0,0,1,.048-.571.459.459,0,0,1,.6-.158l1.033.424a9.534,9.534,0,0,1,1.291-1.074l-.237-1.1a.5.5,0,0,1,.836-.473l.838.729a10.359,10.359,0,0,1,1.576-.561l.167-1.123a.458.458,0,0,1,.4-.443.483.483,0,0,1,.541.256l.543,1.024c.284-.019.551-.039.836-.039s.551.02.838.039l.532-1.024a.494.494,0,0,1,.541-.256.474.474,0,0,1,.413.443l.158,1.123a10.613,10.613,0,0,1,1.576.561l.838-.738a.5.5,0,0,1,.836.482l-.226,1.1a9.493,9.493,0,0,1,1.28,1.074l1.044-.424a.458.458,0,0,1,.6.158.426.426,0,0,1,.039.581l-.611.965a8.832,8.832,0,0,1,.838,1.457l1.142-.049a.463.463,0,0,1,.5.335.47.47,0,0,1-.177.561l-.9.719a8.887,8.887,0,0,1,.285,1.655l1.083.335a.5.5,0,0,1,.366.492.484.484,0,0,1-.366.483l-1.083.345a8.252,8.252,0,0,1-.285,1.654l.9.72a.476.476,0,0,1,.177.571.463.463,0,0,1-.5.335l-1.142-.06a8.837,8.837,0,0,1-.838,1.458l.611.965a.427.427,0,0,1-.039.591.456.456,0,0,1-.6.157l-1.044-.433a8.862,8.862,0,0,1-1.28,1.073l.226,1.113a.459.459,0,0,1-.226.551.487.487,0,0,1-.611-.069l-.838-.758a8.829,8.829,0,0,1-1.576.571l-.158,1.132a.466.466,0,0,1-.4.444.494.494,0,0,1-.551-.267l-.532-1.024a7.965,7.965,0,0,1-.838.049A7.608,7.608,0,0,1,510.7,444.136Zm-3.92-2.57,3.141-5.17a2.308,2.308,0,0,1-.028-3.516l-3.083-5.279a8.585,8.585,0,0,0-.029,13.965Zm13.078-6.441H513.9a2.449,2.449,0,0,1-2.373,1.94,2.4,2.4,0,0,1-.689-.1l-3.122,5.15a8.352,8.352,0,0,0,12.143-6.992Zm0-1.043a8.35,8.35,0,0,0-12.124-7.031l3.073,5.268a2.4,2.4,0,0,1,.72-.118,2.459,2.459,0,0,1,2.363,1.881Zm-8.322,1.871a1.32,1.32,0,1,0-1.328-1.33A1.333,1.333,0,0,0,511.534,435.953Z"
                  transform="translate(-500.535 -423.746)"/>
          </svg>
        </li>

        <div class="slide-menu" *ngIf="settings" [@slideInOut]>
          <li class="side-item d-flex align-items-center justify-content-between" matRipple
              routerLink="/user/settings/general-settings" routerLinkActive="menu-active">
            <a class="side-link">{{ 'General Settings' | translate }}</a>
            <i class="fa fa-angle-right" aria-hidden="true"></i>
          </li>
          <li class="side-item d-flex align-items-center justify-content-between" matRipple
              routerLink="/user/settings/payment-methods" routerLinkActive="menu-active">
            <a class="side-link">{{ 'Payment Settings' | translate }}</a>
            <i class="fa fa-angle-right" aria-hidden="true"></i>
          </li>
          <li class="side-item d-flex align-items-center justify-content-between" matRipple
              routerLink="/user/settings/marketing-settings" routerLinkActive="menu-active">
            <a class="side-link">{{ 'Marketing Settings' | translate }}</a>
            <i class="fa fa-angle-right" aria-hidden="true"></i>
          </li>
          <li class="side-item d-flex align-items-center justify-content-between" matRipple
              routerLink="/user/shipping-setup/product-selection" routerLinkActive="menu-active">
            <a class="side-link">{{ 'Shipping Settings' | translate }}</a>
            <i class="fa fa-angle-right" aria-hidden="true"></i>
          </li>
          <li class="side-item d-flex align-items-center justify-content-between"  matRipple
              routerLink="/user/settings/shipping-settings" routerLinkActive="menu-active">
            <a class="side-link">{{ '(Old) Shipping Settings' | translate }}</a>
            <i class="fa fa-angle-right" aria-hidden="true"></i>
          </li>

        </div>

      </ul>
    </div>
  </mat-drawer>

  <mat-drawer-content>
    <!-- upper navbar -->
    <nav class="flex-wrap">
      <div class="d-flex align-items-center">

        <button matRipple (click)="drawer.toggle()" class="collapse-btn btn"><i class="fa fa-bars"
                                                                                aria-hidden="true"></i>
        </button>
        <a class="shop-name text-decoration-none h4 mb-0 text-dark" target="_blank" [href]="shopUrl" style="cursor: pointer">{{home?.storeName}}</a>
      </div>
      <div class="user-options d-flex">

        <app-language-switcher class="d-flex" (langDirectionChanged)="langDirection = $event"></app-language-switcher>

        <button matRipple class="btn mr-2" [matMenuTriggerFor]="afterMenu">
          <svg id="notifications-none" xmlns="http://www.w3.org/2000/svg" width="20.5" height="25" viewBox="0 0 25.5 30">
            <path id="Path_60264" data-name="Path 60264" d="M51,30a3.009,3.009,0,0,0,3-3H48A3.009,3.009,0,0,0,51,30Zm9.75-9V12.75a9.652,9.652,0,0,0-7.5-9.45V2.25a2.25,2.25,0,0,0-4.5,0V3.3a9.653,9.653,0,0,0-7.5,9.45V21l-3,3v1.5h25.5V24Zm-3,1.5H44.25V12.75a6.75,6.75,0,0,1,13.5,0Z" transform="translate(-38.25)" fill="#999"/>
          </svg>
        </button>

        <mat-menu #afterMenu="matMenu" class="menu" xPosition="after">
          <button mat-menu-item>{{ 'under development' | translate }}</button>
          <button mat-menu-item>{{ 'under development' | translate }}</button>
        </mat-menu>

        <div class="user-avatar p-2 d-flex align-items-center justify-content-start" [matMenuTriggerFor]="userMenu" matRipple>
          <div class="img">{{home?.nameFirstLetter | titlecase}}{{home?.nameLastLetter | titlecase}}</div>
          <div class="name mx-3">
            <p class="mb-0">{{home?.topMenuData?.display_name | titlecase}}</p>
          </div>
          <mat-icon aria-hidden="false" aria-label="Example home icon">keyboard_arrow_down</mat-icon>
        </div>
        <mat-menu #userMenu="matMenu" class="menu" xPosition="before">
          <button mat-menu-item routerLink="/user/coming-soon">{{ 'profile' | translate }}</button>
          <button mat-menu-item  routerLink="/user/settings/general-settings">{{ 'setting' | translate }}</button>
          <button mat-menu-item (click)="logout()">{{ 'log out' | translate }}</button>
        </mat-menu>

      </div>
    </nav>
    <!-- content-->
    <router-outlet></router-outlet>

  </mat-drawer-content>

</mat-drawer-container>
