<div class="row">
  <div class="col-md-4 offset-md-4 step-container">
    <div class="mat-custom-select mb-3" [class.has-error]="control.invalid && control.touched">
      <mat-select [formControl]="control" (ngModelChange)="emitUpdates()" multiple [placeholder]="'Products' | translate">
        <mat-select-trigger>
          {{ control.value?.length ? control.value[0].name : '' }}
          <span *ngIf="control.value?.length > 1">(+{{control.value.length - 1}} {{control.value?.length === 2 ? 'other' : 'others'}})</span>
        </mat-select-trigger>
        <mat-option *ngFor="let item of itemList" [value]="item" class="mat-custom-option">
          {{ item.name }}
          <span *ngIf="!item.shipping_available" class="no-shipping"><svg width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="345 610 34 36"><svg width="31" height="36" xmlns="http://www.w3.org/2000/svg" viewBox="345 610 31 36" x="345" y="610"><svg width="31" height="36" xmlns="http://www.w3.org/2000/svg" viewBox="345 610 31 36" x="345" y="610"><svg width="31" height="36" xmlns="http://www.w3.org/2000/svg" viewBox="0 0.103 31 35.795" fill="#707070" x="345" y="610"><svg xmlns="http://www.w3.org/2000/svg" width="31" height="36" viewBox="1 0.722 29.843 34.459"><path paint-order="stroke fill markers" fill-rule="evenodd" d="M15.921.722L1 9.336v17.23l14.921 8.615 2.173-1.254a9.86 9.86 0 0 1-1.18-1.658l-.993.574-1.012-.584V18.535l-11.885-6.86v-1.17l1.013-.584 11.884 6.862 4.93-2.847L8.967 7.074l2.024-1.168 11.885 6.86 4.93-2.845 1.012.584v1.17l-11.884 6.86v4.093a9.792 9.792 0 0 1 8.503-4.947 9.73 9.73 0 0 1 5.406 1.633V9.336L15.921.722z"/></svg></svg></svg></svg><svg width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="363 629 16 16" x="363" y="629"><svg width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="363 629 16 16" x="363" y="629"><svg width="16" height="16" xmlns="http://www.w3.org/2000/svg" fill="#707070" x="363" y="629"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0.082 0.613 15.05 15.05"><path paint-order="stroke fill markers" fill-rule="evenodd" d="M5.407.944a7.521 7.521 0 0 0-4.994 9.394 7.52 7.52 0 0 0 9.393 4.994A7.52 7.52 0 0 0 14.8 5.939 7.52 7.52 0 0 0 5.407.944zM1.852 9.898a6.016 6.016 0 0 1 3.995-7.515 5.99 5.99 0 0 1 3.896.135L4.14 13.052a5.996 5.996 0 0 1-2.29-3.154zm7.514 3.996a6.003 6.003 0 0 1-3.895-.135l5.6-10.535a5.998 5.998 0 0 1 2.29 3.155 6.017 6.017 0 0 1-3.995 7.515z"/></svg></svg></svg></svg></svg></span>
        </mat-option>
      </mat-select>
    </div>

    <div class="mat-custom-chips mb-3">
      <mat-chip-list *ngIf="control.value?.length">
        <mat-chip *ngFor="let chips of control.value">
          <span *ngIf="!chips.shipping_available" class="no-shipping mr-2"><svg width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="345 610 34 36"><svg width="31" height="36" xmlns="http://www.w3.org/2000/svg" viewBox="345 610 31 36" x="345" y="610"><svg width="31" height="36" xmlns="http://www.w3.org/2000/svg" viewBox="345 610 31 36" x="345" y="610"><svg width="31" height="36" xmlns="http://www.w3.org/2000/svg" viewBox="0 0.103 31 35.795" fill="#707070" x="345" y="610"><svg xmlns="http://www.w3.org/2000/svg" width="31" height="36" viewBox="1 0.722 29.843 34.459"><path paint-order="stroke fill markers" fill-rule="evenodd" d="M15.921.722L1 9.336v17.23l14.921 8.615 2.173-1.254a9.86 9.86 0 0 1-1.18-1.658l-.993.574-1.012-.584V18.535l-11.885-6.86v-1.17l1.013-.584 11.884 6.862 4.93-2.847L8.967 7.074l2.024-1.168 11.885 6.86 4.93-2.845 1.012.584v1.17l-11.884 6.86v4.093a9.792 9.792 0 0 1 8.503-4.947 9.73 9.73 0 0 1 5.406 1.633V9.336L15.921.722z"/></svg></svg></svg></svg><svg width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="363 629 16 16" x="363" y="629"><svg width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="363 629 16 16" x="363" y="629"><svg width="16" height="16" xmlns="http://www.w3.org/2000/svg" fill="#707070" x="363" y="629"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0.082 0.613 15.05 15.05"><path paint-order="stroke fill markers" fill-rule="evenodd" d="M5.407.944a7.521 7.521 0 0 0-4.994 9.394 7.52 7.52 0 0 0 9.393 4.994A7.52 7.52 0 0 0 14.8 5.939 7.52 7.52 0 0 0 5.407.944zM1.852 9.898a6.016 6.016 0 0 1 3.995-7.515 5.99 5.99 0 0 1 3.896.135L4.14 13.052a5.996 5.996 0 0 1-2.29-3.154zm7.514 3.996a6.003 6.003 0 0 1-3.895-.135l5.6-10.535a5.998 5.998 0 0 1 2.29 3.155 6.017 6.017 0 0 1-3.995 7.515z"/></svg></svg></svg></svg></svg></span>
          {{ chips.name }}
          <span class="ml-3" (click)="removeProduct(chips.name)"><i class="close-icon fas fa-times"></i></span>
        </mat-chip>
      </mat-chip-list>
    </div>
  </div>
</div>
