@import "../../../../../assets/variables";


section {
  .payments-header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .first-element {
      font-weight: normal;
      color: $blue-black;
      font-size: 20px;
      margin-bottom: 0.5rem;
    }

    .second-element {
      color: #707070;
      font-size: 18px;
    }

  }

  .payment-section {
    position: relative;
    background-color: #fff;
    height: 100%;
    border: 1px solid rgba(black, 0.1);
    border-top: 5px solid #E4E4E4;
    width: 100%;
    padding: 1.5rem 1rem;
    overflow: hidden;
    .section-title {
      .title-caption {
        color: $dark-gray;
        width: 80%;
      }
    }

    .on-off-section {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
    .manage-payments {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .recommended-section {
      position: absolute;
      right: 0;
      top: 13px;
      background-color: $main-color;
      padding-inline: 0.5rem;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      span {
        color: #fff;
      }
    }
  }
}
// active border
.active-border {
  border-top: 5px solid $main-color !important;
}

// toggle css
.toggleSwitch span span {
  display: none;
}

@media only screen {
  .toggleSwitch {
    display: inline-block;
    height: 18px;
    position: relative;
    overflow: visible;
    padding: 0;
    margin-left: 50px;
    cursor: pointer;
    width: 40px;
    margin-bottom: 0;
  }
  .toggleSwitch * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .toggleSwitch label,
  .toggleSwitch > span {
    line-height: 20px;
    height: 20px;
    vertical-align: middle;
  }
  .toggleSwitch input:focus ~ a,
  .toggleSwitch input:focus + label {
    outline: none;
  }
  .toggleSwitch label {
    position: relative;
    z-index: 3;
    display: block;
    width: 100%;
  }
  .toggleSwitch input {
    position: absolute;
    opacity: 0;
    z-index: 5;
  }
  .toggleSwitch > span {
    position: absolute;
    left: -50px;
    width: 100%;
    margin: 0;
    padding-right: 50px;
    text-align: left;
    white-space: nowrap;
  }
  .toggleSwitch > span span {
    user-select: none;
    position: absolute;
    z-index: 5;
    display: block;
    margin-left: 50px;
    text-align: left;
    font-size: 0.9em;
    width: 100%;
    left: 15%;
    top: -1px;
    opacity: 0;
  }
  .toggleSwitch a {
    position: absolute;
    right: 50%;
    z-index: 4;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    padding: 0;
    left: 5px;
    top: 2.5px;
    width: 24px;
    background-color: #313E48;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  }
  .toggleSwitch > span span:first-of-type {
    color: #fff;
    opacity: 1;
    left: 45%;
  }
  .toggleSwitch > span:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50px;
    top: -2px;
    background-color: #6D767D;
    border-radius: 30px;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
  .toggleSwitch input:checked ~ a {
    border-color: #fff;
    background-color: white;
    left: 100%;
    margin-left: -8px;
  }
  .toggleSwitch input:checked ~ span:before {
    border-color: $main-color;
    box-shadow: inset 0 0 0 30px $main-color;
  }
  .toggleSwitch input:checked ~ span span:first-of-type {
    opacity: 0;
  }
  .toggleSwitch input:checked ~ span span:last-of-type {
    opacity: 1;
    color: #fff;
  }
  /* Switch Sizes */
  .toggleSwitch.large {
    width: 60px;
    //height: 27px;
  }
  .toggleSwitch.large a {
    width: 20px;
  }
  .toggleSwitch.large > span {
    height: 29px;
    line-height: 28px;
  }
  .toggleSwitch.large input:checked ~ a {
    left: 41px;
  }
  .toggleSwitch.large > span span {
    font-size: 1em !important;
  }
  .toggleSwitch.large > span span:first-of-type {
    left: 45%;
  }

}


/*  End Toggle Switch  */
