<section class="p-3">
  <div class="container">
    <!-- Component Bread-Crumb -->
    <div class="wiz-crumb">
      <a class="crumb-icon text-decoration-none" routerLink="/user">
        <i class="fa fa-home crumb-icon" aria-hidden="true"></i>
      </a>
      <span class="back-slash">/</span>
      <a class="crumb-caption text-decoration-none">{{ 'Payment Setup' | translate }}</a>
    </div>

    <!-- Payments Header -->
    <div class="payments-header mb-3">
      <p class="first-element">Payment Methods</p>
      <p class="second-element">Payment methods are listed below and can be sorted to control</p>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-6 mb-3">
          <div class="payment-section" [class.active-border]="paymentsObj?.cod_enabled === 'yes'">
            <div class="svg-section mt-2">
              <svg id="Buy" *ngIf="paymentsObj?.cod_enabled === 'yes'" xmlns="http://www.w3.org/2000/svg" width="93.641" height="93.641"
                   viewBox="0 0 93.641 93.641">
                <path id="Path_90021" data-name="Path 90021"
                      d="M88.473,2H79.109a1.561,1.561,0,0,0-1.561,1.561v.6L74.223,2.493A4.7,4.7,0,0,0,72.13,2H49.257a4.682,4.682,0,0,0-2.922,1.027L39.81,8.243H13.561A1.561,1.561,0,0,0,12,9.8V34.774a1.561,1.561,0,0,0,1.561,1.561h46.82a1.561,1.561,0,0,0,1.561-1.561V22.988a14.087,14.087,0,0,0,12.4-1.011l2.087-1.249h1.124v1.561a1.561,1.561,0,0,0,1.561,1.561h9.364a1.561,1.561,0,0,0,1.561-1.561V3.561A1.561,1.561,0,0,0,88.473,2ZM15.121,33.214V11.364H52.467l-1.75,1.751a4.682,4.682,0,1,0,6.621,6.621l1.482-1.483V33.214ZM75.979,17.607a1.55,1.55,0,0,0-.794.223L72.732,19.3a10.972,10.972,0,0,1-9.739.752l-1.052-.428V15.132l1.982-1.982.805.268a10.993,10.993,0,0,0,6.911,0l1.717-.573A1.563,1.563,0,1,0,72.37,9.88l-1.717.574a7.849,7.849,0,0,1-4.935,0L64,9.88a1.561,1.561,0,0,0-1.6.378l-3.121,3.121h0l-4.153,4.15a1.56,1.56,0,0,1-2.207-2.207l6.065-6.066a1.561,1.561,0,1,0-2.207-2.207L55.588,8.243H44.807l3.474-2.78a1.561,1.561,0,0,1,.975-.342H72.13a1.59,1.59,0,0,1,.7.164l4.721,2.361V17.6Zm10.934,3.121H80.67V5.121h6.243Z"
                      transform="translate(3.607 -2)" fill="#ea5b29"/>
                <path id="Path_90022" data-name="Path 90022"
                      d="M29.682,13.682a1.561,1.561,0,0,1,1.561,1.561h3.121a4.682,4.682,0,0,0-3.121-4.395V9H28.121v1.848a4.671,4.671,0,0,0,1.561,9.077,1.561,1.561,0,1,1-1.561,1.561H25a4.682,4.682,0,0,0,3.121,4.395v1.848h3.121V25.88A4.671,4.671,0,0,0,29.682,16.8a1.561,1.561,0,0,1,0-3.121Z"
                      transform="translate(10.896 1.925)" fill="#ea5b29"/>
                <path id="Path_90025" data-name="Path 90025"
                      d="M66.7,50.767a4.665,4.665,0,0,0-6.4-1.717l-10.03,5.775a4.682,4.682,0,0,0-4.574-3.7H33.682l-.312-.209a17.118,17.118,0,0,0-18.884-.1V49.561A1.561,1.561,0,0,0,12.925,48H3.561A1.561,1.561,0,0,0,2,49.561V68.289A1.561,1.561,0,0,0,3.561,69.85h9.364a1.561,1.561,0,0,0,1.561-1.561v-.212l1.458.968a4.651,4.651,0,0,0,2.616.805H41.735a4.56,4.56,0,0,0,2.341-.624L64.989,57.161a4.709,4.709,0,0,0,2.341-4.067A4.635,4.635,0,0,0,66.7,50.767ZM11.364,66.728H5.121V51.121h6.243ZM63.428,54.452,42.492,66.53a1.453,1.453,0,0,1-.757.2H18.559a1.525,1.525,0,0,1-.869-.27l-3.2-2.127V54.243a1.561,1.561,0,0,0,.865-.261l.709-.468a14.009,14.009,0,0,1,15.583,0l.707.468a1.561,1.561,0,0,0,.865.261H45.7a1.561,1.561,0,0,1,0,3.121H36.335a1.561,1.561,0,0,0,0,3.121H45.7a4.645,4.645,0,0,0,3.092-1.192L61.88,51.746a1.511,1.511,0,0,1,1.164-.156,1.551,1.551,0,0,1,.954.737,1.508,1.508,0,0,1,.211.762,1.578,1.578,0,0,1-.78,1.364Z"
                      transform="translate(-2 23.791)" fill="#ea5b29"/>
                <path id="Path_90026" data-name="Path 90026"
                      d="M56.138,28H15.561A1.561,1.561,0,0,0,14,29.561V57.653a1.561,1.561,0,0,0,1.561,1.561H56.138A1.561,1.561,0,0,0,57.7,57.653V29.561A1.561,1.561,0,0,0,56.138,28ZM37.41,31.121v6.243H34.289V31.121ZM54.578,56.092H17.121V31.121H31.167v7.8a1.561,1.561,0,0,0,1.561,1.561h6.243a1.561,1.561,0,0,0,1.561-1.561v-7.8H54.578Z"
                      transform="translate(4.728 12.578)" fill="#ea5b29"/>
                <path id="Path_90027" data-name="Path 90027"
                      d="M24.8,40H18.561a1.561,1.561,0,1,0,0,3.121H24.8A1.561,1.561,0,1,0,24.8,40Z"
                      transform="translate(6.41 19.306)" fill="#ea5b29"/>
                <path id="Path_90029" data-name="Path 90029"
                      d="M24.8,43H18.561a1.561,1.561,0,1,0,0,3.121H24.8A1.561,1.561,0,1,0,24.8,43Z"
                      transform="translate(6.41 20.988)" fill="#ea5b29"/>
              </svg>
              <svg *ngIf="paymentsObj?.cod_enabled === 'no'" xmlns="http://www.w3.org/2000/svg" width="93.641" height="93.641"
                   viewBox="0 0 93.641 93.641">
                <g id="Buy" opacity="0.5">
                  <path id="Path_90021" data-name="Path 90021"
                        d="M88.473,2H79.109a1.561,1.561,0,0,0-1.561,1.561v.6L74.223,2.493A4.7,4.7,0,0,0,72.13,2H49.257a4.682,4.682,0,0,0-2.922,1.027L39.81,8.243H13.561A1.561,1.561,0,0,0,12,9.8V34.774a1.561,1.561,0,0,0,1.561,1.561h46.82a1.561,1.561,0,0,0,1.561-1.561V22.988a14.087,14.087,0,0,0,12.4-1.011l2.087-1.249h1.124v1.561a1.561,1.561,0,0,0,1.561,1.561h9.364a1.561,1.561,0,0,0,1.561-1.561V3.561A1.561,1.561,0,0,0,88.473,2ZM15.121,33.214V11.364H52.467l-1.75,1.751a4.682,4.682,0,1,0,6.621,6.621l1.482-1.483V33.214ZM75.979,17.607a1.55,1.55,0,0,0-.794.223L72.732,19.3a10.972,10.972,0,0,1-9.739.752l-1.052-.428V15.132l1.982-1.982.805.268a10.993,10.993,0,0,0,6.911,0l1.717-.573A1.563,1.563,0,1,0,72.37,9.88l-1.717.574a7.849,7.849,0,0,1-4.935,0L64,9.88a1.561,1.561,0,0,0-1.6.378l-3.121,3.121h0l-4.153,4.15a1.56,1.56,0,0,1-2.207-2.207l6.065-6.066a1.561,1.561,0,1,0-2.207-2.207L55.588,8.243H44.807l3.474-2.78a1.561,1.561,0,0,1,.975-.342H72.13a1.59,1.59,0,0,1,.7.164l4.721,2.361V17.6Zm10.934,3.121H80.67V5.121h6.243Z"
                        transform="translate(3.607 -2)" fill="#313e48"/>
                  <path id="Path_90022" data-name="Path 90022"
                        d="M29.682,13.682a1.561,1.561,0,0,1,1.561,1.561h3.121a4.682,4.682,0,0,0-3.121-4.395V9H28.121v1.848a4.671,4.671,0,0,0,1.561,9.077,1.561,1.561,0,1,1-1.561,1.561H25a4.682,4.682,0,0,0,3.121,4.395v1.848h3.121V25.88A4.671,4.671,0,0,0,29.682,16.8a1.561,1.561,0,0,1,0-3.121Z"
                        transform="translate(10.896 1.925)" fill="#313e48"/>
                  <path id="Path_90025" data-name="Path 90025"
                        d="M66.7,50.767a4.665,4.665,0,0,0-6.4-1.717l-10.03,5.775a4.682,4.682,0,0,0-4.574-3.7H33.682l-.312-.209a17.118,17.118,0,0,0-18.884-.1V49.561A1.561,1.561,0,0,0,12.925,48H3.561A1.561,1.561,0,0,0,2,49.561V68.289A1.561,1.561,0,0,0,3.561,69.85h9.364a1.561,1.561,0,0,0,1.561-1.561v-.212l1.458.968a4.651,4.651,0,0,0,2.616.805H41.735a4.56,4.56,0,0,0,2.341-.624L64.989,57.161a4.709,4.709,0,0,0,2.341-4.067A4.635,4.635,0,0,0,66.7,50.767ZM11.364,66.728H5.121V51.121h6.243ZM63.428,54.452,42.492,66.53a1.453,1.453,0,0,1-.757.2H18.559a1.525,1.525,0,0,1-.869-.27l-3.2-2.127V54.243a1.561,1.561,0,0,0,.865-.261l.709-.468a14.009,14.009,0,0,1,15.583,0l.707.468a1.561,1.561,0,0,0,.865.261H45.7a1.561,1.561,0,0,1,0,3.121H36.335a1.561,1.561,0,0,0,0,3.121H45.7a4.645,4.645,0,0,0,3.092-1.192L61.88,51.746a1.511,1.511,0,0,1,1.164-.156,1.551,1.551,0,0,1,.954.737,1.508,1.508,0,0,1,.211.762,1.578,1.578,0,0,1-.78,1.364Z"
                        transform="translate(-2 23.791)" fill="#313e48"/>
                  <path id="Path_90026" data-name="Path 90026"
                        d="M56.138,28H15.561A1.561,1.561,0,0,0,14,29.561V57.653a1.561,1.561,0,0,0,1.561,1.561H56.138A1.561,1.561,0,0,0,57.7,57.653V29.561A1.561,1.561,0,0,0,56.138,28ZM37.41,31.121v6.243H34.289V31.121ZM54.578,56.092H17.121V31.121H31.167v7.8a1.561,1.561,0,0,0,1.561,1.561h6.243a1.561,1.561,0,0,0,1.561-1.561v-7.8H54.578Z"
                        transform="translate(4.728 12.578)" fill="#313e48"/>
                  <path id="Path_90027" data-name="Path 90027"
                        d="M24.8,40H18.561a1.561,1.561,0,1,0,0,3.121H24.8A1.561,1.561,0,1,0,24.8,40Z"
                        transform="translate(6.41 19.306)" fill="#313e48"/>
                  <path id="Path_90029" data-name="Path 90029"
                        d="M24.8,43H18.561a1.561,1.561,0,1,0,0,3.121H24.8A1.561,1.561,0,1,0,24.8,43Z"
                        transform="translate(6.41 20.988)" fill="#313e48"/>
                </g>
              </svg>
            </div>
            <div class="section-title my-4">
              <h5>Cash On Delivery</h5>
              <p class="title-caption">Is a type of payment method where the recipient (the customer) make payment for the order at the time of delivery rather than in advance.</p>
            </div>
            <div class="on-off-section">
              <p style="margin: 0" >
                <label class="toggleSwitch large" >
                  <input type="checkbox" (click)="toggleCod()" [checked]="paymentsObj?.cod_enabled === 'yes'"/>
                  <span>
                        <span>OFF</span>
                        <span>ON</span>
                    </span>
                  <a></a>
                </label>
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <div class="payment-section" [class.active-border]="paymentsObj?.ccod_enabled === 'yes'">
            <div class="svg-section mt-2">
              <svg *ngIf="paymentsObj?.ccod_enabled === 'no'" xmlns="http://www.w3.org/2000/svg" width="93.64" height="83.47" viewBox="0 0 93.64 83.47">
                <g id="credit-cards-payment" opacity="0.5">
                  <g id="Group_55752" data-name="Group 55752" transform="translate(0 0)">
                    <path id="Path_90031" data-name="Path 90031" d="M235.544,45.468l-57.35-12.137a4.522,4.522,0,0,0-5.345,3.478l-1.09,7,66.172,14,1.09-7A4.522,4.522,0,0,0,235.544,45.468Z" transform="translate(-145.479 -33.234)" fill="#313e48"/>
                    <path id="Path_90032" data-name="Path 90032" d="M65.947,172.709a4.566,4.566,0,0,0-5.6-3.169l-10.887,3.022L23.792,167.13l-2.823,13.337-17.636,4.9a4.564,4.564,0,0,0-3.168,5.6L10.1,226.779a4.565,4.565,0,0,0,5.6,3.168l57.012-15.821a4.565,4.565,0,0,0,3.168-5.6l-1.706-6.148,6.394,1.352a4.521,4.521,0,0,0,5.345-3.478l4.045-19.116L66.933,176.26Zm6.584,18.2,1.41-6.664a1.861,1.861,0,0,1,2.2-1.431l6.664,1.411a1.861,1.861,0,0,1,1.432,2.2l-1.41,6.664a1.861,1.861,0,0,1-2.2,1.431l-6.664-1.41A1.861,1.861,0,0,1,72.532,190.912ZM4.325,188.936,20.1,184.559l37.227-10.331,4.006-1.113a.833.833,0,0,1,.217-.029.86.86,0,0,1,.818.615l.47,1.694,1.474,5.31L5.684,196.975l-1.944-7A.853.853,0,0,1,4.325,188.936Zm67.986,20.579a.856.856,0,0,1-.586,1.036L14.715,226.372a.829.829,0,0,1-.217.03.861.861,0,0,1-.818-.616L7.883,204.9l58.631-16.271,3.576,12.884Z" transform="translate(0 -146.643)" fill="#313e48"/>
                    <path id="Path_90033" data-name="Path 90033" d="M99.358,445.96a1.861,1.861,0,0,0-2.284-1.292l-6.658,1.848a1.86,1.86,0,0,0-1.291,2.284l1.847,6.657a1.86,1.86,0,0,0,2.284,1.291l6.658-1.847a1.861,1.861,0,0,0,1.292-2.284Z" transform="translate(-75.431 -381.659)" fill="#313e48"/>
                  </g>
                </g>
              </svg>

              <svg *ngIf="paymentsObj?.ccod_enabled === 'yes'" id="credit-cards-payment" xmlns="http://www.w3.org/2000/svg" width="93.64" height="83.47" viewBox="0 0 93.64 83.47">
                <g id="Group_55752" data-name="Group 55752" transform="translate(0 0)">
                  <path id="Path_90031" data-name="Path 90031" d="M235.544,45.468l-57.35-12.137a4.522,4.522,0,0,0-5.345,3.478l-1.09,7,66.172,14,1.09-7A4.522,4.522,0,0,0,235.544,45.468Z" transform="translate(-145.479 -33.234)" fill="#ea5b29"/>
                  <path id="Path_90032" data-name="Path 90032" d="M65.947,172.709a4.566,4.566,0,0,0-5.6-3.169l-10.887,3.022L23.792,167.13l-2.823,13.337-17.636,4.9a4.564,4.564,0,0,0-3.168,5.6L10.1,226.779a4.565,4.565,0,0,0,5.6,3.168l57.012-15.821a4.565,4.565,0,0,0,3.168-5.6l-1.706-6.148,6.394,1.352a4.521,4.521,0,0,0,5.345-3.478l4.045-19.116L66.933,176.26Zm6.584,18.2,1.41-6.664a1.861,1.861,0,0,1,2.2-1.431l6.664,1.411a1.861,1.861,0,0,1,1.432,2.2l-1.41,6.664a1.861,1.861,0,0,1-2.2,1.431l-6.664-1.41A1.861,1.861,0,0,1,72.532,190.912ZM4.325,188.936,20.1,184.559l37.227-10.331,4.006-1.113a.833.833,0,0,1,.217-.029.86.86,0,0,1,.818.615l.47,1.694,1.474,5.31L5.684,196.975l-1.944-7A.853.853,0,0,1,4.325,188.936Zm67.986,20.579a.856.856,0,0,1-.586,1.036L14.715,226.372a.829.829,0,0,1-.217.03.861.861,0,0,1-.818-.616L7.883,204.9l58.631-16.271,3.576,12.884Z" transform="translate(0 -146.643)" fill="#ea5b29"/>
                  <path id="Path_90033" data-name="Path 90033" d="M99.358,445.96a1.861,1.861,0,0,0-2.284-1.292l-6.658,1.848a1.86,1.86,0,0,0-1.291,2.284l1.847,6.657a1.86,1.86,0,0,0,2.284,1.291l6.658-1.847a1.861,1.861,0,0,0,1.292-2.284Z" transform="translate(-75.431 -381.659)" fill="#ea5b29"/>
                </g>
              </svg>

            </div>
            <div class="section-title my-4">
              <h5>Credit Card on Delivery (CCOD) </h5>
              <p class="title-caption">is a type of payment method where the recipient (the customer) make payment for the order at the time of delivery rather than in advance.</p>
            </div>
            <div class="on-off-section">
              <p style="margin: 0">
                <label class="toggleSwitch large" onclick="">
                  <input type="checkbox" (click)="toggleCcod()" [checked]="paymentsObj?.ccod_enabled === 'yes'"/>
                  <span>
                        <span>OFF</span>
                        <span>ON</span>
                    </span>
                  <a></a>
                </label>
              </p>
            </div>
          </div>
        </div>
<!--        <div class="col-md-4 mb-3">-->
<!--          <div class="payment-section" [class.active-border]="false">-->
<!--            <div class="svg-section mt-2">-->
<!--              <svg xmlns="http://www.w3.org/2000/svg" width="92.137" height="86.792" viewBox="0 0 92.137 86.792">-->
<!--                <g id="Logo" transform="translate(0 0)">-->
<!--                  <path id="Path_1" data-name="Path 1" d="M1198.307,467.641c3,.114,3.758,5.779,2.961,8.1-.19.608-.494.988-.911.988h-.076c-15.639.456-41.567,45.4-49.917,55.931-1.063,1.331-4.479,2.775-6.112,2.775a1.32,1.32,0,0,1-.607-.114c-2.734-1.482-4.48-8.516-3.19-16.805-1.29,2.167-4.441,8.441-6.263,11.559-1.215,2.091-6.6,3.726-7.744,3.726h-.19c-7.213-4.525-5.808-17.757-1.139-31.407a124.682,124.682,0,0,1,7.439-17.224c-1.4-.379-1.631-1.558-1.062-3.156,1.974-5.779,13.856-17,18.411-17a1.857,1.857,0,0,1,.8.152c2.051.912,3.076,3.8,2.2,6.311a5.587,5.587,0,0,1-2.088,2.776c-6.908,4.905-15.07,18.744-19.321,31.14-2.732,8.059-3.833,15.474-1.9,19.543q.285.569.683.57c2.62,0,8.693-19.2,16.627-31.217a3.07,3.07,0,0,1,2.694-1.558c2.772,0,5.96,3.27,5.277,5.285l-.076.152a62.907,62.907,0,0,0-4.859,10.8c-2.582,7.605-3.568,14.792-2.126,16.616,1.974.038,35.948-57.945,50.373-57.945Z" transform="translate(-1121.234 -465.017)" fill="#434e58"/>-->
<!--                  <path id="Path_2" data-name="Path 2" d="M1162.528,511.057l.076-.3a47.531,47.531,0,0,1,6.426-11.293,2.324,2.324,0,0,1,1.749-.646c2.09,0,4.829,1.787,4.448,3.727a2.586,2.586,0,0,1-.455.912,31.179,31.179,0,0,0-4.829,8.023c-.229.95.114,1.407.912,1.407,2.281,0,11.508-7.441,17.668-13.221a19.825,19.825,0,0,1,2.95-1.629c1.05-.176-.694,3.329-1.075,5.077a4.3,4.3,0,0,1-1.445,2.357c-2.548,2.281-12.167,10.609-17.262,12.509a7.412,7.412,0,0,1-2.47.457C1164.809,518.433,1162,513.757,1162.528,511.057Z" transform="translate(-1115.01 -460.026)" fill="#434e58"/>-->
<!--                  <path id="Path_3" data-name="Path 3" d="M1204.6,501.486a3.308,3.308,0,0,1-1.293,2.167c-5.17,2.205-13.726,6.5-16.919,11.292,4.639-2.167,7.642-2.624,9.657-2.624.571,0,1.065.038,1.521.076a5.528,5.528,0,0,1,3.041,5.551,2.642,2.642,0,0,1-2.281,2.054,8.783,8.783,0,0,0-5.36-1.331c-4.753,0-10.571,1.787-12.357,2.927a5.118,5.118,0,0,1-2.015-5.285v-.038c.875-4.106,13.65-12.623,15.132-13.612a.734.734,0,0,0-.3-.038c-1.6,0-6.274,2.281-9.239,4.677h-.191c-.76,0-.912-.912-.646-2.167.418-1.9,1.749-4.525,3.156-5.513,2.548-1.826,9.923-3.65,13.992-3.65a3.962,3.962,0,0,1,2.547.57A4.91,4.91,0,0,1,1204.6,501.486Z" transform="translate(-1112.586 -460.342)" fill="#434e58"/>-->
<!--                  <path id="Path_4" data-name="Path 4" d="M1171.523,495.911l.152-.343a34.11,34.11,0,0,1,3.879-6.882,2.164,2.164,0,0,1,1.863-.988h.266c1.824,0,4.068,1.635,4.182,3a2.878,2.878,0,0,1-.038.571,1.343,1.343,0,0,1-.152.417,52.442,52.442,0,0,1-5.247,6.579,2.774,2.774,0,0,1-1.863.76h-.228C1172.968,498.648,1171.258,497.28,1171.523,495.911Z" transform="translate(-1113.619 -461.582)" fill="#ea5b29"/>-->
<!--                  <g id="Group_1" data-name="Group 1" transform="translate(47.489 69.927)">-->
<!--                    <path id="Path_5" data-name="Path 5" d="M1166.321,538.838a5.534,5.534,0,0,1-1.977-.328,3.816,3.816,0,0,1-1.34-.8,1.326,1.326,0,0,1-.482-.9.954.954,0,0,1,.112-.43,1.307,1.307,0,0,1,.292-.386.569.569,0,0,1,.387-.164.664.664,0,0,1,.456.2c.143.132.318.289.524.472a2.77,2.77,0,0,0,1.96.688,2.931,2.931,0,0,0,1.109-.2,1.7,1.7,0,0,0,.774-.6,1.739,1.739,0,0,0,.284-1.023,1.842,1.842,0,0,0-.3-1.083,2.475,2.475,0,0,0-.808-.722,9.2,9.2,0,0,0-1.091-.533q-.585-.241-1.187-.516a5.567,5.567,0,0,1-1.1-.662,2.848,2.848,0,0,1-.8-.98,3.266,3.266,0,0,1-.3-1.487,3.22,3.22,0,0,1,.353-1.581,2.808,2.808,0,0,1,.938-1.015,4.019,4.019,0,0,1,1.288-.541,6.126,6.126,0,0,1,1.393-.164,8.34,8.34,0,0,1,.954.06,6.181,6.181,0,0,1,1.022.206,2.6,2.6,0,0,1,.826.386.714.714,0,0,1,.326.585,1.186,1.186,0,0,1-.087.4,1.152,1.152,0,0,1-.249.4.556.556,0,0,1-.42.172.994.994,0,0,1-.5-.164,4.607,4.607,0,0,0-.712-.327,3.42,3.42,0,0,0-1.161-.162,3.327,3.327,0,0,0-1.109.172,1.669,1.669,0,0,0-.764.506,1.536,1.536,0,0,0,.025,1.788,2.5,2.5,0,0,0,.8.6,11.575,11.575,0,0,0,1.091.473,11.951,11.951,0,0,1,1.187.524,5.673,5.673,0,0,1,1.1.731,3.081,3.081,0,0,1,.807,1.091,3.963,3.963,0,0,1,.3,1.642,3.833,3.833,0,0,1-.508,2.054,3.091,3.091,0,0,1-1.393,1.212A4.909,4.909,0,0,1,1166.321,538.838Z" transform="translate(-1162.522 -525.704)" fill="#ea5b29"/>-->
<!--                    <path id="Path_6" data-name="Path 6" d="M1171.435,538.75a1.029,1.029,0,0,1-.643-.189.523.523,0,0,1-.25-.412v-11.81a.486.486,0,0,1,.25-.421,1.148,1.148,0,0,1,.643-.164,1.208,1.208,0,0,1,.645.164.483.483,0,0,1,.267.421v5.467a2.608,2.608,0,0,1,.816-.9,2.306,2.306,0,0,1,1.384-.4,2.62,2.62,0,0,1,1.488.456,3.367,3.367,0,0,1,1.091,1.22,3.553,3.553,0,0,1,.412,1.711v4.264a.486.486,0,0,1-.282.446,1.286,1.286,0,0,1-.627.155,1.258,1.258,0,0,1-.6-.155.484.484,0,0,1-.293-.446v-4.264a1.683,1.683,0,0,0-.24-.859,2.023,2.023,0,0,0-.628-.67,1.533,1.533,0,0,0-.868-.258,1.586,1.586,0,0,0-.791.214,1.717,1.717,0,0,0-.618.611,1.816,1.816,0,0,0-.241.962v4.264a.521.521,0,0,1-.267.412A1.08,1.08,0,0,1,1171.435,538.75Z" transform="translate(-1161.292 -525.754)" fill="#ea5b29"/>-->
<!--                    <path id="Path_7" data-name="Path 7" d="M1181.428,538.258a3.333,3.333,0,0,1-1.737-.482,3.812,3.812,0,0,1-1.3-1.263,3.105,3.105,0,0,1-.489-1.676v-1.582a3.16,3.16,0,0,1,.473-1.684,3.615,3.615,0,0,1,4.838-1.239,3.757,3.757,0,0,1,1.3,1.221,3.066,3.066,0,0,1,.489,1.7v1.582a3.12,3.12,0,0,1-.489,1.667,3.754,3.754,0,0,1-1.307,1.272A3.432,3.432,0,0,1,1181.428,538.258Zm.017-1.6a1.571,1.571,0,0,0,.877-.257,1.968,1.968,0,0,0,.637-.679,1.77,1.77,0,0,0,.24-.885v-1.582a1.678,1.678,0,0,0-.24-.867,2.02,2.02,0,0,0-.637-.662,1.6,1.6,0,0,0-.894-.258,1.529,1.529,0,0,0-.868.258,1.944,1.944,0,0,0-.619.662,1.7,1.7,0,0,0-.232.867v1.582a1.791,1.791,0,0,0,.232.885,1.865,1.865,0,0,0,.627.679A1.572,1.572,0,0,0,1181.445,536.658Z" transform="translate(-1160.163 -525.123)" fill="#ea5b29"/>-->
<!--                    <path id="Path_8" data-name="Path 8" d="M1186.308,541.988a1.01,1.01,0,0,1-.628-.189.528.528,0,0,1-.249-.413v-10.83a.488.488,0,0,1,.249-.421,1.094,1.094,0,0,1,.61-.164,1.05,1.05,0,0,1,.6.164.491.491,0,0,1,.241.421v.619a2.854,2.854,0,0,1,.885-.9,2.464,2.464,0,0,1,1.419-.4,2.828,2.828,0,0,1,1.564.456,3.268,3.268,0,0,1,1.118,1.22,3.557,3.557,0,0,1,.413,1.711v1.582a3.49,3.49,0,0,1-.421,1.676,3.591,3.591,0,0,1-1.109,1.263,2.55,2.55,0,0,1-1.495.482,2.49,2.49,0,0,1-1.394-.4,2.378,2.378,0,0,1-.876-.937v4.469a.523.523,0,0,1-.266.413A1.119,1.119,0,0,1,1186.308,541.988Zm2.664-5.33a1.545,1.545,0,0,0,.86-.257,2.017,2.017,0,0,0,.645-.687,1.732,1.732,0,0,0,.249-.876v-1.582a1.69,1.69,0,0,0-.241-.859,1.95,1.95,0,0,0-.645-.67,1.64,1.64,0,0,0-.9-.258,1.673,1.673,0,0,0-.809.214,1.733,1.733,0,0,0-.644.611,1.756,1.756,0,0,0-.25.962v1.977a1.082,1.082,0,0,0,.224.542,2.32,2.32,0,0,0,.62.61A1.524,1.524,0,0,0,1188.972,536.658Z" transform="translate(-1159.009 -525.123)" fill="#ea5b29"/>-->
<!--                    <path id="Path_9" data-name="Path 9" d="M1195.512,538.258a5.146,5.146,0,0,1-1.512-.206,3.064,3.064,0,0,1-1.057-.525.868.868,0,0,1-.387-.645.908.908,0,0,1,.078-.344.922.922,0,0,1,.223-.326.451.451,0,0,1,.317-.137.776.776,0,0,1,.473.2,3.534,3.534,0,0,0,.662.4,2.729,2.729,0,0,0,1.152.2,1.7,1.7,0,0,0,1.161-.292.877.877,0,0,0,.3-.637.853.853,0,0,0-.3-.7,2.35,2.35,0,0,0-.773-.4q-.474-.156-1.007-.3a5.3,5.3,0,0,1-1.005-.388,2.086,2.086,0,0,1-.773-.67,1.94,1.94,0,0,1-.3-1.135,2.54,2.54,0,0,1,.292-1.16,2.289,2.289,0,0,1,.937-.946,3.48,3.48,0,0,1,1.729-.369,5.432,5.432,0,0,1,1.238.137,3.3,3.3,0,0,1,.962.37c.253.154.378.323.378.506a.971.971,0,0,1-.085.336,1.243,1.243,0,0,1-.233.378.472.472,0,0,1-.369.164,1.029,1.029,0,0,1-.43-.129,5.163,5.163,0,0,0-.6-.25,2.582,2.582,0,0,0-.842-.12,1.68,1.68,0,0,0-.8.164,1.135,1.135,0,0,0-.439.386.846.846,0,0,0-.137.447.675.675,0,0,0,.292.585,2.591,2.591,0,0,0,.774.344q.481.137,1.015.283a4.232,4.232,0,0,1,1,.422,2.087,2.087,0,0,1,1.075,1.977,2.147,2.147,0,0,1-.782,1.736A3.383,3.383,0,0,1,1195.512,538.258Z" transform="translate(-1157.916 -525.123)" fill="#ea5b29"/>-->
<!--                  </g>-->
<!--                </g>-->
<!--              </svg>-->
<!--            </div>-->
<!--            <div class="section-title my-4">-->
<!--              <h5>Wiz Pay</h5>-->
<!--              <p class="title-caption">is a type of payment method where the recipient (the customer) make payment for the order at the time of delivery rather than in advance.</p>-->
<!--            </div>-->
<!--            <div class="manage-payments">-->
<!--              <a (click)="openPayAlert()" class="d-flex align-items-center text-decoration-none" style="color: #434343;cursor: pointer">Manage <i class="fa fa-angle-right mx-2" style="transform: translateY(1px)" aria-hidden="true"></i></a>-->
<!--              <p style="margin: 0 !important;cursor: pointer;" id="cursor" (click)="$event.preventDefault();openPayAlert()">-->
<!--                <label class="toggleSwitch large" onclick="">-->
<!--                  <input type="checkbox" [checked]="false"/>-->
<!--                  <span>-->
<!--                        <span>OFF</span>-->
<!--                        <span>ON</span>-->
<!--                    </span>-->
<!--                  <a></a>-->
<!--                </label>-->
<!--              </p>-->
<!--            </div>-->
<!--            <div class="recommended-section">-->
<!--              <span>We Recommend</span>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
      </div>
    </div>

  </div>
</section>
