<div class="layer d-flex align-items-center justify-content-center flex-column">
  <i class="fa fa-exclamation-triangle mb-3 text-danger" style="font-size: 40px" aria-hidden="true"></i>
  <span class="err-msg">{{errorMsg}}</span>
</div>
