<div style="position: relative">
  <div class="card m-3" id="print-section" style="height: auto">
    <div class="" style="display: flex; justify-content: space-between; flex-wrap: wrap; margin-bottom: 1rem; align-items: center">
      <div></div>
      <div>
        <ngx-barcode [bc-width]="2" [bc-value]="awbValue" [bc-display-value]="true"></ngx-barcode>
      </div>
      <div style="">
        <h3>{{ 'package' | translate }}: 1/1</h3>
        <h4>{{ 'Order ID' | translate }} {{invoiceId}}</h4>
      </div>
    </div>
    <div class="" style="display: flex; align-items: start; flex-wrap: wrap">
      <div class="" style=" flex: 1">
        <table class="  " style="text-align: start">
          <thead>
          <tr>
            <th scope="col" class="head" style="background-color: #313E48 !important; color: white; text-align: start; padding: 0.8rem">
              {{ 'Form/Sender' | translate }}
            </th>
            <th scope="col" class="head" style="background-color: #313E48"></th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th scope="row" style="padding: 0.7rem 0 ">{{ 'Name' | translate }}</th>
            <td style="padding: 0.7rem 0 ">{{ merchantInfo?.name }}</td>
          </tr>
          <tr>
            <th scope="row">{{ 'Phone' | translate }}</th>
            <td>{{merchantInfo?.phone}}</td>
          </tr>
          <tr>
            <th scope="row">{{ 'City' | translate }}</th>
            <td>{{merchantInfo?.city}}</td>
          </tr>
          <tr>
            <th scope="row">{{ 'Location' | translate }}</th>
            <td>{{merchantInfo?.address}}</td>
          </tr>
          <tr>
            <th scope="row">{{ 'Reference #' | translate }}:</th>
            <td>{{awbValue}}</td>
          </tr>
          <tr>
            <th scope="row">{{ 'Parcel Details' | translate }}:</th>
            <td></td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td></td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td></td>
          </tr>

          <tr>
            <th scope="row">{{ 'Service Type' | translate }}</th>
            <td>Standard Delivery</td>
          </tr>
          <tr>
            <th scope="row">{{ 'Delivery Charge Payer' | translate }}</th>
            <td>recipient</td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td></td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td></td>
          </tr>
          <tr>
            <th scope="row">{{ 'Shipper\'s signature and Authorisation' | translate }}</th>
            <td>___________________</td>
          </tr>
          <tr>
            <th scope="row">{{ 'Shipper\'s signature' | translate }}</th>
            <td>
              <p style="margin-bottom: 0">{{invoiceData?.date_created | date:'medium'}}</p>
            </td>
          </tr>

          <tr>
            <th scope="row">{{ 'Courier agent name' | translate }}</th>
            <td>___________________</td>
          </tr>

          <tr>
            <th scope="row">{{ 'Courier agent signature' | translate }}</th>
            <td>
              ___________________
              <p>{{invoiceData?.date_created | date:'medium'}}</p>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div style="padding: 1rem"></div>
      <div class="" style="flex: 1">
        <table class="">
          <thead>
          <tr>
            <th scope="col" class="head" style="background-color: #313E48 !important; color: white; text-align: start; padding: 0.8rem">
              {{ 'To/Receiver' | translate }}
            </th>
            <th scope="col" class="head" style="background-color: #313E48 !important; color: white; text-align: start; padding: 0.8rem"></th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th scope="row">{{ 'Name' | translate }}</th>
            <td>{{invoiceData?.billing?.first_name + ' ' + invoiceData?.billing?.last_name}}</td>
          </tr>
          <tr>
            <th scope="row">{{ 'Phone' | translate }}</th>
            <td>{{invoiceData?.billing?.phone}}</td>
          </tr>
          <tr>
            <th scope="row">{{ 'City' | translate }}</th>
            <td>{{invoiceData?.billing?.city}}</td>
          </tr>
          <tr>
            <th scope="row">{{ 'Location' | translate }}</th>
            <td>{{invoiceData?.billing?.address_1 + ', ' + invoiceData?.billing?.address_2}}</td>
          </tr>
          <tr>
            <th scope="row">{{ 'Promise Date' | translate }}:</th>
            <td>N/A</td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td></td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td></td>
          </tr>

          <tr>
            <th scope="row">{{ 'Payment Info' | translate }}</th>
            <td>___________________</td>
          </tr>

          <tr>
            <th scope="row">{{ 'Payment type' | translate }}</th>
            <td>{{invoiceData?.payment_method_title}}</td>
          </tr>
          <tr>
            <th scope="row">{{ 'Amount to collect' | translate }}</th>
            <td>{{invoiceData?.total | currency: invoiceData?.currency + ' '}}</td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td></td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td></td>
          </tr>
          <tr>
            <th scope="row">{{ 'Recipient\'s signature and Authorisation' | translate }}</th>
            <td>___________________</td>
          </tr>
          <tr>
            <th scope="row">
              {{ 'Received above shipment in good order and condition Recipient\'s' | translate }}
            </th>
            <td></td>
          </tr>
          <tr>
            <th scope="row">{{ 'signature' | translate }}</th>
            <td>_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _</td>
          </tr>

          <tr>
            <th scope="row">{{ 'Date and Time' | translate }}</th>
            <td>
              ___________________
              <p>{{invoiceData?.date_created | date:'medium'}}</p>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>



  <button ngxPrint printSectionId="print-section" id="btn-print" [useExistingCss]="true">
    <i class="fa fa-print mr-2" aria-hidden="true"></i>
    <span>Print</span>
  </button>

</div>
