table {
  width: 100%;

  th, td {
    padding: 0.3rem 0;
    font-family: 'Dosis', sans-serif;
    text-align: start !important;
    border: 0;
  }

  th,
  td,
  thead th,
  tbody + tbody {
    border: 0 !important;
  }

}

#btn-print {
  all: unset;
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 999;
  background-color: #343E47;
  color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  font-weight: 600;
  font-size: 1.3em;
  cursor: pointer;
  transition: 0.2s;
  box-shadow: 0 2px 8px rgba(black, 0.1);
  &:hover {
    opacity: 0.8
  }
  &:active {
    transform: scale(0.95);
  }
}

h3, h4 {
  font-family: 'Dosis', sans-serif;
}

h3 {
  font-size: 20pt;

  font-weight: bold;
}

h4 {
  font-size: 18pt;
}

@media print {
  body {
    font-family: 'Dosis', sans-serif;
  }
  table {
    text-align: start !important;

    .head {
      background-color: #000 !important;
      color: white !important;
      -webkit-print-color-adjust: exact;
      color-adjust: exact !important;
    }
  }
}
