<div class="card">
  <div class="mb-4 header">
    <h3 class="header">{{ 'Activity Board' | translate }}</h3>
  </div>
  <!-- sec 1  -->
  <div class="d-flex flex-column cont">
    <div *ngFor="let board of activityBoard?.data" class="d-flex flex-row justify-content-between pb-2 pt-2 bg-lighter pl-2">
      <div>
        <div class="d-flex">
          <div class="ball"></div>
          <h3 class="date">{{board?.created_at | date:'mediumDate'}}</h3>
        </div>

        <p class="order">{{board?.title_en}}</p>
      </div>
      <div class="d-flex align-items-center">
        <i class="fas fa-chevron-right px-3"></i>
      </div>
    </div>
  </div>
</div>
