.header {
  font-size: 27px;
  font-weight: 500;
  .header {
    color: #343E47;
  }
}

.cont {
  height: 500px;
  overflow-y: auto;
}
.ball {
  display: inline-block;
  width: 25px;
  height: 25px;
  border: 3px solid #ea5b29;
  border-radius: 100%;
}
.date {
  color: rgba(#313e48,0.5);
  font-weight: bold;
  font-size: 20px;
  display: inline-block;
  padding-left: 25px;
}

.order {
  color: #313E48;
  font-weight: bold;
  font-size: 18px;
  padding-left: 52px;
}

.bg-lighter {
  background-color: #F5F5F5;
}
