<section class="confirm-alert">
    <div class="close-part d-flex justify-content-end">
      <i style="cursor: pointer" (click)="closeDialog()" class="fa fa-times" aria-hidden="true"></i>
    </div>
    <div class="alert-body">
      <div class="img-part mb-3">
        <img src="assets/big-shield.png" alt="big-shield">
      </div>
      <h6>{{ 'Alert' | translate }}</h6>
      <p style="white-space: pre-wrap !important; ">{{ data?.title | translate }}</p>
      <span class="text-muted mb-4" *ngIf="data?.titleWithLink?.title?.length > 0">{{data?.titleWithLink?.title}} <a class="resend-btn mx-2 btn" (click)="sendVerification()">{{data?.titleWithLink?.link}}</a></span>
      <button (click)="closeDialog()" class="alert-button">{{ 'Ok' | translate }}</button>
    </div>
</section>

<!--'Please ,select the items you want to confirm'-->
