@import "../../../../../assets/variables";

.confirm-alert {
  padding: 1rem;
  .close-part {
    //padding: 1rem;
  }

  .alert-body {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .resend-btn {
      all: unset;
      color: #EA5B29;
      text-decoration: underline;
      cursor: pointer;
    }

    h6 {
      font-weight: 600;
      font-size: 18px;
    }

    p {
      font-weight: normal;
      color: $blue-black;
      text-align: center;
    }
  }
}
