@import "../../../../../../../../assets/variables.scss";
// excess height to improve interactive area / accessibility
$height: 30px;
$thumb-height: 13px;
$track-height: 2px;

// colours
$upper-color: #e5e5e5;
$lower-color: $main-color;
$thumb-color: $main-color;
$thumb-hover-color: $main-color;

$upper-background: linear-gradient(to bottom, $upper-color, $upper-color) 100% 50% / 100% $track-height no-repeat transparent;
$lower-background: linear-gradient(to bottom, $lower-color, $lower-color) 100% 50% / 100% $track-height no-repeat transparent;

// Webkit cannot style progress so we fake it with a long shadow
// on the thumb element
@function webkit-slider-thumb-shadow($i: 1) {
  $val: #{$i}px 0 0 -#{($thumb-height - $track-height) / 2} #{$upper-color};
  @if $i == 1 {
    @for $k from 2 through 1000 {
      $val: #{$val}, webkit-slider-thumb-shadow($k);
    }
  }
  @return $val;
}

input[type='range'] {
  display: block;
  appearance: none;
  width: 100%;
  margin: 0;
  height: $height;
  overflow: hidden;
  cursor: pointer;
  
  &:focus {
    outline: none;
  }
}

// Webkit
input[type='range']::-webkit-slider-runnable-track {
  width: 100%;
  height: $height;
  background: $lower-background;
}

input[type='range']::-webkit-slider-thumb {
  position: relative;
  appearance: none;
  height: $thumb-height;
  width: $thumb-height;
  background: $thumb-color;
  border-radius: 100%;
  border: 0;
  top: 50%;
  margin-top: (-$thumb-height/2);
  box-shadow: webkit-slider-thumb-shadow();
  transition: background-color 150ms;
}

// Firefox
input[type='range']::-moz-range-track,
input[type='range']::-moz-range-progress {
  width: 100%;
  height: $height;
  background: $upper-background;
}

input[type='range']::-moz-range-progress {
  background: $lower-background;
}

input[type='range']::-moz-range-thumb {
  appearance: none;
  margin: 0;
  height: $thumb-height;
  width: $thumb-height;
  background: $thumb-color;
  border-radius: 100%;
  border: 0;
  transition: background-color 150ms;
}

// Internet Exploder
input[type='range']::-ms-track {
  width: 100%;
  height: $height;
  border: 0;
  // color needed to hide track marks
  color: transparent;
  background: transparent;
}

input[type='range']::-ms-fill-lower {
  background: $lower-background;
}

input[type='range']::-ms-fill-upper {
  background: $upper-background;
}

input[type='range']::-ms-thumb {
  appearance: none;
  height: $thumb-height;
  width: $thumb-height;
  background: $thumb-color;
  border-radius: 100%;
  border: 0;
  transition: background-color 150ms;
  // IE Edge thinks it can support -webkit prefixes
  top: 0;
  margin: 0;
  box-shadow: none;
}

input[type='range']:hover,
input[type='range']:focus {

  &::-webkit-slider-thumb {
    background-color: $thumb-hover-color;
  }
  &::-moz-range-thumb {
    background-color: $thumb-hover-color;
  }
  &::-ms-thumb {
    background-color: $thumb-hover-color;
  }
}

.range-label{
  width: 110px;
}
.input-group-prepend{
  .input-group-text{
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
}