<div class="d-flex align-items-center justify-content-sm-end">
  <div class="range-label mr-3">
    <label class="sr-only" for="inlineFormInputGroup">{{ rangeValue }}</label>
    <div class="input-group">
      <input
        type="number"
        class="form-control pr-0"
        id="inlineFormInputGroup"
        placeholder="190"
        min="0"
        max="250"
        name="optionKey+'field'"
        [(ngModel)]="inputValue"
        (change)="onValueChange()"
        autocomplete="off"
      />
      <div *ngIf='showPixelBlock' class="input-group-prepend">
        <div class="input-group-text">px</div>
      </div>
    </div>
  </div>
  <div class="form-group m-0">
    <input
      type="range"
      class="form-control-range"
      id="formControlRange"
      min="0"
      max="250"
      name="optionKey"
      [(ngModel)]="rangeValue"
      (change)="rangeChangeHandler()"
    />
  </div>
</div>
