
<section class="global p-3 en">
  <!-- Stepper -->
  <section class="stepper-wrapper card mb-3 position-relative" *ngIf="!isGoLive() && wizardLoaded">
    <app-error-layer *ngIf="wizardErr" errorMsg="wizard data can't be loaded!"></app-error-layer>
    <header class="mb-4">
      <h5 class="heading text-center">{{ 'Get ready for your first sale Follow our tips to get started' | translate }}</h5>
    </header>
    <div
      class="stepper d-flex align-items-lg-center align-items-start justify-content-between flex-lg-row flex-column flex-wrap">
      <!--  step 1    -->
      <div  class="step text-center d-flex align-items-center flex-lg-column justify-content-start flex-row mb-lg-0 mb-4"
            [ngClass]="{'step-active': false, 'step-complete': true}" [matMenuTriggerFor]="step1">
        <div class="circle text-center d-flex align-items-center justify-content-center mb-0 mb-lg-2">
          <span hidden>1</span>
          <span><i class="fa fa-check"></i></span>
        </div>
        <div class="description mx-lg-0 mx-4">
          <p class="estimate mb-1 text-lg-center">{{ 'Done' | translate }}</p>
          <p class="estimate mb-1 text-lg-center" *ngIf="false">{{ 'Estimate {number}' | translate: {number: 10} }}</p>
          <h5 class="description-text text-lg-center mx-lg-1 mx-0" style="white-space: pre-wrap !important;">{{ 'Create Account' | translate }}</h5>
        </div>
        <mat-menu #step1="matMenu" class="menu">
          <div class="menu-content" (click)="$event.stopPropagation()" *ngIf="false">
            <p class="menu-desc">{{ 'Your current domain is {domain} You may change your domain' | translate:{domain: shopUrl} }}</p>
            <div class="d-flex  justify-content-end">
              <button class="d-flex align-items-center" mat-button>
                <span>{{ 'Change Domain' | translate }}</span>
                <mat-icon aria-hidden="false" aria-label="Example home icon">chevron_right</mat-icon>
              </button>
            </div>
          </div>
        </mat-menu>
      </div>

      <!--  step 2    -->
      <div  class="step text-center d-flex align-items-center flex-lg-column justify-content-start flex-row mb-lg-0 mb-4"
            [ngClass]="{'step-active': wizardData.step_2?.status === 'active', 'step-complete': wizardData.step_2?.status === 'done'}" [matMenuTriggerFor]="step2">
        <div class="circle text-center d-flex align-items-center justify-content-center mb-0 mb-lg-2">
          <span *ngIf="wizardData.step_2?.status !== 'done'">2</span>
          <span *ngIf="wizardData.step_2?.status === 'done'"><i class="fa fa-check"></i></span>
        </div>
        <div class="description mx-lg-0 mx-4">
          <p class="estimate mb-1 text-lg-center" *ngIf="wizardData.step_2?.status === 'done'">{{ 'Done' | translate }}</p>
          <p class="estimate mb-1 text-lg-center" *ngIf="wizardData.step_2?.status !== 'done'">{{ 'Estimate {number}' | translate: {number: 10} }}</p>
          <h5 class="description-text text-lg-center mx-lg-1 mx-0" style="white-space: pre-wrap !important;">{{ 'Choose Theme' | translate }}</h5>
        </div>
        <mat-menu #step2="matMenu" class="menu">
          <div class="menu-content" (click)="$event.stopPropagation()" *ngIf="wizardData?.step_2?.status !== 'done'">
            <p class="menu-desc">{{ 'Choose the layout of your store from a wide selection of themes available' | translate }}</p>
            <div class="d-flex  justify-content-end">
              <button class="d-flex align-items-center" mat-button routerLink="/user/themes/layouts">
                <span>{{ 'Choose Theme' | translate }}</span>
                <mat-icon aria-hidden="false" aria-label="Example home icon">chevron_right</mat-icon>
              </button>
            </div>
          </div>
        </mat-menu>
      </div>

      <!--  step 3    -->
      <div  class="step text-center d-flex align-items-center flex-lg-column justify-content-start flex-row mb-lg-0 mb-4"
            [matMenuTriggerFor]="step3"
            [ngClass]="{'step-active': wizardData.step_3?.status === 'active', 'step-complete': wizardData.step_3?.status === 'done'}">
        <div class="circle text-center d-flex align-items-center justify-content-center mb-0 mb-lg-2">
          <span *ngIf="wizardData.step_3?.status !== 'done'">3</span>
          <span *ngIf="wizardData.step_3?.status === 'done'"><i class="fa fa-check"></i></span>
        </div>
        <div class="description mx-lg-0 mx-4">
          <p class="estimate mb-1 text-lg-center" *ngIf="wizardData.step_3?.status === 'done'">{{ 'Done' | translate }}</p>
          <p class="estimate mb-1 text-lg-center" *ngIf="wizardData.step_3?.status !== 'done'">{{ 'Estimate {number}' | translate:{number: 3} }}</p>
          <h5 class="description-text text-lg-center mx-lg-1 mx-0" style="white-space: pre-wrap !important;">{{ 'Add Products' | translate }}</h5>
        </div>
        <mat-menu #step3="matMenu" class="menu">
          <div class="menu-content" (click)="$event.stopPropagation()" *ngIf="wizardData?.step_3?.status !== 'done'">
            <p class="menu-desc">{{ 'Add your product pictures and descriptions\n' | translate }}</p>
            <div class="d-flex  justify-content-end">
              <button class="d-flex align-items-center" mat-button routerLink="/user/products/all-products">
                <span>{{ 'Add Products' | translate }}</span>
                <mat-icon aria-hidden="false" aria-label="Example home icon">chevron_right</mat-icon>
              </button>
            </div>
          </div>
        </mat-menu>
      </div>

      <!--  step 4    -->
      <div  class="step text-center d-flex align-items-center flex-lg-column justify-content-start flex-row mb-lg-0 mb-4"
            [matMenuTriggerFor]="step4"
            [ngClass]="{'step-active': wizardData.step_4?.status === 'active', 'step-complete': wizardData.step_4?.status === 'done'}">
        <div class="circle text-center d-flex align-items-center justify-content-center mb-0 mb-lg-2">
          <span *ngIf="wizardData.step_4?.status !== 'done'">4</span>
          <span *ngIf="wizardData.step_4?.status === 'done'"><i class="fa fa-check"></i></span>
        </div>
        <div class="description mx-lg-0 mx-4">
          <p class="estimate mb-1 text-lg-center" *ngIf="wizardData.step_4?.status === 'done'">{{ 'Done' | translate }}</p>
          <p class="estimate mb-1 text-lg-center" *ngIf="wizardData.step_4?.status !== 'done'">{{ 'Estimate {number}' | translate: {number: 10} }}</p>
          <h5 class="description-text text-lg-center mx-lg-1 mx-0" style="white-space: pre-wrap !important;">{{ 'Setup Delivery' | translate }}</h5>
        </div>
        <mat-menu #step4="matMenu" class="menu">
          <div class="menu-content" (click)="$event.stopPropagation()" *ngIf="wizardData?.step_4?.status !== 'done'">
            <p class="menu-desc">{{ 'Add your pick up location, choose your shipping partner & configure delivery cost' | translate }}</p>
            <div class="d-flex  justify-content-end">
              <button class="d-flex align-items-center" mat-button routerLink="/user/settings/shipping-settings">
                <span>{{ 'Shipping Setup' | translate }}</span>
                <mat-icon aria-hidden="false" aria-label="Example home icon">chevron_right</mat-icon>
              </button>
            </div>
          </div>
        </mat-menu>
      </div>

      <!--  step 5    -->
      <div  class="step text-center d-flex align-items-center flex-lg-column justify-content-start flex-row mb-lg-0 mb-4"
            [matMenuTriggerFor]="step5"
            [ngClass]="{'step-active': wizardData.step_5?.status === 'active', 'step-complete': wizardData.step_5?.status === 'done'}">
        <div class="circle text-center d-flex align-items-center justify-content-center mb-0 mb-lg-2">
          <span *ngIf="wizardData.step_5?.status !== 'done'">5</span>
          <span *ngIf="wizardData.step_5?.status === 'done'"><i class="fa fa-check"></i></span>
        </div>
        <div class="description mx-lg-0 mx-4">
          <p class="estimate mb-1 text-lg-center" *ngIf="wizardData.step_5?.status === 'done'">{{ 'Done' | translate }}</p>
          <p class="estimate mb-1 text-lg-center" *ngIf="wizardData.step_5?.status !== 'done'">{{ 'Estimate {number}' | translate: {number: 3} }}</p>
          <h5 class="description-text text-lg-center mx-lg-1 mx-0" style="white-space: pre-wrap !important;">{{'Setup Payment' | translate}}</h5>
        </div>
        <mat-menu #step5="matMenu" class="menu">
          <div class="menu-content" (click)="$event.stopPropagation()" *ngIf="wizardData?.step_5?.status !== 'done'">
            <p class="menu-desc">{{ 'Set up payment gateway, cash on delivery and bank information' | translate }}</p>
            <div class="d-flex  justify-content-end">
              <button class="d-flex align-items-center" mat-button routerLink="/user/settings/payment-methods">
                <span>{{ 'Payment Setup' | translate }}</span>
                <mat-icon aria-hidden="false" aria-label="Example home icon">chevron_right</mat-icon>
              </button>
            </div>
          </div>
        </mat-menu>
      </div>

      <!--  step 6    this is not active
      <div matRipple class="step text-center d-flex align-items-center flex-lg-column justify-content-start flex-row mb-lg-0 mb-4"
           [matMenuTriggerFor]="step6"
           [ngClass]="{'step-active': wizardData.step_6?.status === 'active', 'step-complete': wizardData.step_6?.status === 'done'}">
        <div class="circle text-center d-flex align-items-center justify-content-center mb-0 mb-lg-2">
          <span *ngIf="wizardData.step_6?.status !== 'done'">6</span>
          <span *ngIf="wizardData.step_6?.status === 'done'"><i class="fa fa-check"></i></span>
        </div>
        <div class="description mx-lg-0 mx-4">
          <p class="estimate mb-1 text-lg-center" *ngIf="wizardData.step_6?.status === 'done'">{{ 'Done' | translate }}</p>
          <p class="estimate mb-1 text-lg-center" *ngIf="wizardData.step_6?.status !== 'done'">{{ 'Estimate 10' | translate }}</p>
          <h5 class="description-text text-lg-center mx-lg-1 mx-0">{{ 'Add Credit Card' | translate }}</h5>
        </div>
        <mat-menu #step6="matMenu" class="menu">
          <div class="menu-content" (click)="$event.stopPropagation()" *ngIf="wizardData?.step_6?.status !== 'done'">
            <p class="menu-desc">{{ 'Your current domain is {domain} You may change your domain' | translate }}</p>
            <div class="d-flex  justify-content-end">
              <button class="d-flex align-items-center" mat-button>
                <span>{{ 'Change Domain' | translate }}</span>
                <mat-icon aria-hidden="false" aria-label="Example home icon">chevron_right</mat-icon>
              </button>
            </div>
          </div>
        </mat-menu>
      </div>
-->
      <!--  step 7    -->
      <div (click)="sendVerification(wizardData?.shop_verified?.status === 'yes')" class="text-decoration-none step text-center d-flex align-items-center flex-lg-column justify-content-start flex-row mb-lg-0 mb-4"
            [ngClass]="{'step-active': wizardData.step_7?.status === 'active', 'step-complete': isGoLive()}">
        <div class="circle text-center d-flex align-items-center justify-content-center mb-0 mb-lg-2">
          <span *ngIf="!isGoLive()">6</span>
          <span *ngIf="isGoLive()">
            <i class="fa fa-spin fa-spinner" [ngClass]="{'fa-spin fa-spinner': verifying, 'fa-check': !verifying}"></i>
          </span>
        </div>
        <div class="description mx-lg-0 mx-4">
          <p class="estimate mb-1 text-lg-center" *ngIf="isGoLive()">{{ 'Done' | translate }}</p>
          <p class="estimate mb-1 text-lg-center" *ngIf="!isGoLive()">{{ 'Estimate {number}' | translate: {number: 3} }}</p>
          <h5 class="description-text text-lg-center mx-lg-1 mx-0" style="color: rgba(0,0,0,.87); white-space: pre-wrap">{{ 'Go Live' | translate }}</h5>
        </div>
      </div>
    </div>
  </section>

  <!-- Statistics -->
  <section class="statistics-wrapper mb-3 ">
    <div class="row">

      <div class="col-lg-3 mb-3 mb-lg-0">
        <div class="rounded box p-3 bg-white position-relative">
          <app-error-layer errorMsg="Revenue can't be loaded!" *ngIf="revenueErr"></app-error-layer>
          <div class="d-flex align-items-center justify-content-between mb-2">
            <h3>
              <svg xmlns="http://www.w3.org/2000/svg" width="41.001" height="31.236" viewBox="0 0 41.001 31.236">
                <path id="Path_89840" data-name="Path 89840" d="M1043.229,452.354v-20.19c0-3.664,1.871-5.533,5.571-5.533h29.877c3.683,0,5.552,1.888,5.552,5.533v20.19c0,3.625-1.869,5.513-5.552,5.513H1048.8C1045.1,457.867,1043.229,456,1043.229,452.354Zm2.342-18.566h36.337v-1.51a2.972,2.972,0,0,0-3.286-3.305h-29.784c-2.115,0-3.266,1.132-3.266,3.305Zm33.051,21.737a2.963,2.963,0,0,0,3.286-3.3v-14.2h-36.337v14.2c0,2.191,1.151,3.3,3.266,3.3Zm-29.348-7.762v-3.513a1.739,1.739,0,0,1,1.849-1.793h4.627a1.746,1.746,0,0,1,1.871,1.793v3.513a1.762,1.762,0,0,1-1.871,1.814h-4.627A1.755,1.755,0,0,1,1049.273,447.763Z" transform="translate(-1043.229 -426.631)" fill="#313e48" opacity="0.3"/>
              </svg>

            </h3>
            <h3 class="number">{{totalRevenue}} {{currency$ || ''}}</h3>
          </div>
          <div class="desc d-flex justify-content-end">
            <h5 class="mb-0 text">{{ 'Total Revenue' | translate }}</h5>
          </div>
        </div>
      </div>

      <div class="col-lg-3 mb-3 mb-lg-0">
        <div class="rounded box p-3 bg-white position-relative">
          <app-error-layer errorMsg="Total orders can't be loaded!" *ngIf="revenueErr"></app-error-layer>
          <div class="d-flex align-items-center justify-content-between mb-2">
            <h3>
              <svg xmlns="http://www.w3.org/2000/svg" width="31.289" height="36" viewBox="0 0 31.289 36">
                <path id="Path_60273" data-name="Path 60273" d="M426.349,454.524V435.707c0-3.487,1.8-5.247,5.3-5.247h3.219a7.131,7.131,0,0,1,14.235,0h3.234c3.5,0,5.3,1.779,5.3,5.247v18.817c0,3.452-1.8,5.249-4.941,5.249H431.649C428.146,459.773,426.349,457.994,426.349,454.524Zm26.293,3.02c1.638,0,2.767-1.061,2.767-3.145V435.816a2.82,2.82,0,0,0-3.127-3.146h-20.6a2.8,2.8,0,0,0-3.109,3.146V454.4a2.793,2.793,0,0,0,3.109,3.145ZM437.1,430.46h9.794a4.909,4.909,0,0,0-9.794,0Z" transform="translate(-426.349 -423.773)" fill="#313e48" opacity="0.3"/>
              </svg>

            </h3>
            <h3 class="number">{{totalOrders | number}}</h3>
          </div>
          <div class="desc d-flex justify-content-end">
            <h5 class="mb-0 text">{{ 'Total Orders' | translate }}</h5>
          </div>
        </div>
      </div>

      <div class="col-lg-3 mb-3 mb-lg-0">
        <div class="rounded box p-3 bg-white position-relative">
          <app-error-layer errorMsg="Products can't be loaded!" *ngIf="totalProductsErr"></app-error-layer>
          <div class="d-flex align-items-center justify-content-between mb-2">
            <h3>
              <svg xmlns="http://www.w3.org/2000/svg" width="42.93" height="43.803" viewBox="0 0 42.93 43.803">
                <g id="Group_54146" data-name="Group 54146" transform="translate(-838.725 -121)">
                  <path id="Path_24" data-name="Path 24" d="M875.665,543.591a.786.786,0,0,1-.556-1.342l.121-.129a2.853,2.853,0,0,1,2.315-1.042H890.7c.856-.269,5.814-5.06,6.932-6.316a53.856,53.856,0,0,0,4.336-6.818,3.431,3.431,0,0,0-2.632-.351c-1.269.3-2.117,1.173-3.238,3.352a.778.778,0,0,1-.337.34l-4.308,2.236a.787.787,0,0,1-.726-1.4L894.818,530c1.1-2.1,2.211-3.49,4.166-3.943a4.529,4.529,0,0,1,4.569,1.239.785.785,0,0,1,.093.778,50.684,50.684,0,0,1-4.835,7.734c-.061.068-6.47,6.842-8.107,6.842H877.546a1.312,1.312,0,0,0-1.162.54l-.162.17A.791.791,0,0,1,875.665,543.591Z" transform="translate(-22.054 -385.367)" fill="#313e48"/>
                  <path id="Path_25" data-name="Path 25" d="M891.482,535.937h-7.52a.787.787,0,0,1,0-1.574h7.52c1.4,0,2.034-.785,2.034-1.563s-.63-1.563-2.034-1.563h-4.966a3.376,3.376,0,0,1-1.843-.941,4.019,4.019,0,0,0-1.651-.938h-4.7a5.891,5.891,0,0,0-3.222,1.668l-3.74,3.74-1.113-1.113,3.759-3.759a7.3,7.3,0,0,1,4.316-2.11h4.7a4.673,4.673,0,0,1,2.608,1.262,4.705,4.705,0,0,0,.926.62l4.926,0c2.367,0,3.608,1.577,3.608,3.137S893.849,535.937,891.482,535.937Z" transform="translate(-24.712 -384.292)" fill="#313e48"/>
                  <path id="Path_26" data-name="Path 26" d="M877.986,547.724a.79.79,0,0,1-.556-.23l-11.279-11.279a.785.785,0,0,1,0-1.113l4.7-4.7a.787.787,0,0,1,1.113,0l11.279,11.279a.784.784,0,0,1,0,1.113l-4.7,4.7A.79.79,0,0,1,877.986,547.724ZM867.82,535.658l10.166,10.166,3.589-3.587-10.166-10.166Z" transform="translate(-27.195 -382.921)" fill="#313e48"/>
                  <path id="Path_27" data-name="Path 27" d="M871.573,536.613a.78.78,0,0,1-.556-.231l-1.881-1.879a.787.787,0,0,1,1.113-1.113l1.881,1.879a.788.788,0,0,1-.557,1.344Z" transform="translate(-25.481 -381.208)" fill="#313e48"/>
                  <path id="Path_28" data-name="Path 28" d="M885.464,535.378a1.736,1.736,0,0,1-1.077-.469l-7.232-5.8a1.859,1.859,0,0,1-.589-1.772l1.336-9.011a1.745,1.745,0,0,1,1.387-1.446c6.212-2.429,7.9-3.088,8.416-3.268l-.008-.019a1.815,1.815,0,0,1,1.7.271l7.231,5.8a1.848,1.848,0,0,1,.637,1.615l-1.362,9.171a1.728,1.728,0,0,1-1.224,1.434l-8.751,3.4A1.261,1.261,0,0,1,885.464,535.378Zm2.83-20.312a.159.159,0,0,0-.055.008c-.116.044-8.51,3.315-8.51,3.315-.19.049-.258.091-.271.171l-1.335,9a.579.579,0,0,0,.024.327l7.226,5.791c.049.039.087.068.115.088l8.627-3.351a.767.767,0,0,0,.224-.113l1.375-9.256a.381.381,0,0,0-.066-.159l-7.231-5.8A.243.243,0,0,0,888.294,515.067Zm7.352,5.824Z" transform="translate(-21.101 -392.494)" fill="#313e48"/>
                  <path id="Path_29" data-name="Path 29" d="M879.248,526.35a.786.786,0,0,1-.267-1.525l5.8-2.114,1.136-6.811a.787.787,0,0,1,1.552.258l-1.21,7.264a.787.787,0,0,1-.509.609l-6.228,2.271A.759.759,0,0,1,879.248,526.35Z" transform="translate(-19.998 -391.491)" fill="#313e48"/>
                  <path id="Path_30" data-name="Path 30" d="M889.2,526.175a.776.776,0,0,1-.488-.17l-5.992-4.744a.788.788,0,0,1,.977-1.236l5.992,4.745a.787.787,0,0,1-.49,1.4Z" transform="translate(-17.727 -388.842)" fill="#313e48"/>
                </g>
              </svg>

            </h3>
            <h3 class="number">{{totalItems | number}}</h3>
          </div>
          <div class="desc d-flex justify-content-end">
            <h5 class="mb-0 text">{{ 'Products' | translate }}</h5>
          </div>
        </div>
      </div>

      <div class="col-lg-3">
        <div class="rounded box p-3 bg-white position-relative">
          <app-error-layer errorMsg="Visitors can't be loaded!" *ngIf="visitorsErr"></app-error-layer>
          <div class="d-flex align-items-center justify-content-between mb-2">
            <h3>
              <svg xmlns="http://www.w3.org/2000/svg" width="38.88" height="25.82" viewBox="0 0 38.88 25.82">
                <g id="Group_54147" data-name="Group 54147" transform="translate(-1109.39 -123.18)">
                  <path id="Path_60285" data-name="Path 60285" d="M696.682,313.351a6.194,6.194,0,0,0,5.923-6.472,5.93,5.93,0,1,0-11.834.014C690.8,310.481,693.4,313.351,696.682,313.351Zm0-11.145a4.424,4.424,0,0,1,4.179,4.672c0,2.7-1.872,4.826-4.179,4.826-2.279,0-4.165-2.11-4.165-4.811A4.426,4.426,0,0,1,696.682,302.206Z" transform="translate(439.473 -177.381)" fill="#313e48"/>
                  <path id="Path_60286" data-name="Path 60286" d="M684.123,313.212a5.622,5.622,0,1,0-5.136-5.658A5.391,5.391,0,0,0,684.123,313.212Zm0-9.569a3.715,3.715,0,0,1,3.531,3.9,3.55,3.55,0,1,1-7.036.014A3.734,3.734,0,0,1,684.123,303.643Z" transform="translate(435.821 -176.931)" fill="#313e48"/>
                  <path id="Path_60287" data-name="Path 60287" d="M698.139,311.894c-7.5,0-12.115,5.22-12.115,8.893,0,1.421.971,2.081,3.039,2.081h18.166c2.055,0,3.04-.66,3.04-2.081C710.268,317.114,705.652,311.894,698.139,311.894Zm9.526,9.315H688.613c-.634,0-.859-.155-.859-.605,0-2.659,3.771-7.064,10.385-7.064s10.385,4.405,10.385,7.064C708.524,321.054,708.313,321.209,707.664,321.209Z" transform="translate(438.002 -173.868)" fill="#313e48"/>
                  <path id="Path_60288" data-name="Path 60288" d="M688.05,321.261H677.187c-.506,0-.7-.183-.7-.647,0-3.757,4.095-7.134,8.907-7.134a9.342,9.342,0,0,1,5.4,1.59,6.931,6.931,0,0,1,1.238-1.154,11.226,11.226,0,0,0-6.641-2.055c-6.036,0-10.54,4.376-10.54,8.837,0,1.464.845,2.181,2.561,2.181h11.6A1.894,1.894,0,0,1,688.05,321.261Z" transform="translate(434.539 -173.879)" fill="#313e48"/>
                </g>
              </svg>

            </h3>
            <h3 class="number">{{totalVisitorsNumber || 0}}</h3>
          </div>
          <div class="desc d-flex justify-content-end">
            <h5 class="mb-0 text">{{ 'Visitors' | translate }}</h5>
          </div>
        </div>
      </div>

    </div>
  </section>

  <section class="orders-wrapper card mb-3 p-4 ">
    <div class="row justify-content-center mb-5">

      <div class="col-lg-3 mb-lg-0 mb-3">
        <div class="rounded box p-3 bg-white position-relative" [ngClass]="{'has-data': false}">
          <app-error-layer errorMsg="Awaiting confirmation can't be loaded!" *ngIf="ordersErr"></app-error-layer>
          <header class="text-center mb-3">
            <h3 class="text-center header">{{orders?.pending}} <span>{{ 'Orders' | translate }}</span></h3>
          </header>
          <div class="actions">
            <button class="d-flex align-items-center justify-content-between">
              <span class="text">{{ 'Awaiting Confirmation' | translate }}</span>
              <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </div>

      <div class="col-lg-3 mb-lg-0 mb-3">
        <div class="rounded box p-3 bg-white">
          <header class="text-center mb-3">
            <h3 class="text-center header"><span>{{ '{number} Orders' | translate: {number: 0} }}</span></h3>
          </header>
          <div class="actions">
            <button class="d-flex align-items-center justify-content-between">
              <span class="text">{{ 'Awaiting Dispatch' | translate }}</span>
              <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </div>

      <div class="col-lg-3 mb-lg-0 mb-3">
        <div class="rounded box p-3 bg-white">
          <header class="text-center mb-3">
            <h3 class="text-center header"><span>{{ '{number} Tickets' | translate: {number: 0} }}</span></h3>
          </header>
          <div class="actions">
            <button class="d-flex align-items-center justify-content-between">
              <span class="text">{{ 'Pending' | translate }}</span>
              <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </div>

    </div>

    <section class="date-filter mb-3 d-flex align-items-center justify-content-lg-end flex-wrap">
      <ng-container *ngIf="isGoLive()">
        <span class="text-capitalize mx-3 mb-2 mb-lg-0">Select Date Range</span>
        <div class="calender">
          <!--        <i class="fa fa-calendar" aria-hidden="true"></i>-->
          <!--        &lt;!&ndash;        <select class="custom-select rounded">&ndash;&gt;-->
          <!--        &lt;!&ndash;          <option selected>Choose...</option>&ndash;&gt;-->
          <!--        &lt;!&ndash;          <option value="1">This Week</option>&ndash;&gt;-->
          <!--        &lt;!&ndash;          <option value="2">Last Week</option>&ndash;&gt;-->
          <!--        &lt;!&ndash;          <option value="3">Last Month</option>&ndash;&gt;-->
          <!--        &lt;!&ndash;        </select>&ndash;&gt;-->
          <!--        <input [(ngModel)]="dateDate.start_date" (ngModelChange)="dateChanged()" type="date" class="custom-select form-control rounded">-->

          <mat-form-field appearance="fill">
            <mat-label>Enter a date range</mat-label>
            <mat-date-range-input [formGroup]="range" [rangePicker]="picker"   style="border-radius: 10px">
              <input matStartDate (dateChange)="dateChanged()" formControlName="start_date" placeholder="Start date">
              <input matEndDate (dateChange)="dateChanged()" formControlName="end_Date" placeholder="End date">
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker  #picker></mat-date-range-picker>

            <mat-error *ngIf="range.controls.start_date.hasError('matStartDateInvalid')">Invalid start date</mat-error>
            <mat-error *ngIf="range.controls.end_Date.hasError('matEndDateInvalid')">Invalid end date</mat-error>
          </mat-form-field>

        </div>
      </ng-container>
      <span class="text-capitalize mx-3 mb-2 mb-lg-0" *ngIf="false">{{ 'End date' | translate }}</span>
      <div class="calender" *ngIf="false">
        <i class="fa fa-calendar" aria-hidden="true"></i>
        <!--        <select class="custom-select rounded">-->
        <!--          <option selected>Choose...</option>-->
        <!--          <option value="1">This Week</option>-->
        <!--          <option value="2">Last Week</option>-->
        <!--          <option value="3">Last Month</option>-->
        <!--        </select>-->
        <input [(ngModel)]="dateDate.end_Date" (ngModelChange)="dateChanged()" type="date" class="custom-select form-control rounded">
      </div>
    </section>

    <section class="status-wrapper ">
      <div class="row justify-content-center">

            <div class="col-lg-4 mb-3 ">
          <div class="orders-box position-relative">
            <app-error-layer errorMsg="Orders can't be loaded!" *ngIf="ordersErr"></app-error-layer>
            <header class="box-header">
              <h4 class="header-text mb-0">
                <i class="fa fa-shopping-bag mr-3"></i>
                <span class="font-weight-bold">{{ 'Orders' | translate }}</span>
              </h4>
            </header>
            <ul class="orders-list list-unstyled p-0">
              <li class="list-item d-flex align-items-center justify-content-between">
                <h5 class="list-text d-flex mb-0 align-items-center">
                  <span class="mr-3 circle yellow"></span>
                  <span class="text">{{ 'Abandoned' | translate }}</span>
                </h5>
                <h5 class="mb-0 number">{{abandonValue || ''}}</h5>
              </li>

              <li class="list-item d-flex align-items-center justify-content-between">
                <h5 class="list-text d-flex mb-0 align-items-center">
                  <span class="mr-3 circle blue"></span>
                  <span class="text">{{ 'Pending' | translate }}</span>
                </h5>
                <h5 class="mb-0 number">{{orders?.pending}}</h5>
              </li>

              <li class="list-item d-flex align-items-center justify-content-between">
                <h5 class="list-text d-flex mb-0 align-items-center">
                  <span class="mr-3 circle green"></span>
                  <span class="text">{{ 'Delivered' | translate }}</span>
                </h5>
                <h5 class="mb-0 number">{{orders?.delivered}}</h5>
              </li>

              <li class="list-item d-flex align-items-center justify-content-between">
                <h5 class="list-text d-flex mb-0 align-items-center">
                  <span class="mr-3 circle red"></span>
                  <span class="text">{{ 'Rejected' | translate }}</span>
                </h5>
                <h5 class="mb-0 number">{{orders?.cancelled}}</h5>
              </li>
            </ul>
          </div>
        </div>

        <div class="col-lg-4 mb-3">
          <div class="orders-box position-relative" style="min-height: 320px">
            <app-error-layer errorMsg="Visitors State can't be loaded!" *ngIf="visitorsErr"></app-error-layer>
            <header class="box-header">
              <h4 class="header-text mb-0">
                <i class="fa fa-user-friends mr-3"></i>
                <span class="font-weight-bold">{{ 'Visitor Stats' | translate }}</span>
              </h4>
            </header>
            <ul class="orders-list list-unstyled p-0">
              <li *ngFor="let visitor of visitorsContainer"  class="list-item visitor d-flex align-items-center justify-content-between">
                <h5 class="list-text d-flex mb-0 align-items-center">
                  <span class="text">{{visitor?.title.toString() | translate | titlecase}}</span>
                </h5>
                <h5 class="mb-0 number">{{visitor?.value | number}}</h5>
              </li>
            </ul>
          </div>
        </div>

        <div class="col-lg-4 mb-3"  *ngIf="isGoLive()">
          <div class="orders-box position-relative">
            <app-error-layer errorMsg="Visitors State can't be loaded!" *ngIf="visitorsStateErr"></app-error-layer>
            <header class="box-header">
              <h4 class="header-text mb-0 pb-0" style="border-bottom: none">
                <span class="font-weight-bold">{{ 'Store Visitor' | translate }}</span>
              </h4>
            </header>
            <canvas baseChart
                    [options]="{responsive: true, aspectRatio: 1.36, maintainAspectRatio: true, legend: {display: false}}"
                    [datasets]="visitorsData"
                    [labels]="visitorsLabels"
                    [colors]="lineColors"
                    [chartType]="lineChartType"></canvas>
          </div>
        </div>

      </div>
    </section>


    <section class="status-wrapper"  *ngIf="isGoLive()">
      <div class="row">


        <div class="col-lg-6 mb-3" >
          <div class="orders-box position-relative">
            <app-error-layer errorMsg="Best Selling can't be loaded!" *ngIf="bestSellingErr"></app-error-layer>
            <header class="box-header">
              <h4 class="header-text mb-0 pb-0" style="border-bottom: none">
                <span class="">{{ 'Best Selling' | translate }}</span>
              </h4>
            </header>
            <canvas baseChart
                    [options]="{responsive: true, aspectRatio: 1.36, maintainAspectRatio: true,legend: {display: false}}"
                    [datasets]="barChartData"
                    [labels]="barChartLabels"
                    [colors]="barColors"
                    [chartType]="barChartType"></canvas>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="orders-box">
            <header class="box-header">
              <h4 class="header-text mb-0 pb-0" style="border-bottom: none">
                <span class="">{{ 'Top Viewed Products' | translate }}</span>
              </h4>
            </header>
            <canvas baseChart
                    [options]="{responsive: true, aspectRatio: 1.36, maintainAspectRatio: true,legend: {display: false}}"
                    [datasets]="barChartViewsData"
                    [labels]="barChartViewsLabels"
                    [colors]="barColors"
                    [chartType]="barChartType"></canvas>
          </div>
        </div>
      </div>
    </section>
    <section class="charts"  *ngIf="isGoLive()"></section>
  </section>

  <section *ngIf="isGoLive()">
    <div class="row mb-3">
      <div class="col-lg-6 mb-3">


        <!-- Pending Orders -->
        <div class="card py-4 pl-0 pr-2 pending-orders position-relative">
          <app-error-layer errorMsg="Pending orders can't be loaded!" *ngIf="pendingOrdersErr"></app-error-layer>
          <header class="box-header">
            <h4 class="header-text mb-3">
              <span class="">{{ 'Pending Orders' | translate }}</span>
            </h4>
          </header>
          <div class="orders-table">
            <table>
              <thead>
              <tr>
                <th></th>
                <th>{{ 'Order ID' | translate }}</th>
                <th>{{ 'Order Date' | translate }}</th>
                <th>{{ 'QTY' | translate }}</th>
                <th>{{ 'Order Amount' | translate }}</th>
              </tr>
              </thead>
              <tbody>
              <ng-container *ngFor="let order of pendingOrders; index as i">
                <tr *ngIf="i <= 10">
                  <td>
                    <div class="td-wrapper">
                      <div class="name-abbreviation" [ngStyle]="{'background-color' : nameColors[i]?.bg}">
                        <span [ngStyle]="{'color' : nameColors[i]?.color}">{{(order?.shipping?.first_name | slice:0:1 | uppercase) + '' + (order?.shipping?.last_name | slice:0:1 | uppercase)}}</span>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="td-wrapper"><span class="table-data">{{order?.id}}</span></div>
                  </td>
                  <td>
                    <div class="td-wrapper"><span class="table-data">{{order?.date_created | date:'short'}}</span></div>
                  </td>
                  <td>
                    <div class="td-wrapper"><span class="table-data">{{calcQty(order)}}</span></div>
                  </td>

                  <td>
                    <div class="td-wrapper">
                      <span class="table-data">{{(order?.total | currency: order?.currency + ' ')}}</span>
                      <a class="single-order" [routerLink]="['/user/orders/', order?.id]">
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                      </a>
                    </div>
                  </td>
                </tr>
              </ng-container>
              </tbody>
            </table>
          </div>
          <div class="footer px-4 pt-4 pb-0">
            <p class="text-center view-all mb-0" *ngIf="!isOrdersEmpty">
              <span class="mx-1">{{ 'View All' | translate }}</span>
              <i class="fa fa-chevron-right mx-2" aria-hidden="true"></i>
            </p>
            <p *ngIf="isOrdersEmpty" style="opacity: 0;margin-bottom: 0">hidden</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mb-3 ">
        <div class="position-relative">
          <app-error-layer errorMsg="Activity board can't be loaded!" *ngIf="activityBoardErr"></app-error-layer>
          <app-activity-board [activityBoard]="activityBoardObj"></app-activity-board>
        </div>
      </div>

      <div class="col-12 mb-3">
        <div class="card py-4 pl-4 pr-2 pending-orders">
          <header class="box-header">
            <h4 class="header-text mb-3">
              <span class="">{{ 'Customer Support Tickets Summary' | translate }}</span>
            </h4>
          </header>
          <div class="orders-table" style="min-height: 400px; overflow-y: auto">
            <table>
              <thead>
              <tr>
                <th></th>
                <th>{{ 'Order ID' | translate }}</th>
                <th>{{ 'Order Date' | translate }}</th>
                <th>{{ 'QTY' | translate }}</th>
                <th>{{ 'Order Amount' | translate }}</th>
              </tr>
              </thead>
              <tbody>
              <ng-container *ngIf="false">
                <tr *ngFor="let color of nameColors; index as i">
                  <td>
                    <div class="td-wrapper">
                      <div class="name-abbreviation" [ngStyle]="{'background-color' : nameColors[i]?.bg}">
                        <span [ngStyle]="{'color' : nameColors[i]?.color}">AS</span>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="td-wrapper"><span class="table-data">215322</span></div>
                  </td>
                  <td>
                    <div class="td-wrapper"><span class="table-data">12, dec 2020</span></div>
                  </td>
                  <td>
                    <div class="td-wrapper"><span class="table-data">5</span></div>
                  </td>
                  <td>
                    <div class="td-wrapper">
                      <span class="table-data">20 AED</span>
                      <a class="single-order" [routerLink]="['/user/orders/2']">
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                      </a>
                    </div>
                  </td>
                </tr>

              </ng-container>
              </tbody>
            </table>
          </div>
          <div class="footer px-4 pt-4 pb-0" *ngIf="false">
            <p class="text-center view-all mb-0">
              <span class="mx-1">{{ 'View All' | translate }}</span>
              <i class="fa fa-chevron-right mx-2" aria-hidden="true"></i>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="promote">
    <div class="row">
      <div class="col-12 mb-3">
        <!-- section 1 -->
        <div
          class="d-flex flex-lg-row justify-content-between flex-column justify-content-center p-5 card"
        >
          <div
            class="d-flex flex-lg-row justify-content-lg-between flex-column justify-content-center"
          >
            <div class="sec-img">
              <img src="assets/img1.svg" alt=""/>
            </div>
            <div>
              <h3 class="title">{{ 'Promote your store on Facebook' | translate }}</h3>
              <p class="decs">
                {{ 'Target your customers with Facebook advertising to increase your sales.' | translate }}
              </p>
            </div>
          </div>
          <div class="d-flex align-self-end flex-sm-column">
            <button class="btn">
              {{ 'Promote' | translate }} <i class="fas fa-chevron-right"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="col-12 mb-3">
        <!-- section 2 -->
        <div
          class="d-flex flex-lg-row justify-content-between flex-column justify-content-center p-5 card"
        >
          <div
            class="d-flex flex-lg-row justify-content-lg-between flex-column justify-content-center"
          >
            <div class="sec-img">
              <img src="assets/img2.svg" alt=""/>
            </div>
            <div>
              <h3 class="title">{{ 'Need help? Contact us' | translate }}</h3>
              <p class="decs">
                {{ 'We have an army of customer support representatives who are available to support you at all times' | translate }}
              </p>
            </div>
          </div>
          <div class="d-flex align-self-end flex-sm-column">
            <button class="btn">
              {{ 'Get Help' | translate }} <i class="fas fa-chevron-right"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>

</section>
