@import "src/assets/variables";

.global {
  .stepper-wrapper {
    .stepper {
      position: relative;

      .menu {
        .menu-content {
          .menu-desc {
            color: rgba(black, 0.4) !important;
          }
          .link {
            color: #313E48;
          }
        }
      }

      .step {
        z-index: 2;
        background-color: white;
        cursor: pointer;

        .circle {
          background-color: white;
          height: 45px;
          width: 45px;
          border-radius: 50%;
          box-shadow: 0 2px 6px rgba(black, 0.1);
          border: 2px solid rgba(black, 0.1);

          span {
            font-weight: 600;
            font-size: 1.3em;
            color: rgba(#313E48, 0.5);
          }
        }

        .description {

          .estimate {
            color: rgba(#313E48, 0.5);
          }
        }

        &.step-active {
          .circle {
            background-color: #FFEDE5;
            border: 2px solid #EA5B29;
            animation: pulse 1000ms infinite;

            span {
              color: #EA5B29;
            }
          }
        }

        &.step-complete {
          .circle {
            background-color: #EA5B29;
            box-shadow: none;
            border: none;

            span {
              color: white;
            }
          }

          .description {
            .estimate {
              color: #EA5B29;
            }
          }
        }
      }

      &:before {
        content: '';
        height: 2px;
        background-color: rgba(#313E48, 0.1);
        width: 100%;
        position: absolute;
        top: 20%;
        z-index: 1;
        left: 0;
        right: 0;
      }
    }
  }

  .statistics-wrapper {
    .box {
      border: 2px solid #E4E6E7;
      box-shadow: 0 2px 2px rgb(black, 0.05);

      i {
        color: rgba(#313E48, 0.4);
      }

      .number {
        font-weight: bold;
        color: #434343;
      }

      .desc {
        .text {
          color: rgba(#313E48, 0.4);
          text-transform: capitalize;
        }
      }
    }
  }

  .orders-wrapper {
    .box {
      border: 2px solid $main-color;
      box-shadow: 0 2px 2px rgb(black, 0.1);

      header {
        .header {
          font-weight: bold;
          color: #434343;

          span {
            font-weight: normal;
            font-size: 0.9em;
          }
        }
      }

      .actions {
        button {
          all: unset;
          width: 100%;
          font-weight: 600;
          font-size: 1.2em;
          color: rgba(#313E48, 0.5);
          cursor: pointer;

          .text {
            text-transform: capitalize;
          }

          i {

          }
        }
      }

      &.has-data {
        border-color: #EA5B29;
      }
    }
  }

  .date-filter {
    .calender {
      position: relative;

      i {
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
        left: 15px;
        z-index: 2;
        color: rgba(#313E48, 0.5);
        font-size: 1.3em;
      }

      .custom-select {
        width: 250px;
        padding-left: 2.5rem;
        height: 55px;
        background-color: #F5F5F5 !important;
        border: 2px solid #DADADA;

        &:focus {
          border: 2px solid rgba(#313E48, 0.5);
        }
      }
    }
  }

  .status-wrapper {
    .orders-box {
      background-color: #FCFCFC;
      border: 2px solid rgba(#E7E8E9, 0.5);
      box-shadow: 0 2px 6px rgba(black, 0.05);

      header {
        padding: 1rem 1rem 0 1rem;
        margin-bottom: 1rem;
        .header-text {
          border-bottom: 3px solid rgba(#313E48, 0.2);
          color: #313E48;
          padding-bottom: 1rem;

          i {
            color: #EA5B29;
          }
        }
      }

      .orders-list {
        .list-item {
          padding: 1rem;
          .list-text {
            .circle {
              height: 15px;
              width: 15px;
              border-radius: 50%;
              &.yellow {
                background-color: #F9F065;
              }
              &.blue {
                background-color: #A1BBC8;
              }
              &.green {
                background-color: #B2DF8A;
              }
              &.red {
                background-color: #FDA484;
              }
            }
            .text {
              color: #313E48;
            }
          }

          .number {
            color: #313E48;
          }

          &.visitor {
            padding: 0.67rem 1rem;
          }
        }
      }
    }
  }

  .promote {

    .sec-img {
      margin-left: 20px;
      margin-right: 50px;
      text-align: center;
      margin-bottom: 20px;
    }
    .btn {
      border-radius: 6px;
      color: #ea5b29;
      font-size: 20px;
      background: #ffffff;
      padding: 10px 20px 10px 20px;
      border: solid #ea5b29 3px;
      text-decoration: none;
      box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1) !important;
      min-width: 126px;
    }

    .title {
      font-size: 30px;
      color: #343e47;
      font-weight: 700;
    }

    .decs {
      font-size: 20px;
      color: #343e47;
      line-height: 26px;
      max-width: 452px;
    }

  }

  .pending-orders {
    .orders-table {
      overflow: auto;
      padding-right: 1.2rem;
      height: 100%;
    }
    .header-text {
      padding: 1rem 1rem 0 1.5rem;
    }
    .view-all {
      cursor: pointer;
      color: #313E48;
    }
  }
}

.en {
  .stepper-wrapper {
    .stepper {
      .step {

      }
    }
  }
}

.ar {
  .stepper-wrapper {
    .stepper {
      .step {

      }
    }
  }
}

// test datepicker style
input matInput{
  color: white;
}

::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: #EA5B29 !important;
}

::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: white !important;
}

::ng-deep.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: #EA5B29 !important;
}
//
//::ng-deep .mat-form-field-label {
//  /*change color of label*/
//  color: white !important;
//}


mat-datepicker-toggle {
  color: #343E47 !important;
}

@media screen and (max-width: 992px) {
  .stepper-wrapper {
    .stepper {
      &:before {
        width: 2px !important;
        height: 100% !important;
        top: 0 !important;
        left: 23px !important;
      }

      .step {

      }
    }
  }
}

@keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(#EA5B29, 0.9);
  }
  90% {
    -webkit-box-shadow: 0 0 0 20px rgba(#EA5B29, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(#EA5B29, 0);
  }
}


