<div class="btn-groupd-flex flex-wrap" *ngIf='options[0].optionVal'>
  <label class="" ngbButtonLabel *ngFor="let item of checkboxArr; index as i" >
    <input
     class="myinput"
      type="checkbox"
      name = 'item'
      ngbButton
      [(ngModel)]="options[i].label"
      (change) = "HandleChange()"
    />
    {{ item.label }}
  </label>
</div>
