<section>
    <h5 class="pl-4 pr-4 pt-3 pb-3 bg-gray">{{ "Share & Follow" | translate }}</h5>

    <div  class="col-12 pl-0 pl-sm-3 pr-0 pr-sm-3">
        <p class="text-grey mb-4">
            {{
              "No coding knowledge required! Wzholding gives you the ability to build
                virtually any design style with the only limits being your imagination.
                The most Advanced Options Network combined with fast visual designing and
                editing puts everything at your fingertips."
                | translate
            }}
          </p>

  <form>
               <!-- Share Icons -->
      <div class="row pt-3 pb-3 border-bottom">
        <div class="col-sm-5">
          <app-form-item-label
            [formItemHeading]="'Share Icons' | translate"
            [formItemSubHeading]="
              'Select icons to be shown on share icons on product page, blog page and [share] shortcode.' | translate
            "
          ></app-form-item-label>
        </div>
        <div class="col-sm-7">
          <app-custom-checkbox
            [settingObj]="optionObj.social_icons"
            [optionKey]="'social_icons'"
            (changedOption)="onOptionChanged($event)"
          ></app-custom-checkbox>
        </div>
       </div>

         <!-- Facebook URL Follow -->
       <div class="row border-bottom pt-3 pb-3">
        <div class="col-sm-6">
          <app-form-item-label
            [formItemHeading]="'Facebook URL Follow' | translate"
            [formItemSubHeading]="''"
          ></app-form-item-label>
        </div>
        <div class="col-sm-6 pt-3 pt-sm-0">
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              maxlength="100"
              id="inputLink"
              name="facebook_url_follow"
              placeholder="#"
              [(ngModel)]="optionObj.facebook_url_follow"
              autocomplete="off"
              (change)="onOptionChanged({optionKey:'facebook_url_follow', newValue:optionObj.facebook_url_follow})"
              
            />
          </div>
        </div>
      </div>


      <!-- VK URL Follow -->
      <div class="row border-bottom pt-3 pb-3">
        <div class="col-sm-6">
          <app-form-item-label
            [formItemHeading]="'VK URL Follow' | translate"
            [formItemSubHeading]="''"
          ></app-form-item-label>
        </div>
        <div class="col-sm-6 pt-3 pt-sm-0">
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              maxlength="100"
              id="inputLink"
              name="vk_url_follow"
              placeholder="#"
              [(ngModel)]="optionObj.vk_url_follow"
              (change)="onOptionChanged({optionKey:'vk_url_follow', newValue:optionObj.vk_url_follow})"
              autocomplete="off"
            />
          </div>
        </div>
      </div>


      <!-- Twitter URL Follow -->
      <div class="row border-bottom pt-3 pb-3">
        <div class="col-sm-6">
          <app-form-item-label
            [formItemHeading]="'Twitter URL Follow' | translate"
            [formItemSubHeading]="''"
          ></app-form-item-label>
        </div>
        <div class="col-sm-6 pt-3 pt-sm-0">
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              maxlength="100"
              id="inputLink"
              name="twitter_url_follow"
              placeholder="#"
              [(ngModel)]="optionObj.twitter_url_follow"
              (change)="onOptionChanged({optionKey:'twitter_url_follow', newValue:optionObj.twitter_url_follow})"
              autocomplete="off"
            />
          </div>
        </div>
      </div>

      <!-- Email URL -->
      <div class="row border-bottom pt-3 pb-3">
        <div class="col-sm-6">
          <app-form-item-label
            [formItemHeading]="'Email URL' | translate"
            [formItemSubHeading]="''"
          ></app-form-item-label>
        </div>
        <div class="col-sm-6 pt-3 pt-sm-0">
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              maxlength="100"
              id="inputLink"
              name="email_url_follow"
              placeholder="#"
              [(ngModel)]="optionObj.email_url_follow"
              (change)="onOptionChanged({optionKey:'email_url_follow', newValue:optionObj.email_url_follow})"
              autocomplete="off"
            />
          </div>
        </div>
      </div>

      <!--Pinterest URL Follow -->
      <div class="row border-bottom pt-3 pb-3">
        <div class="col-sm-6">
          <app-form-item-label
            [formItemHeading]="'Pinterest URL Follow' | translate"
            [formItemSubHeading]="''"
          ></app-form-item-label>
        </div>
        <div class="col-sm-6 pt-3 pt-sm-0">
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              maxlength="100"
              id="inputLink"
              name="pinterest_url_follow"
              placeholder="#"
              [(ngModel)]="optionObj.pinterest_url_follow"
              (change)="onOptionChanged({optionKey:'pinterest_url_follow', newValue:optionObj.pinterest_url_follow})"
              autocomplete="off"
            />
          </div>
        </div>
      </div>


      <!-- Instagram URL Follow -->
      <div class="row border-bottom pt-3 pb-3">
        <div class="col-sm-6">
          <app-form-item-label
            [formItemHeading]="'Instagram URL Follow' | translate"
            [formItemSubHeading]="''"
          ></app-form-item-label>
        </div>
        <div class="col-sm-6 pt-3 pt-sm-0">
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              maxlength="100"
              id="inputLink"
              name="instagram_url"
              placeholder="#"
              [(ngModel)]="optionObj.instagram_url"
              (change)="onOptionChanged({optionKey:'instagram_url', newValue:optionObj.instagram_url})"
              autocomplete="off"
            />
          </div>
        </div>
      </div>


      <!-- RSS URL Follow-->
      <div class="row border-bottom pt-3 pb-3">
        <div class="col-sm-6">
          <app-form-item-label
            [formItemHeading]="'RSS URL Follow' | translate"
            [formItemSubHeading]="''"
          ></app-form-item-label>
        </div>
        <div class="col-sm-6 pt-3 pt-sm-0">
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              maxlength="100"
              id="inputLink"
              name="rss_url_follow"
              placeholder="#"
              [(ngModel)]="optionObj.rss_url_follow"
              (change)="onOptionChanged({optionKey:'rss_url_follow', newValue:optionObj.rss_url_follow})"
              autocomplete="off"
            />
          </div>
        </div>
      </div>


      <!-- Linkedin URL Follow -->
      <div class="row border-bottom pt-3 pb-3">
        <div class="col-sm-6">
          <app-form-item-label
            [formItemHeading]="'Linkedin URL Follow' | translate"
            [formItemSubHeading]="''"
          ></app-form-item-label>
        </div>
        <div class="col-sm-6 pt-3 pt-sm-0">
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              maxlength="100"
              id="inputLink"
              name="linkedin_url_follow"
              placeholder="#"
              [(ngModel)]="optionObj.linkedin_url_follow"
              (change)="onOptionChanged({optionKey:'linkedin_url_follow', newValue:optionObj.linkedin_url_follow})"
              autocomplete="off"
            />
          </div>
        </div>
      </div>

      <!-- Youtube URL Follow-->
      <div class="row border-bottom pt-3 pb-3">
        <div class="col-sm-6">
          <app-form-item-label
            [formItemHeading]="'Youtube URL Follow' | translate"
            [formItemSubHeading]="''"
          ></app-form-item-label>
        </div>
        <div class="col-sm-6 pt-3 pt-sm-0">
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              maxlength="100"
              id="inputLink"
              name="youtube_url_follow"
              placeholder="#"
              [(ngModel)]="optionObj.youtube_url_follow"
              (change)="onOptionChanged({optionKey:'youtube_url_follow', newValue:optionObj.youtube_url_follow})"
              autocomplete="off"
            />
          </div>
        </div>
      </div>

      <!-- Tumblr URL Follow -->
      <div class="row border-bottom pt-3 pb-3">
        <div class="col-sm-6">
          <app-form-item-label
            [formItemHeading]="'Tumblr URL Follow' | translate"
            [formItemSubHeading]="''"
          ></app-form-item-label>
        </div>
        <div class="col-sm-6 pt-3 pt-sm-0">
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              maxlength="100"
              id="inputLink"
              name="tumblr_url_follow"
              placeholder="#"
              [(ngModel)]="optionObj.tumblr_url_follow"
              (change)="onOptionChanged({optionKey:'tumblr_url_follow', newValue:optionObj.tumblr_url_follow})"
              autocomplete="off"
            />
          </div>
        </div>
      </div>

      <!-- Flickr URL Follow -->
      <div class="row border-bottom pt-3 pb-3">
        <div class="col-sm-6">
          <app-form-item-label
            [formItemHeading]="'Flickr URL Follow' | translate"
            [formItemSubHeading]="''"
          ></app-form-item-label>
        </div>
        <div class="col-sm-6 pt-3 pt-sm-0">
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              maxlength="100"
              id="inputLink"
              name="flickr_url_follow"
              placeholder="#"
              [(ngModel)]="optionObj.flickr_url_follow"
              (change)="onOptionChanged({optionKey:'flickr_url_follow', newValue:optionObj.flickr_url_follow})"
              autocomplete="off"
            />
          </div>
        </div>
      </div>

      <!-- Telegram URL Follow -->
      <div class="row border-bottom pt-3 pb-3">
        <div class="col-sm-6">
          <app-form-item-label
            [formItemHeading]="'Telegram URL Follow' | translate"
            [formItemSubHeading]="''"
          ></app-form-item-label>
        </div>
        <div class="col-sm-6 pt-3 pt-sm-0">
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              maxlength="100"
              id="inputLink"
              name="telegram_url_follow"
              placeholder="#"
              [(ngModel)]="optionObj.telegram_url_follow"
              (change)="onOptionChanged({optionKey:'telegram_url_follow', newValue:optionObj.telegram_url_follow})"
              autocomplete="off"
            />
          </div>
        </div>
      </div>

      <!-- Whatsapp URL Follow Only Show in Mobile -->
      <div class="row border-bottom pt-3 pb-3">
        <div class="col-sm-6">
          <app-form-item-label
            [formItemHeading]="'Whatsapp URL Follow Only Show in Mobile' | translate"
            [formItemSubHeading]="''"
          ></app-form-item-label>
        </div>
        <div class="col-sm-6 pt-3 pt-sm-0">
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              maxlength="100"
              id="inputLink"
              name="whatsapp_url_follow"
              placeholder="#"
              [(ngModel)]="optionObj.whatsapp_url_follow"
              (change)="onOptionChanged({optionKey:'whatsapp_url_follow', newValue:optionObj.whatsapp_url_follow})"
              autocomplete="off"
            />
          </div>
        </div>
      </div>

      <!-- Weibo URL Follow -->
      <div class="row border-bottom pt-3 pb-3">
        <div class="col-sm-6">
          <app-form-item-label
            [formItemHeading]="'Weibo URL Follow' | translate"
            [formItemSubHeading]="''"
          ></app-form-item-label>
        </div>
        <div class="col-sm-6 pt-3 pt-sm-0">
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              maxlength="100"
              id="inputLink"
              name="weibo_url_follow"
              placeholder="#"
              [(ngModel)]="optionObj.weibo_url_follow"
              (change)="onOptionChanged({optionKey:'weibo_url_follow', newValue:optionObj.weibo_url_follow})"
              autocomplete="off"
            />
          </div>
        </div>
      </div>

      <!-- Amazon URL -->
      <div class="row border-bottom pt-3 pb-3">
        <div class="col-sm-6">
          <app-form-item-label
            [formItemHeading]="'Amazon URL' | translate"
            [formItemSubHeading]="''"
          ></app-form-item-label>
        </div>
        <div class="col-sm-6 pt-3 pt-sm-0">
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              maxlength="100"
              id="inputLink"
              name="amazon_url_follow"
              placeholder="#"
              [(ngModel)]="optionObj.amazon_url_follow"
              (change)="onOptionChanged({optionKey:'amazon_url_follow', newValue:optionObj.amazon_url_follow})"
              autocomplete="off"
            />
          </div>
        </div>
      </div>


 </form>

    </div>
</section>
