@import "../../../../../../../assets/variables";

.shipping-section {
  min-height: 85vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;

  .select-box-section {
    //min-height: 40vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 5rem;
    .selected-items {
      background-color: #F0F0F0;
      color: $blue-black;
      padding: 0.3rem 0.6rem;
      border-radius: 5px;
      width: auto;
      margin: 0.3rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  .section-footer {
    .box {
      display: flex;
      align-items: center;
      p {
        color: $semi-gray;
        margin: 0;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .shipping-section {
    .select-box-section {
      .selected-items {
        .product-caption {
          font-size: 13px;
        }
      }
    }
  }
}

