.steps {
  color: rgba(#313E48, 0.4);
  font-size: 1.3em;
}

.view-pricing {
  color: #313E48;
  position: absolute;
  right: 0;
}

form {
  .body {
    width: 90%;
    margin: auto;
    text-align: center;

    .heading {
      margin-bottom: 1.5rem;

      .heading-title {
        color: #313E48;
      }

      .hint {
        color: rgba(#313E48, 0.4);
      }
    }

    .radio-container {
      .layer {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(#F5F5F5, 0.5);
      }
      input {
        &:disabled {
          ~ span {
            opacity: 0.5;
          }
        }
      }
    }

    table {
      width: 100%;
      th {
        padding: 1.8rem;
        background-color: #F5F5F5;
        vertical-align: top;

        .table-header {
          .table-header-text {
            color: #313E48;
          }

          .table-description {
            .text {
              color: rgba(#343E47, 0.4);
            }
          }
        }
      }

      td {
        padding: 2rem 4rem;

        .range {
          position: relative;
          z-index: 10;
          &:after {
            z-index: -1;
            content: '';
            height: 2px;
            width: 80%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: rgba(#707070, 1);
          }
        }
        .input-group-prepend, .input-group-append {
          .input-group-text {
            background-color: #FCFCFC;
          }
        }

        input {
          background-color: #FCFCFC;
        }
        .above {
          background-color: white;
          padding: 0.8rem 1.5rem;
          font-size: 1.1em;
          color: #313E48;
        }
        .delete {
          button {
            color: rgba(#AEAEAE, 0.7);
            font-size: 1.5em;
            padding: 0.4rem;
          }
        }
      }
    }

    .add-new-row {
      margin-bottom: 4rem;
      margin-top: 1rem;
      button {
        padding: 0.5rem 1.5rem;
        font-size: 1.2em;
        .icon {
          color: #EA5B29;
        }
      }
    }

  }
}

.city-name {
  font-size: 13px;
}

@media screen and (max-width: 1400px) {
  form {
    .body {
      table {
        width: 1000px;
      }
    }
  }
}



@media screen and (max-width: 768px) {
  form {
    .body {
      width: 100%;
    }
  }

  .city-name {
    font-size: 12px !important;
  }
}

