<main class="card p-3">
  <header class="d-flex align-items-center justify-content-sm-center position-relative mb-3">
    <p class="steps mb-0">Setting up Conditional Free Shipping</p>
    <button mat-button class="view-pricing">
      <span>View Pricing</span>
      <mat-icon>chevron_right</mat-icon>
    </button>
  </header>

  <form #form="ngForm" (ngSubmit)="checkIfAllTabsSelected()">
    <section class="body">
      <div class="heading text-center">
        <h2 class="heading-title text-center">Provide conditional free shipping only for specific orders</h2>
        <span class="hint">Set your own rates and conditions as per the order subtotal price</span>
      </div>
      <!--Tabs part-->
      <mat-tab-group mat-align-tabs="start" [selectedIndex]="selectedTab">
        <mat-tab *ngFor="let tab of tabsContainer; index as ti"  >
          <ng-template mat-tab-label>
            Regions Group {{ti + 1}}
          </ng-template>
          <!--Component Content-->
          <ng-container>
            <div class="table-responsive-lg">
              <table class="table table-bordered">
                <thead>
                <tr>
                  <th scope="col">
                    <div class="table-header">
                      <div class="d-flex align-items-center justify-content-between mb-2">
                        <h5 class="mb-0 table-header-text">Order Subtotal Range in form of:</h5>
                        <a>
                          <svg xmlns="http://www.w3.org/2000/svg" width="14.419" height="17.661"
                               viewBox="0 0 14.419 17.661">
                            <g id="Group_46464" data-name="Group 46464" transform="translate(-636.999 -337)">
                              <g id="Group_46463" data-name="Group 46463" transform="translate(636.999 337)">
                                <path id="Path_60331" data-name="Path 60331"
                                      d="M744.308,442.633c-4.957-2.905-6.619-3.962-6.619-7.018v-6.751c0-.951.356-1.27,1.173-1.59,1.261-.5,4.069-1.573,5.33-1.981a2.46,2.46,0,0,1,.711-.133,2.2,2.2,0,0,1,.7.133c1.269.436,4.069,1.475,5.331,1.981.817.328,1.173.639,1.173,1.59v6.751c0,3.056-1.645,4.14-6.619,7.018a1.026,1.026,0,0,1-1.181,0Zm1.11-1.244c4.1-2.585,5.6-3.3,5.6-6.006v-6.325c0-.444-.078-.622-.417-.746-1.2-.436-4.086-1.5-5.269-1.972a1.476,1.476,0,0,0-.426-.107,1.109,1.109,0,0,0-.427.107c-1.19.471-4.094,1.5-5.277,1.972-.337.133-.417.3-.417.746v6.325c0,2.7,1.475,3.439,5.6,6.006a.786.786,0,0,0,1.039,0Zm-1.341-4.1a.822.822,0,1,1,.825.8A.814.814,0,0,1,744.077,437.294Zm.266-2.531-.1-4.753a.649.649,0,0,1,1.3.009l-.1,4.744a.519.519,0,0,1-.543.577A.527.527,0,0,1,744.344,434.763Z"
                                      transform="translate(-737.689 -425.159)" fill="#313e48"/>
                              </g>
                            </g>
                          </svg>
                        </a>
                      </div>
                      <div class="d-flex align-items-center">
                        <div class="radio-container position-relative">
                          <div class="layer" *ngIf="ti > 0"></div>
                          <label class="mb-0">
                            <input type="radio" [value]="'order amount'" [(ngModel)]="orderRange"
                                   [name]="'rate_' + ti"/>
                            <span class="radio-label">{{ 'Flat Rate' | translate }}</span>
                          </label>
                        </div>
                        <div class="radio-container position-relative">
                          <div class="layer" *ngIf="ti > 0"></div>
                          <label class="mb-0">
                            <input type="radio" [value]="'weight amount'" [(ngModel)]="orderRange"
                                   [name]="'rate_' + ti"/>
                            <span class="radio-label">{{ 'Weight' | translate }}</span>
                          </label>
                        </div>
                      </div>
                      <div class="table-description">
                        <p class="mb-0 text font-weight-normal">{{ 'Hint: order subtotal price after discounts' | translate }}</p>
                      </div>
                    </div>
                  </th>
                  <th scope="col">
                    <div class="table-header">
                      <div class="d-flex align-items-center justify-content-between mb-2">
                        <h5 class="mb-0 table-header-text">Order Subtotal Price Range </h5>
                        <a>
                          <svg xmlns="http://www.w3.org/2000/svg" width="14.419" height="17.661"
                               viewBox="0 0 14.419 17.661">
                            <g id="Group_46464" data-name="Group 46464" transform="translate(-636.999 -337)">
                              <g id="Group_46463" data-name="Group 46463" transform="translate(636.999 337)">
                                <path id="Path_60331" data-name="Path 60331"
                                      d="M744.308,442.633c-4.957-2.905-6.619-3.962-6.619-7.018v-6.751c0-.951.356-1.27,1.173-1.59,1.261-.5,4.069-1.573,5.33-1.981a2.46,2.46,0,0,1,.711-.133,2.2,2.2,0,0,1,.7.133c1.269.436,4.069,1.475,5.331,1.981.817.328,1.173.639,1.173,1.59v6.751c0,3.056-1.645,4.14-6.619,7.018a1.026,1.026,0,0,1-1.181,0Zm1.11-1.244c4.1-2.585,5.6-3.3,5.6-6.006v-6.325c0-.444-.078-.622-.417-.746-1.2-.436-4.086-1.5-5.269-1.972a1.476,1.476,0,0,0-.426-.107,1.109,1.109,0,0,0-.427.107c-1.19.471-4.094,1.5-5.277,1.972-.337.133-.417.3-.417.746v6.325c0,2.7,1.475,3.439,5.6,6.006a.786.786,0,0,0,1.039,0Zm-1.341-4.1a.822.822,0,1,1,.825.8A.814.814,0,0,1,744.077,437.294Zm.266-2.531-.1-4.753a.649.649,0,0,1,1.3.009l-.1,4.744a.519.519,0,0,1-.543.577A.527.527,0,0,1,744.344,434.763Z"
                                      transform="translate(-737.689 -425.159)" fill="#313e48"/>
                              </g>
                            </g>
                          </svg>
                        </a>

                      </div>
                      <div class="table-description">
                        <p class="mb-0 text font-weight-normal">Hint: order subtotal price after discounts</p>
                      </div>
                    </div>
                  </th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let condition of tab.conditions; index as i">
                  <td>
                    <div class="row range">
                      <div class="col">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="from">AED</span>
                          </div>
                          <input type="text" class="form-control form-control-lg"
                                 *ngIf="orderRange === 'weight amount'"
                                 [(ngModel)]="condition.from_weight_value"
                                 onkeypress="validateN(event)" [name]="'from_weight' + i + ti"
                                 aria-describedby="from"
                                 required>
                          <input type="text" class="form-control form-control-lg"
                                 *ngIf="orderRange === 'order amount'"
                                 [(ngModel)]="condition.from_order_value"
                                 onkeypress="validateN(event)" [name]="'from' + i + ti"
                                 aria-describedby="from"
                                 required>
                        </div>
                      </div>
                      <div class="col" *ngIf="i < tab.conditions.length - 1">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="to">AED</span>
                          </div>
                          <input type="text" [name]="'to_weight' + i + ti" class="form-control form-control-lg"
                                 *ngIf="orderRange === 'weight amount'"
                                 onkeypress="validateN(event)" [(ngModel)]="condition.to_weight_value"
                                 aria-describedby="to"
                                 required>
                          <input type="text" [name]="'to' + i + ti" class="form-control form-control-lg"
                                 *ngIf="orderRange === 'order amount'"
                                 onkeypress="validateN(event)" [(ngModel)]="condition.to_order_value"
                                 aria-describedby="to"
                                 required>
                        </div>
                      </div>
                      <div class="col" *ngIf="i == tab.conditions.length - 1">
                        <p class="mb-0 bg-white d-block above">{{ 'and above' | translate }}</p>
                        <input type="text"
                               *ngIf="orderRange === 'weight amount'"
                               [value]="'-1'"
                               [(ngModel)]="condition.to_weight_value" class="d-none"
                               [name]="'to_weight' + i + ti">
                        <input type="text"
                               *ngIf="orderRange === 'order amount'"
                               [value]="'-1'"
                               [(ngModel)]="condition.to_order_value" class="d-none"
                               [name]="'to' + i + ti">
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="d-flex align-items-center">
                      <div class="flex-grow-1">
                        <div class="input-group">
                          <input type="text" onkeypress="validateN(event)" class="form-control form-control-lg"
                                 [(ngModel)]="condition.percentage_rate"
                                 [name]="'rate' + i + ti"
                                 aria-describedby="rate"
                                 required>
                          <div class="input-group-append">
                            <span class="input-group-text" id="wight-rate">%</span>
                          </div>
                        </div>
                      </div>
                      <div class="delete px-3" [class.invisible]="i == tab.conditions.length - 1">
                        <button mat-button type="button" (click)="removeCondition(ti, i)">
                          <i class="fa fa-trash" aria-hidden="true"></i>
                        </button>
                      </div>
                    </div>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
            <div class="add-new-row">
              <ng-container>
                <button mat-button type="button" (click)="insertCondition(ti)">
                  <i class="fa fa-plus mr-3 icon" aria-hidden="true"></i>
                  <span>{{ 'Add row' | translate }}</span>
                </button>
              </ng-container>
            </div>
            <h5 class="mb-4">{{ 'Select regions and apply the above conditions on them:' | translate }}</h5>
            <!-- Select All Regions -->
            <div style="margin: 5px 24px 20px;" class="checkbox-inputs">
              <input (click)="toggleAllSelection(ti, $event)"
                     [checked]="allRegionsSelected(ti)"
                     type="checkbox" [id]="'selectAll' + ti">
              <label [for]="'selectAll' + ti">
                <span class="d-flex align-items-center">
                  <span class="mx-2">Select All</span>
                </span>
              </label>
            </div>
            <!-- Regions Data -->
            <mat-accordion multi>
              <ng-container *ngFor="let state of tab?.regions; let regionIndex = index; trackBy: trackByFn">
                <mat-expansion-panel *ngIf="filledState(state)"
                                     (opened)="panelOpenState = true"
                                     (closed)="panelOpenState = false">
                  <mat-expansion-panel-header>
                    <mat-panel-title class="checkbox-inputs">
                      <input type="checkbox" [id]="'state_' + regionIndex + ti"
                             (click)="selectAllCitiesInState(ti, regionIndex)"
                             [disabled]="disableState(state)"
                             [name]="'state_' + regionIndex + ti" [(ngModel)]="state.selected"
                             [checked]="state?.selected || allCitiesSelected(regionIndex, ti)">
                      <label [for]="'state_' + regionIndex + ti">
                        <span class="mx-2">{{state?.name}}</span>
                      </label>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div class="row" style="padding: 12px 31px 10px !important;">
                    <div class="col-6 col-md-2 mb-2 flex-wrap checkbox-inputs"
                         *ngFor="let city of state?.cities; let i = index; trackBy: trackByFn">
                      <input type="checkbox" [(ngModel)]="city.selected" [id]="'city_' + regionIndex + i + ti"
                             [disabled]="disableCity(state, i)"
                             [name]="'city_' + regionIndex + i + ti"
                             [checked]="city?.selected">
                      <label [for]="'city_' + regionIndex + i + ti">
                          <span class="d-flex align-items-center">
                              <span class="mx-2 city-name">{{city?.name}}</span>
                          </span>
                      </label>
                    </div>
                  </div>
                </mat-expansion-panel>
              </ng-container>
            </mat-accordion>
          </ng-container>
        </mat-tab>
      </mat-tab-group>
      <div class="alert d-flex align-items-center">
        <img src="assets/shield.png" alt="" class="mr-3">
        <h5 class="font-weight-bold mb-0" style="color: #979DA2">{{selectedCities + ' are selected, ' + remainingCities + ' regions are remaining'}}</h5>

      </div>
    </section>
    <div class="action-bnts d-flex align-items-center justify-content-between">
      <button mat-button type="button" class="back-btn" routerLink="/user/shipping-setup/shipping-charges">{{ 'Back' | translate }}</button>
      <button mat-raised-button class="next-btn" [disabled]="form?.invalid || loading">
        <i class="fa fa-spinner fa-spin mr-2" *ngIf="loading" aria-hidden="true"></i>
        <span *ngIf="remainingCities > 0">{{ 'Save' | translate }}</span>
        <span *ngIf="remainingCities <= 0">{{loading ? 'Loading...' : 'Next'}}</span>
      </button>
    </div>
  </form>
</main>
