<div class="form-group rounded position-relative picker-container">
  <input
  class="form-control"
    [(colorPicker)]="color ? color : defaultColor"
    [style.background]="color ? color : defaultColor"
    (colorPickerChange)="colorPicked($event)"
  />
  <span class="position-absolute btn-select"> {{"Select Color" | translate}} </span>
</div>
