.btn-select {
  right: 0;
  background: #fff;
  font-size: 0.875em;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  padding: 0 12px;
  font-size: 0.8125em;
}

.picker-container {
  width: 126px;
  height: 38px;
  border: 1px solid #e4e4e4;
  outline: none;
  input {
    border: 0;
    outline: 0;
    width: 100%;
    height: 100%;
  }
}
