<button matRipple class="btn d-flex align-items-center" [matMenuTriggerFor]="langMenu">
  <span>{{ currentLang | uppercase }}</span>
  <mat-icon aria-hidden="false" aria-label="Example home icon">keyboard_arrow_down</mat-icon>
</button>
<mat-menu #langMenu="matMenu" class="menu" xPosition="after">
  <ng-template ngFor let-lang [ngForOf]="languages" let-i="index">
    <button mat-menu-item (click)="changeLang(lang)">{{ lang | uppercase }}</button>
  </ng-template>
</mat-menu>
