<div class="container-fluid">
  <div class="wiz-crumb">
    <i class="fa fa-home crumb-icon" aria-hidden="true"></i>
    <span class="back-slash">/</span>
    <span class="crumb-caption">{{ 'Shipping Setup' }}</span>
  </div>
  <router-outlet></router-outlet>
</div>
