.steps {
  color: rgba(#313E48, 0.4);
  font-size: 1.3em;
}

form {
  position: relative;

  .body {
    width: 70%;
    margin: auto;
    text-align: center;
    position: relative;

    .heading-description {
      color: rgba(#313E48, 0.8);
      font-size: 1.5em;
    }

    .heading {
      margin-bottom: 5rem;

      .heading-title {
        color: #313E48;
      }

      .hint {
        color: rgba(#313E48, 0.4);
      }
    }

    .inputs {
      margin-bottom: 15rem;
    }

    .form-group {
      label {
        color: #343E47;
      }

      input {
        width: 350px;
      }
    }

    .npt-desc {
      color: rgba(#343E47, 0.5);
      text-align: center;
    }
  }

}


@media screen and (max-width: 768px) {
  form {
    .body {
      width: 100%;

      .form-group {
        input {
          width: 100%;
        }
      }
    }
  }
}
