<main class="card p-3">
  <header class="d-flex align-items-center justify-content-center mb-3 position-relative">
    <p class="steps mb-0">Step 6 of 6</p>
  </header>
  <form #form="ngForm" (ngSubmit)="setCOD()">
    <section class="body">
      <div class="heading text-center">
        <h3 class="heading-title text-center">Cash On Delivery Charges</h3>
        <p class="heading-description text-center mb-1">Choose how will you charge (COD) to your customers</p>
      </div>
      <div class="inputs">
        <h4 class="npt-desc">Do you want to charge cash on delivery for your customers?</h4>
        <div class="form-group text-center d-flex align-items-center justify-content-center mb-4">
          <label class="mb-0">
            <input type="radio" [(ngModel)]="cod.cod_enabled" name="yes" required [value]="'yes'" />
            <span>{{ 'Yes' | translate }}</span>
          </label>
          <label class="mb-0">
            <input type="radio" name="no" [(ngModel)]="cod.cod_enabled" required [value]="'no'" />
            <span>{{ 'No' | translate }}</span>
          </label>
        </div>
        <div class="form-group text-center d-flex align-items-center flex-column mb-5" *ngIf="cod.cod_enabled === 'yes'">
          <label for="fixed_rate">Insert fixed COD charge</label>
          <input type="text"
                 name="fixed_rate"
                 id="fixed_rate"
                  [(ngModel)]="cod.cod_fees"
                 [required]="cod.cod_enabled === 'yes'"
                 onkeypress="validateN(event)"
                 placeholder="eg. EGP 10"
                 class="form-control-lg form-control">
        </div>
      </div>
    </section>
    <div class="action-bnts d-flex align-items-center justify-content-between ">
      <button mat-button type="button" class="back-btn" [routerLink]="['../', 'shipping-charges']">Back</button>
      <button mat-raised-button class="next-btn" [disabled]="form?.invalid">
        <i class="fa fa-spinner fa-spin mr-2" *ngIf="loading" aria-hidden="true"></i>
        <span>{{loading ? 'Loading...' : 'Finish'}}</span>
      </button>
    </div>
  </form>
</main>
