<div class="toggle-container text-right">
  <div
    class="btn-group btn-group-toggle"
    ngbRadioGroup
    [name]="optionKey"
    [(ngModel)]="switchVal"
    (change)="changeState()"
  >
    <label ngbButtonLabel class="btn-toggle btn-on">
      <input ngbButton type="radio" value="1" />{{"ON" | translate}}
    </label>
    <label ngbButtonLabel class="btn-toggle btn-off">
      <input ngbButton type="radio" value="0" [disabled] ="disabled"/>{{"OFF" | translate}}
    </label>
  </div>
</div>
