@import "../../../../../../../assets/variables";

.address-input  {
  border: 1px solid #E5E5E5;
  border-radius: 3px;
  min-height: 42px;
  padding: 0.5rem 0.6rem;
  background: #FCFCFC;
  outline: none;
  width: 100%;
}
.map-container {
  height: 300px;
  border-radius: 15px;
  overflow: hidden;
}
.geo-input {
  border: 1px solid #E5E5E5;
  padding: 0.5rem 0.8rem;
  color: $blue-black;
  background-color: #FCFCFC;
  width: 100%;
  border-radius: 0.2rem;
}
