<section class="shipping-card mb-4">
  <app-shipping-header [headerData]="pickupHeader"></app-shipping-header>
  <form #pickupForm="ngForm">
    <div class="row">
      <div class="col-md-6">
        <div class="row">
        <!--Countries-->
          <div class="col-md-6 mb-3">
            <div class="mat-custom-select">
              <mat-select [(ngModel)]="pickupInterface.pickup_address.pickup_country" (valueChange)="countryChanged($event)" name="allCountries" [placeholder]="'Countries' | translate" required>
                <mat-option *ngFor="let country of allCountries"
                            [value]="country.iso2"
                            class="mat-custom-option">
                  {{country.name}}
                </mat-option>
              </mat-select>
            </div>
          </div>
          <!--States-->
          <div class="col-md-6 mb-3">
            <div class="mat-custom-select">
              <mat-select [(ngModel)]="pickupInterface.pickup_address.pickup_city" (valueChange)="stateChanged($event)" name="allStates" [placeholder]="'States' | translate" required>
                <mat-option *ngFor="let state of allStates" [value]="state.name"
                            class="mat-custom-option">
                  {{ state.name }}
                </mat-option>
              </mat-select>
            </div>
          </div>
          <div class="col-12 mb-3">
            <div class="mat-custom-select">
              <mat-select [(ngModel)]="pickupInterface.pickup_address.pickup_area" name="allCities" [placeholder]="'Countries' | translate" required>
                <mat-option *ngFor="let city of allCites" [value]="city?.name"
                            class="mat-custom-option">
                  {{ city?.name }}
                </mat-option>
              </mat-select>
            </div>
          </div>
          <div class="col-12 mb-3">
            <input type="text" [(ngModel)]="pickupInterface.pickup_address.pickup_street" name="streetAdd" class="address-input" placeholder="Street" required #autoComplete2>
          </div>
          <div class="col-12 mb-3">
            <input type="text" [(ngModel)]="pickupInterface.pickup_address.pickup_building" name="building" class="address-input" placeholder="Building" required>
          </div>
          <div class="col-12 mb-3">
            <div class="wiz-input-label wiz-input--left">{{ 'Select location type' | translate }}</div>
            <label>
              <input type="radio" [(ngModel)]="pickupInterface.pickup_address.pickup_location_type" required name="location_type" [value]="'home'"/>
              <span class="pl-0">{{ 'Home' | translate }}</span>
            </label>
            <label>
              <input type="radio" [(ngModel)]="pickupInterface.pickup_address.pickup_location_type" required name="location_type" [value]="'store_warehouse'"/>
              <span>{{ 'Store/Warehouse' | translate }}</span>
            </label>
            <label>
              <input type="radio" [(ngModel)]="pickupInterface.pickup_address.pickup_location_type" required name="location_type" [value]="'others'"/>
              <span>{{ 'Others' | translate }}</span>
            </label>
          </div>
          <!--Phone Tel-->
          <div class="col-12 mb-3">
            <ngx-intl-tel-input
              required
              [(ngModel)]="pickupInterface.pickup_address.phone"
              name="pickup-phone"
              [preferredCountries]="preferredCountries"
              [onlyCountries]="onlyCountries"
              [enableAutoCountrySelect]="true"
              [enablePlaceholder]="true"
              [searchCountryFlag]="true"
              [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
              [selectFirstCountry]="false"
              [selectedCountryISO]="CountryISO.Egypt"
              [maxLength]="'15'"
              [tooltipField]="TooltipLabel.Name"
              [phoneValidation]="true"
              [separateDialCode]="separateDialCode"
              [numberFormat]="PhoneNumberFormat.National"
            >
            </ngx-intl-tel-input>
          </div>
          <!-- Days selection-->
          <div class="col-12">
            <div class="wiz-input-label wiz-input--left mb-2">{{ 'Select Pickup Time Range' | translate }}</div>
            <div class="mat-custom-select mb-3">
              <mat-select (ngModelChange)="selectedDays(daysControls)" [formControl]="daysControls" multiple required [placeholder]="'Select days' | translate">
                <mat-select-trigger>
                  {{daysControls?.value ? daysControls?.value[0] : ''}}
                  <span *ngIf="daysControls?.value?.length > 1" class="example-additional-selection">
                    (+{{daysControls?.value?.length - 1}} {{daysControls?.value?.length === 2 ? 'other' : 'others'}})
                  </span>
                </mat-select-trigger>
                <mat-option class="mat-custom-option" *ngFor="let day of daysList" [value]="day">{{ day }}</mat-option>
              </mat-select>
            </div>
            <div class="mat-custom-chips mb-3">
              <mat-chip-list *ngIf="daysControls?.value?.length">
                <mat-chip *ngFor="let day of pickupInterface?.pickup_address?.pickup_days">
                  {{ day }}
                  <span class="ml-3" (click)="deleteDay(day)"><i class="close-icon fas fa-times"></i></span>
                </mat-chip>
              </mat-chip-list>
            </div>
          </div>
          <!--Time Range-->
          <div class="col-12 mb-3" *ngIf="!isOwn">
            <app-time-rage-input (endDateChanged)="endDateChanged($event)" (startDateChanged)="startDateChanged($event)" [from]="from" [to]="to" [startTimeArr]="stNumber"
                                 [endTimeArr]="enNumber"></app-time-rage-input>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <input class="geo-input mb-3"
               type="text"
               #autoComplete
               [placeholder]="'Search' | translate"/>
        <div class="map-container">
          <div style="height: 400px; width: 100%" #map></div>
        </div>
      </div>

      <div class="col-12">
        <div class=" d-flex action-bnts px-0 align-items-center justify-content-between m-0">
          <button mat-button type="button" class="back-btn" routerLink="/user/shipping-setup/delivery-methods">{{ 'Back' | translate }}</button>
          <button mat-raised-button class="next-btn" (click)="submitPickup()" [disabled]="pickupForm?.invalid">
            <i class="fa fa-spinner fa-spin mr-2" *ngIf="loading" aria-hidden="true"></i>
            {{ 'Next' | translate }}
          </button>
        </div>
      </div>
    </div>
  </form>
</section>
