

$main-color: #EA5B29;
$main-color-hover: #c74e23;
$semi-gray: #B2B2B2;
$dark-gray: #707070;
$blue-black: #343E47;
$bg-color: #F5F5F5;
$light-gray : #FCFCFC;
$dark-blue: #313E48;
$dark-blue-opacity-50: rgba(49, 72, 62, 0.5);
$error-color: #FF3131; // TODO: should be updated

$screen-small: 576px;
$screen-medium: 720px;
$screen-large: 960px;
$screen-ex-large: 1140px;
