<section>
  <form>
    <div class="row justify-content-end">
      <!-- Search bar -->
      <!-- <div class="col-sm-6">
        <div class="form-group border rounded position-relative">
          <input
            class="form-control border-0 pr-4"
            type="search"
            placeholder="Search for option"
            aria-label="Search for option"
          />
          <span class="position-absolute search-button p-2">
            <i class="fas fa-search"></i>
          </span>
        </div>
      </div> -->
      <!-- Setting Buttons -->
      <div class="col-sm-6 text-right mb-3 d-flex justify-content-end">
        <!-- <a
          class="btn btn-secondary mr-2 border"
          (click)="btnClickHandler('reset')"
          >{{ "Reset All" | translate }}
          <i
            *ngIf="resetLoader"
            class="ml-2 fa fa-spinner fa-spin"
            aria-hidden="true"
          ></i>
        </a> -->
        <!-- <a
          class="btn btn-secondary mr-2 border"
          (click)="btnClickHandler('reset-section')"
          >{{"Reset Section" | translate}}</a
        > -->
        <a
          class="btn btn-primary d-flex align-items-center"
          (click)="btnClickHandler('save')"
        >
          <span class="d-block d-sm-none"><img src="assets/save.svg" /></span>
          <span class="d-none d-sm-block">{{
            "Save Settings" | translate
          }}</span>
          <i
            *ngIf="saveLoader"
            class="ml-2 fa fa-spinner fa-spin"
            aria-hidden="true"
          ></i>
        </a>
      </div>
    </div>
  </form>
</section>
