<section class="orders-section p-3">
  <div class="container-fluid">
    <!-- Component Bread-Crumb -->
    <div class="wiz-crumb">
      <i class="fa fa-home crumb-icon" aria-hidden="true"></i>
      <span class="back-slash">/</span>
      <span class="crumb-caption">{{ 'Orders' | translate }}</span>
    </div>

    <!-- Search, sort and filtration -->
    <div class="search-head" *ngIf="ordersContainer?.length !== 0">
      <div class="row">
        <div class="col-lg-8">
          <div class="search-bar">
            <form>
              <input type="text" (keyup)="searchById()" [(ngModel)]="searchText" name="searchText" class="search-control" placeholder="Search by id">
              <span class="search-icon">
                <i class="fa fa-search" aria-hidden="true"></i>
              </span>
            </form>
          </div>
        </div>
        <div class="col-lg-4 mt-3 mt-lg-0">
          <div class="row">
            <div class="col-12">
              <select name="" class="search-control custom-select" (change)="sortOrderList($event)">
                <option value="test" disabled selected>{{ 'Sort by' | translate }}</option>
                <option value="asc">{{ 'Old to New' | translate }}</option>
                <option value="desc">{{ 'New to Old' | translate }}</option>
<!--                <option value="test" (click)="sortLowToHighAmount()">{{ 'Low to High' | translate }}</option>-->
<!--                <option value="test" (click)="sortHighToLowAmount()">{{ 'High to Low' | translate }}</option>-->
              </select>
            </div>
<!--            <div class="col-6">-->
<!--              <select name="" class="search-control custom-select">-->
<!--                <option value="test">{{ 'Filter by' | translate }}</option>-->
<!--                <option value="test">asdfa</option>-->
<!--                <option value="test">asdfa</option>-->
<!--              </select>-->
<!--            </div>-->
          </div>
        </div>
      </div>
    </div>


    <!-- Orders Table -->
    <div class="orders-table" *ngIf="ordersContainer?.length !== 0">
      <table>
        <thead>
        <tr>
          <th></th>
          <th>{{ 'Order ID' | translate }}</th>
          <th>{{ 'Order Date' | translate }}</th>
          <th>{{ 'Items' | translate }}</th>
          <th>{{ 'Order Status' | translate }}</th>
          <th>{{ 'Shipping' | translate }}</th>
          <th>{{ 'Payment Status' | translate }}</th>
          <th>{{ 'Order Amount' | translate }}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let order of switchArray ? searchedContainer : ordersContainer;trackBy:trackByFn;let i = index">
          <td>
            <div class="td-wrapper">
              <div class="name-abbreviation" [ngStyle]="{'background-color' : nameColors[i]?.bg}">
                <span [ngStyle]="{'color' : nameColors[i]?.color}">{{order?.billing?.first_name | titlecase | slice: 0:1}}{{order?.billing?.last_name | titlecase |  slice:0:1}}</span>
              </div>
            </div>
          </td>
          <td>
            <div class="td-wrapper"><span class="table-data">{{order?.id}}</span></div>
          </td>
          <td>
            <div class="td-wrapper"><span class="table-data">{{order?.date_created | date:'short'}}</span></div>
          </td>
          <td>
            <div class="td-wrapper"><span class="table-data">{{order?.line_items?.length}}</span></div>
          </td>
          <td>
            <div class="td-wrapper"><span class="table-data"><span [ngClass]=" order?.status === 'pending' ? 'pending-order' : order?.status === 'on-hold' ? 'pending-order' : order?.status === 'processing' ? 'pending-order' : order?.status === 'confirmed' ? 'confirmed-order': order?.status === 'completed'? 'confirmed-order': order?.status === 'rejected' ? 'rejected-order': order?.status === 'cancelled'? 'rejected-order' : ''">{{order?.status === 'pending' || order?.status === 'on-hold' || order?.status === 'processing' ? 'Pending' : order?.status === 'confirmed' || order?.status === 'completed' ? 'Confirmed' : order?.status | titlecase}}</span></span></div>
          </td>
          <td>
            <div class="td-wrapper"><span class="table-data">{{getShippingOrPaymentValue(order, 'wiz_shipping_status')}}</span></div>
          </td>
          <td>
            <div class="td-wrapper"><span class="table-data">{{getShippingOrPaymentValue(order, 'wiz_payment_status')}}</span></div>
          </td>
          <td>
            <div class="td-wrapper">
              <span class="table-data">{{order?.total}} {{order?.currency}}</span>
              <a class="single-order" *ngIf="!tableErrLayer" [routerLink]="['/user/orders/', order?.id]">
                <i class="fa fa-angle-right" aria-hidden="true"></i>
              </a>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
      <app-error-layer *ngIf="tableErrLayer" [errorMsg]="'Something went wrong!'"></app-error-layer>
    </div>

    <!-- If orders is empty -->
    <div *ngIf="ordersContainer?.length === 0 || searchedContainer?.length === 0" class="empty-orders">
      <img src="assets/empty_orders.png" class="mb-3" alt="empty-orders">
      <h2 class="orders-big-caption">{{ 'No Orders Found' | translate }}</h2>
      <p>{{ 'Waiting for your Customers\' orders' | translate }}</p>
    </div>

    <!-- Table Pagination -->
    <div class="table-pagination">
      <div class="number-of-orders"><span class="n-caption">{{ordersContainer?.length}} - {{ 'Order' | translate }}<span *ngIf="isPlural">s</span></span></div>
      <div class="pagination-part" [hidden]="pageNumber === 1 && ordersContainer?.length < 5">
        <button [disabled]="pageNumber === 1 || leftArrowLoader" (click)="goPrevious();" class="paginate-btn">
          <i *ngIf="!leftArrowLoader" class="fa fa-angle-left" aria-hidden="true"></i>
          <i *ngIf="leftArrowLoader" class="fa fa-spinner fa-spin" aria-hidden="true"></i>
        </button>
        <ul class="page-numbers list-unstyled">
<!--          <li class="page-number" (click)="activePage(i);getPage(page.number)" [class.active-page]="page.active" *ngFor="let page of pageNumbers;let i = index">{{page?.number}}</li>-->
          <li class="page-number active-page">{{pageNumber}}</li>
        </ul>
        <button class="paginate-btn" [disabled]="isNextPageEmpty || ordersContainer?.length < 5" (click)="goNext()">
          <i *ngIf="!isNextPageEmpty" class="fa fa-angle-right" aria-hidden="true"></i>
          <i *ngIf="isNextPageEmpty" class="fa fa-spinner fa-spin" aria-hidden="true"></i>
        </button>
      </div>
      <div class="hidden-part" style="opacity: 0">{{ 'Hidden' | translate }}</div>
    </div>
  </div>
</section>
