@import "../../../../../assets/variables";

.orders-section {

  .empty-orders {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 500px;

    .orders-big-caption {
      color: $semi-gray;
      font-size: 2.5em;
      font-weight: bolder;
    }

    p {
      color: $semi-gray;
    }
  }

  .search-head {
    margin: 2rem 0rem;

    .search-bar {
      position: relative;

      .search-icon {
        position: absolute;
        top: 6px;
        right: 10px;
        color: $blue-black;
      }
    }
  }

  .table-pagination {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.5rem;
    margin-bottom: 2rem;

    .number-of-orders {
      .n-caption {
        color: $dark-gray;
      }
    }

    .pagination-part {
      display: flex;
      align-items: center;
      justify-content: center;

      .paginate-btn {
        outline: none;
        border: 1px solid rgba(black, 0.1) !important;
        background-color: transparent;
        padding: 0.5rem 0.8rem;
        border-radius: 5px;

        i {
          color: $blue-black;
        }

        &:disabled {
          cursor: not-allowed;

          i {
            color: $semi-gray;
          }
        }
      }

      .page-numbers {
        display: flex;
        align-items: center;
        background-color: #fff;
        border-radius: 5px;
        margin: 0rem 1rem;

        .page-number {
          padding: 0.5rem 0.8rem;
          color: $semi-gray;
          height: 100%;
          cursor: pointer;
          font-weight: bolder;
        }
      }
    }

    .hidden-part {

    }
  }
}


// pending class
.pending-order {
  background-color: #CBFDFC;
  padding: 0.3rem 1rem;
  color: $blue-black;
  border-radius: 4px;
}

// rejected class
.rejected-order {
  background-color: #FEE7D7;
  padding: 0.3rem 1rem;
  color: $blue-black;
  border-radius: 4px;
}

// rejected class
.confirmed-order {
  background-color: #CCFCD2;
  padding: 0.3rem 1rem;
  color: $blue-black;
  border-radius: 4px;
}

// active page
.active-page {
  color: $blue-black;
  font-weight: bolder;
  box-shadow: 1px 3px 6px rgba(black,0.1);
  border-radius: 5px;
}

// Responsive design
@media only screen and (max-width: 1035px) {
  .orders-table {
    overflow-x: scroll;

    table {
      tbody {
        tr {
          td {
            .td-wrapper {
              height: auto;
              width: 150px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .table-pagination {
    flex-direction: column;
  }
}
