@import "../../../../../../../assets/variables.scss";

.item-description{
    font-size: 0.875em;
    color: rgba(112, 112, 112, 0.7);
}

.item-rules{
    font-size: 0.875em;
    color:$dark-blue-opacity-50;
}