<div>
  <h6 class="item-label mb-0">{{ formItemHeading | translate }}</h6>
  <div class="item-description">{{ formItemSubHeading | translate }}</div>
  <span class="item-rules d-flex align-items-center pt-3" *ngIf="formItemRules">
    <span class="mr-2"><img src="assets/warning.svg" alt="Warning" /></span
    >{{ formItemRules | translate }}</span
  >
</div>
