<section class="p-3">
  <div class="container-fluid">
    <div class="wiz-crumb">
      <i aria-hidden="true" class="fa fa-home crumb-icon"></i>
      <span class="back-slash">/</span>
      <span class="crumb-caption">{{ 'Shipping Setup' | translate }}</span>
      <span class="back-slash">/</span>
      <span class="crumb-caption">{{ 'Wiz Shipping' | translate }}</span>
    </div>
  </div>
  <div class="card mt-3 mb-3">
    <div class="container-m-50 success-container">
      <div class="justify-content">
        <svg width="111" height="105" xmlns="http://www.w3.org/2000/svg" viewBox="749 268 111 105"><svg width="70" height="66" xmlns="http://www.w3.org/2000/svg" viewBox="0 0.047 70 65.906" fill="#ea5b29" x="790" y="274"><svg xmlns="http://www.w3.org/2000/svg" width="70" height="66" viewBox="0.699 0.498 69.1 65.059"><path paint-order="stroke fill markers" fill-rule="evenodd" d="M21.495 43.41a193.134 193.134 0 0 1 15.862-20.27C46.295 13.175 51.632 9.35 53.06 8.345c0 0 7.09-5.02 14.062-7.708.09-.037.297-.112.578-.134.818-.058 1.546.426 2.098.955-.444.444-1.036 1.033-1.752 1.731-1.346 1.313-2.355 2.26-2.499 2.398-7.955 7.511-14.671 15.364-14.671 15.364s-7.572 8.854-13.892 18.568c-.76 1.167-1.454 2.293-1.454 2.293-1.46 2.398-2.29 4.053-8.447 14.176-2.468 4.056-4.524 7.421-5.912 9.569H19.75c-1.205-1.878-4.025-6.83-6.362-12.548 0 0-3.488-8.638-6.783-12.82a5.367 5.367 0 0 0-1.712-1.48c-1.6-.862-3.302-.634-4.194-.442a6.04 6.04 0 0 1 .496-1.782c1.284-2.82 4.78-4.507 7.719-4.492 5.502.029 9.353 6.026 11.092 8.734a24.446 24.446 0 0 1 1.489 2.683z"/></svg></svg><svg width="103" height="105" xmlns="http://www.w3.org/2000/svg" viewBox="749 268 103 105" x="749" y="268"><svg width="103" height="105" xmlns="http://www.w3.org/2000/svg" viewBox="749 268 103 105" x="749" y="268"><svg width="103" height="105" xmlns="http://www.w3.org/2000/svg" viewBox="0 0.476 103 104.048" fill="#ea5b29" stroke-miterlimit="100" stroke="#fd4d00" x="749" y="268"><svg xmlns="http://www.w3.org/2000/svg" width="103" height="105" viewBox="0 0.697 102.704 103.75"><path paint-order="stroke fill markers" fill-rule="evenodd" d="M51.353 104.447C23.039 104.447 0 81.175 0 52.572 0 23.97 23.04.697 51.353.697a50.809 50.809 0 0 1 27.702 8.2 3.564 3.564 0 0 1 1.054 4.892 3.482 3.482 0 0 1-4.84 1.066 43.832 43.832 0 0 0-23.916-7.083c-24.454 0-44.35 20.098-44.35 44.8 0 24.702 19.896 44.8 44.35 44.8 24.452 0 44.35-20.098 44.35-44.8 0-1.476-.071-2.938-.206-4.376-.186-1.947 1.223-3.674 3.146-3.862a3.514 3.514 0 0 1 3.824 3.179 53.47 53.47 0 0 1 .238 5.06c0 28.601-23.038 51.874-51.352 51.874 0 0 0 0 0 0z"/></svg></svg></svg></svg></svg>
      </div>
      <div class="success-container--inner">
        <h4 class="text-center font-weight-bold success-container--header">{{ 'Congratulations!' | translate }}</h4>
        <h5 class="text-center">{{ 'Your Wiz Shipping has been successfully set up.' | translate }}</h5>
        <div class="text-center text-secondary mb-3">{{ 'You just need to confirm your orders from the dashboard, and we will deliver it for you.' | translate }}</div>
      </div>
    </div>
  </div>
</section>
