// Bootstrap
@import "node_modules/bootstrap/scss/bootstrap";

// Custom styles
@import "styles/layout";
@import "styles/captions";
@import "styles/radio-group";
@import "styles/selects";
@import "styles/chips";
@import "styles/phone-input";
@import "styles/time-range";
@import "styles/inputs";
@import "styles/buttons";

// Google font 'Dosis'
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;500;600;700&display=swap');

@import "assets/variables";

* {
  //direction: rtl !important;
  text-align: start;
}

.font-dosis {
  font-family: 'Dosis', sans-serif !important;
}
@import '~@angular/material/theming';

$md-mcgpalette0: (
  50 : #fcebe5,
  100 : #f9cebf,
  200 : #f5ad94,
  300 : #f08c69,
  400 : #ed7449,
  500 : #ea5b29,
  600 : #e75324,
  700 : #e4491f,
  800 : #e14019,
  900 : #db2f0f,
  A100 : #ffffff,
  A200 : #ffdad4,
  A400 : #ffada1,
  A700 : #ff9788,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$candy-app-primary: mat-palette($md-mcgpalette0);
$candy-app-accent:  mat-palette($mat-pink, A200, A100, A400);
$candy-app-theme:   mat-light-theme((
  color: (
    primary: $candy-app-primary,
    accent: $candy-app-accent,
  )
));

@include angular-material-theme($candy-app-theme);


$custom-typography: mat-typography-config(
  $font-family: 'Dosis, sans-serif',
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500)
);

@include mat-core($custom-typography);

html, body {
  height: 100%;
  background-color: $bg-color !important;
}


body {
  margin: 0;
  font-family: 'Dosis', sans-serif !important;
  direction: rtl;
  color: $dark-blue;
  scroll-behavior: smooth;
}

button {
  &:focus {
    outline: none;
  }
}

.link {
  color: $main-color;

  &:hover, &:visited, &:active {
    color: $main-color;
    text-decoration: none;
  }
}

.btn {
  //background-color: transparent;
  border: none;
  outline: none;
  box-shadow: none !important;
}

.card {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  border: none !important;
  padding: 1rem;
  border-radius: 0;
  height: 100%;
}


.custom-select {
  background: #fff url("assets/arrow-down.svg") no-repeat right .75rem center/8px 10px !important;
  box-shadow: none !important;
  border-radius: 0;
}

.no-shipping {
  float: right;
}

// input style
.search-control {
  padding: 0.3rem 1rem;
  border: 1px solid rgba(black, 0.1);
  width: 100%;
  color: $dark-gray;
  height: 38px;
}

.error-text {
  display: none;
}

.has-error {
  input, .input-group-text {
    border-color: $error-color;
    color: $error-color;
  }

  .error-text {
    display: block;
    color: $error-color;
    min-width: 225px;
  }

  .error-absolute {
    position: absolute;
    bottom: -25px;
  }
}

// shipping-card
.shipping-card {
  background-color: #fff;
  box-shadow: 1px 3px 3px rgba(black, 0.1);
  padding: 1.5rem 3rem;
}

// each component bread crumb
.wiz-crumb {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 1rem 0;

  .crumb-icon {
    color: $blue-black;
  }

  .back-slash {
    color: $dark-gray;
    margin: 0rem 0.7rem;
    font-weight: bold;
  }

  .crumb-caption {
    color: $dark-gray;
    font-weight: bold;
  }

  span {
    &.crumb-caption {
      color: $semi-gray;
    }
  }
}

.orders-table {
  //overflow-x: auto;
  position: relative;
  //height: 455px;
  table {
    width: 100%;
    height: auto;

    thead {
      background-color: #F8F8F8;
      height: 50px;

      tr {
        text-align: center;

        th {
          color: $semi-gray;
          font-weight: normal !important;
          padding: 0.7rem;
        }
      }
    }

    tbody {
      tr {
        td {
          .td-wrapper {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            margin-bottom: 0.7rem;
            background-color: #fff;
            padding: 0.7rem;
            box-shadow: 0px 3px 2px rgba(black, 0.1) !important;
            height: 55px;

            .table-data {
              color: $blue-black;
              font-weight: normal;
              font-size: 14px;
            }

            .single-order {
              position: absolute;
              text-decoration: none;
              top: 20px;
              right: -10px;
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 50%;
              width: 20px;
              height: 20px;
              background-color: $blue-black;
              cursor: pointer;

              i {
                color: #fff !important;
              }
            }
          }
        }
      }
    }
  }
}

// rounder name circle
.name-abbreviation {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: #EA5B29;
  border-radius: 50%;
}

// alert button

.alert-button {
  outline: none;
  border: none;
  background-color: $main-color;
  padding: 0.3rem 0.8rem;
  color: #fff;
  font-weight: 600;
  box-shadow: 1px 2px 3px rgba(black, 0.1);
  width: 100px;
  border-radius: 4px;
  text-align: center;
  transition: 0.1s;

  &:active {
    transform: scale(0.9);
  }

  &:disabled {
    background-color: rgba($main-color, 0.7);
    transform: scale(1);
    cursor: not-allowed;
  }
}

.gray-button {
  outline: none;
  border: none;
  background-color: #b4b5b7;
  padding: 0.3rem 0.8rem;
  color: #fff;
  font-weight: 600;
  box-shadow: 1px 2px 3px rgba(black, 0.1);
  width: 100px;
  border-radius: 4px;
  text-align: center;
  transition: 0.1s;

  &:active {
    transform: scale(0.9);
  }

  &:disabled {
    background-color: rgba($main-color, 0.7);
    transform: scale(1);
    cursor: not-allowed;
  }
}

.mat-dialog-container {
  padding: 0 !important;
}

.mat-menu-panel {
  overflow: visible !important;
}

.menu {
  max-width: 250px !important;
  min-width: 150px !important;
  min-height: auto !important;
  background-color: #F5F5F5;
  position: relative;

  .menu-content {
    padding: 1rem 1rem 0.5rem 1rem !important;
    background-color: #F5F5F5;

    .menu-desc {
      color: rgba(#313E48, 0.6) !important;
    }

    .link {
      color: #313E48;
    }
  }

  &:before {
    content: '';
    width: 15px;
    height: 15px;
    position: absolute;
    top: -8px;
    left: 10px;
    overflow: visible;
    transform: rotate(45deg);
    background-color: #F5F5F5;
    //box-shadow: -2px -3px 10px rgba(0, 0, 0, 0.05);
    border-top: 2px solid rgba(black, 0.05);
    border-left: 2px solid rgba(black, 0.05);
  }

  &.country-menu {
    min-width: 400px !important;
    max-width: 400px !important;
    background-color: #FCFCFC;
    .menu-content {
      background-color: #FCFCFC !important;
      .form-group {
        position: relative;


        .icon {
          position: absolute;
          top: 50%;
          right: 30px;
          color: #313E48;
          transform: translateY(-50%);
        }

        input {
          padding-right: 3rem;
          //width: 350px;
          background-color: #FCFCFC;
          border: 1px solid #E5E5E5;
          width: 100%;
        }
      }
      .list-cities {
        max-height: 300px;
        overflow-y: auto;
        .city {
          transition: 0.1s;
          &:hover {
            background-color: rgba(black, 0.05);
          }
        }
      }
      .custom-control {
        margin-right: 1rem;

        input:checked ~ label {
          &:before {
            background-color: #EA5B29;
            border-color: #EA5B29;
          }
        }

        .custom-control-label {
          cursor: pointer;
          padding: 10px 15px;
          width: 100%;

          &:after, &:before {
            top: 50%;
            transform: translateY(-50%);
            width: 1.5rem;
            height: 1.5rem;
          }

          &:before {
            box-shadow: none;
            border: 2px solid #EA5B29;
            background-color: #F5F5F5;
          }
        }
      }
    }
    &:before {
      background-color: #FCFCFC;
      display: none;
    }
  }
}

.mat-ink-bar {
  background-color: #EA5B29 !important;
}


.mat-tab-label {
  background-color: #FCFCFC !important;
  box-shadow: 0 2px 8px rgba(black, 0.2);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border: 2px solid rgba(black, 0.1);
}

.mat-calendar-body-selected {
  background-color: #EA5B29;
  color: white;
}

.btn-primary {
  background: $main-color;
  border: 1px solid $main-color;

  &:hover, &:focus, &:active {
    background: $main-color-hover;
    border-color: $main-color-hover;
  }
}

.btn-secondary {
  background: #fff;
  color: $dark-blue;

  &:hover, &:focus, &:active {
    background: #f5f5f5;
    border-color: #f5f5f5;
    color: $dark-blue;
  }
}

.bg-gray {
  background: $bg-color;
}

.text-grey {
  color: rgba(112, 112, 112, 0.7);
}


.identity-select {
  .mat-form-field-flex {
    border: 2px solid #E5E5E5 !important;
  }

  .mat-form-field-underline {
    opacity: 0 !important;
  }
}


.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: $main-color !important;
}

.mat-primary .mat-pseudo-checkbox-checked {
  background-color: $main-color !important;
}


.mat-form-field-flex {
  min-width: 300px !important;
}

@media only screen and (max-width: 767px) {
  .mat-form-field-flex {
    min-width: auto !important;
  }
  .shipping-card {
    padding: 1.5rem 1rem;
  }
}

// action  buttons in shipping setup
.action-bnts {
  margin: 0 3rem;
  border-top: 2px solid rgba(black, 0.05);
  padding: 2rem;

  .back-btn,
  .next-btn {
    padding: 0.5rem 3rem;

    &:disabled {
      opacity: 0.4;
    }
  }

  .next-btn {
    background-color: #EA5B29;
    color: white;
  }
}


@media screen and (max-width: 768px) {
  .action-bnts {
    margin: 0;
    padding: 1.5rem 0;

    .back-btn,
    .next-btn {
      padding: 0 1.5rem;
    }
  }
}



// check box

.checkbox-inputs {
  position: relative;

  input {
    display:none;
    &:disabled {
      ~ label {
        opacity: 0.3;
      }
    }
  }

  label {
    position:relative;
    padding-left:30px;
    display: inline-block;
    margin-bottom: 0;

  }

  label:before,
  label:after {
    content:'';
    position:absolute;
  }

  label:before {
    width:20px;
    height:20px;
    border:1px solid #555;
    top:0;
    left:0;
    border-radius:4px;
  }

  label:after {
    width:0px;
    height:0px;
    transition:width 0.2s;
    top: 6px;
    left: 4px;
    transform:rotate(-45deg);
  }

  input:checked + label:after {
    border:1px solid red;
    border-width: 0 0 2px 2px;
    height:5px;
    width:12px
  }

}

