.card {
  padding: 2rem 4rem 2rem 3rem;

  header {
    .header-text {
      color: #313E48;
    }
  }

  .description {
    border-bottom: 2px solid rgba(#A9ACAF, 0.4);
    padding-bottom: 1rem;

    .description-text {
      color: #A9ACAF;
      font-weight: normal;
      font-size: 1.2em;
    }
  }

  .standard-delivery {
    padding: 2rem 1rem 2rem 3rem;

    .title {
      color: #313E48;
    }

    .desc {
      color: #A9ACAF;
      font-weight: normal;
      font-size: 1.2em;
    }
  }

  .gray-card {
    padding: 2rem 3rem;
    background-color: #F7F7F7;
    box-shadow: 0 2px 6px rgba(black, 0.2);
    border-radius: 4px;

    .top {
      .title {
        color: #313E48;
        font-weight: 600;
      }
    }
    .bottom {
      .title {
        color: #A9ACAF;
      }
    }
  }
}


@media only screen and (max-width: 992px) {
  .card {
    padding: 2rem;
    .standard-delivery {
      padding: 1.5rem;
    }
    .gray-card {
      padding: 1.5rem;
    }
  }

}
