<section class="orders-section p-3">
  <div class="container-fluid">
    <!-- Component Bread-Crumb -->
    <div class="wiz-crumb">
      <i class="fa fa-home crumb-icon" aria-hidden="true"></i>
      <span class="back-slash">/</span>
      <span class="crumb-caption">{{ 'Pricing' | translate }}</span>
    </div>
    <div class="card">
      <header class="mb-2">
        <h5 class="header-text d-flex align-items-center">
          <img src="assets/logo-small.png" alt="wiz" width="40">
          <span class="mx-2">WizExpress</span>
        </h5>
      </header>
      <div class="description">
        <p class="description-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
          Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
          of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the
          leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
          release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software
          like Aldus PageMaker including versions of Lorem Ipsum.</p>
      </div>
      <div class="standard-delivery">
        <h4 class="title font-weight-bold">Standard Delivery</h4>
        <p class="desc">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
          Ipsum has been the industry's standard dummy text ever since the 1500s,<br/> when an unknown printer took a galley
          of type and scrambled it to make a type specimen book.</p>
      </div>
      <div class="gray-card">
        <div class="top d-flex align-items-center justify-content-between flex-wrap mb-2">
          <h4 class="title mr-2">Within the City. Up to 30 Kg</h4>
          <h4 class="title">{{ isEgypt() ? 'Coming Soon': 'AED 12.00' }}</h4>
        </div>
        <div class="bottom d-flex align-items-center justify-content-between flex-wrap">
          <h5 class="title mr-2">+ Additional 1 Kg</h5>
          <h5 class="title">{{ isEgypt() ? 'Coming Soon': 'AED 1.00' }}</h5>
        </div>
        <hr>
        <div class="top d-flex align-items-center justify-content-between flex-wrap mb-2">
          <h4 class="title mr-2">Within the country. Up to 30 Kg</h4>
          <h4 class="title">{{ isEgypt() ? 'Coming Soon': 'AED 12.00' }}</h4>
        </div>
        <div class="bottom d-flex align-items-center justify-content-between flex-wrap">
          <h5 class="title mr-2">+ Additional 1 Kg</h5>
          <h5 class="title">{{ isEgypt() ? 'Coming Soon': 'AED 1.00' }}</h5>
        </div>
      </div>

      <div class="standard-delivery">
        <h4 class="title font-weight-bold">Same Day Delivery</h4>
        <p class="desc">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
          Ipsum has been the industry's standard dummy text ever since the 1500s,<br/> when an unknown printer took a galley
          of type and scrambled it to make a type specimen book.</p>
      </div>
      <div class="gray-card">
        <div class="top d-flex align-items-center justify-content-between flex-wrap mb-2">
          <h4 class="title mr-2">Within the City. Up to 30 Kg</h4>
          <h4 class="title">Coming Soon</h4>
        </div>
        <div class="bottom d-flex align-items-center justify-content-between flex-wrap">
          <h5 class="title mr-2">+ Additional 1 Kg</h5>
          <h5 class="title">Coming Soon</h5>
        </div>
        <hr>
        <div class="top d-flex align-items-center justify-content-between flex-wrap mb-2">
          <h4 class="title mr-2">Within the country. Up to 30 Kg</h4>
          <h4 class="title">Coming Soon</h4>
        </div>
        <div class="bottom d-flex align-items-center justify-content-between flex-wrap">
          <h5 class="title mr-2">+ Additional 1 Kg</h5>
          <h5 class="title">Coming Soon</h5>
        </div>
      </div>
    </div>
  </div>
</section>
