.steps {
  color: rgba(#313E48, 0.4);
  font-size: 1.3em;
}

.view-pricing {
  color: #313E48;
  position: absolute;
  right: 0;
}

form {
  .body {
    width: 70%;
    margin: auto;
    text-align: center;
    .heading {
      margin-bottom: 3rem;
      .heading-title {
        color: #313E48;
        font-weight: 600;
      }

      .heading-description {
        color: rgba(#313E48, 0.8);
        font-size: 1.5em;
      }

      .hint {
        color: rgba(#313E48, 0.4);
      }
    }

    .select-items {
      margin-bottom: 4rem;
      .radio-container-btn {
        border: 1px solid #ced4da;
        border-radius: 0.5rem;
        background-color: #F9F9F9;
        box-shadow: 0 2px 8px rgba(black, 0.1);
        padding: 1rem;
        margin-bottom: 1rem;
      }

      .radio-container, .radio-container-btn {
        label {
          cursor: pointer;
        }
      }

      .radio-hint {
        max-width: 545px;
        display: block;
      }

      .radio-label {
        font-weight: 700;
      }

      .radio-hint, .radio-link-container {
        padding: 0 55px;
      }
    }
  }
}


@media screen and (max-width: 768px) {
  .steps {

  }
  form {
    .body {
      width: 100%;
    }
    .action-bnts {
      margin: 0;
      padding: 1.5rem 0;
      .back-btn,
      .next-btn {
        padding: 0.2rem 1.5rem;
      }
    }
  }
}
