<main class="card p-3">
  <header class="d-flex align-items-center justify-content-sm-center position-relative mb-3">
    <p class="steps mb-0">{{isOwn() ? 'step 5 of 6' : 'step 4 of 4'}}</p>
    <button mat-button class="view-pricing" [routerLink]="['/pricing']">
      <span>{{ 'View Pricing' | translate }}</span>
      <mat-icon>chevron_right</mat-icon>
    </button>
  </header>
  <form #form="ngForm" (ngSubmit)="routeToShippingType()">
    <section class="body">
      <div class="heading text-center">
        <h2 class="heading-title text-center">{{ 'Shipping Charges' | translate }}</h2>
        <p class="heading-description text-center mb-1">{{ 'Choose how will you charge shipping to your customers' | translate }}</p>
        <span class="hint">{{ 'You can always edit them later' | translate }}</span>
      </div>
      <div class="select-items">
        <!--  free shipping    -->
        <div class="radio-container-btn">
          <label class="mb-0">
            <input type="radio" required name="shipping" [(ngModel)]="shippingCharges.charge_type" [value]="'free shipping'" />
            <span class="radio-label">{{ 'Free Shipping' | translate }}</span>
            <span class="text-secondary radio-hint">{{ 'Select this option if you want to provide free shipping on all orders of your customers above a minimum value of order' | translate }}</span>
          </label>
        </div>
        <div class="radio-container-btn">
          <label class="mb-0">
            <input type="radio" required [(ngModel)]="shippingCharges.charge_type"  name="shipping" [value]="'conditional free shipping'" />
            <span class="radio-label" style="white-space: nowrap">{{ 'Conditional Free Shipping' | translate }}</span>
            <span class="text-secondary radio-hint">{{ 'Select this option to manage restrictions on Free shipping and setting up shipping charges for your customers' | translate }}</span>
          </label>
        </div>
        <div class="radio-container-btn">
          <label class="mb-0">
            <input type="radio" required name="shipping" [(ngModel)]="shippingCharges.charge_type" [value]="'flat rate'" />
            <span class="radio-label">{{ 'Flat Rate' | translate }}</span>
            <span class="text-secondary radio-hint">{{ 'Select this option if you want to charge flat rate to your customers. Additional Wiz shipping charges will be borne by the' | translate }}</span>
          </label>
        </div>
      </div>
    </section>
    <div class="action-bnts d-flex align-items-center justify-content-between ">
      <button mat-button type="button" class="back-btn" (click)="back()">{{ 'Back' | translate }}</button>
      <button mat-raised-button class="next-btn" [disabled]="form?.invalid">{{ 'Next' | translate }}</button>
    </div>
  </form>
</main>
