<mat-card>
  <mat-card-header>
    <mat-card-title>{{sectionName | titlecase}}</mat-card-title>
    <mat-card-subtitle>Lorem Ipsum Is Simply Dummy Text Of The Printing And Typesetting Industry. Lorem Ipsum </mat-card-subtitle>
    <div class="mat-card-header-actions" >
      <button class="mat-card-header-actions-btn"
              mat-raised-button>
        PREVIEW
      </button>
    </div>
  </mat-card-header>
  <mat-card-content>
    <div class="heading-container" *ngIf="currentSection && currentSection.heading">
      <app-section-customize-heading></app-section-customize-heading>
    </div>
    <div *ngIf="currentSection && currentSection.subheadings">
      <div class="subheading-container"  *ngFor="let section of currentSection.subheadings;let i = index">
        <div class="subheading-counter-container">
          <div class="subheading-counter-value">
            <span class="subheading-counter-text">{{i + 1}}</span>
          </div>
        </div>
        <app-section-customize-subheading [indexOfSubheading]="i"></app-section-customize-subheading>
      </div>
    </div>

  </mat-card-content>
  <mat-card-actions align="end" style="padding: 10px">
    <button mat-raised-button >SAVE SETTINGS</button>
  </mat-card-actions>
</mat-card>
