mat-card {
  max-width: 850px;
  margin-bottom: 29px;
  padding: 26px 26px 37px 18px;
  button {
    height: 48px;
    background-color: #ea5b29;
    font-weight: bold;
    font-size: 18px;
    color: white;
    letter-spacing: 1px;
  }
  .mat-card-header-actions {
    margin-left: auto;
  }

  mat-card-content {
    padding-left: 17px;
    padding-bottom: 4px;
    .heading-container {

    }

    .subheading-container {
      display: flex;
      justify-content: flex-start;
      margin-top: 16px;
      .subheading-counter-container {
        width: 55px;
        .subheading-counter-value {
          width: 36px;
          height: 36px;
          margin-top: 19px;
          border: 1px solid #E4E4E4;
          border-radius: 50%;
          text-align: center;
          .subheading-counter-text {
            position: relative;
            top: 2px;
            font-weight: bold;
            font-size: 20px;
            color: #E0E0E0;
          }
        }
      }
    }
  }
}
