<main class="card p-3">
  <header class="d-flex align-items-center justify-content-sm-center position-relative mb-5">
    <p class="steps mb-0">{{ 'Setting up Free Shipping' | translate }}</p>
    <button mat-button class="view-pricing">
      <span>{{ 'View Pricing' | translate }}</span>
      <mat-icon>chevron_right</mat-icon>
    </button>
  </header>
  <form [formGroup]="form" (ngSubmit)="setShippingCharges()">
    <section class="body">
      <div class="heading text-center mb-5">
        <h3 class="heading-title text-center">{{ 'Provide Free shipping fee for all orders' | translate }}</h3>
        <p class="hint text-center mb-1">{{ 'Your delivery rate is free for all orders above the below minimum value' | translate }}</p>
      </div>
      <div class="inputs">
        <div class="form-group text-center d-flex align-items-center flex-column mb-5" [class.has-error]="minimumOrder.touched && minimumOrder.invalid">
          <label for="mov">{{ 'Minimum order value (MOV)' | translate }}</label>
          <p class="npt-desc mb-2">{{ 'All the orders above this value will be eligible for Free Shipping' | translate }}</p>
          <input type="text"
                 name="mov"
                 [formControl]="minimumOrder"
                 id="mov"
                 onkeypress="validateN(event)"
                 placeholder="eg. {{currency}} 10"
                 class="form-control-lg form-control">
          <div *ngIf="minimumOrder.errors">
            <span class="error-text" *ngIf="minimumOrder.errors['required']">{{ 'This field is required' | translate  }}</span>
            <span class="error-text" *ngIf="minimumOrder.errors['max']">{{ 'This field can not be more than {max}' | translate: { max: minimumOrder.errors['max'].max }  }}</span>
          </div>
        </div>
        <div class="form-group text-center d-flex align-items-center flex-column mb-4" [class.has-error]="flatRate.touched && flatRate.invalid">
          <label for="flat_rate">{{ 'Insert fixed flat rate for orders subtotal below the minimum value' | translate }}</label>
          <input type="text"
                 [formControl]="flatRate"
                 name="flat_rate"
                 onkeypress="validateN(event)"
                 id="flat_rate"
                 placeholder="eg. {{currency}} 10"
                 class="form-control-lg form-control">
          <div *ngIf="flatRate.errors">
            <span class="error-text" *ngIf="flatRate.errors['required']">{{ 'This field is required' | translate  }}</span>
            <span class="error-text" *ngIf="flatRate.errors['max']">{{ 'This field can not be more than {max}' | translate: { max: flatRate.errors['max'].max }  }}</span>
          </div>
        </div>
      </div>
    </section>
    <div class="action-bnts d-flex align-items-center justify-content-between ">
      <button mat-button type="button" class="back-btn" [routerLink]="['../', 'shipping-charges']">{{ 'Back' | translate }}</button>
      <button mat-raised-button class="next-btn" [disabled]="form.invalid || loading">
        <i class="fa fa-spinner fa-spin mr-2" *ngIf="loading" aria-hidden="true"></i>
        <span>{{ 'Finish' | translate }}</span>
      </button>
    </div>
  </form>
</main>
