.steps {
  color: rgba(#313E48, 0.4);
  font-size: 1.3em;
}

.view-pricing {
  color: #313E48;
  position: absolute;
  right: 0;
}

form {
  .body {
    width: 70%;
    margin: auto;
    text-align: center;
    .heading {
      margin-bottom: 3rem;
      .heading-title {
        color: #313E48;
      }

      .heading-description {
        color: rgba(#313E48, 0.8);
        font-size: 1.5em;
      }

      .hint {
        color: rgba(#313E48, 0.4);
      }
    }
    .inputs {
      margin-bottom: 10rem;
    }
    .form-group {
      label {
        color: #343E47;
      }
      .npt-desc {
        color: rgba(#343E47, 0.5);
      }
      input {
        width: 350px;
      }
    }
  }
}


@media screen and (max-width: 768px) {
  .steps {

  }
  form {
    .body {
      width: 100%;
      .form-group {
        input {
          width: 100%;
        }
      }
    }
  }
}
