<!--<h1 mat-dialog-title>Dialog with elements</h1>-->

<div mat-dialog-content>{{ 'This dialog showcases the title, close, content and actions elements' | translate }}</div>


<!--<div mat-dialog-actions>-->
<!--  <button mat-button mat-dialog-close>Close</button>-->
<!--</div>-->


<!--<div class="alert-modal">-->
<!--  <div class="close-part">-->
<!--      asd-->
<!--  </div>-->
<!--</div>-->

