<section class="reject-alert">
  <div class="close-part">
    <span>{{ 'Reject All' | translate }}</span>
    <i class="fa fa-times" (click)="closeRejectionAlert()" aria-hidden="true"></i>
  </div>
  <div class="alert-body">
    <p>{{ 'Are you sure you want to reject all the order items?' | translate }}</p>
    <div class="buttons-part mt-4">
      <button class="reject-btn mr-2" (click)="closeRejectionAlert()">{{ 'CANCEL' | translate }}</button>
      <button class="alert-button" [disabled]="sendRequest" (click)="acceptRejection()">{{ 'REJECT' | translate }} <i
        *ngIf="sendRequest" class="fa fa-spinner fa-spin" aria-hidden="true"></i></button>
    </div>
  </div>
</section>
