@import "src/assets/variables";

.conditionals-container {
  margin-top: 30px;
  margin-bottom: 80px;

  &--inner {
    padding: 1rem;
  }
}

.conditionals-header {
  background: #F5F5F5;
  &--left {
    border-right: 1px solid #ced4da;
    border-radius: 5px 0 0 5px;
  }
  &--right {
    border-radius: 0 5px 5px 0;
  }
  &--text {
    font-weight: 600;
  }
  &--hint {
    font-size: 0.9rem;
  }
}

.conditional-input {
  &:nth-last-child(n+4) {
    border-bottom: 1px solid #ced4da;
  }
  &--left {
    border-right: 1px solid #ced4da;
  }
  &--right {

  }

  .range-delimiter {
    width: 16px;
    display: inline-block;
    border-top: 1px solid #707070;
    height: 5px;
    margin: 0 6px;
  }
}

.condition-plus-icon {
  color: $main-color;
  margin-right: 0.4rem;
}
