<div class="row conditionals-container">
  <div class="col-6 conditionals-header conditionals-header--left">
    <div class="conditionals-container--inner">
      <div class="conditionals-header--text">{{ 'Order Subtotal Price Range' | translate }}</div>
      <div class="conditionals-header--hint text-secondary">{{ 'Hint: order subtotal price after discounts' | translate }}</div>
    </div>
  </div>
  <div class="col-6 conditionals-header conditionals-header--right">
    <div class="conditionals-container--inner">
      <div class="conditionals-header--text">{{ 'Delivery Rate Percentage Per Order' | translate }}</div>
      <div class="conditionals-header--hint text-secondary">Lorem ipsum</div>
    </div>
  </div>
  <ng-container [formGroup]="formGroup">
    <ng-container [formArrayName]="'conditions'">
      <ng-container [formGroupName]="i" *ngFor="let group of conditionsArray.controls; let i = index;">
        <div class="col-6 conditional-input conditional-input--left">
          <div class="conditionals-container--inner">
            <input class="input-text input-text--range" formControlName="from_order_value" placeholder="{{ 'e.g. AED 0' | translate }}" />
            <span class="range-delimiter"></span>
            <ng-container *ngIf="i < conditionsArray.controls.length - 1">
              <input class="input-text input-text--range" formControlName="to_order_value" placeholder="{{ 'e.g. AED 0' | translate }}" />
            </ng-container>
            <ng-container *ngIf="i === conditionsArray.controls.length - 1">
              <input class="input-text input-text--range" formControlName="to_order_value" placeholder="{{ 'e.g. AED 0' | translate }}" type="hidden" />
              <span class="text-secondary text-above">{{ 'and above' | translate }}</span>
            </ng-container>
          </div>
        </div>
        <div class="col-6 conditional-input conditional-input--right">
          <div class="conditionals-container--inner">
            <input class="input-text input-text--range" formControlName="percentage_rate" placeholder="{{ 'e.g. 10%' | translate }}" />
            <a *ngIf="i < conditionsArray.controls.length - 1" href="javascript:void(0);" (click)="removeConditional(i)"><i class="remove fas fa-trash"></i></a>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </ng-container>
  <div class="col-6">
    <div class="conditionals-container--inner">
      <button type="button" class="condition-add-btn step-btn" (click)="addConditional()"><span class="condition-plus-icon"><i class="fas fa-plus"></i></span> {{ 'Add row' | translate }}</button>
    </div>
  </div>
</div>
