.global-container-sections {
  display: flex;
  justify-content: flex-start;

  min-width: 1072px;
  background-color: #FCFCFC;

  .sections-list {
    width: 210px;
    padding-top: 9px;
    .sections-list-option-highlight {
      color: #ea5b29;
      background-color: #E4E6E7;
      position: relative;
      .list-focus-block {
        position: absolute;
        top: 0;
        left: 0;
        height: 48px;
        width: 8px;
        background-color: #ea5b29;
      }
    }
  }
  .section {
    width: 854px;
  }
}
