<div class="global-container-sections">
  <div class="sections-list">
    <mat-selection-list [multiple]="false">
      <mat-list-option disableRipple
        *ngFor="let section of sections;let i = index"
        [id]="'sectionItem' + i"
        (click)="selectSection(i)">
        <div class="list-focus-block"></div>
        {{section.section | titlecase}}
      </mat-list-option>
    </mat-selection-list>
  </div>
  <div class="section">
    <app-theme-customize-section></app-theme-customize-section>
  </div>
</div>
