.subheading-container {
  width: 789px;
  padding: 30px 25px;
  border: 1px solid #E4E4E4;
  border-radius: 8px;

  .form-field-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .form-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;

    form {
      width: 100%;
    }

    .label {
      color: #707070;
      opacity: .7;
      padding-top: 22px;
      width: 200px;
    }


    mat-form-field {
      margin-top: 5px;
      flex-grow: 1;

      .img-suffix {
        position: relative;
        right: 8px;
        bottom: 7px;
        opacity: .5;
      }

      .img-uploaded-suffix {
        position: relative;
        bottom: 6px;
        right: 13px;
      }

      .img-uploaded-prefix {
        position: relative;
        bottom: 9px;
        margin-right: 17.5px;

      }
    }
  }

  .checkbox-container {
    display: flex;
    justify-content: flex-start;

    .custom-checkbox {
      position: relative;
      top:  18px;
    }
  }

}

.remove-hint {
  margin-bottom: -1.25em;
}

::ng-deep .mat-form-field-flex > .mat-form-field-infix {
  padding-top: 7px !important;
  padding-bottom: 16px !important;
}

#fileUpload {
  position: absolute;
  z-index: 9;
  opacity: 0;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  cursor: pointer;
}

#inner-img {
  width: 114px;
  height: 50px;
}

.custom-checkbox>input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-checkbox>span {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.custom-checkbox>span::before {
  content: '';
  display: inline-block;
  width: 25px;
  height: 25px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #ea5b29;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.custom-checkbox>input:not(:disabled):not(:checked)+span:hover::before {
  border-color: #ea5b29;
}

.custom-checkbox>input:not(:disabled):active+span::before {
  background-color: rgba(234, 91, 41, 0.25);
  border-color: rgb(234, 91, 41);
}

.custom-checkbox>input:focus+span::before {
  box-shadow: 0 0 2px 0.2rem rgba(234, 91, 41, 0.25);
}

.custom-checkbox>input:focus:not(:checked)+span::before {
  border-color: #ea5b29;
  opacity: .25;
}

.custom-checkbox>input:checked+span::before {
  border-color: #ea5b29;
  background-color: #ea5b29;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.custom-checkbox>input:disabled+span::before {
  background-color: #e9ecef;
}

.preview-img-container {
  margin-top: 9px;
  justify-content: center;
  align-items: center;
  height: 100%;
  display: none;

  &.visible {
    display: flex;
    margin-left: 10px;
  }

  .preview-img {
    border: 1px solid #E4E4E4;
    max-width: 114px;
    max-height: 50px;
  }
}

